{{#if permissionAllowsDownload}}
  <label class="is-small power-select">
    {{#power-select
      options=downloadOptions
      selected=downloadTitle
      searchEnabled=false
      triggerClass='is-small'
      dropdownClass="download-dropdown"
      disabled=isDisabled
      onchange=(action 'downloadByPreference') as |option|}}
      <span title="{{option.name}}">{{option.name}}</span>
      <span class='right'>{{option.count}}</span>
    {{/power-select}}
  </label>
{{/if}}

