.rsa-dark {
  .spec-masthead {
    background: rsa-color(gray, darkest, $rsa-nearly-opaque);
  
    h2 {
      color: rsa-color(gray, lightest);
    }
  
    p {
      color: rsa-color(gray, light);
      
      &.subtitle {
        color: rsa-color(gray, lightest);  
      }
    }
  
    h3 {
      color: rsa-color(gray, light);
    }
  
    ul {  
      li {
        a {
          color: rsa-color(white);
        }
      }
    }
  }
}

