.file-actionbar {
  flex: none;
  padding: rsa-whitespace() 0 rsa-whitespace() 0;
  .file-status-button {
    padding: 0 rsa-whitespace(less) 0 rsa-whitespace();
  }

  .rsa-form-button-wrapper.is-icon-only {
    padding-left: rsa-whitespace();
    .rsa-icon-binoculars-filled {
      padding-right: rsa-whitespace(less);
    }
  }
  .watch-button {
    padding-left: 7px;
  }
}

.file-action-selector-panel {
  .rsa-dropdown-action-list {
    .disabled {
      color: text-color(primary);
      .rsa-content-tethered-panel-trigger {
        color: text-color(primary);
      }
    }
  }
  .rsa-content-tethered-panel-trigger {
    div {
      width: 140px;
      .rsa-icon {
        float: right;
      }
    }
  }
}

.saved-filter-list {
  padding: rsa-whitespace();
  .panel11 {
    width: 100%;
    .rsa-form-button-wrapper {
      width: 100%;
      display: inline-flex;
      .rsa-form-button {
        width: 100%;
        text-align: left;
        .rsa-icon {
          float: right;
        }
      }
    }
  }
}

.filter-list {
  width: 367px;
  padding-left: 2px;
  height: 300px;
  overflow-y: auto;
  .filter-list__item-label {
    width: 150px;
    display: inline-block;
    line-height: 2rem;
  }

  .filter-list__item {
    cursor: pointer;
    padding: 0.25rem 0 0 1rem;
    &.is-active {
      color: text-color(primary, lightest);
      transition: color 0.5s ease;
      background-color: background-color(secondary, dark);
    }
    &.is-hovering {
      transition: color 0.5s ease;
      background-color: background-color(secondary, darker);
    }
  }

  .filter-group-name {
    font-weight: 700;
    font-size: 1rem;
    cursor: default;
    pointer-events: none;
    padding: 0.5rem;
  }
}

.delete-filter {
  i {
    color: text-color(primary, lightest);
  }
}
