.file-actionbar {
  flex: none;
  padding: rsa-whitespace() 0 rsa-whitespace() 0;
  .file-status-button {
    padding: 0 rsa-whitespace(less) 0 rsa-whitespace();
  }

  .rsa-form-button-wrapper.is-icon-only {
    padding-left: rsa-whitespace();
    .rsa-icon-binoculars-filled {
      padding-right: rsa-whitespace(less);
    }
  }
  .file-status-more-actions {
    margin-left: 7px;
  }
}

.file-action-selector-panel {
  .rsa-dropdown-action-list {
    padding: rsa-whitespace(less) 0;
    .disabled, li.disabled:hover {
      color: text-color(primary);
      .rsa-content-tethered-panel-trigger {
        color: text-color(primary);
      }
    }
  }
  .rsa-content-tethered-panel-trigger {
    div {
      width: 140px;
      .rsa-icon {
        float: right;
      }
    }
  }
}

.saved-filter-list {
  padding: rsa-whitespace();
  .ember-power-select-option {
    height: 32px;
  }
}


.ember-power-select-option {
  &[aria-current="true"] {
    .delete-filter {
      display: inline-block;
    }
  }
}

.delete-filter {
  float: right;
  right: 0.5rem;
  display: none;
  .rsa-icon-bin-1-filled {
    font-size: 1rem !important;
  }
}

.saved-filters-title {
  @include rsa-font(header, small);
  padding: 0 0 rsa-whitespace(less) 0;
  color: text-color(primary, light);
  letter-spacing: 1px;
}

.filter-list {
  width: 367px;
  padding-left: 2px;
  overflow-y: auto;
  .filter-list__item-label {
    width: 150px;
    display: inline-block;
    line-height: 2rem;
  }
}

.delete-filter {
  i {
    color: text-color(primary, lightest);
  }
}

.actionSeperator {
  margin: 0.5rem rsa-whitespace();
}

.reset-risk-score {
  padding: rsa-whitespace();
  width: 400px;
  height: 100px;
  @include rsa-font(paragraph);
  .confirmationButtons {
    padding-top: rsa-whitespace();
    float: right;
  }
}