block variables
include ../../mixins/mixins
doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{emailTitle}
        link(href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css")
        block links
        block styles

    body(style="margin:0;padding:0;")
        //- WRAPPER TABLE
        table#wrapper(border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-top: 10px; padding-bottom: 10px;")
            tr
                td
                    //- CONTENT TABLE
                    table#content(align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.25);border-collapse: collapse; border: 1px solid #E4E4E4;")
                        tr#header
                            include ../../common-templates/header/header
                        tr#content-row
                            block content
                        tr#footer
                            include ../../common-templates/footer/footer




