<div class="id">{{info.id}}</div>
<div class="name">
  {{respond-common/editable-field
    value=info.name
    allowEmptyValue=false
    placeholder=(t 'respond.empty')
    isDisabled=(not accessControl.respondCanManageRemediation)
    onFieldChange=(action 'updateTaskName' info.id 'name')
  }}
</div>