.risk-score-badge {
  margin: 0 auto;
  text-align: center;
  border: 2px solid rsa-color(white);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  &.toolow {
    background: rsa-color(green);
    border-color: rsa-color(green);
  }
  &.low {
    border-color: rsa-color(orange);
  }
  &.medium {
    border-color: rsa-color(amber);
  }
  &.high {
    border-color: rsa-color(red);
  }
  &.danger {
    background: rsa-color(red);
    border-color: rsa-color(red);
  }
}
