.rsa-investigate__nav {
  @include rsa-vendor-prefix(flex-shrink, 0);
  @include rsa-vendor-prefix(flex-grow, 0);
  @include rsa-row(justify, middle);
  @include border-bottom(1px, solid, secondary);
  background-color: background-color(primary, darker);

  .investigate-controls {
    display: flex;
    align-items: center;
    margin-right: rsa-whitespace();
    display: inherit;
    .divider {
      display: inline;
      border-left: 1px solid border-color(primary);
      margin: 0 5px;
    }
    .rsa-icon {
      color: text-color(primary, light);
      margin-left: rsa-whitespace(less);
      padding: rsa-whitespace(less) rsa-whitespace(least);
      cursor: pointer;
      &:hover {
        color: text-color(primary, lightest);
      }
      &.active:not(.disabled) {
        color: text-color(primary, lightest);
        border-bottom: border-color(secondary) 3px solid;
      }
      &.disabled {
        color: text-color(primary);
        cursor: default;
      }
    }
  }
}
