<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <fill block class="scroll-box">
    {{#spec-category}}
      {{#spec-member title="Managing Page Titles"}}
        <p>
          Addressing the single-page web app issue will be a little more complex. For more traditional screens that are more like pages, we should change the page title as a the user transitions from screen to screen. Panels make this behavior a little more difficult. We may have to address this case by case, but the overall direction should be that panel changes on a screen shouldn’t result in page title changes. We don’t need a different page title on an Incident if the user switches between the Overview panel and the Notes panel. However, drilling down, which necessarily pulls up new panels, should result in a page title change.
        </p>
        <p>
          Use reverse specificity to put the most unique information first so we can help users distinguish between their browser tabs. E.g., instead of using a format like “RSA NetWitness Platform - Administration - Event Sources - Confidence”, reverse the order of the hierarchy like so, “Confidence - Event Sources - Administration - RSA NetWitness Platform”. That’s a long title, and will likely be truncated, but the most important information will be displayed first.
        </p>
        <p>
          Despite the examples above, the page title does not need to recreate the entire hierarchy used to reach the current screen. The only requirements would be that the name of the current screen is at the front and “RSA NetWitness Platform” is included at the end. If it is helpful to include the current section, or if the location is not implied by the current screen, it is acceptable to do so, but again, only display enough of the hierarchy to help the user differentiate between browser tabs, and no more.
        </p>
      {{/spec-member}}

      {{#spec-member title="Adding misc meta tag"}}
        <p>
          If you need to add addition data to the document head, beyond the page title, you can use <a href="https://github.com/ronco/ember-cli-head">ember-cli-head</a>.
        </p>
      {{/spec-member}}
    {{/spec-category}}
  </fill>
</hbox>
