<span class='label'>
  {{t 'investigateHosts.downloads.mftViewer.fileLocation'}}
  <span class='path'>
    {{fullPathName}}
  </span>
</span>
<span class='filter'>
  |{{rsa-icon name='filter-2' size='small'}}
  {{t 'investigateHosts.downloads.mftViewer.filtersApplied' count=filterCountLabel}}
</span>