<div class="recon-email-view">
  {{recon-event-detail/single-email/email-header
    email=email
    toggleEmailExpansion = (action 'toggleEmailExpansion')
  }}
  {{recon-event-detail/single-email/email-body-content
    email=email
  }}
</div>