<div class="recon-email-view">

  <hbox class="recon-email-collapse-header">
    <box justify="center" fit>
      {{rsa-icon
        name=(concat collapseArrowDirection '-circle-1')
        click=(action 'toggleEmailExpansion')
      }}
    </box>
    <box class="header-text" justify="end" align="end">
      {{t 'recon.emailView.emailOfTotal' emailIndex=emailIndex emailCount=emailCount}}
    </box>
  </hbox>

  {{recon-event-detail/single-email/email-header email=email isEmailExpanded=isEmailExpanded}}

  {{#if isEmailExpanded}}
    {{recon-event-detail/single-email/email-body-content email=email}}
  {{/if}}

</div>
