{{#if srcCountTooltip}}
  {{#rsa-text-with-tooltip value=srcCountTooltip
    style="standard"
    alwaysShow=true}}
    <div class="status-nosource-count">{{srcCount}}</div>
  {{/rsa-text-with-tooltip}}
{{else}}
  <div class="table-cell-text">{{srcCount}}</div>
{{/if}}