$metaColor: #89AFCC;
$metaColorHover: #446781;

.widget-properties-table{
  tr:first-child td{ border-top: none }
  td{
    vertical-align: top;
    padding: 0 0 20px;
    border-top: none;

    &.widget-properties-table-icon{
      width: 17px;
    }

    &.widget-properties-table-name{
      color: $metaColor;
    }
  }

  &.table-hover tr:hover td.widget-properties-table-name{
    color: $metaColorHover;
  }

  h4{
    font-weight: bold;
    background: #dde9f4;
    margin-bottom: 5px;
    padding: 2px 10px;

    i{
      margin-right: 7px;
      width: 17px;
      display: inline-block;
    }
  }
}

.round-items-list .widget-properties-table .items-list-icon{
  background: $metaColor;
}
.round-items-list .widget-properties-table.table-hover tr:hover .items-list-icon{
  background: $metaColorHover;
}