{{rsa-date-time-range
  start=(readonly _startTimeMilli)
  end=(readonly _endTimeMilli)
  includeSeconds=false
  timezone=timezone.selected.zoneId
  dateFormat=dateFormat.selected.format
  use12HourClock=use12HourClock
  onChange=(action 'setCustomTimeRange')
  onError=(action 'timeRangeError')
}}
{{#rsa-content-tethered-panel-trigger
  panel=panelId
  triggerEvent='click'
}}
  {{#rsa-form-button
    allowToggleActive=true
    isStandard=(not timeRangeInvalid)
    title=selectedTimeRangeName
    class='time-selector'
    withDropdown=true
  }}
  {{/rsa-form-button}}
{{/rsa-content-tethered-panel-trigger}}
{{#rsa-content-tethered-panel
  displayCloseButton=false
  isPopover=true
  panelId=panelId
  position='bottom-left'
  panelClass="timerange-selector-panel"
  as |hideTooltip|
}}
  <ul class="rsa-dropdown-action-list" {{action hideTooltip}}>
    {{#each timeRanges as |range|}}
      {{#unless range.hidden}}
        <li {{action 'onEntireTimeRangeSelection' range}}>{{range.name}}</li>
      {{/unless}}
    {{/each}}
  </ul>
{{/rsa-content-tethered-panel}}