.user-predefined-filter-main{

    flex-direction: row;
    align-items: center;
    display: flex;
    line-height: 2vw;

    cursor: pointer;


    &.active {
        background-color: var(--buttons-link-color);
        .icon {
            fill: var(--main-widgets-titles-text-color);
        }


        .filter-name{
            color: var(--main-widgets-titles-text-color);
            .items-count{
                color: var(--main-widgets-title-text-color);
            }
        }
    }

    .icon {
        padding-left: 10px;
        fill: var(--main-widgets-titles-link-color);

    }

    }
    .filter-name{
        padding-left: 10px;
        font-family: 'Open Sans', sans-serif;;
        font-size: 14px;
        color: var(--main-widgets-titles-link-color);
        font-weight: 400;


    .items-count{
        font-weight: 700;
        color: var(--main-widgets-titles-link-color);
    }


}
