.user-predefined-filter-main{

    flex-direction: row;
    align-items: center;
    display: flex;
    line-height: 2vw;

    cursor: pointer;


    &.active {
        background-color: var(--filter-list-text-color);
        fill: #FFFFFF;

        .filter-name{
            color: #eeeeee;
            .items-count{
                color: #eeeeee;
            }
        }
    }

    .icon {
        padding-left: 10px;
    }

    }
    .filter-name{
        padding-left: 10px;
        font-family: 'Open Sans', sans-serif;;
        font-size: 14px;
        color: var(--filter-list-text-color);
        font-weight: 400;


    .items-count{
        font-weight: 700;
        color: var(--filter-list-text-color);
    }


}
