{{#if (and certificatesIndex certificatesTotal)}}
  <div class="certificates-info lighter right">
    {{t 'configure.endpoint.certificates.footer' count=certificatesIndex total=certificatesTotal}}
  </div>
{{/if}}