{{#if (and certificatesIndex certificatesTotal)}}
  <div class="certificates-info lighter right">
    {{t 'configure.endpoint.certificates.footer' label='certificates' count=certificatesIndex total=certificatesTotal selected=count}}
  </div>
{{/if}}