/**
 * @file A tri-state button with a disabled arrow, enabled arrow, and wait animation.
 */

.rsa-arrow-button {
    /* Default sizes; can be overwritten by other rules. SVG will scale to fit, without distortion. */
    height: 28px;
    width: 44px;
    overflow: hidden;   /* to hide all but one of the children's content at a time */

    &__children {
        /*
        Container for the contents of all the three states: disabled, enabled & waiting.
        Uses flexbox positioning to position its three children in a horizontal row.
        The entire row is slid horizontally (via transforms) so that only 1 of its 3 children is every visible
        at a time, depending upon whether the button is enabled|disabled and in a waiting state.
        */
        width: 300%;
        height: 100%;
        @include flex(row,center,center);
        @include vendor-prefix(transform, translateX(0));
        @include vendor-prefix(transition, transform 500ms ease-out);

        &[disabled=false],
        &:not([disabled]) {
            /* Slides the enabled content into view. */
            @include vendor-prefix(transform, translateX(-33.333%));
        }

        &[data-status=wait] {
            /* Slides the wait content into view. */
            @include vendor-prefix(transform, translateX(-66.666%));
        }

    }

    &__content {
        /* Container for the content of a single state; either: disabled, enabled, or waiting. */
        @include flex(column,center,center);    /* centers its content */
        width: 33.333%;     /* = 1/3 x parent node's width, to accomodate 2 siblings of same size */
        height: 100%;
    }
    & .rsa-arrow {
        height: 50%;
        width: 50%;
    }
    & .rsa-spinner {
        height: 80%;
        width: 80%;
    }
}


