body{
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.sa-content{
	margin-top: 2em;
}

.right{
	float:right;
}

.dropdown
{
	margin:15px;
}

.dropdown ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

.dropdown ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

.dropdown ul li
{
	position:relative;
	float:left;
	margin:0;
}

.dropdown ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

.dropdown ul ul li
{
	float:none;
	width:200px
}

.dropdown ul ul a
{
	line-height:120%;
	padding:10px 15px
}

.dropdown ul ul ul
{
	top:0;
	left:100%
}

.dropdown ul li:hover > ul
{
	display:block
}
