.rsa-content-tethered-panel-trigger {
  vertical-align: middle;
  color: rsa-color(gray, lighter);
  display: inline-block;

  &:hover {
    cursor: pointer;
    color: rsa-color(gray, lightest);
  }
}
