.rsa-content-section-header {
  margin: calc(#{rsa-whitespace()} * -1);
  margin-bottom: rsa-whitespace();
  padding: rsa-whitespace(less) rsa-whitespace();
  position: relative;
  background: $contentSectionHeaderBackgroundColor;
  color: $contentSectionHeaderTypeColor;
  border-bottom: 1px solid $contentSectionHeaderBorderColor;

  h1 {
    @include rsa-font(header, larger);
  }

  .controls {
    position:absolute;
    top: 1rem;
    right: 1rem;
  }  
}
