.rsa-content-badge-icon {
  display: inline-block;
  text-align: center;
  margin-right: rsa-whitespace(more);
  vertical-align: top;

  i {
    margin-bottom: rsa-whitespace(least);
    color: $contentBadgeIconColor;
  }

  h5 {
    margin-top: rsa-whitespace(least);
    @include rsa-font(header, small);
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 3rem;
    max-width: 7.5rem;
    color: $contentBadgeIconLabelColor;
  }


  &.is-danger {
    i {
      color: text-color(accentOne);
    }
  }

  &.is-high {
    i {
      color: text-color(accentThree);
    }
  }

  &.is-passive {
    i {
      color: text-color(primary);
    }
  }

  &.is-medium {
    i {
      color: text-color(accentFour);
    }
  }

  &.is-low {
    i {
      color: text-color(accentTwo);
    }
  }
}
