.rsa-content-warn-text-box {
  @include rsa-font(paragraph);
  position: relative;
  padding: rsa-whitespace(less);
  width: 100%;
  @include border(1px, solid, accentFour);
  border-color: text-color(accentFour);
  background-color: rgba(69, 50, 18);
  border-radius: 5px;
  .rsa-icon {
    color: text-color(accentFour);
  }
  .message {
    padding-left: 25px;
  }
  .icon {
    position: absolute;
  }
  div {
    float: left;
  }
  &.is-showing {
    display: block;
  }
  &.is-alert {
    .rsa-icon {
      color: text-color(accentOne, dark);
    }
    border-color: text-color(accentOne, dark);
    background-color: rgba(58, 23, 23);
  }
}