.rsa-content-section-header {
  padding: rsa-whitespace(less) rsa-whitespace();
  padding-right: 15rem;
  position: relative;
  background: $contentSectionHeaderBackgroundColor;
  color: $contentSectionHeaderTypeColor;
  border-bottom: 1px solid $contentSectionHeaderBorderColor;
  @include rsa-font(header, large);

  .controls {
    position:absolute;
    top: rsa-whitespace(less);
    right: rsa-whitespace();
    bottom: 0;

    * {
      display: inline-block;
    }
  }
}
