.rsa-content-accordion {

  h3 {
    @include rsa-font(header)
    padding: rsa-whitespace(less);
    color: $contentAccordionHeaderTypeColor;

    &:hover {
      cursor: pointer;
    }
  }

  .content {
    padding: rsa-whitespace(less);
    padding-bottom: rsa-whitespace();
    color: $contentAccordionBodyTypeColor;
  }

  &.is-collapsed {
    .content {
      display: none;
    }
  }
}
