/* PRIVATE USE MIXIN */
@mixin rsa-form-label-color($color, $background: transparent, $borderColor:$color) {
  color: $color;
  border-color: $borderColor;
  background-color: $background;
}

.rsa-content-label {
  @include rsa-font(header, small);
  @include rsa-font();
  flex: none;
  display: inline-block;
  @include border(thin, solid, primary);
  border-radius: rsa-whitespace(least);
  margin: calc(#{rsa-whitespace(least)} / 2) rsa-whitespace(least) calc(#{rsa-whitespace(least)} / 2) 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  padding: 0.35rem;
  @include rsa-form-label-color($contentLabelColor);
  vertical-align: middle;

  i.rsa-icon-close-filled {
    position: relative;
    top: -2px;
    font-size: .7em;
    vertical-align: middle;

    &:hover {
      cursor: pointer;
    }
  }

  &.is-disabled {
    i.rsa-icon-close-filled:hover {
      cursor: default;
    }
  }

  &.is-inverted {
    @include rsa-form-label-color($contentLabelColor, $contentLabelInvertedColor, $contentLabelInvertedColor);
  }

  &.is-small-size {
    font-size: 0.8em;
  }

  &.is-medium-size {
    font-size: 1em;
  }

  &.is-large-size {
    font-size: 2em;
  }

  &.is-disabled {
    opacity: opacity-value(translucent);
  }

  &.is-neutral {
    @include rsa-form-label-color(text-color(primary));

    &.is-inverted {
      @include rsa-form-label-color($contentLabelColor, text-color(primary), text-color(primary));
    }
  }

  &.is-low {
    @include rsa-form-label-color(text-color(accentTwo));

    &.is-inverted {
      @include rsa-form-label-color($contentLabelColor, text-color(accentTwo), text-color(accentTwo));
    }
  }

  &.is-medium {
    @include rsa-form-label-color(text-color(accentFour));

    &.is-inverted {
      @include rsa-form-label-color($contentLabelColor, text-color(accentFour), text-color(accentFour));
    }
  }

  &.is-high {
    @include rsa-form-label-color(text-color(accentThree));

    &.is-inverted {
      @include rsa-form-label-color($contentLabelColor, text-color(accentThree), text-color(accentThree));
    }
  }

  &.is-danger {
    @include rsa-form-label-color(text-color(accentOne));

    &.is-inverted {
      @include rsa-form-label-color($contentLabelColor, text-color(accentOne), text-color(accentOne));
    }
  }
}
