/* PRIVATE USE MIXIN */
@mixin rsa-form-label-color($color, $background: transparent, $borderColor:$color) {
  color: $color;
  border-color: $borderColor;
  background-color: $background;
}

.rsa-content-label {
  @include rsa-font(header, small);
  @include rsa-font();
  display: inline-block;
  border: thin solid;
  border-radius: rsa-whitespace(least);
  margin: calc(#{rsa-whitespace(least)} / 2) rsa-whitespace(least) calc(#{rsa-whitespace(least)} / 2) 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  padding: 0.35rem;
  @include rsa-form-label-color($contentLabelColor);
  
  &.is-inverted {
    @include rsa-form-label-color($contentLabelColor, $contentLabelInvertedColor, $contentLabelInvertedColor);
  }

  &.is-small-size {
    font-size: 0.8em;
  }

  &.is-medium-size {
    font-size: 1em;
  }

  &.is-large-size {
    font-size: 2em;
  }

  &.is-disabled {
    opacity: $rsa-translucent;
  }
  
  &.is-low {
    @include rsa-form-label-color(rsa-color(green));
  
    &.is-inverted {
      @include rsa-form-label-color($contentLabelColor, rsa-color(green), rsa-color(green));
    }
  }
  
  &.is-medium {
    @include rsa-form-label-color(rsa-color(amber));
  
    &.is-inverted {
      @include rsa-form-label-color($contentLabelColor, rsa-color(amber), rsa-color(amber));
    }
  }
  
  &.is-high {
    @include rsa-form-label-color(rsa-color(orange));
  
    &.is-inverted {
      @include rsa-form-label-color($contentLabelColor, rsa-color(orange), rsa-color(orange));
    }
  }
  
  &.is-danger {
    @include rsa-form-label-color(rsa-color(red));
  
    &.is-inverted {
      @include rsa-form-label-color($contentLabelColor, rsa-color(red), rsa-color(red));
    }
  }
}
