/**
 * @file RSA Logo component styling.
 * RSA Logo is the RSA red brick with the letters "RSA" inside", plus the Registered Trademark symbol
 * and an optional title text.
 */

/* Animation for the red brick's entrance. Outlines then fills it. */
@keyframes rsa-logo-fillredbrick {
  0% {
    fill: rgba(234,39,45,0);
    stroke: rgba(255,0,0,1);
    stroke-width: 1px;
    stroke-dashoffset: 909;
  }
  50% {
    fill: rgba(234,39,45,0);
    stroke: rgba(255,0,0,1);
    stroke-dashoffset: 606;
  }
  100% {
    fill: rgba(234,39,45,1);
    stroke: rgba(255,0,0,0);
    stroke-dashoffset: 303;
  }
}
@-webkit-keyframes rsa-logo-fillredbrick {
  0% {
    fill: rgba(233,35,47,0);
    stroke: rgba(255,0,0,1);
    stroke-width: 1px;
    stroke-dashoffset: 303;
  }
  50% {
    fill: rgba(233,35,47,0);
    stroke: rgba(255,0,0,1);
    stroke-dashoffset: 606;
  }
  100% {
    fill: rgba(233,35,47,1);
    stroke: rgba(255,0,0,0);
    stroke-dashoffset: 909;
  }
}
@-ms-keyframes rsa-logo-fillredbrick {
  0% {
    fill: rgba(233,35,47,0);
    stroke: rgba(255,0,0,1);
    stroke-width: 1px;
    stroke-dashoffset: 303;
  }
  50% {
    fill: rgba(233,35,47,0);
    stroke: rgba(255,0,0,1);
    stroke-dashoffset: 606;
  }
  100% {
    fill: rgba(233,35,47,1);
    stroke: rgba(255,0,0,0);
    stroke-dashoffset: 909;
  }
}

/* Animation for the "RSA" letters' entrance. Outlines then fills them. */
@keyframes rsa-logo-fillredletter {
  0% {
    fill: rsa-color(red, base, $rsa-transparent);
    stroke: rsa-color(red, base, $rsa-opaque);
    stroke-dashoffset: 150;
  }
  50% {
    fill: rsa-color(red, base, $rsa-transparent);
    stroke: rsa-color(red, base, $rsa-opaque);
    stroke-dashoffset: 300;
  }
  100% {
    fill: rsa-color(red, base, $rsa-opaque);
    stroke: rsa-color(red, base, $rsa-transparent);
    stroke-dashoffset: 300;
  }
}
@-webkit-keyframes rsa-logo-fillredletter {
  0% {
    fill: rsa-color(red, base, $rsa-transparent);
    stroke: rsa-color(red, base, $rsa-opaque);
    stroke-dashoffset: 150;
  }
  50% {
    fill: rsa-color(red, base, $rsa-transparent);
    stroke: rsa-color(red, base, $rsa-opaque);
    stroke-dashoffset: 300;
  }
  100% {
    fill: rsa-color(red, base, $rsa-opaque);
    stroke: rsa-color(red, base, $rsa-transparent);
    stroke-dashoffset: 300;
  }
}
@-ms-keyframes rsa-logo-fillredletter {
  0% {
    fill: rsa-color(red, base, $rsa-transparent);
    stroke: rsa-color(red, base, $rsa-opaque);
    stroke-dashoffset: 150;
  }
  50% {
    fill: rsa-color(red, base, $rsa-transparent);
    stroke: rsa-color(red, base, $rsa-opaque);
    stroke-dashoffset: 300;
  }
  100% {
    fill: rsa-color(red, base, $rsa-opaque);
    stroke: rsa-color(red, base, $rsa-transparent);
    stroke-dashoffset: 300;
  }
}

/* Animation for the title text. Fades in while spreading the letters apart. */
@keyframes rsa-logo-spreadletters {
  0% {
    letter-spacing: 1px;
    opacity: 0;
  }
  50% {
    letter-spacing: 2px;
  }
  100% {
    letter-spacing: 2.5px;
    opacity: 1;
  }
}
@-webkit-keyframes rsa-logo-spreadletters {
  0% {
    letter-spacing: 1px;
    opacity: 0;
  }
  50% {
    letter-spacing: 2px;
  }
  100% {
    letter-spacing: 2.5px;
    opacity: 1;
  }
}
@-ms-keyframes rsa-logo-spreadletters {
  0% {
    letter-spacing: 1px;
    opacity: 0;
  }
  50% {
    letter-spacing: 2px;
  }
  100% {
    letter-spacing: 2.5px;
    opacity: 1;
  }
}
/* Animation for the Registered Trademark. Appears to fade in by animating color from transparent to opaque. */
@keyframes rsa-logo-fillres {
  0% {
    fill: rsa-color(red, base, $rsa-transparent);
  }
  100% {
    fill: rsa-color(red, base, $rsa-opaque);
  }
}
@-webkit-keyframes rsa-logo-fillres {
  0% {
    fill: rsa-color(red, base, $rsa-transparent);
  }
  100% {
    fill: rsa-color(red, base, $rsa-opaque);
  }
}
@-ms-keyframes rsa-logo-fillres {
  0% {
    fill: rsa-color(red, base, $rsa-transparent);
  }
  100% {
    fill: rsa-color(red, base, $rsa-opaque);
  }
}

.rsa- {
  &logo {
    /* fudge factor, to compensate because logo is not horizontally symmetrical */
    /* margin-left: 7px; */

    /* The SVG container node in which the red brick & "RSA" letters are rendered. */
    &__svg {
      display: inline-block;
      width: 100%;
      height: 100%;
/*
      width: 107px;
      height: 52px;
      */
    }

    /* The red brick polygon. */
    &__brick {
      display: none;
      /*
      fill: rgba(233,35,47,1);
      stroke-dasharray: 303,303;
      */
    }

    /* Any of the "R", "S" & "A" letters inside the red brick. */
    &__letter {
      fill: rsa-color(red, base, $rsa-opaque);
      stroke-dasharray: 150,150;
    }

    /* The "Registered Trademark" symbol beside the red brick. */
    &__registered {
      fill: rsa-color(red, base, $rsa-opaque);
    }

    /* Optional title text outside the SVG area. */
    &__title {
      letter-spacing: 2.5px;
      text-transform: uppercase;
      white-space: nowrap;
      color: $contentLogoTitleColor;
    }

    &.animated {
      &__brick {
        /*
        @include rsa-vendor-prefix(animation, rsa-logo-fillredbrick 2000ms linear 0ms 1 both);
        */
      }

      .rsa-logo__letter {
        @include rsa-vendor-prefix (animation, rsa-logo-fillredletter 1000ms linear 0s 1 both);
      }

      /* The "Registered Trademark" symbol beside the red brick. */
      .rsa-logo__registered {
        @include rsa-vendor-prefix(animation, rsa-fade-in 300ms linear 2000ms 1 both);
      }

      /* Optional title text outside the SVG area. */
      .rsa-logo__title {
        @include rsa-vendor-prefix (animation, rsa-logo-spreadletters 3000ms ease-out 1000ms 1 both);
      }
    }
  }

  /*
  @workaround Rules for IE9 and IE10 only. These browsers don't support animating SVG elements' strokes, so
  we use different styling which fades in the SVG elements in a staggered sequence.
  */
  @media screen and (min-width:0\0) {
    &logo.animated {
      &__brick {
        -ms-animation: rsa-fade-in 2000ms linear 0ms 1 both;
      }
      &__letter {
        -ms-animation: rsa-fade-in 1000ms linear 1000ms 1 both;
      }
      &__registered {
        -ms-animation: rsa-fade-in 300ms linear 2000ms 1 both;
      }
    }
  }
}
