$contentAccordionBorderColor: border-color(primary, darkest);
$contentAccordionHeaderBackgroundColor: background-color(primary, darker, nearly-opaque);
$contentAccordionHeaderHoverBackgroundColor: background-color(primary, darker);
$contentAccordionHeaderTypeColor: text-color(primary, light);
$contentAccordionBodyTypeColor: text-color(primary, lighter);
$contentAccordionBodyBackgroundColor: background-color(primary, dark, nearly-opaque);

$contentBadgeIconColor: border-color(primary, lightest);
$contentBadgeIconLabelColor: text-color(primary, light);

$contentBadgeScoreCircleColor: text-color(primary, lightest);
$contentBadgeScoreLabelColor: text-color(primary, lightest);

$contentCardBackgroundColor: background-color(neutral, dark, translucent);
$contentCardBorderColor: border-color(primary, darker);

$contentDefinitionLabelColor: text-color(primary, light);
$contentDefinitionValueColor: text-color(primary, lighter);

$contentIpConnectionsTypeColor: text-color(primary, lighter);
$contentIpConnectionsCircleColor: text-color(primary, light);
$contentIpConnectionsDirectionIconColor: text-color(primary, light);

$contentLabelColor: text-color(neutral);
$contentLabelInvertedColor: text-color(neutral, dark);

$contentSectionHeaderBackgroundColor: background-color(primary, darkest, nearly-opaque);
$contentSectionHeaderTypeColor: text-color(primary, lightest);
$contentSectionHeaderBorderColor: border-color(primary, darkest);

$contentUpdateIndicatorBackgroundColor: background-color(secondary);
$contentUpdateIndicatorBorderColor: border-color(primary, lightest);
$contentUpdateIndicatorTypeColor: text-color(primary, light);

@import 'chart';
@import 'content-accordion';
@import 'content-badge-icon';
@import 'content-badge-score';
@import 'content-card';
@import 'content-datetime';
@import 'content-definition';
@import 'content-ip-connections';
@import 'content-label';
@import 'content-section-header';
@import 'icons';
@import 'loader';
@import 'logo';
@import 'update-indicator';
@import 'content-tethered-panel';
@import 'content-tethered-panel-trigger';
@import 'content-context-menu';
@import 'data-table';
