$panel-width: 200px;

.tool-tip-value {
  @include rsa-font(body);
  padding: rsa-whitespace();
  width: $panel-width;
  line-height: 1.25rem;
  word-wrap: break-word;
  .copy-icon {
    float: right;
  }
  .tool-tip-note {
    @include border-top(1px, solid, neutral, base, somewhat-opaque);
    padding-top: rsa-whitespace(less);
    display: flex;
    .rsa-icon {
      padding-right: rsa-whitespace(least);
      padding-top: 0.1rem;
    }
    span {
      @include rsa-font(bold);
      display: contents;
    }
  }
}

.tooltip-text {
  @include rsa-font(body);
  color: text-color(primary, lightest);
  line-height: 1.25rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
