<h4 class='text'>{{t 'hostsScanConfigure.cpuThrottling.cpuMax'}}</h4>
{{range-slider
  start=[cpuOptions.cpuMax]
  format=format
  min=5
  step=1
  connect=false
  on-change=(action 'updateScheduleProperty' 'cpuMax')}}

<h4 class='text'>{{t 'hostsScanConfigure.cpuThrottling.vmMax'}}</h4>
{{range-slider
  start=[cpuOptions.cpuMaxVm]
  format=format
  step=1
  connect=false
  on-change=(action 'updateScheduleProperty' 'cpuMaxVm')}}
