{{rsa-form-textarea
  class='custom-config__textarea'
  maxLength=4000
  value=(readonly customConfig)
  isError=customConfigValidator.showError
  focusOut=(action 'handleCustomSettingChange' value='target.value')
}}
<div class="input-error">
  {{#if customConfigValidator.showError}}
    {{t customConfigValidator.errorMessage}}
  {{/if}}
</div>