<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category}}
      {{#spec-member title="single series"}}
        {{#rsa-chart data=model.singleSeries as |params|}}
          {{rsa-line-series data=params.data xScale=params.xScale yScale=params.yScale}}
        {{/rsa-chart}}

        <code>
          <div>
            &#123;{#rsa-chart data=model.singleSeries as |params|}}
            <div>
              &#123;{rsa-line-series data=params.data xScale=params.xScale yScale=params.yScale}}
            </div>
            &#123;{/rsa-chart}}
          </div>
        </code>
      {{/spec-member}}
      {{#spec-member title="multi series"}}
        {{#rsa-chart data=model.multiSeries as |params|}}
          {{rsa-line-series data=params.data dataIndex=0 xScale=params.xScale yScale=params.yScale}}
          {{rsa-line-series data=params.data dataIndex=1 xScale=params.xScale yScale=params.yScale}}
        {{/rsa-chart}}

        <code>
          <div>
            &#123;{#rsa-chart data=model.multiSeries as |params|}}
            <div>
              &#123;{rsa-line-series data=params.data dataIndex=0 xScale=params.xScale yScale=params.yScale}}
            </div>
            <div>
              &#123;{rsa-line-series data=params.data dataIndex=1 xScale=params.xScale yScale=params.yScale}}
            </div>
            &#123;{/rsa-chart}}
          </div>
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
