<div class='rsa-context-panel__endpoint__machines'>
  {{context-panel/dynamic-grid dSDetails=dataSource.Machines.details}}
</div>
<div class='rsa-context-panel__endpoint__data-table'>
  <div class='col-xs-7'>
    {{context-panel/data-table dSDetails=dataSource.Modules.details}}
  </div>
  <div class='col-xs-5'>
    {{context-panel/data-table dSDetails=dataSource.IOC.details}}
  </div>
</div>
<div>
  {{context-panel/ds-footer dSDetails=dataSource.Machines.details}}
</div>