<hbox>
  {{#each fileDetailTabs as |tab|}}
    {{#rsa-nav-tab isActive=tab.selected click=(action 'setFileTabAndFetchData' tab.name)}}
      <div class="label">{{t tab.label}}</div>
    {{/rsa-nav-tab}}
  {{/each}}
</hbox>