$incidentsTableTextColor: rsa-color(gray, darker);

.respond-engine {

  .rsa-respond-incidents.light-theme {

    color: rsa-color(gray, darkest);
    background-color: rsa-color(white);
    @include rsa-vendor-prefix(transition-property, background-color, color);
    @include rsa-vendor-prefix(transition-duration, 0.3s);

    .rsa-loader__wheel {
      border-color: rsa-color(orange);
      border-top-color: rsa-color(amber);
    }
    .incidents-zone {
      .incidents-footer {
        background-color: inherit;
        color: rsa-color(gray, dark);
        @include rsa-vendor-prefix(transition-property, background-color);
        @include rsa-vendor-prefix(transition-duration, 0.3s);
      }
    }
    .rsa-respond-incidents-toolbar {
      .ember-power-select-trigger {
        color: black;
        .ember-power-select-selected-item {
          color: black;
        }
      }
    }

    .rsa-respond-incidents-table {
      .rsa-data-table {

        .rsa-data-table-header {
          border-bottom: 1px solid rsa-color(gray, light);
          background-color: rsa-color(gray, lighter);
          @include rsa-vendor-prefix(transition-property, background-color);
          @include rsa-vendor-prefix(transition-duration, 0.3s);

          .rsa-data-table-header-row {
            color: rsa-color(gray);

            .rsa-data-table-header-cell {
              border-right-color: rsa-color(gray, light);
            }
          }
        }
        .rsa-data-table-body {
          .rsa-data-table-body-row {
            color: $incidentsTableTextColor;
            border-top: 1px solid rsa-color(gray, light);
            &:first-child {
              border-top: 1px solid transparent;
            }
            &:hover {
              background-color: rsa-color(gray, lightest);
              color: $incidentsTableTextColor !important;
            }
          }
        }
      }
    }

  }
}

