$forceLayoutTransitionDuration: 0.3s;

.rsa-force-layout {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &.is-panning {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  &-node,
  &-link {
    cursor: default;
  }

  .text {
    font-size: 80%;
    text-anchor: middle;
    stroke: none;
    stroke-width: 0;
    transition-property: font-size, fill;
    transition-duration: $forceLayoutTransitionDuration;
  }

  .line {
    stroke-width: 1pt;
    transition-property: stroke, stroke-width;
    transition-duration: $forceLayoutTransitionDuration;
  }

  .circle {
    stroke-width: 1px;
    transition-property: stroke, fill;
    transition-duration: $forceLayoutTransitionDuration;
  }

  #force-layout__arrow {
    stroke: none;
    stroke-width: 0;
  }

  &[data-zoom="0.0"],
  &[data-zoom="0.1"],
  &[data-zoom="0.2"] {
    .text {
      font-size: 0;
    }
    .line {
      stroke-width: 2pt;
    }
    #force-layout__grid {
      .grid-axis {
        &.minor {
          display: none;
        }
      }
    }
  }

  &[data-zoom="0.3"],
  &[data-zoom="0.4"],
  &[data-zoom="0.5"] {
    .rsa-force-layout-node .text {
      font-size: 120%;
    }
    .rsa-force-layout-link .text {
      font-size: 0;
    }
    .line {
      stroke-width: 1.5pt;
    }
    #force-layout__grid {
      .grid-axis {
        &.minor {
          display: none;
        }
      }
    }
  }

  &[data-zoom="1.1"],
  &[data-zoom="1.2"] {
    .text {
      font-size: 80%;
    }
  }

  &[data-zoom="1.3"],
  &[data-zoom="1.4"],
  &[data-zoom="1.5"],
  &[data-zoom="1.6"],
  &[data-zoom="1.7"],
  &[data-zoom="1.8"],
  &[data-zoom="1.9"],
  &[data-zoom="2.0"],
  &[data-zoom="2.1"],
  &[data-zoom="2.2"],
  &[data-zoom="2.3"],
  &[data-zoom="2.4"] {
    .text {
      font-size: 50%;
    }
    .line {
      stroke-width: 0.5pt;
    }
  }

  &[data-zoom="2.5"],
  &[data-zoom="2.6"],
  &[data-zoom="2.7"],
  &[data-zoom="2.8"],
  &[data-zoom="2.9"],
  &[data-zoom="3.0"],
  &[data-zoom="3.1"],
  &[data-zoom="3.2"],
  &[data-zoom="3.3"],
  &[data-zoom="3.4"] {
    .text {
      font-size: 33%;
    }
    .line {
      stroke-width: 0.33pt;
    }
  }

  &[data-zoom="3.5"],
  &[data-zoom="3.6"],
  &[data-zoom="3.7"],
  &[data-zoom="3.8"],
  &[data-zoom="3.9"],
  &[data-zoom="4.0"],
  &[data-zoom="4.1"],
  &[data-zoom="4.2"],
  &[data-zoom="4.3"],
  &[data-zoom="4.4"],
  &[data-zoom="4.5"] {
    .text {
      font-size: 25%;
    }
    .line {
      stroke-width: 0.25pt;
    }
  }
}

.light-theme {
  .rsa-force-layout {

    &-node {
      .circle {
        stroke: rgba(155,155,155,.8);
        fill: rgba(235,235,235,.8);
      }
      .text {
        fill: text-color(neutral, dark);
      }

      &.is-hidden {
        .circle {
          stroke: rgba(155, 155, 155, .1);
          fill: rgba(195, 195, 195, 0);
        }
        .text {
          fill: text-color(neutral, dark, .1);
        }
      }

      &.is-selected {
        .circle {
          fill: text-color(neutral, dark);
        }
        .text {
          fill: text-color(neutral);
        }
      }
    }

    &-link {
      .line {
        stroke: rgba(155,155,155,.8);
      }
      .text {
        fill: rgba(155,155,155,.8);
      }

      &.is-hidden {
        .line {
          stroke: rgba(155, 155, 155, .1);
        }
        .text {
          fill: rgba(155,155,155,.1);
        }
      }

      &.is-selected {
        .line {
          stroke: text-color(neutral, dark);
        }
        .text {
          fill: text-color(neutral, dark);
        }
      }
    }

    #force-layout__arrow {
      fill: rgba(155,155,155,1);

      &--disabled {
        fill: rgba(155, 155, 155, .1);
      }

      &--selected {
        fill: text-color(neutral, dark);
      }
    }
  }
}
