.rsa-incident-banner {

  &__header {
    line-height: 1.35;

    &-title {
      overflow: hidden;
      text-overflow: ellipsis;
      @include rsa-font(header,large);

      .name {
        padding-left: rsa-whitespace(less);
      }
    }

    &-stats {
      .rsa-stat-sign {
        border-left: 1px solid rsa-color(gray,dark);

        &:last-of-type {
          border-right: 1px solid rsa-color(gray,dark);
        }
      }
    }
  }

  &__body {

    p {
      @include rsa-font(body,small);
      color: rsa-color(gray, light);
      line-height: 1.35;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      label {
        padding-right: rsa-whitespace(less);
        display: inline-block;
        min-width: 5rem;
      }
    }
    .source,
    .category {

      &:not(:last-of-type) {
        padding-right: rsa-whitespace(least);

        &::after {
          content: ',';
        }
      }
    }
  }
}