.rsa-items-sheet {
  position: relative;

  .liquid-container,
  .liquid-child {
    @include rsa-fill-abs();
  }

  &__table-view,
  &__details-view {
    @include rsa-fill-abs();

    &-header {
      padding: rsa-whitespace();
      background-color: rsa-color(black,base,$rsa-nearly-transparent);
    }

    &-body {
      position: relative;
    }
  }

  &__scroller {
    @include rsa-fill-abs();
  }

  &__details-view {
    .rsa-incident-datasheet__scroller {
      overflow: auto;
    }
  }

  &__table {
    @include rsa-fill-abs();

    .rsa-data-table-body-cell {
      cursor: default;
    }
  }

  &__tree {
    padding: rsa-whitespace();

    color: rsa-color(white);

    .key {

      &-name {
        min-width: 120px;
        padding-top: rsa-whitespace(least);
        padding-bottom: rsa-whitespace(least);
        padding-left: 0;
        padding-right: rsa-whitespace();
        color: rsa-color(gray,light);
      }

      &-value {
        padding-right: rsa-whitespace();
      }
    }

    > table > tr {
      background-color: rsa-color(gray,dark,$rsa-nearly-transparent);

      &:not(:last-of-type) {
        border-bottom: 10px solid transparent;
      }

      > .key-name {
        padding-left: rsa-whitespace();
      }

      > td > .rsa-property-tree > table > tr {
        border-bottom: 1px solid rsa-color(black,base,$rsa-nearly-transparent);
      }
    }

    .has-context-data {
      @include rsa-has-context-data();
    }
  }

}