$navbarHeight: 50px;

.respond-engine {
  > .rsa-nav-tab-group {
    height: $navbarHeight;
    > .rsa-nav-tab {
      margin: 0 rsa-whitespace();
    }
  }
}
// Hide the Respond nav bar on the incident details page for now
.respond-engine.incident {
  > .rsa-nav-tab-group {
    display: none;
  }
}

// Adjust the explorer height to account for the navigation
.respond-engine .rsa-respond-explorer {
  height: calc(100vh - #{$navbarHeight});
}