.recon-standalone-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  border-color: border-color(primary, dark);
  background-color: background-color(primary, darkest);

  .recon-container__main {
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    position: absolute;

    .recon-container__main__inner {
      flex: 1 1 auto;
    }

    .recon-container__header {
      z-index: 2;
      right: 0;
      font-size: 1.5rem;
      font-weight: 100;
      font-style: normal;
      padding: 1rem;
      @include border-left(1px, solid, primary, lightest, nearly-transparent);
      @include border-bottom(1px, solid, secondary);
      background-color: background-color(primary, darker);
    }

    .recon-container__header__inner {
      padding-top: .5rem;

      .recon-container__header-icons {
        padding-left: 1rem;
        align-items: flex-end;
        cursor: default;
      }

      .event-recon-contextual-help {
        margin-right: .7rem;
        cursor: pointer;
      }

      .event-recon-close {
        margin-top: 0;
        cursor: pointer;
      }
    }

    .recon-container {
      z-index: 2;
    }
  }

  .recon-event-wrapper {
    @include border-top(1px, solid, secondary);
    flex: 1 1 auto;
  }

  .recon-container {
    background-color: background-color(primary, darkest);
  }
}
