.respond-engine {
  /* Common background for all sub-routes. */
  background-color:$respondBackgroundColor;

  /* Tab strip for sub-routes: Incidents, Alerts, Remediation Tasks. Matches investigate color. */
  > .rsa-nav-tab-group {
    background-color: background-color(primary, darker);
  }

  .error-page .bottom-links {
    display: none;
  }
}
