<div style="font-size: 14px; padding:0 25px;font-family: 'Trebuchet MS', sans-serif;">
    Quest delivers innovative technology that solves complex problems with simple solutions and great service. To learn more, visit us at
    <a href="http://www.quest.com"  target="_blank">www.quest.com</a>.

    <div style="font-weight: 600; padding-top: 10px;">Contacting Quest</div>
    <div>For sales or other inquiries, visit <a href="http://www.quest.com/contact"  target="_blank">www.quest.com/contact</a>.</div>

    <div style="font-weight: 600; padding-top: 10px;">Technical support resources</div>
    Technical support is available to customers who have purchased Quest software with a valid maintenance contract and to customers who have trial versions. To access the Support Portal, go to support.quest.com/change-auditor.

    <div style="padding-top: 10px;">
    The Support Portal provides self-help tools you can use to solve problems quickly and independently, 24 hours a day, 365 days a year. In addition, the Support Portal provides direct access to product support engineers through an online Service Request system. Through the Support Portal, you can:
    </div>
    <ul style="padding-top: 10px">
        <li> Create, update, and manage Service Requests (cases).</li>
        <li> View Knowledge Base articles.</li>
        <li> Obtain product notifications.</li>
        <li> Download software. For trial software, go to <a target="_blank" href="http://www.quest.com/trials">www.quest.com/trials</a>.</li>
        <li> View how-to videos.</li>
        <li> Engage in community discussions.</li>
        <li> Chat with a support engineer.</li>
    </ul>
    <div>
    To participate in product forums, visit <a target="_blank" href="http://www.quest.com/community/products/change-auditor">www.quest.com/community/products/change-auditor/</a>.
    </div>
</div>
