@import 'components/manifest';

.entity-details {
  background-color: background-color(primary, darker);
  @include rsa-col(justify,fill);
  height: 100%;
  &_loader {
    justify-content: center;
    display: flex;
    padding: rsa-whitespace();
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.entity-details {
  height: 100%;
}

.center {
  position: relative;
  top: 50%;
}