$modalHeaderHeight: 52px;
$footerHeight: 40px;

.rsa-application-modal.delete-search-confirmation-dialog footer {
  display: none;
}

.rsa-application-modal-content.delete-search-confirmation-dialog {
  width: 25%;
  height: 25%;
  max-height: 200px;
  min-height: 100px;

  .modal-content {
    width: 100%;
    height: calc(100% - (#{$modalHeaderHeight + $footerHeight}));
    min-height: 100px;
    top: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    overflow-y: auto;

    p {
      padding: rsa-whitespace();
      line-height: 1.5rem;
    }
  }

  footer {
    height: $footerHeight;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: rsa-whitespace(less);
    background-color: background-color(primary, dark, nearly-transparent);

    .modal-footer-buttons {
      justify-content: flex-end;
      .rsa-form-button-wrapper {
        margin: 0 0 0 rsa-whitespace();
      }
    }
  }
}

