.list-filter {
  &__content {
    min-width: 8rem !important;
    max-height: 336px;
    overflow-y: scroll;
    .body {
      min-width: 5rem;
      max-width: 20rem;
      &__input {
        padding-left: rsa-whitespace();
      }
      .select-option {
        padding-top: rsa-whitespace(less);
      }
    }
  }
  .filter-trigger-button {
    text-align: right;
    padding-left: 1rem!important;
  }
  .filter-trigger-button span{
    float: left;
    text-align: left;
    margin-left: -7px;
  }
}

.footer {
  padding-bottom: 0 !important;
  padding-right: 0.5rem !important;
}
.filter-file-size {
  @include rsa-layer(above)
}

.ember-tether {
  @include rsa-layer(modals)
}
