@import "text-filter";
@import "list-filter";
@import "datetime-filter";

$filterPanelMinWidth: 200px;
.filter-search-icon {
  padding: rsa-whitespace(less) rsa-whitespace(less);
}

.rsa-content-tethered-panel {
  z-index: 500;
}

.filter-options {
  height: 350px;
  overflow: hidden;
  overflow-y: scroll;
}

.save-button {
  padding-right: rsa-whitespace(less);
}

.hostMoreOptions {
  padding-right: rsa-whitespace();
}

.content-filter {
  color: text-color(neutral);
  width: calc(112vw - 200px);
  div {
    float: left;
  }
  .filter-control-extended {
    padding: rsa-whitespace() 0 0;
  }
  .filter-content-holder {
    .rsa-button-group {
      display: inline-table;
    }
    width: 80vw;
  }
  .rsa-form-button-wrapper {
    .rsa-form-button {
      padding: rsa-whitespace(less) rsa-whitespace(less);
      color: text-color(primary, light);
      &:hover {
        cursor: pointer;
        color: text-color(primary, lightest);
      }
      .rsa-icon-remove-circle-2 {
        font-size: .9rem;
        margin: 0 calc(#{rsa-whitespace(least)} * -1) 0 rsa-whitespace(least);
      }
    }
    &:not(.is-icon-only) {
      .rsa-form-button {
        i:not(.rsa-icon-arrow-down-12) {
          margin: 0 calc(#{rsa-whitespace(least)} * -1) 0 rsa-whitespace(least);
        }
      }
    }
    &.is-standard:not(.is-disabled):not(.is-icon-only) {
      .rsa-form-button {
        border-color: transparent;
      }
      &:hover, &.is-active {
        .rsa-form-button {
          @include border(1px, solid, primary, lightest);
        }
      }
      &:active, &.is-active {
        background-color: transparent;
      }
    }

  }
}

.is-hovering .delete-filter {
  display: inline-block;
  .rsa-icon-bin-1-filled {
    font-size: 100%;
    top: -2px;
  }
}

.delete-filter {
  position: absolute;
  right: 0.5rem;
  display: none;
  .rsa-icon-bin-1-filled {
    font-size: 1.25rem;
  }
}

#list-filter-content .rsa-form-checkbox-label::before {
  top: 8px;
}
