.number-filter__body {
  min-width: 20rem;
  max-width: 20rem;
  .select-option {
    padding-top: rsa-whitespace(less);
  }
}

.number-filter__body__input {
  padding-left: rsa-whitespace();

  /**Hide the arrow buttons for number type */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }

}

.footer {
  padding-top: rsa-whitespace();
  .rsa-form-button-wrapper {
    width: 100%;
    .rsa-form-button {
      float: right;
    }
  }
}

.filter-file-size {
  @include rsa-layer(above)
}

.ember-tether {
  @include rsa-layer(modals)
}
