.text-filter {
  .remove-filter-icon .rsa-icon-remove-circle-2 {
    width: 2rem;
    position: relative;
    top: 1px;
    font-size: .9rem;
    vertical-align: top;
    margin: 0 calc(rsa-whitespace(least) * -1) 0 rsa-whitespace(least) !important;
  }
  &__content {
    padding: rsa-whitespace();
    .footer {
      padding-top: rsa-whitespace();
      .rsa-form-button-wrapper {
        width: 100%;
        .rsa-form-button {
          float: right;
        }
      }
    }
  }
}
