[Unit]
Description=Presidio UI application daemon
After= network.target

[Service]
User=presidio
Group=presidio
Type=simple
ExecStart=/usr/bin/java -Dserver.port=8883 -Dnw.security.certificate.file.location=$KEYSTORE_PATH -Dnw.security.certificate.secret=changeit -jar /usr/sbin/presidio/ui/presidio-ui-app.jar
KillMode=mixed
KillSignal=SIGKILL
Restart=on-failure
RestartSec=5s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
