$zoneBorderColor: border-color(primary, darker, nearly-transparent);
$filterPanelMinWidth: 250px;
@import "service-modal";

page.investigate-files-engine {
  min-height: 100vh;
  color: text-color(primary, lightest);
}

.rsa-investigate-files {
  @include rsa-vendor-prefix(transition-property, background-color, color);
  @include rsa-vendor-prefix(transition-duration, 0.3s);
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  .main-zone {
    overflow: hidden;
    flex-wrap: nowrap;
  }

  .rsa-application-layout-panel-header .filters {
    padding: 0 0 0 calc((1rem + .25rem + .5rem) - 1px);
  }

  .favourite-filters {
    padding: rsa-whitespace() 0 rsa-whitespace() rsa-whitespace();
    overflow-y: scroll;
    overflow: auto
  }

  .filter_title {
    padding: 0 0 rsa-whitespace() 0;
  }

  .filter-list__item {
    cursor: pointer;
    font-weight: 700;
    color: text-color(primary, light);
    line-height: 27px;
    &.is-active {
      color: text-color(primary, lightest);
      transition: color 0.5s ease;
    }
  }

  .filter-list__item:hover {
    color: text-color(primary, lightest);
    transition: color 0.5s ease;
  }

  .filter-list__item-label {
    width: 150px;
    display: inline-block;
  }

  .toolbar-zone {
    border-bottom: 1px solid $zoneBorderColor;
    padding: rsa-whitespace();
  }
  .add-filter {
    padding: rsa-whitespace() 0;
  }

  .filter-zone {
    hr {
      width: 100%;
    }
    h2 {
      @include rsa-font(header, larger);
      line-height: 2rem;
      color: text-color(primary, lightest);
    }

    border-right: 1px solid $zoneBorderColor;
    padding: rsa-whitespace() 0 rsa-whitespace() rsa-whitespace();
    overflow: auto;
    overflow-x: hidden;
    opacity: opacity-value(opaque);
    max-width: $filterPanelMinWidth;
    color: text-color(primary, lightest);
    @include rsa-vendor-prefix(transition-property, max-width, min-width, padding, opacity);
    @include rsa-vendor-prefix(transition-duration, 0.3s, 0.3s, 0.3s, 0.1s);
    @include border-right(1px, solid, primary, dark);
  }
  .files-zone {
    max-width: calc(100vw - #{$filterPanelMinWidth});
  }
  .files-footer {
    max-height: 2rem;
    background-color: background-color(primary, darker, somewhat-opaque);
    color: text-color(primary, lightest);
    border-top: 1px solid $zoneBorderColor;
  }

  .toolbar-button {
    padding: rsa-whitespace(less);
    font-size: 20px;
    width: 23px;
    color: text-color(primary, lighter);
    margin-right: rsa-whitespace(least);
    cursor: pointer;
  }

  .file-list, .rsa-data-table {
    height: 100%;
  }
  .rsa-data-table-header {
    border-bottom: 1px solid border-color(primary, dark);
  }
  .rsa-data-table-header-cell {
    button {
      cursor: pointer;
      &.column-sort {
        position: absolute;
        right: 7px;
      }
    }
  }
  .rsa-data-table-body-row {
    width: fit-content;
    min-width: 98%
  }

  .pivot-to-investigate {
    margin-left: auto;
    display: none;
  }

  .rsa-data-table-body-cell:hover {
    .pivot-to-investigate {
      cursor: pointer;
      display: block;
    }
  }

}

