$zoneBorderColor: border-color(primary, darker, nearly-transparent);
$filterPanelMinWidth: 250px;
$risk-panel-width: 500px;
@import "service-modal";
@import "certificates-container";

page.investigate-files-engine {
  min-height: 100vh;
  color: text-color(primary, lightest);
}

.rsa-investigate-files {
  .rsa-data-table-body-cell.score {
    padding: 0;
  }
  @include rsa-vendor-prefix(transition-property, background-color, color);
  @include rsa-vendor-prefix(transition-duration, 0.3s);
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  .main-zone {
    overflow: hidden;
    flex-wrap: nowrap;
  }

  .rsa-application-layout-panel-header .filters {
    padding: 0 0 0 calc((1rem + .25rem + .5rem) - 1px);
  }

  .favourite-filters {
    padding: rsa-whitespace() 0 rsa-whitespace() rsa-whitespace();
    overflow-y: scroll;
    overflow: auto
  }

  .filter_title {
    padding: 0 0 rsa-whitespace() 0;
  }

  .filter-list__item {
    cursor: pointer;
    font-weight: 700;
    color: text-color(primary, light);
    line-height: 27px;
    &.is-active {
      color: text-color(primary, lightest);
      transition: color 0.5s ease;
    }
  }

  .toolbar-zone {
    border-bottom: 1px solid $zoneBorderColor;
    padding: rsa-whitespace();
  }
  .add-filter {
    padding: rsa-whitespace() 0;
  }
  .file-name {
    text-decoration: underline;
    color: text-color(secondary);
    cursor: pointer;
  }
  .filter-zone {
    hr {
      width: 100%;
    }
    h2 {
      @include rsa-font(header, larger);
      line-height: 2rem;
      color: text-color(primary, lightest);
    }

    border-right: 1px solid $zoneBorderColor;
    padding: rsa-whitespace() 0 rsa-whitespace() rsa-whitespace();
    overflow: auto;
    overflow-x: hidden;
    opacity: opacity-value(opaque);
    min-width: $filterPanelMinWidth;
    max-width: $filterPanelMinWidth;
    color: text-color(primary, lightest);
    @include rsa-vendor-prefix(transition-property, max-width, min-width, padding, opacity);
    @include rsa-vendor-prefix(transition-duration, 0.3s, 0.3s, 0.3s, 0.1s);
    @include border-right(1px, solid, primary, dark);
  }

  .rsa-data-filters {
    .content-body {
      height: calc(100vh - 260px);
    }
  }
  .risk-property-zone {
    min-width: 0;
    max-width: 0;
    padding: 0;
    overflow: hidden;
    opacity: opacity-value(transparent);
    @include rsa-vendor-prefix(transition-property, max-width, min-width, padding, opacity);
    @include rsa-vendor-prefix(transition-duration, 0.3s, 0.3s, 0.3s, 0.1s);

    .rsa-nav-tab .label {
      @include rsa-font(header, small);
      text-transform: capitalize;
      color: text-color(primary, lighter);
      font-size: 0.85rem;
    }
    .rsa-nav-tab.is-active .label {
      color: text-color(secondary, light);
    }
    .rsa-nav-tab.is-left-aligned-primary {
      cursor: pointer;
      margin: 0 rsa-whitespace() 0;
      padding: rsa-whitespace(less) 0;
      border-bottom-width: 3px;
    }
    .risk-zone-close-button {
      width: 16px;
      max-width: 16px;
      margin-right: 20px;
      .close-icon {
        font-size: 9px;
      }
    }
  }

  .show-risk-panel {
    .risk-property-zone {
      @include border-left(1px, solid, primary, dark);
      min-width: $risk-panel-width;
      max-width: $risk-panel-width;
      padding: 0;
      overflow: auto;
      overflow-x: hidden;
      opacity: opacity-value(opaque);
    }
    .files-zone {
      width: calc(100vw - #{$risk-panel-width + $filterPanelMinWidth});
      max-width: calc(100vw - #{$risk-panel-width + $filterPanelMinWidth});
    }
  }
  .files-zone {
    @include rsa-vendor-prefix(transition-property, width);
    @include rsa-vendor-prefix(transition-duration, 0.3s);
    width: calc(100vw - #{$filterPanelMinWidth});
    max-width: calc(100vw - #{$filterPanelMinWidth});
    min-height: calc(100vh - 135px);
  }
  .files-footer {
    max-height: 2rem;
    background-color: background-color(primary, darker, somewhat-opaque);
    color: text-color(primary, lightest);
    border-top: 1px solid $zoneBorderColor;
  }

  .toolbar-button {
    padding: rsa-whitespace(less);
    font-size: 20px;
    width: 23px;
    color: text-color(primary, lighter);
    margin-right: rsa-whitespace(least);
    cursor: pointer;
  }

  .file-list, .rsa-data-table {
    height: 100%;
    .rsa-data-table-body-row .rsa-form-checkbox {
      position: inherit;
    }
  }
  .rsa-data-table-header {
    border-bottom: 1px solid border-color(primary, dark);
  }
  .rsa-data-table-header-cell {
    button {
      cursor: pointer;
      &.column-sort {
        position: absolute;
        right: 7px;
      }
    }
  }
  .rsa-data-table-body-row {
    width: fit-content;
    min-width: 98%;
    &.is-selected {
      .file-name {
        color: text-color(secondary,lightest);
      }
    }
  }

  .pivot-to-investigate {
    margin-left: auto;
    display: none;
  }

  .rsa-data-table-body-cell:hover {
    .pivot-to-investigate {
      cursor: pointer;
      display: block;
    }
  }
  .investigate-file-tab {
    .rsa-nav-tab {
      .label {
        font-family: "Open Sans";
        font-style: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 0.85rem;
        display: inline-block;
        margin: 0px;
      }

    }
    h3 {
      text-align: center;
      width: 230px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 5rem;
      padding-right: 5rem;
      font-size: 1rem;
    }
  }
  .machine-count, .machine-count * {
    overflow: initial;
  }
  .machine-count {
    padding-left: rsa-whitespace(more);
  }

  .files-host-list {
    color: text-color(primary, lightest);
    padding: rsa-whitespace();
    display: inline-block;
    .divider {
      @include border-left(1px, solid, primary);
      border-top: 0;
      height: 2rem;
      margin: .1rem 0 .25rem 0;
    }
    .rsa-form-button {
      .rsa-icon-expand-6-filled, .rsa-icon-download-2-filled {
        cursor: pointer;
        padding-bottom: rsa-whitespace(less);
      }
    }
    .host_details_link {
      display: inline-block;
      width: 150px;
      padding-left: rsa-whitespace(less);
      a {
        color: text-color(secondary);
      }
    }
    .loader_icon {
      height: 70vh;
    }
  }
  .certificate-view {
    z-index: 200;
    .certificates-container {
      @include rsa-vendor-prefix(transition-property, left);
      @include rsa-vendor-prefix(transition-duration, 0.4s);
      left: 100%;
    }
  }
  .is-show-certificate {
    .certificates-container {
      left: 0;
    }
  }
  .right-zone .risk-properties {
    height: calc(100% - 100px);
  }
  .filter-wrapper .filter-controls .noUi-connects .noUi-connect{
    background-color: background-color(secondary, dark);
  }
}

.license-banner.shown + .rsa-investigate-files {
  // When license banner is shown, the absolute top position has to be adjusted
  top: 86px;
}

.rsa-data-table-body-row.is-row-checked {
  background-color: background-color(primary, darker);
}