daterange{
.daterange-input{
  box-shadow: none;
  height: 19px;
  font-size: 13px;
  padding: 2px 6px;
  border: 1px solid #d0dde9;
  margin: 0;
  border-radius: 2px;
  top: 11px;
  background: url(../images/calendar.gif) rgba(255,255,255,.86) no-repeat 98% 3px;
  cursor: pointer;
  color: black;
  width: 170px;

  &:focus{
    background-color: white;
    font-style: normal;
  }
}
}
