.simplePagination{
  //color: Black;
  //font-weight: bold;
	//font-size: 14px;
  //
  //a.simplePagination-currentPage{
  //  padding: 0;
  //  text-decoration: underline;
  //}
  //form{
  //  display: inline;
  //  margin: 0;
  //  padding: 0;
  //}
  //
  //input{
  //  width: 2em;
  //  position: relative;
  //  top: -2px;
  //  font-weight: bold;
  //  font-size: 16px;
  //  margin: 0 .2em;
  //  padding-bottom: 2px;
  //}
  //
  //.simplePagination-total{
  //  display: inline-block;
  //  margin-right: 10px;
  //}
  //.simplePagination-total, .disabled{
  //  color: #B9B9B9
  //}
  //
  //a.simplePagination-button{
  //  color: Black !important;
  //  padding: 0;
  //
  //  &:hover{
  //    color: #049cdb !important;
  //    text-decoration: none !important;
  //  }
  //
  //  &.disabled{
  //    cursor: default;
  //    color: #B9B9B9 !important
  //  }
  //}

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #06508b;

    .fa {
        color: #06508b;
    }

    a {
        color: #06508b;
    }
}
