.rsa-preferences {
  &-field-content {
    margin: rsa-whitespace();

    .rsa-form-radio-group-label {
      margin-bottom: rsa-whitespace();
    }
    .sort-order-default-text {
      @include rsa-font(light, small);
      padding-left: rsa-whitespace(least);
    }
    .rsa-form-checkbox-label {
      vertical-align: bottom;
      box-sizing: border-box;
      color: text-color(primary, light);
      margin-bottom: rsa-whitespace(less);
      @include rsa-font(header, small);
      text-transform: uppercase;
      margin-top: rsa-whitespace(more);
    }
    .flex-container {
      display: flex;
    }
    .flex-container .rsa-icon {
      padding-left: rsa-whitespace(less);
      color: text-color(primary, light);
      cursor: pointer;
    }
  }
  &-loader-position{
    margin-top: 50%;
  }
  &-divider{
    background-color: background-color(primary, darkest);
    height: rsa-whitespace(least);
  }
}
