@charset "UTF-8";

/* Imports all styles from component-lib addon. */
@import 'component-lib/manifest';

body {
  color: rsa-color(gray, light);
  margin: 0;
}

.recon-event-header {
  background-color: rsa-color(gray, dark);
  border: 1px solid rsa-color(white);
  border-bottom: none;

  .recon-event-titlebar {
    h2 {
      color: rsa-color(white);
      font-size: 20px;
      padding: 20px;
    }
  }

  .header-item {
    padding: 2px 5px;

    .key {
      color: rsa-color(white);
    }
  }
}

.recon-event-content {
  background-color: rsa-color(gray, dark);
  border: 1px solid rsa-color(white);
}
