.helper-text-wrapper {
  width: 350px;
  margin: 2.5rem 0;
  padding: 21px;
  background-color: background-color(primary, darker);
  @include border(1px, solid, primary, lightest, nearly-transparent);
  .help-text-wrapper_title, .help-text-wrapper_help-text {
    width: 100%;
    color: text-color(primary, light);
  }

  .help-text-wrapper_sub-title {
    color: text-color(secondary);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: rsa-whitespace();
  }
  .help-text-wrapper_title {
    @include rsa-font(header, larger);
    margin-bottom: rsa-whitespace(more);
  }
  .help-text-wrapper_help-text {
    margin-bottom: 21px;
    line-height: 1.5rem;
  }
  .help-text-wrapper_content-separator-wrapper {
    height: 30px;
    margin-top: 30px;
    .help-text-wrapper_content-separator {
      width: 100%;
      color: text-color(primary, lighter);
      border-bottom: 1px solid border-color(primary, dark);
      position: relative;
      height: 0px;
      .help-text-wrapper_content{
        position: absolute;
        left: 0px;
        top: -12px;
        padding: 5px 7px;
        border-radius: 8px;
        border: 1px solid border-color(primary, dark);
        background-color: #000;
        text-transform: uppercase;
        @include rsa-font(bold, small);
        color: text-color(primary, light);
      }
    }
  }
}