{{respond/risk-scoring}}

<div class="rsa-incident-rules-header">
  <h1>{{t 'configure.incidentRulesTitle'}}</h1>
</div>

{{respond/incident-rules transitionToRule=(action 'controllerTransitionToRule')}}
