<centered class="index">
  <vbox class="index-content">
    {{rsa-logo title="Style Guide and Other Docs"}}

    <p class="click-to-copy">Click any code sample in this Style Guide to copy it.</p>

    <h3>Supported Browsers</h3>
    <ul>
      <li>Chrome (latest)</li>
      <li>Firefox (latest)</li>
      <li>Safari (latest)</li>
      <li>IE (11)</li>
    </ul>

    <h3>Supported Resolutions</h3>
    <ul>
      <li>1440×900 (Minimum Supported)</li>
      <li>1920x1080 (Design Ideal)</li>
      <li>2560x1440 (Maximum Supported)</li>
    </ul>
  </vbox>
</centered>
