<grid>
  <hbox class="dropdowns">

    {{#rsa-form-button dropdown='split' style='primary' }}
      Export
      <ul>
        <li>foo</li>
        <li>bar</li>
      </ul>
    {{/rsa-form-button}}


    {{#rsa-form-button dropdown='split' }}
      Decode
      <ul>
        <li>foo</li>
        <li>bar</li>
      </ul>
    {{/rsa-form-button}}

    <centered class="right">
      {{rsa-icon name='filter-22' size='large'}}
    </centered>
  </hbox>
</grid>
