<grid>
  <hbox sm="11" md="9" lg="8">
    <hbox>
      {{#rsa-form-button dropdown='standard' style='primary' }}
        Export
        <ul>
          <li>foo</li>
          <li>bar</li>
        </ul>
      {{/rsa-form-button}}
    </hbox>
    <hbox>
      {{#rsa-form-button dropdown='standard' }}
        Decode
        <ul>
          <li>foo</li>
          <li>bar</li>
        </ul>
      {{/rsa-form-button}}
    </hbox>
    <hbox>
      <div class="divider"></div>
    </hbox>

    <hbox>
      {{#rsa-form-button dropdown='standard' }}
        Packet View
        <ul>
          <li>foo</li>
          <li>bar</li>
        </ul>
      {{/rsa-form-button}}
    </hbox>
    <hbox>
      {{#rsa-form-button dropdown='standard' }}
        Request &amp; Response
        <ul>
          <li>foo</li>
          <li>bar</li>
        </ul>
      {{/rsa-form-button}}
    </hbox>
    <hbox>
      {{#rsa-form-button dropdown='standard' }}
        Top to Bottom
        <ul>
          <li>foo</li>
          <li>bar</li>
        </ul>
      {{/rsa-form-button}}
    </hbox>
  </hbox>
  <hbox sm="1" md="3" lg="4">
    <centered class="right" xs="12">
      {{rsa-icon name='filter-22' size='large'}}
    </centered>
  </hbox>
</grid>
