<!DOCTYPE html>
<html class="login-bg" ng-app="FortscaleSignin">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fortscale - Change Password</title>

    <link rel="icon" type="image/png" href="images/quest.ico" />

    <!-- inject:css -->
    <!-- endinject -->
</head>
<body ng-controller="SigninController">

    <!-- This page is shown after the first user login -->

    <div id="signin-form">
        <img class="logo" src="images/fortscale_logo.png">
        <form ng-submit="changePassword()">
            <label>
                <img src="images/icons/password.png" />
                <input type="password"
                       placeholder="Current password"
                       ng-model="currentPassword"
                       tabindex="1">
            </label>
            <label>
                <img src="images/icons/password.png" />
                <input type="password"
                       placeholder="New password"
                       ng-model="password"
                       tabindex="2">
            </label>
            <label>
                <img src="images/icons/password.png" />
                <input type="password"
                       placeholder="Confirm password"
                       ng-model="passwordConfirm"
                       tabindex="3">
            </label>
            <div class="alert alert-error" ng-class="{ 'alert-error-show': error }" ng-hide="!error">
                <i class="icon-remove-sign"></i>
                {{error.message}}<br />
                <a ng-show="error.expired" href="change_password.html?username={{email}}">Change password</a>
            </div>
            <input type="submit" class="btn-glow primary login" value="Change Password" tabindex="4" />
        </form>
    </div>

    <!-- inject:js -->
    <!-- endinject -->

</body>
</html>
