<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category}}
      {{#spec-member title="Collapsed"}}
        {{#rsa-content-card isCollapsed=true}}Content{{/rsa-content-card}}

        <code>
          &#123;{#rsa-content-card isCollapsed=true}}Content&#123;{/rsa-content-card}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Expanded"}}
        {{#rsa-content-card isCollapsed=true}}Content{{/rsa-content-card}}

        <code>
          &#123;{#rsa-content-card isCollapsed=true}}Content&#123;{/rsa-content-card}}
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
