<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category}}
      {{#spec-member title="Collapsed"}}
        {{#rsa-content-card isCollapsed=true}}Content{{/rsa-content-card}}
        {{!-- BEGIN-SNIPPET card1
        {{#rsa-content-card isCollapsed=true}}Content{{/rsa-content-card}}
        END-SNIPPET --}}
        {{code-snippet name="card1.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Expanded"}}
        {{#rsa-content-card isCollapsed=false}}Content{{/rsa-content-card}}
        {{!-- BEGIN-SNIPPET card2
        {{#rsa-content-card isCollapsed=false}}Content{{/rsa-content-card}}
        END-SNIPPET --}}
        {{code-snippet name="card2.hbs"}}
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
