/**
 * @file Style configuration variables.
  This file lists all global variables and their default values. Defaults can be ovewritten elsewhere (e.g., by themes).
 */

// Global namespace. Use as a prefix for all our styles. Avoids potential name collisions with 3rd party CSS.
$rsa-: "rsa-";

// Global selector for suppressing our default styles. All of our default styles that select by tag name should
// check to make sure the HTML element does NOT match this selector before styling it.
$ignore-tag-name: "." + rsa- + "ignore-tag-name" !default;

// Global variables:
$base-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;      // sets the default font at the root HTML element
$base-font-size: 12px;      // sets the definition of "1rem" at the root HTML element
$base-line-height: 1.35;    // sets the line-height at the root HTML element; a unitless line-height is relative, so cascades well
$base-padding-x: 12px;      // default horizontal padding, to be applied to text block elements
$base-padding-y: 3px;     // default vertical padding, to be applied to text block elements
$base-padding: $base-padding-y $base-padding-x;     // shortcut
$base-border-radius: 12px;  // default corner radius, can be read by custom selectors in order to ensure consistency across app

// Pre-defined color coding for Incident Priority:
$priority-critical-color: rgb(202,8,20);
$priority-high-color: rgb(252,102,33);
$priority-medium-color: rgb(255,221,56);
$priority-low-color: rgb(216,222,58);





