<div class="fs-alert-modal">
    <div class="modal-header">
        <h3 class="header-text modal-title">Reopen Alert</h3>
        <div class="close-with-x" ng-click="openModal.clickCancel()"></div>
    </div>
    <div class="modal-body">
        <b>Are you sure you want to reopen this alert?</b>

    </div>
    <div class="modal-buttons">
        <div class="fs-button-group">
            <button class="fs-button fs-button-regular ok" type="button" ng-click="openModal.clickOk()">OK</button>
            <button class="cancel" type="button" ng-click="openModal.clickCancel()">Cancel</button>
        </div>
    </div>
</div>
