/**
 * @file Fade in animation.
 */
@keyframes rsa-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes rsa-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes rsa-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes rsa-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
