/**
 * @file Animation for a circle arc that expands & contracts as it rotates.
 * Assumes radius = 25.
 */
@keyframes rsa-tea-cup-spin {
    0% {
        stroke-dashoffset: -115;
        stroke-dasharray: 5,152;
    }
    30% {
        stroke-dashoffset: -126;
        stroke-dasharray: 120,37;
    }
    50% {
        stroke-dashoffset: -136;
        stroke-dasharray: 125,32;
    }
    80% {
        stroke-dashoffset: -262;
        stroke-dasharray: 10,147;
    }
    100% {
        stroke-dashoffset: -272;
        stroke-dasharray: 5,152;
    }
}
@-webkit-keyframes rsa-tea-cup-spin {
    0% {
        stroke-dashoffset: -115;
        stroke-dasharray: 5,152;
    }
    30% {
        stroke-dashoffset: -126;
        stroke-dasharray: 120,37;
    }
    50% {
        stroke-dashoffset: -136;
        stroke-dasharray: 125,32;
    }
    80% {
        stroke-dashoffset: -262;
        stroke-dasharray: 10,147;
    }
    100% {
        stroke-dashoffset: -272;
        stroke-dasharray: 5,152;
    }
}
@-moz-keyframes rsa-tea-cup-spin {
    0% {
        stroke-dashoffset: -115;
        stroke-dasharray: 5,152;
    }
    30% {
        stroke-dashoffset: -126;
        stroke-dasharray: 120,37;
    }
    50% {
        stroke-dashoffset: -136;
        stroke-dasharray: 125,32;
    }
    80% {
        stroke-dashoffset: -262;
        stroke-dasharray: 10,147;
    }
    100% {
        stroke-dashoffset: -272;
        stroke-dasharray: 5,152;
    }
}
@-ms-keyframes rsa-tea-cup-spin {
    0% {
        stroke-dashoffset: -115;
        stroke-dasharray: 5,152;
    }
    30% {
        stroke-dashoffset: -126;
        stroke-dasharray: 120,37;
    }
    50% {
        stroke-dashoffset: -136;
        stroke-dasharray: 125,32;
    }
    80% {
        stroke-dashoffset: -262;
        stroke-dasharray: 10,147;
    }
    100% {
        stroke-dashoffset: -272;
        stroke-dasharray: 5,152;
    }
}
