<vbox>
  {{rsa-form-textarea class='operator-input'
    value=localValue
    isInline=true
    isError=(or validator.showError lockError)
    errorMessage=(t (concat 'adminUsm.groupCriteria.inputValidations.' validation))
    focusIn=(action 'handleFocusIn')
    focusOut=(action 'handleInputChange' value='target.value')
    spellcheck=false
  }}
  {{#if (or validator.showError lockError)}}
    <span class="input-error">
      {{t (concat 'adminUsm.groupCriteria.inputValidations.' validation)}}
    </span>
  {{/if}}
</vbox>
  
