.user-body {
  .user-overview-tab {
    height: calc(100% - 45px);

    &_title {
      color: text-color(primary, light);
      @include rsa-font(header);
      padding: 2*rsa-whitespace() rsa-whitespace()+rsa-whitespace(less);
      border-bottom: 2px SOLID background-color(primary, darker);
    }

    &_upper {
      height: 70%;
      flex-direction: row;
      display: flex;

      &_users {
        width: 30%;
        padding: rsa-whitespace() 0 rsa-whitespace() rsa-whitespace();

        > div {
          background-color: background-color(primary, darker);
          height: 100%;
        }

        &_rows {
          height: calc(100% - 45px);
          overflow-y: auto;
          padding: rsa-whitespace()+rsa-whitespace(less);
        }

        &_row {
          padding: rsa-whitespace(less) 0;
          height: 60px;
          text-align: center;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-bottom: 1px SOLID background-color(primary, dark);

          &_score {
            width: 60px;
            .rsa-content-badge-score {
              padding: 0.25rem;
              .score {
                @include rsa-font(bold, large);
              }
            }
            .rsa-content-badge-score  > svg > circle {
              stroke-width: 3px;
            }
          }

          &_name {
            align-items: center;
            display: flex;
            color: text-color(secondary, light);
            width: calc(100% - 120px);
            @include rsa-font(bold);
            color: text-color(secondary, light);
            padding: rsa-whitespace(less) rsa-whitespace();
          }

          &_icon {
            align-items: center;
            display: flex;
            padding: rsa-whitespace(less);
            width: 30px;
            .rsa-icon.is-large {
              font-size: 1.75em;
              color: text-color(primary, lighter);
            }
          }
        }

        &_row:hover {
          background-color: background-color(primary, darkest);
        }

      }

      &_alerts {
        width: 70%;
        padding: rsa-whitespace();

        > div {
          background-color: background-color(primary, darker);
          height: 100%;
        }

        &_container {
          color: text-color(primary, lightest);
          height: calc(100% - 45px);
          overflow-y: auto;
          padding-top: rsa-whitespace();

          .Critical {
            background-color: text-color(accentOne, dark);
          }

          .High {
            background-color: text-color(accentThree, dark);
          }

          .Medium {
            background-color: text-color(accentFour, dark);
          }

          .Low {
            background-color: text-color(accentTwo, dark);
          }

          &_pill {
            width: calc(50% - 20px);
            height: 75px;
            float: left;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px SOLID background-color(primary, dark);
            margin: 0 rsa-whitespace(less);

            &_rating {
              display: flex;
              padding: rsa-whitespace(less);
              width: 80%;
              align-items: center;

              &_score {
                height: 18px;
                border-radius: 6px;
                width: 6px;
              }

              &_text {
                @include rsa-font(header);
                color: text-color(primary, light);
                padding: rsa-whitespace(less);
              }
            }

            &_details {
              display: flex;
              flex-direction: column;
              padding: 0 rsa-whitespace();
              width: 100%;

              &_name {
                white-space: nowrap;
                overflow: hidden;
                display: inline-flex;
                padding: 0 .35rem;
                color: text-color(secondary, light);
                @include rsa-font(default);

                &_text {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  padding-right: rsa-whitespace(less);
                }

                &_time {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: text-color(primary);
                }
              }

              &_time {
                white-space: nowrap;
                overflow: hidden;
                display: inline-flex;
                padding: rsa-whitespace(least) rsa-whitespace(least) 0 rsa-whitespace(least);
                @include rsa-font(default, small);

                &_name {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: text-color(primary, lighter);
                  padding: rsa-whitespace(least);
                }

                &_time {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: text-color(primary);
                  padding: rsa-whitespace(least);
                }
              }
            }

            &_indicator {
              display: flex;
              width: 20%;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              &_count {
                @include rsa-font(header, larger);
                display: flex;
                justify-content: center;
                color: text-color(primary, lightest);
              }

              &_text {
                color: text-color(primary);
                padding-top: rsa-whitespace(least);
                @include rsa-font(default, small);
              }

              &_list {
                color: text-color(secondary, dark);
              }
            }
          }

          &_pill:hover {
            background-color: background-color(primary, darkest);
          }
        }
      }
    }

    &_lower {
      height: 30%;
      min-height: 150px;
      flex-direction: row;
      display: flex;

      &_users {
        width: 30%;
        padding: 0 rsa-whitespace() rsa-whitespace();

        > div {
          background-color: background-color(primary, darker);
          height: 100%;
        }

        &_watched {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          text-align: center;
          padding: rsa-whitespace(less);
          height: 115px;

          > div {
            padding: rsa-whitespace(less);
          }

          .rsa-form-button {
            height: 100%;
            justify-content: space-between;
            min-width: 100px;
            min-height: 120px;
            text-align: -webkit-center;
            border: none;
            display: flex !important;
            flex-direction: column;
            padding: rsa-whitespace() rsa-whitespace() 2*rsa-whitespace() rsa-whitespace(); 

            > div {
              align-self: center;
              margin: 0;

              > i {
                margin-left: rsa-whitespace(less) !important;
              }
            }
          }

          .rsa-form-button:hover {
            background-color: background-color(primary, darkest);
          }

          .count {
            @include rsa-font(bold, large);
            color: text-color(secondary, light);
            padding-top: rsa-whitespace(less);
          }

          .text {
            @include rsa-font(default);
          }

          &_risk {
            height: 100%;

            > button > div > i {
              color: text-color(accentThree);
            }
          }

          &_watched {
            height: 100%;

            > button > div > i {
              color: text-color(accentOne);
            }
          }

          &_admin {
            height: 100%;

            > button > div > i {
              color: text-color(primary);
            }
          }

        }
      }

      &_alerts {
        width: 70%;
        padding: 0 rsa-whitespace() rsa-whitespace() 0;

        &_graph {
          height: calc(100% - 35px);
          padding: rsa-whitespace(least);
        }

        > div {
          background-color: background-color(primary, darker);
          height: 100%;
        }
      }
    }
  }

  .alertsCountAxis .domain {
    display: none;
  }

  .alertsCountAxis line {
    stroke: none;
  }

  .alertsCountAxis text {
    fill: text-color(primary, light);
  }

  .alertsDateAxis line,
  path {
    stroke: text-color(primary, light);
  }

  .alertsDateAxis text {
    @include rsa-font(default, smaller);
    fill: text-color(primary, light);
  }

}

.user_alert_indicator_panel {
  padding: rsa-whitespace(less);
  color: text-color(secondary, light);
  @include rsa-font(default, small);
  top: -45px;

  > ul > li {
    padding: rsa-whitespace(least);
  }
}
