@charset "UTF-8";

/* Imports all styles from component-lib addon. */
@import 'component-lib/manifest';
/* Import context styles */
@import 'context/manifest';



.ember-application > DIV:nth-child(4) {
 height: 100%;
    > grid {
      height :100%;
    }
}

page {
  height: 100%;
  min-width: 0;
}

aside {
  padding: rsa-whitespace(more);
  color: text-color(primary, light);

  p {
    margin-bottom: rsa-whitespace(less);
  }

  h1 {
    @include rsa-font(header, large);
    margin-bottom: rsa-whitespace(less);
  }
}
