@charset "UTF-8";

/* Imports all styles from component-lib addon. */
@import 'component-lib/manifest';
/* Import context styles */
@import 'context/manifest';

page {
  min-height: 100vh;
  min-width: 0;
}

aside {
  padding: rsa-whitespace(more);
  color: rsa-color(gray, light);

  p {
    margin-bottom: rsa-whitespace(less);
  }

  h1 {
    @include rsa-font(header, large);
    margin-bottom: rsa-whitespace(less);
  }
}