.registry-discrepancies {
  hbox {
    max-height: 52px;
    .close-filter{
      padding-top: 1rem;
      padding-left: 1rem;
    }
  }
  .host-detail__datatable {
    max-height: calc(100vh - 216px);
    .rsa-data-table {
      height: calc(100% - 63px);
    }
  }
  .rsa-data-table-body {
    height: 900px;
  }
}