.file-analysis-wrapper {
  background-color: background-color(primary, darkest);
  height: 100%;
  width: 100%;
  z-index: 3;
  position: absolute;
  left: 100%;
  @include rsa-vendor-prefix(transition-property, left);
  @include rsa-vendor-prefix(transition-duration, 0.4s);
  .file-analysis-header {
    width: calc(100vw - 500px);
    padding: 20px;
    .backButton {
      text-transform: capitalize;
    }
    .file-analysis-title {
      border-left: 1px solid;
      height: 28px;
      display: inline-block;
      line-height: 2rem;
      padding: 0 0 0 10px;
      margin: 0 0 0 10px;
      font-size: 1.2rem;
      font-weight: 100;
    }
    .view-type {
      font-size: 1.2rem;
      padding-right: 14px;
      font-weight: 100;
    }
  }
  .rsa-page-layout.show-right-zone .right-zone {
    max-width: 550px;
    h3.title {
      margin: 0 auto;
    }
    > .rsa-header {
      height: 69px;
      border-bottom: 0px;
      padding: 3% 0;
    }
  }
  .string-filter-wrapper {
    width: 320px;
    display: inline-block;
    margin-left: 23px;
    height: 34px;
    label {
      display: inline-block;
      width: 210px;
      span.rsa-form-label {
        margin-bottom: 0px;
      }
    }
    .label {
      display: inline-block;
      margin-right: 14px;
      color: $formSelectLabelColor;
      margin-bottom: rsa-whitespace(less);
      @include rsa-font(header, small);
      text-transform: uppercase;
    }
  }
  .rsa-nav-tab.is-active {
    width: 100px;
    align-self: normal;
    padding-top: 0;
  }
  .file-analysis-properties {
    @include border-top(1px, solid, primary);
  }
}

.is-show-file-analysis {
  .file-analysis-wrapper {
    left: 0;
  }
}
