.host-content {
  padding: 0 rsa-whitespace();
  &__title {
    h3 {
      color: text-color(secondary);
      font-weight: bold;
    }
  }
  &__user-details {
    padding: rsa-whitespace(more);
    &__name {
      font-size: 1.25rem;
      text-transform: capitalize;
    }
    &__icon {
      color: $user-icon-color;
      margin-top: -0.43rem;
      margin-right: rsa-whitespace(more)
    }
    &__administrator {
      font-size:0.8rem;
      color: $user-icon-color;
    }
    .label {
      @include rsa-font();
      vertical-align: bottom;
      box-sizing: border-box;
      color: $host-detail-label-color;
      margin-bottom: rsa-whitespace(less);
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: left;
    }
  }
  &__ip-details {
    padding: rsa-whitespace(less);
    &__icon {
      margin-top: -0.19rem;
      margin-right: rsa-whitespace()
    }
  }
  &__config {
      li {
        text-transform: uppercase;
        list-style-type: none;
        line-height: rsa-whitespace(more);
      }

  }
}
.host-detail-box {
  max-height: calc(100vh - 15.3rem);
}
