.downloaded-files-body {
  min-height: 100%;
  .fileType {
    text-transform: uppercase;
  }
  .downloaded-file-name a {
    color: text-color(secondary, light);
  }
}

.host-downloads{
  .downloads-action-bar {
    padding: rsa-whitespace();
    > div {
      display: inline-block;
    }
    .title, .rsa-form-button-wrapper {
      margin-right: rsa-whitespace();
    }
  }

  .show-left-zone .title-header {
    display: none;
  }

  .rsa-data-table {
    height: calc(100% - 86px);
  }

  .left-zone {
    .rsa-header {
      padding-bottom: 1rem;
      padding-right: 3px;
      padding-left: 0;
      padding-top: 0.7rem;
    }
  }
}
