$table-header-color: rgba(28, 30, 30, 1);
$tree-row-color: rgba(37, 41, 43, 1);
$note-color: #bdbdbd;

.system-information {
  .system-information__content {
    padding: rsa-whitespace() rsa-whitespace() rsa-whitespace(least);
  }
  .rsa-data-table-header {
    background-color: $table-header-color;
  }
  .rsa-data-table {
    max-height: 100vh;
    min-height: 130px;
    background-color: $host-details-table-row-color;
  }
  .user-filter {
    padding-bottom: rsa-whitespace();
    .ember-power-select-trigger {
      width: 10rem;
    }
    .command-note {
      padding-top: rsa-whitespace(less);
      color: text-color(primary, lightest);
    }
    .ember-power-select-dropdown {
      width: 10rem;
    }
  }
}
