$explore-border-color: #4A4A4A;

.host-explore {
  min-width: 250px;
  flex: 5;
  border: 1px solid $explore-border-color;
  background: black;
  height: 2.5rem;

  &__loader {
    text-align: right;
    /* width: 0; */
    float: right;
    height: 0;
    padding-right: rsa-whitespace();
    padding-top: rsa-whitespace(less);
  }
  &__content {
    height: 593px;
    width: 100%;
    border: 1px solid $explore-border-color;
    background-color: rsa-color(black);
    position: absolute;
    margin-top: rsa-whitespace(most);
    z-index: 300;
    overflow: auto;
    .rsa-content-accordion .content {
      padding: 0.3rem;
    }
    &__snapshot {
        padding: 0;
        h3 {
        color: rsa-color(blue);
        font-weight: bold;
      }
    }

    &__heaer
    &__header {
      word-break: break-all;
      padding: rsa-whitespace(less);
      font-size:0.8rem;
      &__filename {
        color: rsa-color(blue);
        padding-right: rsa-whitespace();
        font-weight: bold;
        cursor: pointer;
      }
      &__result {
        color: rsa-color(gray, light);
        font-family: rsa-font('Open Sans');
        padding-right: rsa-whitespace();
        &__ranas{
          color: rsa-color(gray, light);
          padding-right: rsa-whitespace(less);
          margin-left: calc(rsa-whitespace() * -1);
          &__list{
            color: rsa-color(blue);
          }
        }
      }
    }
  }
  &__no-results {
    color: rsa-color(white);
    font-weight: bold;
  }

  .rsa-form-input {
    width: 93%;
    input {
      border: none;
      background: rsa-color(black);
      line-height: normal;
    }
    .rsa-form-label {
      display: none;
    }
  }
  .rsa-form-button {
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    padding-top: rsa-whitespace(less);
    padding-left: rsa-whitespace(less);
  }

  .content hbox {
    margin-left: rsa-whitespace();
    line-height: rsa-whitespace();
  }
  .search-label {
    &__close {
      cursor: pointer;
    }
    &__label {
      margin: rsa-whitespace(least);
      cursor: pointer;
    }
  }
}
.titlebar__buttons-holder {
  padding-left: rsa-whitespace();
}
.label-content {
  width: 93%;
}
