.host-content {
  padding: 0 rsa-whitespace();
  &__title {
    margin-top: rsa-whitespace(more);
    h3 {
      color: text-color(secondary);
      font-weight: bold;
    }
  }
  &__user-details {
    padding: rsa-whitespace() 0 0 rsa-whitespace(more);
    height: 54px;
    &__name {
      font-size: 1.25rem;
      text-transform: capitalize;
    }
    &__icon {
      .rsa-icon.is-larger {
        font-size: 2.5rem;
      }
      color: $user-icon-color;
    }
    &__administrator {
      font-size:0.8rem;
      color: $user-icon-color;
      line-height: 16px;
    }
    .label {
      @include rsa-font();
      vertical-align: bottom;
      box-sizing: border-box;
      color: $host-detail-label-color;
      margin-bottom: rsa-whitespace(less);
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: left;
    }
  }
  &__ip-details {
    padding: rsa-whitespace() 0 0 rsa-whitespace(more);
    &__icon {
      margin-top: -0.19rem;
      margin-right: rsa-whitespace()
    }
  }
}
.host-detail-box {
  max-height: calc(100vh - 15.3rem);
}
