.process-list-header {
  height: 70px;
  line-height: $process-list-header-height;
  font-weight: 100;
  color: text-color(primary, lightest);
  background-color: $table-panel-header-color;
  .title {
    padding-left: rsa-whitespace();
  }
  .toggle-icon {
    padding-top: 12px;
    float: right;
    .tree-icon {
      font-size: 16px;
      cursor: pointer;
      color: text-color(primary);
      margin: 0 rsa-whitespace();
      padding: rsa-whitespace(less) rsa-whitespace(less);
      &.active {
        @include border-bottom(3px, solid, secondary);
        color: text-color(primary, lightest);
      }
      &:hover {
        color: text-color(primary);
      }
    }
  }
  .process-list-actions {
    display: inline-block;
    padding-left: rsa-whitespace();
  }
  .file-actionbar {
    display: inline-flex;
  }
}

.rsa-data-table-header {
  background-color: background-color(primary, darker);
}


.host-process-wrapper {
  .process-list-box {
    position: relative;
    .rsa-data-table {
      height: 100%;
      min-height: 100%;
    }
    width: 100%;
    height: 100%;
    min-height: 100%;
    .process-name {
      color: text-color(secondary, light);
      text-decoration: underline;
      cursor: pointer;
      label {
        cursor: inherit;
      }
    }
  }

  .show-right-zone {
    .process-list-box {
      width: calc(100vw - 400px);
    }
  }

  .process-property-box {
    height: 100%;
  }
  .center-zone {
    min-height: 100%;
  }

  .right-zone {
    min-height: 100%;
  }
}
.header-section__title {
  margin-left: rsa-whitespace();
}

.process-content-box {
  @include border(1px, solid, primary, dark);
  position: relative;
  border-top: 0;
  border-right: 0;
  overflow-y: auto;
  .process-content-box-wrapper{
    padding: rsa-whitespace() rsa-whitespace(more);
    padding-top: 0;
    position: absolute;
    max-width: 100%;
    .value hbox{
      max-width: 80%
    }
  }

  &.panel-shadow {
    width: 51px;
    box-shadow: -2px 6px 5px 4px $shadow-color;
  }
  .overview-item {
    padding-left: 5rem;
  }
  .table-data {
    padding: rsa-whitespace(more);
  }
  .process-info {
    padding: 0 rsa-whitespace(more);
  }
  .process-dll-note {
    padding: 0 0 rsa-whitespace() 0;
  }
  .rsa-content-definition {
    span {
      display: block;
    }
  }
  &__accordion-content {
    margin-bottom: rsa-whitespace(more);
    display: block;
    flex: initial;
    .rsa-data-table {
      background-color: $host-details-table-row-color;
      min-height: 130px;
      height: auto;
      .rsa-data-table-body-row {
        cursor: default !important;
        width: fit-content;
        left: 0;
        padding-left: 0.5rem;
        min-width: 100%;
        &:hover {
          left: 0;
          padding-left: 1rem;
        }
      }
    }
    .accordion-content-title {
      h3 {
        color: text-color(secondary);
        font-weight: bold;
        padding-left: 0px;
      }
    }
  }
}

.header-data {
  background-color: background-color(primary, darkest, transparent);
  padding: rsa-whitespace(less) 0;
  margin-bottom: rsa-whitespace();
  .tool-tip-value {
    padding: rsa-whitespace();
    width: 200px;
    word-wrap: break-word
  }
  .header-item {
    padding: rsa-whitespace() rsa-whitespace() rsa-whitespace() 0;
    .name {
      @include rsa-font(header, small);
      color: text-color(primary, light);
      padding-bottom: rsa-whitespace(least);
    }
  }
}

.rsa-process-tree {
  .tree-expand-icon {
    cursor: pointer;
    font-size: 10px;
    padding-right: rsa-whitespace(less);
    i {
      transform: rotate(630deg);
    }
    &.is-expanded {
      i {
        transform: rotate(360deg);
      }
    }
  }
  .rsa-data-table {
    width: 100%;
  }
}
