.host-detail-wrapper {
  .rsa-data-table {
    height: $tableHeight;
    .rsa-form-checkbox-label .rsa-form-checkbox {
      position: inherit;
    }
    .rsa-data-table-body-row.is-selected {
      .content-context-menu {
        background-color: background-color(secondary, dark);
      }
    }
  }
  .rsa-data-table-header {
    padding-right: 18px;
  }
  .rsa-data-table-body-cell.score {
    padding: 3px 7px 0 7px;
  }
  .rsa-data-table-body-row.is-row-checked {
    background-color: background-color(primary, darker);
  }

  .content-context-menu {
    display: inherit;
  }
}
