.securityConfigWrapper {
  column-count: 3;
  .security-configuration__column {
    display: inline-block;
    width: 100%;
    .securityConfigIcon {
      width: 5%;
      margin-right: rsa-whitespace(least);
      display: inline-block;
    }
    .securityConfigDisc {
      width: 80%;
      margin-right: rsa-whitespace(least);
      display: inline-block;
    }
  }
}
.host-overview {
  height: 100%;
  .rsa-icon.is-small{
    padding-right: rsa-whitespace(least);
  }
  .host-properties-box {
    @include border-left(1px, solid, primary, dark);
    .rsa-nav-tab  .label{
      color: text-color(primary, lighter);
      @include rsa-font(header, small);
      text-transform: capitalize;
      font-size: 0.85rem;
    }
    .rsa-nav-tab.is-active .label {
      color: text-color(secondary, light);
    }
    .rsa-nav-tab.is-left-aligned-primary {
      cursor: pointer;
      margin: 0 rsa-whitespace() 0;
      padding: rsa-whitespace(less) 0;
      border-bottom-width: 3px;
    }
  }
}
.user-info-content {
  padding-left: rsa-whitespace();
}
.ip-divider {
  padding: 0 rsa-whitespace(less) 0 rsa-whitespace(less);
}
