.host-autoruns {
  .rsa-nav-tab {
    cursor: pointer;
    &.is-active {
      cursor: default;
    }
  }
  .rsa-data-table-header {
    background-color: background-color(primary, darker);
  }
  .rsa-data-table {
    background-color: $host-details-table-row-color;
  }
}
