@import "variables";
@import 'host-content';
@import 'host-detail-datatable';
@import 'host-autoruns';
@import 'host-files';
@import 'security-configuration';
@import "host-process";
@import "host-system-information";
@import 'host-explore';
@import 'host-overview';
@import 'simple-detail-display';
@import 'host-status';
@import 'file-found-categories';
@import 'actionbar';
@import 'header';

.host-container-detail {
  width: 100%;
}
.host-detail-wrapper {
  background-color: $host-detail-background;
}
.host-overview {
  .host-item {
    background-color: transparent;
    padding: 0;
    overflow: auto;
  }
  .host-action {
    padding: rsa-whitespace(least);
    text-transform: uppercase;
    height: 4rem;
    &.rsa-content-definition {
      .label {
        @include rsa-font(header, small);
        vertical-align: bottom;
        box-sizing: border-box;
        color: $host-detail-label-color;
        margin-bottom: rsa-whitespace(less);
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: left;
      }
      .value {
        color: text-color(neutral);
        font-weight: bold;
      }
    }
  }

}
