@import "variables";
@import 'host-content';
@import 'host-detail-datatable';
@import 'host-autoruns';
@import 'host-files';
@import 'security-configuration';
@import "host-process";
@import "host-system-information";
@import 'host-explore';
@import 'host-overview';
@import 'simple-detail-display';
@import 'host-status';
@import 'file-found-categories';
@import 'actionbar';
@import 'anomalies';
@import 'header';
@import 'file-analysis-wrapper';
@import 'process-host-details';
@import 'process-details-action-bar';

.host-container-detail {
  width: 100%;
  .save-files-iframe {
    height: 0;
    display: none;
  }
}
.host-detail-wrapper {
  background-color: $host-detail-background;

  .rsa-data-table-header-cell:first-child {
    padding-left: 0.5rem;
  }
  .rsa-data-table-body-row{
    left: 0;
    width: fit-content;
    min-width: 98%;
    > span {
      min-width: 98%;
      width: fit-content;
    }
  }
  .rsa-content-definition {
    .label {
      @include rsa-font(header, small);
      vertical-align: bottom;
      box-sizing: border-box;
      color: $host-detail-label-color;
      margin-bottom: rsa-whitespace(less);
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: left;
    }
  }
  .process-details-panel {
    @include rsa-vendor-prefix(transition-property, left);
    @include rsa-vendor-prefix(transition-duration, 0.4s);
    position: absolute;
    z-index: 100;
    background-color: $host-detail-background;
    width: 100%;
    height: 82vh;
    left:100%;
    .close-zone {
      padding-top: 1.5rem;
    }
  }
  .process-details-panel.is-show-process-details {
    left: 0;
  }

}
.host-overview {
  &.host-item {
    padding-left: rsa-whitespace();
  }
  .host-action {
    padding-top: 1rem;
    padding-right: rsa-whitespace(more);
    text-transform: uppercase;
    height: 3rem;
    &.rsa-content-definition {
      .label {
        @include rsa-font(header, small);
        vertical-align: bottom;
        box-sizing: border-box;
        color: $host-detail-label-color;
        margin-bottom: rsa-whitespace(less);
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: left;
      }
      .value {
        color: text-color(primary, lightest);
        font-weight: bold;
      }
    }
  }
  .agent-version {
    padding-right: 0.75rem;
  }
}
.machine-zone, .host-container-detail {
  .rsa-data-table-header-cell:last-child {
    border-right: 1px solid border-color(primary, dark);
  }
}

.file-context-wrapper {
  .center-zone {
    height: 100%;
  }
  .host-properties-box {
    height: 100%;
  }
  .divider {
    height: 0;
  }
  .file-actionbar {
    height: 70px;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 0;
    padding-top: 1.5rem;
    .pivot-to-event-analysis {
      .button-menu.expanded {
        display: block;
        min-width: 176px;
      }
    }
  }
}

