.directory-wrapper {
  overflow: auto;
  height: 100vh;
  padding: rsa-whitespace();
  .mft-directory-wrapper_loader {
    margin: 0 rsa-whitespace() rsa-whitespace(less) rsa-whitespace();
    display: inline-block;
  }
  .mft-directory {
    .mft-folder {
      cursor: pointer;
      padding: rsa-whitespace(less);
      @include rsa-font(default, small);
      &:hover {
        background-color: background-color(primary, darker);
      }
      .mft-folder-icon {
        margin-right: 0.5rem;
        float: left;
      }
      &.no-sub-folders {
        margin-left: 1rem;
      }
      .main-drive {
        @include rsa-font(navigation);
      }
      .file {
        display: inline-block;
        max-width: 92%;
      }
    }
    .mft-directory_arrow {
      margin-right: 0.2rem;
    }
  }

  .subdirectory-access {
    display: inline-block;
    float: left;
    margin-top: 8px;
    cursor: pointer;
    font-size: 10px;
  }

  .subdirectory {
    display: inline-block;
    width: 93%;
    &.hideSubdirectory {
      > .mft-folder, > .mft-directory, > .subdirectory, > span {
        display: none;
      }
      > .parent {
        display: block;
      }
    }

    .mft-directory_loader {
      display: inline-block;
      .rsa-loader {
        max-width: 6px;
      }
    }
  }
  .selected-directory {
    > .mft-folder:first-child, > .subdirectory > .mft-folder:first-child {
      background-color: background-color(secondary, dark);
    }
  }
  .deleted-files, .all-files {
    padding: rsa-whitespace() rsa-whitespace(less);
    @include rsa-font(navigation);
    border-top: 1px solid text-color(primary, dark);
    cursor: pointer;
    &:hover {
      background-color: background-color(primary, darker);
    }
    &.selected {
      background-color: background-color(secondary, dark);
    }
  }
  .deleted-files {
    margin-top: rsa-whitespace(less);
  }
  .all-files {
    border-bottom: 1px solid text-color(primary, dark);
  }
}