.security-configuration {
  margin-top: -0.2rem;
  .rsa-form-radio-group {
    margin-bottom: rsa-whitespace();
    .rsa-form-radio-group-label {
      display: inline-block;
      margin-right: rsa-whitespace(more);
    }
    .rsa-form-radio-label {
      &.checked {
        font-weight: bold;
        color: text-color(neutral);
      }
    }
  }

  &__column {
    padding-bottom: 0.8rem;
  }
}
