$host-detail-background: background-color(custom, respond);
$table-panel-header-color: text-color(primary, darkest);
$process-list-header-height:46px;
$process-list-box-color: background-color(neutral, dark);
$host-details-table-row-color: background-color(primary, darker, somewhat-opaque);
$host-details-table-header-color: background-color(neutral, dark);
$host-detail-label-color: text-color(primary, light);
$user-icon-color: text-color(primary, light);
$tableHeight: calc(100% - 30px);
$shadow-color: rgba(0, 0, 0, 0.5);
$host-overview-search-contant-width: 500px;
