$host-detail-background: #25292B;
$host-detail-border-color:rsa-color(gray, dark);
$table-panel-header-color: rsa-color(gray, darkest);
$process-list-header-height:46px;
$process-content-color: #2E3438;
$process-list-box-color: rgba(0,0,0,.2);
$host-details-table-row-color: #25292B;
$host-details-table-header-color: #1C1E1E;
$endpoint-property-panel-box-color: #1b1d1e;
$host-detail-label-color: #bdbdbd;
$user-icon-color: #757575;
$tableHeight: calc(100% - 30px);
$shadow-color: rgba(0, 0, 0, 0.5);
$button-active-color: #03a9f4;
$host-overview-search-contant-width: 500px;
$host-ovetview-searchcontrol-border-color: #4A4A4A;
