@import 'host-status';
@import 'file-found-categories';
@import 'actionbar';

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.host-header {
  background-color: background-color(primary, darker, nearly-opaque);
  @include border-bottom(1px, solid, primary, lightest, nearly-transparent);

  .divider {
    border-left: 1px solid border-color(primary, dark);
    margin: rsa-whitespace(least) rsa-whitespace();
  }
  .host-header_status-actionbar-wrapper {
    margin-bottom: rsa-whitespace();
  }
}

.titlebar {
  padding: 0 rsa-whitespace() 0 rsa-whitespace(less);
  .rsa-nav-tab.is-left-aligned-primary {
    margin: 0 rsa-whitespace() 0;
    padding: rsa-whitespace(less) 0;
    border-bottom-width: 3px;
  }
  .host-title {
    @include rsa-font(header, larger);
    color: text-color(primary, lightest);
    text-transform: capitalize;
    border-bottom-width: 3px;
    line-height: 2.25rem;
    .divider {
      height: 1.75rem;
    }
  }
  .host-title-icon {
    padding: 0 rsa-whitespace(less) 0 0;
    margin-top: rsa-whitespace(least);
  }

  .header-toggle,
  .header-button {
    color: text-color(neutral);
    cursor: pointer;
    margin: 0 rsa-whitespace(least);
    padding: 0.75rem rsa-whitespace(least);
    &:hover {
      color: text-color(primary, lightest);
    }
    &.active:not(.disabled) {
      color: text-color(primary, lightest);
    }
    &.disabled {
      color: text-color(primary, dark);
      cursor: default;
    }
  }
  .header-toggle {
    &.active:not(.disabled) {
      @include border-bottom(3px, solid, secondary);
    }
  }
  .rsa-form-button-wrapper {
    &.is-active button {
      border-bottom: 3px solid border-color(secondary);
    }
  }
  .rsa-nav-tab.is-active {
    align-self: initial;
  }
}

.actionbar {
  padding-top: rsa-whitespace();
  .open-properties {
    left: rsa-whitespace(less);
    bottom: 0.15rem;
  }
  .snapshot-select {
    width: 100px;
    font-size: inherit;
    font-weight: inherit;
  }

  .snap-shot-text {
    margin-bottom: 0;
  }

  .divider {
    border-left: 1px solid border-color(primary, dark);
    margin-right: rsa-whitespace(more);
  }

  .host-action-buttons {
    .action-button {
      padding-left: rsa-whitespace(less);
    }
    .rsa-form-button {
      height: 32px;
      width: 130px;
    }
    .rsa-loader {
      float: left;
    }
  }
  .ember-basic-dropdown-trigger {
    min-width: 160px;
  }
  .host-start-scan-button {
    padding-left: rsa-whitespace(less);
  }
}

.titlebar {
  @media (max-width: 1500px) {
    .heading-select {
      display: block;
    }
    .heading-tabs {
      display: inherit;
    }
  }
}

.host-overview {
  .host-title {
    max-width: 300px;
    .host-name {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 195px;
      white-space: nowrap;
      line-height: 2.2rem;
    }
    .host-title_action-wrapper {
      > span {
        float: left;
      }
      .host_more_actions {
        display: inline-block;
        line-height: 0.5rem;
        font-size: 2rem;
        margin-left: 5px;
        padding-bottom: 3px;
        .more-action-button {
          button {
            padding: 0 0.2rem 3px 0.2rem;
          }
        }
      }
      .pivot-to-investigate:hover, .host_more_actions:hover {
        border-bottom: 2px solid border-color(secondary);
      }
      button {
        padding-top: 0px;
        border-top: 0px;
      }
    }
  }
}

.host-details_dropdown-action-list {
  li {
    .rsa-form-button-wrapper button {
      border: none;
    }
    cursor: pointer;
    &:first-child {
      padding-top: rsa-whitespace(less);
    }
    &:last-child {
      padding-bottom: rsa-whitespace();
    }
    &:hover {
      background-color: background-color(secondary, darker);
    }
  }
  .divider {
    margin: 0.75rem 0 0 0;
  }
  .downloadMFT-button { 
    padding: rsa-whitespace(less) rsa-whitespace();
  }
  .host-start-scan-button .scan-modal {
    height: 0px;
  }
}

.host-container-detail {
  .titlebar .label {
    @include rsa-font(navigation);
    color: text-color(neutral);
  }
}