@import 'host-status';
@import 'file-found-categories';
@import 'actionbar';

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.center {
  align-items: center;
}

.host-header {
  background-color: background-color(primary, darkest, nearly-opaque);

  .divider {
    @include border-left(1px, solid, neutral);
    height: 1.5rem;
    margin: rsa-whitespace(least);
  }
}

.titlebar {
  padding: rsa-whitespace(less) rsa-whitespace() rsa-whitespace(more);
  .heading {
    .rsa-nav-tab.is-left-aligned-primary {
      margin: 0 rsa-whitespace(less) 0;
      padding: rsa-whitespace(less) 0;
      border-bottom-width: 3px;
    }
    .host-title {
      @include rsa-font(header, larger);
      color: text-color(primary, lightest);
      text-transform: capitalize;
      border-bottom-width: 3px;
      &.seperator {
        padding: 0;
        margin: rsa-whitespace(less) rsa-whitespace(least) rsa-whitespace(less) rsa-whitespace();
        border-right-width: .1rem;
      }
    }
    .host-title-icon {
      padding: 0 rsa-whitespace(less) 0 0;
      margin-top: rsa-whitespace(least);
    }
  }

  .header-toggle,
  .header-button {
    color: text-color(primary);
    cursor: pointer;
    margin: 0 rsa-whitespace(least);
    padding: rsa-whitespace(less) rsa-whitespace(least);
    &:hover {
      color: text-color(primary, lightest);
    }
    &.active:not(.disabled) {
      color: text-color(primary, lightest);
    }
    &.disabled {
      color: text-color(primary, dark);
      cursor: default;
    }
  }
  .header-toggle {
    &.active:not(.disabled) {
      @include border-bottom(3px, solid, secondary);
    }
  }
}

.actionbar {
  @include border-bottom(1px, solid, primary, light);
  padding: rsa-whitespace(less) rsa-whitespace() rsa-whitespace();

  .snapshot-select {
    width: 100px;
  }

  .snap-shot-text {
    margin-bottom: 0;
  }

  .divider {
    @include border-left(1px, solid, primary);
    height: 1.75rem;
    margin-left: rsa-whitespace(more);
  }

  .host-action-buttons {
    .action-button {
      padding-left: rsa-whitespace(more);
      &.ecatUI button{
        width:200px;
      }
    }
    .rsa-form-button {
      height: 32px;
      width: 151px;
    }
    .rsa-loader {
      float: left;
    }
  }
}

.titlebar {
  @media (min-width: 1731px) {
    .heading-select {
      display: block;
    }
    .heading-tabs {
      display: inherit;
    }
  }

  @media (max-width: 1730px) {
    .heading-tabs {
      display: inherit;
    }
  }
}


