/.classpath
/.metadata
/.project
.project
/.settings
/RemoteSystemsTempFiles
/Servers
/.recommenders
target
testFile.log
*.iml
.idea
fortscale/fortscale-streaming/log/
fortscale/fortscale-collection/ipConflicts.log
*.pyc

presidio/builder/
tests/__pycache__/
tests/builders/__pycache__/
tests/builders/collector/__pycache__/
tests/builders/input/__pycache__/
tests/builders/output/__pycache__/
tests/factories/__pycache__/
tests/operators/__pycache__/
tests/presidio/
tests/utils/airflow/operators/__pycache__/
tests/utils/airflow/operators/sensor/__pycache__/
tests/utils/airflow/variable/__pycache__/
tests/utils/configuration/__pycache__/
tests/utils/services/__pycache__/
