{{!The sample content below is just a temporary placeholder.}}
{{!In an upcoming PR, we will replace this content with actual content for entering a query.}}
<button class="js-test-investigate-query-bar__submit" {{action "submit"}}>Run Query</button>
