<h1>Colors</h1>
<p>Description would go here.</p>

<div class="grid-block small-up-2">
    <div class="grid-content">
        <div class="card color-card">
            <div class="color primary-blue"></div>
            <div class="card-section">
                <h6>Primary Blue</h6>
                <h6 class="subheader">#1BA7DB</h6>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <div class="card color-card">
            <div class="color secondary-gray"></div>
            <div class="card-section">
                <h6>Secondary Gray</h6>
                <h6 class="subheader">#464646</h6>
            </div>
        </div>
    </div>
</div>
<div class="grid-block small-up-3">
    <div class="grid-content">
        <div class="card color-card">
            <div class="color accent-blue"></div>
            <div class="card-section">
                <h6>Accent Blue</h6>
                <h6 class="subheader">#197CB3</h6>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <div class="card color-card">
            <div class="color medium-base-blue"></div>
            <div class="card-section">
                <h6>Medium Base Blue</h6>
                <h6 class="subheader">#085590</h6>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <div class="card color-card">
            <div class="color dark-base-blue"></div>
            <div class="card-section">
                <h6>Dark Base Blue</h6>
                <h6 class="subheader">#053356</h6>
            </div>
        </div>
    </div>

    <div class="grid-content">
        <div class="card color-card">
            <div class="color accent-gray-1"></div>
            <div class="card-section">
                <h6>Accent Gray 1</h6>
                <h6 class="subheader">#E6E6E6</h6>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <div class="card color-card">
            <div class="color accent-gray-2"></div>
            <div class="card-section">
                <h6>Accent Gray 2</h6>
                <h6 class="subheader">#757575</h6>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <div class="card color-card">
            <div class="color accent-gray-3"></div>
            <div class="card-section">
                <h6>Accent Gray 3</h6>
                <h6 class="subheader">#363636</h6>
            </div>
        </div>
    </div>

    <div class="grid-content">
        <div class="card color-card">
            <div class="color accent-red"></div>
            <div class="card-section">
                <h6>Accent Red</h6>
                <h6 class="subheader">#EC2227</h6>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <div class="card color-card">
            <div class="color accent-orange"></div>
            <div class="card-section">
                <h6>Accent Orange</h6>
                <h6 class="subheader">#E77E24</h6>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <div class="card color-card">
            <div class="color accent-green"></div>
            <div class="card-section">
                <h6>Accent Green</h6>
                <h6 class="subheader">#70B243</h6>
            </div>
        </div>
    </div>

</div>
