.rsa-investigate-query-bar {
  @include rsa-row(left, bottom);

  &__service,
  &__time-range {
    @include rsa-vendor-prefix(flex-grow, 0);
    margin-right: rsa-whitespace();
    /*
    @workaround The arrow icon in these dropdowns will not align properly if we
    omit the label (.rsa-form-label). But we don't actually want to show any labels.
    So we include the label in the DOM, for alignment, but make it invisible.
    In the future, we'll be replacing these components with ember-power-select.
    */
    .rsa-form-label {
      visibility: hidden;
    }
  }
  &__submit {
    @include rsa-vendor-prefix(flex-grow, 0);
    margin-left: rsa-whitespace();
  }
  .rsa-investigate-query-input {
    @include rsa-vendor-prefix(flex-grow, 1);
    margin-left: rsa-whitespace(least);
    &__icon {
      margin-left: rsa-whitespace();
    }
  }
}
