$powerSelectDisabledColor: border-color(primary);

.rsa-investigate-query-bar {
  @include rsa-row(left, bottom);

  &__service {
    @include rsa-vendor-prefix(flex-grow, 0);
    margin-right: rsa-whitespace();
  }
  &__time-range {
    @include rsa-vendor-prefix(flex-grow, 0);
    margin-right: rsa-whitespace();
    .ember-power-select-trigger[aria-disabled] {
      /* To show the disabled state of the Time Range */
      background-color: background-color(primary, base, transparent);
      border-bottom: 1px solid $powerSelectDisabledColor;
      cursor: default;
      .ember-power-select-placeholder,
      .ember-power-select-status-icon {
        color: $powerSelectDisabledColor;
      }
    }
  }
  &__submit {
    @include rsa-vendor-prefix(flex-grow, 0);
    margin-left: rsa-whitespace();
  }
  .rsa-investigate-query-input {
    @include rsa-vendor-prefix(flex-grow, 1);
    margin-left: rsa-whitespace(least);
    &__icon {
      margin-left: rsa-whitespace();
    }
  }
}
