.rsa-investigate-query-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex-wrap: nowrap;

  &__service-selector,
  &__time-selector {
    margin-right: rsa-whitespace(less);
  }
  .query-bar-selection {
    margin-right: rsa-whitespace(less);
    flex-grow: 1;
  }

  .execute-query-button {
    .rsa-form-button {
      padding-top: calc(#{rsa-whitespace(less)} + #{rsa-whitespace(least)});
      padding-bottom: calc(#{rsa-whitespace(less)} + #{rsa-whitespace(least)});
      padding-left: rsa-whitespace();
      white-space: nowrap;
      @include border(1px, solid, primary);
      color: text-color(primary, lighter) !important;
      &:hover,
      &:active {
        cursor: default !important;
        background-color: inherit !important;
        button {
          cursor: default !important;
          background-color: inherit !important;
        }
      }
    }
  }

  .rsa-form-button {
    height: 40px;
    white-space: nowrap;
  }

  .delete {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1px;
    padding: rsa-whitespace(less) rsa-whitespace();
    z-index: 2;
    background-color: background-color(neutral, dark, transparent);
    color: $formButtonTypeColor;

    &:hover {
      color: text-color(secondary);
    }
  }

  .disclaimer {
    color:text-color(accentThree);
  }

  .rsa-loader {
    height: 0.9rem;
    margin-right: rsa-whitespace(less);
    margin-left: -(rsa-whitespace(least));
  }

  .rsa-investigate-time-range {
    display: inline;
  }

  &.guided {
    a.guided-link {
        color: text-color(primary, light);
        pointer-events: none;
    }
    .rsa-investigate-free-form-query-bar, .query-pills {
      display: none;
    }
    
  }

  &.freeForm {
    a.freeForm-link {
      color: text-color(primary, light);
      pointer-events: none;
    }
    .rsa-query-meta, .query-pills {
      display: none;
    }
  }

  &.nextGen {
    a.nextGen-link {
      color: text-color(primary, light);
      pointer-events: none;
    }
    .rsa-query-meta, .rsa-investigate-free-form-query-bar {
      display: none;
    }
  }

  .query-bar-selection {
    a {
      text-decoration: none;
      color: text-color(secondary);
      margin: rsa-whitespace(least) rsa-whitespace(less);
    }
    .query-bar-options {
      @include border(1px, solid, primary, lighter);
      height: 40px;
      box-sizing: border-box;
    }

    .query-bar-select-actions {
      display: flex;
      flex: 1 0 auto;
      flex-direction: row;
      min-height: 1px;
      padding: rsa-whitespace(less);
      @include rsa-font(body, small);
      
      .divider {
        @include border-left(1px, solid, primary);
        height: 1rem;
        margin: rsa-whitespace(least) rsa-whitespace(less) 0 rsa-whitespace(less);
      }
    }
  }

  .rsa-investigate-free-form-query-bar {
    min-width: 100%;
    .rsa-form-label {
      display: none;
    }
    input {
      border-bottom: none;
      @include rsa-font(body, small);
      margin-top: 2.5px;
      margin-bottom: 2px;
      @include rsa-input-placeholder(text-color(primary));
      padding: rsa-whitespace(less) 8.5px rsa-whitespace(less) 8.5px;
    }
  }

  /* styles for pills */
  .query-pills {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-height: 12rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .query-pill {
    @include border(1px, solid, primary, lighter);
    border-radius: rsa-whitespace(least);
    display: flex;
    flex: 0 0 auto;
    margin: calc(#{rsa-whitespace(least)} + 0.5px) rsa-whitespace(least) 0;
    padding: 0 rsa-whitespace(least);
    min-height: rsa-whitespace(more);
    line-height: rsa-whitespace(more);
    transition: border-color 0.5s;
    &.is-active {
      border-color: transparent;
      flex: 1 0 auto;
    }
    > div.is-active:not(.has-selection) {
      flex-grow: 1;
      input {
        width: 100%;
      }
    }
  }
  .pill-meta,
  .pill-operator,
  .pill-value {
    height: rsa-whitespace(more);
  }
  .ember-power-select-typeahead-input,
  .ember-power-select-trigger {
    border: none;
    padding: 0;
    input {
      padding: 0;
    }
  }
}