.rsa-investigate-query-input {
  @include rsa-row(left, middle);
  border-bottom: 1px solid border-color(primary, light);
  &:hover {
    border-bottom-color: border-color(primary, lighter);
    .rsa-investigate-query-input__icon {
      color: text-color(primary, lighter);
    }
  }
  &.has-value {
    border-bottom-color: border-color(secondary);
  }

  &__input {
    @include rsa-vendor-prefix(flex-grow, 1);
    input {
      // This is temporary until we come up with a
      // "query input" component that has the icon
      // and cancel button.
      border: none;
    }
  }

  &__icon,
  &__clear {
    color: text-color(primary, light);
  }
  &__clear {
    &:hover {
      color: text-color(primary, lighter);
    }
  }
}
