$powerSelectDisabledColor: border-color(primary);

.rsa-investigate-query-bar {
  @include rsa-row(left, bottom);

  /* For the service icons and the spinner. CSS to prevent any jumpiness when icons change */
  .rsa-form-button {
    border-style: none;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }
  .rsa-loader__wheel {
    margin: 0 0.1rem;
  }
  .rsa-loader__text {
    margin: 0.2rem 1.2rem 0 0;
    padding: 0 0.5rem;
  }
  .disclaimer {
    color:text-color(accentThree);
  }
  &__service {
    @include rsa-vendor-prefix(flex-grow, 0);
    margin-right: rsa-whitespace();
  }
  &__time-range {
    @include rsa-vendor-prefix(flex-grow, 0);
    margin-right: rsa-whitespace();
    .ember-power-select-trigger[aria-disabled] {
      /* To show the disabled state of the Time Range */
      background-color: background-color(primary, base, transparent);
      border-bottom: 1px solid $powerSelectDisabledColor;
      cursor: default;
      .ember-power-select-placeholder,
      .ember-power-select-selected-item,
      .ember-power-select-status-icon {
        color: $powerSelectDisabledColor;
      }
    }
  }
  &__submit {
    @include rsa-vendor-prefix(flex-grow, 0);
    margin-left: rsa-whitespace();
    > .rsa-form-button {
      padding: rsa-whitespace(less) rsa-whitespace();
    }
  }
  .rsa-investigate-query-input {
    @include rsa-vendor-prefix(flex-grow, 1);
    margin-left: rsa-whitespace(least);
    &__icon {
      margin-left: rsa-whitespace();
    }
  }
}
