.rsa-investigate-breadcrumb {
  padding: rsa-whitespace(less) 0;

  &__crumbs {
    @include rsa-row(left, middle);
    flex-wrap: wrap;
  }

  .disabled-meta-breadcrumb-title {
    color: rsa-color(gray, light);
    @include rsa-font(header, large);
    margin-right: rsa-whitespace();
  }

  &__crumb,
  &__more {
    list-style: none;
    position: relative; // enables positioning & z-indexing of children

    .delete {
      position: absolute;
      top: 0;
      left: 0;
      margin: 1px;
      padding: rsa-whitespace(less) rsa-whitespace();
      z-index: 2;
      background-color: rsa-color(black, base, $rsa-transparent);
      color: $formButtonTypeColor;

      &:hover {
        color: rsa-color(blue);
      }
    }

    button {
      padding: rsa-whitespace(less) rsa-whitespace();
      padding-left: rsa-whitespace(less) + rsa-whitespace(more);
      white-space: nowrap;
      margin-right: rsa-whitespace(least);
      border: 1px solid rsa-color(gray)!important;
      color: rsa-color(gray, light)!important;

      .rsa-icon {
        color: rsa-color(gray);
      }
    }

    &:hover,
    &:active {
      cursor: default!important;
      background-color: inherit!important;

      button {
        cursor: default!important;
        background-color: inherit!important;
      }
    }
  }

  .rsa-investigate-time-range {
    display: inline;
  }
}
