.rsa-investigate-query-container {
  flex: 0 0 auto;
  @include rsa-row(left, middle);
  flex-wrap: nowrap;
  align-items: flex-start;

  .execute-query-button {
    margin-left: rsa-whitespace(least);
    .rsa-form-button {
      padding-top: calc(#{rsa-whitespace(less)} + #{rsa-whitespace(least)});
      padding-bottom: calc(#{rsa-whitespace(less)} + #{rsa-whitespace(least)});
      padding-left: rsa-whitespace();
      white-space: nowrap;
      @include border(1px, solid, primary);
      color: text-color(primary, lighter) !important;
      &:hover,
      &:active {
        cursor: default !important;
        background-color: inherit !important;
        button {
          cursor: default !important;
          background-color: inherit !important;
        }
      }
    }
  }

  .rsa-form-button {
    padding-top: calc(#{rsa-whitespace(less)} + #{rsa-whitespace(least)});
    padding-bottom: calc(#{rsa-whitespace(less)} + #{rsa-whitespace(least)});
    padding-left: rsa-whitespace();
    white-space: nowrap;
    margin-right: rsa-whitespace(least);
  }

  .delete {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1px;
    padding: rsa-whitespace(less) rsa-whitespace();
    z-index: 2;
    background-color: background-color(neutral, dark, transparent);
    color: $formButtonTypeColor;

    &:hover {
      color: text-color(secondary);
    }
  }

  .disclaimer {
    color:text-color(accentThree);
  }

  .rsa-loader {
    height: 0.9rem;
    margin-right: rsa-whitespace(less);
    margin-left: -(rsa-whitespace(least));
  }

  .rsa-investigate-time-range {
    display: inline;
  }

  &.guided {
    a.guided-link {
        color: text-color(primary, light);
        pointer-events: none;
    }
  }

  &.freeForm {
    a.freeForm-link {
      color: text-color(primary, light);
      pointer-events: none;
    }
  }

  &.nextGen {
    a.nextGen-link {
      color: text-color(primary, light);
      pointer-events: none;
    }
  }

  .query-bar-selection {
    flex: 1 1 auto;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
    align-content: flex-start;
    a {
      text-decoration: none;
      color: text-color(secondary);
      margin: rsa-whitespace(least) rsa-whitespace(less);
    }
    .query-bar-options {
      @include border(1px, solid, primary, lighter);
    }

    .query-bar-select-actions {
      display: flex;
      flex: 1 0 auto;
      flex-direction: row;
      min-height: 1px;
      padding: rsa-whitespace(less);
      @include rsa-font(body, small);
      
      .divider {
        @include border-left(1px, solid, primary);
        height: 1rem;
        margin: rsa-whitespace(least) rsa-whitespace(less) 0 rsa-whitespace(less);
      }
    }
  }

  .rsa-investigate-free-form-query-bar {
    min-width: 100%;
    .rsa-form-label {
      display: none;
    }
    input {
      border-bottom: none;
      @include rsa-font(body, small);
      margin-top: 2.5px;
      margin-bottom: 2px;
      @include rsa-input-placeholder(text-color(primary));
      padding: rsa-whitespace(less) 8.5px rsa-whitespace(less) 8.5px;
    }
  }

  .rsa-investigate-nextGen-query-bar {
    min-width: 100%;
    .rsa-form-label {
      display: none;
    }
    input {
      border-bottom: none;
      @include rsa-font(body, small);
      margin-top: 2.5px;
      margin-bottom: 2px;
      @include rsa-input-placeholder(text-color(primary));
      padding: rsa-whitespace(less) 8.5px rsa-whitespace(less) 8.5px;
    }
  }
} 
