// Tweaks for sticky header in text view
.recon-event-detail-text {
  .is-sticky {
    padding: 6px rsa-whitespace();
    position: relative;

    &.response {
      text-align: right;
    }
  }

  .header-percent-complete {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    color: rsa-color(gray);
  }
}

