.recon-event-detail-text {
  line-height: 1.75rem;
  .rsa-text-entry {
    .text-container {
      overflow-x: hidden;
      padding: 0.5rem rsa-whitespace(more);
      word-break: break-word;
      @include rsa-font-monospace();
    }
  }
}
