.recon-event-detail-text {
  .scroll-box {
    bottom: rsa-whitespace(more);
    margin-bottom: 2.88rem;
  }
  .rsa-text-entry {
    line-height: 1.75rem;
    .text-container {
      overflow-x: hidden;
      padding: 0.5rem rsa-whitespace(more);
      word-break: break-word;
      @include rsa-font-monospace();
    }
  }
  .no-text {
    position: absolute;
    top: rsa-whitespace(more);
    right: rsa-whitespace(more);
    left: rsa-whitespace(more);
    text-align: center;
  }
  .recon-pager {
    bottom: 2.893rem;
  }
}
