.rsa-text-entry {
  padding: 0 rsa-whitespace();
  min-height: 2rem;
  color: text-color(primary, lightest);

  .text-container {
    line-height: 1.75rem;
    overflow-x: hidden;
    padding: 0 rsa-whitespace() rsa-whitespace(less) rsa-whitespace(more);
    @include rsa-word-wrap();
    @include rsa-font-monospace();
  }

  .load-more-text-entries {
    width: 100%;
    text-align: center;
    padding-bottom: rsa-whitespace();
  }

  .highlighted-meta {
    background-color: background-color(secondary);
    color: text-color(neutral);
  }
}
