$text-colors: (

  primary: (
    darkest:  var(--text-color-primary-darkest),
    darker:   var(--text-color-primary-darker),
    dark:     var(--text-color-primary-dark),
    base:     var(--text-color-primary-base),
    light:    var(--text-color-primary-light),
    lighter:  var(--text-color-primary-lighter),
    lightest: var(--text-color-primary-lightest)
  ),

  secondary: (
    darkest:  var(--text-color-secondary-darkest),
    darker:   var(--text-color-secondary-darker),
    dark:     var(--text-color-secondary-dark),
    base:     var(--text-color-secondary-base),
    light:    var(--text-color-secondary-light),
    lighter:  var(--text-color-secondary-lighter),
    lightest: var(--text-color-secondary-lightest)
  ),

  accentOne: (
    darkest:  var(--text-color-accent-one-darkest),
    darker:   var(--text-color-accent-one-darker),
    dark:     var(--text-color-accent-one-dark),
    base:     var(--text-color-accent-one-base),
    light:    var(--text-color-accent-one-light),
    lighter:  var(--text-color-accent-one-lighter),
    lightest: var(--text-color-accent-one-lightest)
  ),

  accentTwo: (
    darkest:  var(--text-color-accent-two-darkest),
    darker:   var(--text-color-accent-two-darker),
    dark:     var(--text-color-accent-two-dark),
    base:     var(--text-color-accent-two-base),
    light:    var(--text-color-accent-two-light),
    lighter:  var(--text-color-accent-two-lighter),
    lightest: var(--text-color-accent-two-lightest)
  ),

  accentThree: (
    darkest:  var(--text-color-accent-three-darkest),
    darker:   var(--text-color-accent-three-darker),
    dark:     var(--text-color-accent-three-dark),
    base:     var(--text-color-accent-three-base),
    light:    var(--text-color-accent-three-light),
    lighter:  var(--text-color-accent-three-lighter),
    lightest: var(--text-color-accent-three-lightest)
  ),

  accentFour: (
    darkest:  var(--text-color-accent-four-darkest),
    darker:   var(--text-color-accent-four-darker),
    dark:     var(--text-color-accent-four-dark),
    base:     var(--text-color-accent-four-base),
    light:    var(--text-color-accent-four-light),
    lighter:  var(--text-color-accent-four-lighter),
    lightest: var(--text-color-accent-four-lightest)
  ),

  neutral: (
    dark:     var(--text-color-neutral-dark),
    base:     var(--text-color-neutral-base),
  ),

  navigation: (
    text:        var(--text-color-nav-text),
    link:        var(--text-color-nav-link),
    linkActive:  var(--text-color-nav-link-active),
    linkHover:   var(--text-color-nav-link-hover),
    linkLighter: var(--text-color-nav-link-lighter),
    logo:        var(--text-color-nav-logo)
  )

);

@function text-color($colorName, $modifier:base, $opacity:opaque) {
  $colorVar: map-get(map-get($text-colors, $colorName), $modifier);
  $opacityVar: opacity-value($opacity);
  @return rgbx($colorVar, $opacityVar);
}
