$light-button-icon-size: 16px;
$light-button-padding-x: 9px;

.#{$ns}light {

  .#{$ns}btn {

    font-family: $light-base-font-family;
    font-size: $light-base-font-size;
    line-height: 34px;
    padding: 0px $light-button-padding-x;
    margin: 8px;
    white-space: nowrap;

    .#{$ns}icon {
      display: none;
      width: $light-button-icon-size;
      height: $light-button-icon-size;

      path, polygon, line, rect {
        fill: transparent;
        stroke: transparent;
      }
    }

    &.#{$ns}btn--base {
      border: 1px solid $rsa-color-gray-d1;
      color: $rsa-color-gray-d3;

      .#{$ns}icon {
        .rsa--filled {
          fill: $rsa-color-gray-d3;
        }
        .rsa--stroked {
          stroke: $rsa-color-gray-d3;
        }
      }

      &:disabled {
        border-color: rgba($rsa-color-gray, .4);
        color: rgba($rsa-color-gray, .4);

        .#{$ns}icon {
          .rsa--filled {
            fill: rgba($rsa-color-gray, .4);
          }
          .rsa--stroked {
            stroke: rgba($rsa-color-gray, .4);
          }
        }
      }

      &:not(:disabled):hover,
      &.#{$ns}btn--hover {
        border-color: $rsa-color-gray-d3;
      }

      &:not(:disabled):active,
      &.#{$ns}btn--active,
      &.#{$ns}btn--selected,
      &[selected=true] {
        background-color: rgba($rsa-color-gray-l2, .2);
        border-color: $rsa-color-gray-d1;
      }
    }

    &.#{$ns}btn--primary {
      border: 0;
      background-color: $rsa-color-blue;
      color: $rsa-color-gray-l3;

      &:disabled {
        border: 1px solid rgba($rsa-color-gray, .4);
        background: transparent;
        color: rgba($rsa-color-gray, .4);
      }

      &:not(:disabled):hover,
      &.#{$ns}btn--hover {
        background-image: linear-gradient(180deg, $rsa-color-blue, $rsa-color-blue-d1);
      }

      &:not(:disabled):active,
      &.#{$ns}btn--active,
      &.#{$ns}btn--selected,
      &[selected=true] {
        background-image: linear-gradient(180deg, $rsa-color-blue-d1, $rsa-color-blue);
      }
    }

    &.#{$ns}btn--danger {
      border: 0;
      background-color: $rsa-color-red;
      color: $rsa-color-gray-l3;

      &:disabled {
        border: 1px solid rgba($rsa-color-gray, .4);
        background: transparent;
        color: rgba($rsa-color-gray, .4);
      }

      &:not(:disabled):hover,
      &.#{$ns}btn--hover {
        background-image: linear-gradient(180deg, $rsa-color-red, $rsa-color-red-d1);
      }

      &:not(:disabled):active,
      &.#{$ns}btn--active,
      &.#{$ns}btn--selected,
      &[selected=true] {
        background-image: linear-gradient(180deg, $rsa-color-red-d1, $rsa-color-red);
      }
    }

    &.#{$ns}btn--icon {
      line-height: 0;
      padding: 6px;
      border: 0 none;

      .#{$ns}icon {
        display: block;
      }
    }

    &.#{$ns}btn--icon-text {
      /* Enables absolute positioning for icon child. */
      position: relative;

      /* Leaves room for icon to left of text. */
      padding-left: $light-button-icon-size + 8px + $light-button-padding-x;

      .#{$ns}icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin: auto 0 auto $light-button-padding-x;   /* Centers vertically; aligns left with padding. */
      }
    }
  }
}
