/**
 * @file RSA Logo component styling.
 * RSA Logo is the RSA red brick with the letters "RSA" inside", plus the Registered Trademark symbol
 * and an optional title text.
 */

/* Animation for the red brick's entrance. Outlines then fills it. */
@keyframes rsa-logo-fillredbrick {
  0% {
    fill: rgba(234,39,45,0);
    stroke: rgba(255,0,0,1);
    stroke-width: 1px;
    stroke-dashoffset: 909;
  }
  50% {
    fill: rgba(234,39,45,0);
    stroke: rgba(255,0,0,1);
    stroke-dashoffset: 606;
  }
  100% {
    fill: rgba(234,39,45,1);
    stroke: rgba(255,0,0,0);
    stroke-dashoffset: 303;
  }
}
@-webkit-keyframes rsa-logo-fillredbrick {
  0% {
    fill: rgba(233,35,47,0);
    stroke: rgba(255,0,0,1);
    stroke-width: 1px;
    stroke-dashoffset: 303;
  }
  50% {
    fill: rgba(233,35,47,0);
    stroke: rgba(255,0,0,1);
    stroke-dashoffset: 606;
  }
  100% {
    fill: rgba(233,35,47,1);
    stroke: rgba(255,0,0,0);
    stroke-dashoffset: 909;
  }
}
@-ms-keyframes rsa-logo-fillredbrick {
  0% {
    fill: rgba(233,35,47,0);
    stroke: rgba(255,0,0,1);
    stroke-width: 1px;
    stroke-dashoffset: 303;
  }
  50% {
    fill: rgba(233,35,47,0);
    stroke: rgba(255,0,0,1);
    stroke-dashoffset: 606;
  }
  100% {
    fill: rgba(233,35,47,1);
    stroke: rgba(255,0,0,0);
    stroke-dashoffset: 909;
  }
}

/* Animation for the "RSA" letters' entrance. Outlines then fills them. */
@keyframes rsa-logo-fillletter {
  0% {
    fill: rgba(255,255,255,0);
    stroke: rgba(255,255,255,1);
    stroke-dashoffset: 150;
  }
  50% {
    fill: rgba(255,255,255,0);
    stroke: rgba(255,255,255,1);
    stroke-dashoffset: 300;
  }
  100% {
    fill: rgba(255,255,255,1);
    stroke: rgba(255,255,255,0);
    stroke-dashoffset: 300;
  }
}
@-webkit-keyframes rsa-logo-fillletter {
  0% {
    fill: rgba(255,255,255,0);
    stroke: rgba(255,255,255,1);
    stroke-dashoffset: 150;
  }
  50% {
    fill: rgba(255,255,255,0);
    stroke: rgba(255,255,255,1);
    stroke-dashoffset: 300;
  }
  100% {
    fill: rgba(255,255,255,1);
    stroke: rgba(255,255,255,0);
    stroke-dashoffset: 300;
  }
}
@-ms-keyframes rsa-logo-fillletter {
  0% {
    fill: rgba(255,255,255,0);
    stroke: rgba(255,255,255,1);
    stroke-dashoffset: 150;
  }
  50% {
    fill: rgba(255,255,255,0);
    stroke: rgba(255,255,255,1);
    stroke-dashoffset: 300;
  }
  100% {
    fill: rgba(255,255,255,1);
    stroke: rgba(255,255,255,0);
    stroke-dashoffset: 300;
  }
}

/* Animation for the title text. Fades in while spreading the letters apart. */
@keyframes rsa-logo-spreadletters {
  0% {
    letter-spacing: 4px;
    opacity: 0;
  }
  50% {
    letter-spacing: 5px;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rsa-logo-spreadletters {
  0% {
    letter-spacing: 4px;
    opacity: 0;
  }
  50% {
    letter-spacing: 5px;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes rsa-logo-spreadletters {
  0% {
    letter-spacing: 4px;
    opacity: 0;
  }
  50% {
    letter-spacing: 5px;
  }
  100% {
    opacity: 1;
  }
}
/* Animation for the Registered Trademark. Appears to fade in by animating color from transparent to opaque. */
@keyframes rsa-logo-fillres {
  0% {
    fill: rgba(255,255,255,0);
  }
  100% {
    fill: rgba(255,255,255,1);
  }
}
@-webkit-keyframes rsa-logo-fillres {
  0% {
    fill: rgba(255,255,255,0);
  }
  100% {
    fill: rgba(255,255,255,1);
  }
}
@-ms-keyframes rsa-logo-fillres {
  0% {
    fill: rgba(255,255,255,0);
  }
  100% {
    fill: rgba(255,255,255,1);
  }
}

.rsa-light {
  .rsa- {
    &logo {
  
      /* The SVG container node in which the red brick & "RSA" letters are rendered. */
      &__svg {
        display: inline-block;
      }
  
      /* The red brick polygon. */
      &__brick {
        fill: rgba(233,35,47,1);
        stroke-dasharray: 303,303;
        @include rsa-vendor-prefix(animation, rsa-logo-fillredbrick 2000ms linear 0ms 1 both);
      }
  
      /* Any of the "R", "S" & "A" letters inside the red brick. */
      &__letter {
        fill: rgba(255,255,255,1);
        stroke-dasharray: 150,150;
        @include rsa-vendor-prefix (animation, rsa-logo-fillletter 1000ms linear 1000ms 1 both);
      }
  
      /* The "Registered Trademark" symbol beside the red brick. */
      &__registered {
        @include rsa-vendor-prefix(animation, rsa-fade-in 300ms linear 2000ms 1 both);
      }
  
      /* Optional title text outside the SVG area. */
      &__title {
        letter-spacing: 5px;
        text-transform: uppercase;
        white-space: nowrap;
        @include rsa-vendor-prefix (animation, rsa-logo-spreadletters 3000ms ease-out 1000ms 1 both);
        color: rsa-color(gray);
      }
    }
  
    /*
    @workaround Rules for IE9 and IE10 only. These browsers don't support animating SVG elements' strokes, so
    we use different styling which fades in the SVG elements in a staggered sequence.
    */
    @media screen and (min-width:0\0) {
      &logo {
        &__brick {
          -ms-animation: rsa-fade-in 2000ms linear 0ms 1 both;
        }
        &__letter {
          -ms-animation: rsa-fade-in 1000ms linear 1000ms 1 both;
        }
        &__registered {
          -ms-animation: rsa-fade-in 300ms linear 2000ms 1 both;
        }
      }
    }
  }
}