.rsa-light {
  .rsa-nav-link-list {
    h3 {
      color: rsa-color(gray);
    }

    ul {
      li {
        a {
          color: rsa-color(gray, darkest);

          &:hover, &.active {
            background: rsa-color(gray, light, $rsa-nearly-transparent);
          }
        }
      }
    }
  }
}