<span class="rsa-form-input">
  {{rsa-form-input
    class='port-value'
    value=(readonly portValue)
    maxLength=5
    isError=isPortValid.showError
    errorMessage=(t isPortValid.errorMessage)
    focusOut=(action 'handlePortValueChange')
  }}
</span>