<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category}}
      {{#spec-member}}
        {{#rsa-content-section-header label='Section Heading'}}Content{{/rsa-content-section-header}}

        <code>
          &#123;{#rsa-content-section-header label='Section Heading'}}Content&#123;{/rsa-content-section-header}}
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
