.email-body-text {
  line-height: 1.75rem;
  overflow-x: hidden;
  padding: 0.5rem 1rem 0.5rem 2rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
}

.email-show-more {
  width: 100%;
  text-align: center;
  padding-bottom: rsa-whitespace();
  padding-top: rsa-whitespace();
}
