.recon-email-header {
  background-color: #424242;
  margin-top: -16px;

  .header-label {
    direction:rtl;
    float: left;
    flex: 0.3;
  }

  .header-value {
    padding-right: 0.5rem;
  }

  .additional-header {
    font-family: "Open Sans";
    font-style: normal;
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-right: 1rem;
    color: #0288D1;
  }
}
