.recon-email-view {
  margin: 0.7rem;
  border-color: #424242;
  border-width: 2px;
  border-style: solid;

  &.warning {
    .attachment-download-warning {
      display: block;
    }
  }

  .email-scroll-box {
    bottom: 4rem;

    .email-separator {
      border: 1px dashed #424242;
      width: 97%;
    }
  }

  .recon-email-collapse-header {
    background-color: background-color(primary, dark);
    padding: rsa-whitespace() 0 rsa-whitespace() 0;

    .rsa-icon:hover {
      cursor: pointer;
    }

    .header-label {
      @include rsa-font(header, small);
      color: text-color(primary, lighter);
      padding-right: rsa-whitespace();
    }

    .header-value {
      @include rsa-font(body, small);
      @include rsa-word-wrap();
      padding-right: 1.5rem;
    }
  }
}

.attachment-download-warning {
  background-color: background-color(accentThree, dark);
  color: text-color(neutral);
  padding: rsa-whitespace();
  margin-top: 0.7rem;
  display: block;
  position: absolute;
  bottom: 0;
}
