<div id="modalDestination"></div>

{{rsa-application-header}}

{{#rsa-application-content}}
  {{#rsa-grid}}
    {{#rsa-grid-row}}
      
      {{#rsa-grid-column class="style-guide-nav" span=3 isScrollable=true}}
        {{app-nav}}
      {{/rsa-grid-column}}
            
      {{#rsa-grid-column class="style-guide-content" span=9}}
        {{outlet}}
      {{/rsa-grid-column}}  
      
    {{/rsa-grid-row}}
  {{/rsa-grid}}
{{/rsa-application-content}}

{{rsa-application-footer title="Style Guide"}}
