<div id="modalDestination"></div>
{{#rsa-application-modal
  label="Error"
  style='error'
  eventId='fatalError'
  modalDidClose='clearFatalErrorQueue'}}
  <div class='modal-content'>
    {{#each fatalErrors.queue as |error|}}
      <p>{{error}}</p>
    {{/each}}
  </div>
{{/rsa-application-modal}}

{{rsa-application-header}}

{{#rsa-application-content}}
  <hbox>
    <vbox xs="3" class="style-guide-nav">
      <div class="scroll-box">
        {{app-nav}}
      </div>
    </vbox>

    <vbox xs="9" class="style-guide-content">
      {{outlet}}
    </vbox>
  </hbox>
{{/rsa-application-content}}
