<div id="modalDestination"></div>

{{rsa-application-header}}

{{#rsa-application-content}}
  <hbox>
    <vbox xs="3" class="style-guide-nav">
      <div class="scroll-box">
        {{app-nav}}
      </div>
    </vbox>

    <vbox xs="9" class="style-guide-content">
      {{outlet}}
    </vbox>
  </hbox>
{{/rsa-application-content}}

{{rsa-application-footer title="Style Guide"}}
