<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category}}
      {{#spec-member title="Without Navigation"}}
        <code>
          &#123;{rsa-application-header}}
        </code>
      {{/spec-member}}

      {{#spec-member title="With Navigation"}}
        <code>
          <div>
            &#123;{#rsa-application-header}}
            <div>
              &#123;{#link-to "routeA"}}
                Route A
              &#123;{/link-to}}
            </div>
            <div>
              &#123;{#link-to "routeB"}}
                Route B
              &#123;{/link-to}}
            </div>
            &#123;{/rsa-application-header}}
          </div>
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
