<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category}}
      {{#spec-member title="Least"}}
        <div class='sg-demo-whitespace left least'>
          <div>margin-right: @include rsa-whitespace(least);</div>
          <div>padding: @include rsa-whitespace(least);</div>
        </div>

        <div class='sg-demo-whitespace right least'></div>

        <code>
          @include rsa-whitespace(least);
        </code>
      {{/spec-member}}

      {{#spec-member title="Less"}}
        <div class='sg-demo-whitespace left less'>
          <div>margin-right: @include rsa-whitespace(less);</div>
          <div>padding: @include rsa-whitespace(less);</div>
        </div>
        <div class='sg-demo-whitespace right less'></div>
        <code>
          @include rsa-whitespace(less);
        </code>
      {{/spec-member}}

      {{#spec-member title="Default"}}
        <div class='sg-demo-whitespace left base'>
          <div>margin-right: @include rsa-whitespace();</div>
          <div>padding: @include rsa-whitespace();</div>
        </div>
        <div class='sg-demo-whitespace right base'></div>
        <code>
          @include rsa-whitespace();
        </code>
      {{/spec-member}}

      {{#spec-member title="More"}}
        <div class='sg-demo-whitespace left more'>
          <div>margin-right: @include rsa-whitespace(more);</div>
          <div>padding: @include rsa-whitespace(more);</div>
        </div>
        <div class='sg-demo-whitespace right more'></div>
        <code>
          @include rsa-whitespace(more);
        </code>
      {{/spec-member}}

      {{#spec-member title="Most"}}
        <div class='sg-demo-whitespace left most'>
          <div>margin-right: @include rsa-whitespace(most);</div>
          <div>padding: @include rsa-whitespace(most);</div>
        </div>
        <div class='sg-demo-whitespace right most'></div>
        <code>
          @include rsa-whitespace(most);
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
