.rsa-light {
  .rsa-content-accordion {
    border-right: 1px solid #{rsa-color(blue, darker, $rsa-nearly-opaque)};    
    border-left: 1px solid #{rsa-color(blue, darker, $rsa-nearly-opaque)};    
    h3 {
      background: rsa-color(blue, dark, $rsa-nearly-opaque);
      border-top: 1px solid #{rsa-color(blue, darker, $rsa-nearly-opaque)};    
      border-bottom: 1px solid #{rsa-color(blue, darker, $rsa-nearly-opaque)};
      color: rsa-color(white);

      &:hover {
        background: rsa-color(blue, dark);
      }
    }
  }
  
  .rsa-content-definition {
    color: rsa-color(gray);  
  
    .title {
      color: rsa-color(gray, light);
    }
  }
  
  .rsa-content-badge-score {
    svg {
      circle {
        stroke: rsa-color(gray, light);
      }
    }
  
    .score, .label {
      color: rsa-color(gray, dark);
    }
    
    &.is-danger {
      circle {
        stroke: rsa-color(gray, lightest);
      }

      .score, .label {
        color: rsa-color(gray, lightest);
      }
    }
  }
  
  .rsa-content-badge-icon {
    i {
      color: rsa-color(gray, light);
    }
  
    h5 {
      color: rsa-color(gray);
    }
    
    &.is-danger {
      i {
        color: rsa-color(red);
      }
    }
    
    &.is-success {
      i {
        color: rsa-color(green);
      }
    }
    
    &.is-alert {
      i {
        color: rsa-color(amber);
      }
    }
    
    &.is-warning {
      i {
        color: rsa-color(orange);
      }
    }
  }
}

