.rsa-light {
  .rsa-content-ip-connections {
    color: rsa-color(gray, darker);

    .circle {
      border: 1px solid rsa-color(gray, dark);
    }

    .direction {
      color: rsa-color(gray, dark);
    }

    .to-ip {
      .circle {
        background-color: rsa-color(gray, dark);
      }
    }
  }  
}
