.rsa-light {
  .rsa-font {
    font-family: $light-base-font-family;
    font-size: $light-base-font-size;
    font-weight: 400;

    &.rsa-font--light {
      font-weight: 300;
    }
    &.rsa-font--semi-bold {
      font-weight: 600;
    }
    &.rsa-font--bold {
      font-weight: 700;
    }
  }
}
