.rsa-light {
 .rsa-login {
    color: rsa-color(gray);
  }
  
  .rsa-logo h2 {
    color: rsa-color(gray, lightest);
  }
  
  a.lost-password {
    color: rsa-color(blue);
    &:hover {
      color: rsa-color(blue, dark);      
    }
  }
  
  .login-wrapper {
    background: rsa-color(white, base, $rsa-translucent);
    border: 1px solid rsa-color(gray);
  }

}