<div class="windows-log-destinations__list">
  {{#power-select
    placeholder=(t 'packager.placeholder')
    options=logServersList
    searchField="name"
    triggerClass=(if windowsLogDestinationValidator.showError 'selector-error')
    dropdownClass=errorClass
    searchPlaceholder=(t 'packager.searchPlaceholder')
    selected=selectedLogServer
    onchange=(action 'updatePolicyProperty' selectedSettingId) as |option|
  }}
    {{rsa-form-select/default-option
      disabled=option.disabled
      disabledTooltip=(if option.disabledTooltip (t option.disabledTooltip) '')
      optionLabel=option.name
    }}
  {{/power-select}}
</div>

<div class="input-error">
  {{#if windowsLogDestinationValidator.showError}}
    {{t windowsLogDestinationValidator.errorMessage}}
  {{/if}}
</div>