.recon-standalone-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.recon-is-standalone.rsa-investigate {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

 .recon-event-wrapper {
    border-top: 1px solid border-color(secondary);
    flex: 1 1 auto;
  }
}

// Investigate/Users tab styles (temporary until full Fortscale UEBA product integration)
.ueba-unavailable {
  width: 100%;
  height: 100%;
}
.ueba-loading__main {
  background-color: background-color(neutral, dark);
  height: 100vh;
  width: 100vw;
}
.ueba-loading__inner {
  height: 420px;
  display: flex;
  flex: 1 1 auto;
}
.ueba-container {
  flex: 1 1 auto;
}
.ueba-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
iframe {
  margin: 0;
  padding: 0;
  border: none;
  height: calc(100vh - 90px);
  width: 100%;
  overflow: hidden;
}
