@mixin severity-tag($bgColor) {
	background-color: $bgColor;
	color: #222;
    display: inline-block;
    float: right;
    font-weight: bold;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
    width: 50px;
}

.severity-critical {
    @include severity-tag(var(--main-critical-severity-color));
}
.severity-high {
    @include severity-tag(var(--main-high-severity-color));
}
.severity-medium {
    @include severity-tag(var(--main-medium-severity-color));
}
.severity-low {
    @include severity-tag(var(--main-low-severity-color));
}
