@import "group-wizard/manifest";

.group-attributes {
  margin-top: rsa-whitespace(more);
  margin-bottom: rsa-whitespace(more);
  .group-criterias {
    margin-left: rsa-whitespace(more);
    margin-top: rsa-whitespace(more);
    margin-bottom: rsa-whitespace(more);
    border: 1px solid border-color(primary);
    vertical-align: text-bottom;
  }
  .group-criteria {
    margin-top: rsa-whitespace(); 
    vertical-align: text-bottom;
    label {
      display: inline-block;
      margin-right: rsa-whitespace(more);
      width: 150px;
      vertical-align: text-bottom;
    }
  }
  .between-inputs {
    width: 450px;
    span {
      margin-right: rsa-whitespace(more); 
    }
  }
  .textarea-input textarea {
    width: 300px;
    min-height: 8rem;
  }
  .add-criteria-button {
    margin-top: rsa-whitespace(more);
    margin-left: rsa-whitespace();
  }
}