@import "group-wizard/manifest";

.group-attributes {
  margin-top: rsa-whitespace(more);
  margin-bottom: rsa-whitespace(more);
  position: relative;
  .criteria-wrapper {
    overflow-y: auto;
    max-height: calc(100vh - 350px);
    margin-bottom: 45px;
    padding-bottom: 15px;
    border-bottom: 1px solid border-color(primary);
  }
  .add-criteria-button {
    position: absolute;
    bottom: 0px;
  }
  .group-criterias {
    margin-left: rsa-whitespace(more);
    margin-top: rsa-whitespace(more);
    margin-bottom: rsa-whitespace(more);
    border: 1px solid border-color(primary);
    vertical-align: text-bottom;
  }
  .group-criteria {
    position: relative;
    margin-top: rsa-whitespace(); 
    vertical-align: text-bottom;
    width: 800px;
    label {
      display: inline-block;
      margin-right: rsa-whitespace(less);
      width: 170px;
      vertical-align: text-bottom;
    }
  }
  .remove-criteria {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 10px;
  }
  .between-inputs {
    width: 400px;
    span {
      margin-right: rsa-whitespace(less); 
    }
  }
  .textarea-input textarea {
    min-height: 8rem;
  }
  .textarea-input textarea, .osSelector, .text-input-field label, div.agent-selector {
    width: 385px;
  }
  .add-criteria-button {
    margin-top: rsa-whitespace(more);
    margin-left: rsa-whitespace();
  }
}