<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category title="Examples"}}
      {{#spec-member title="With Single IP"}}
        {{rsa-content-ip-connections toIPs=model.singleIP fromIPs=model.singleIP}}

        <code>
          &#123;{rsa-content-ip-connections toIPs=model.singleIP fromIPs=model.singleIP}}
        </code>
      {{/spec-member}}

      {{#spec-member title="With Multiple IPs"}}
        {{rsa-content-ip-connections toIPs=model.multipleIPs fromIPs=model.multipleIPs}}

        <code>
          &#123;{rsa-content-ip-connections toIPs=model.multipleIPs fromIPs=model.multipleIPs}}
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
