<div id="chartComponentPlaceholder" style="width: 100%; height: 400px;"></div>
{{#unless historicalDataForGraph}}
  <div class='users-tab_body_list_loader'>
    {{rsa-loader size="medium" label=(t 'investigate.loading')}}
  </div>
{{/unless}}