.recon-meta-content {
  background-color: rsa-color(gray, darkest, $rsa-somewhat-opaque);
  padding: rsa-whitespace();
  .meta-heading {
    @include rsa-font(header, large);
    color: rsa-color(white);
  }
}
.recon-meta-content-item {
  padding: rsa-whitespace(least) 0;
  word-break: break-all;
  .meta-name {
    color: rsa-color(gray, light);
    padding-right: rsa-whitespace();
  }
}
