.recon-meta-content {
  margin-left: 1px; /* let a sliver of background shows thru as a border */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  .meta-heading {
    @include rsa-font(header, small);
    font-size: 0.85rem;
    color: text-color(secondary);
    padding: rsa-whitespace() rsa-whitespace() 1rem;
  }
}

.recon-meta-content-item {
  color: text-color(neutral);
  @include rsa-word-wrap();
  line-height: 1.71rem;
  padding: 0 0 0 rsa-whitespace();
  i {
    &:hover {
      cursor: pointer;
    }
  }
  &.is-hovering {
    background-color: background-color(primary, darkest);
  }
  &.is-selected {
    background-color: background-color(secondary);
    &, .meta-name {
      color: text-color(primary, lightest);
    }
  }
  .meta-name {
    @include rsa-font(header, small);
    color: text-color(primary, light);
    padding-right: rsa-whitespace();
  }
  .meta-value {
    @include rsa-font(body, small);
  }
}
