<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category title="Examples"}}
      {{#spec-member title="Without Title"}}
        {{rsa-routable-login}}
        <code>
          &#123;{rsa-routable-login}}
        </code>
      {{/spec-member}}

      {{#spec-member title="With Title"}}
        {{rsa-routable-login title='Style Guide Demo'}}
        <code>
          &#123;{rsa-routable-login title='Style Guide Demo'}}
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
