$panel-width: 200px;

.tool-tip-value {
  padding: rsa-whitespace();
  width: $panel-width;
  word-wrap: break-word
}

.divider {
  @include border-top(1px, solid, primary);
  @include border-bottom(0, solid, primary);
  margin: rsa-whitespace() 0;
}

.host-property-panel {
  @include border-left(1px, solid, primary, dark);
  overflow: auto;
  padding: 0 rsa-whitespace();
  background: background-color(primary, darkest);;
}

.header-section {
  &__title {
    @include rsa-font(header, small);
    font-size: 0.85rem;
    color: text-color(secondary, light);
    padding: rsa-whitespace() 0;
  }
  &__search-box {
    .rsa-form-input {
      width: 100%;
      input {
        padding-left: rsa-whitespace(more);
      }
    }
    .filter-icon {
      position: absolute;
      top: rsa-whitespace();
      color: text-color(primary, light);
    }
  }
  &__check-box {
    padding: rsa-whitespace() 0;
  }
}

.content-section {
  &__section-name {
    font-size: 14px;
    line-height: 20px;
    color: text-color(primary, light);
  }
  &__property {
    height: 1.7rem;
    .property-name {
      @include rsa-font(body, small);
      display: block;
      text-align: right;
      padding-right: rsa-whitespace();
      color: text-color(primary, light);
    }
    .property-value {
      @include rsa-font(body, small);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: block;
      line-height: 1.25rem;
      color: text-color(neutral);
    }
  }
}
