$zoneBorderColor: rsa-color(gray, darker, $rsa-nearly-transparent);
$filterPanelMinWidth: 400px;

page.respond-engine {
  min-height: 100vh;
  color: rsa-color(gray, lightest);
}
.respond-engine {
  .rsa-respond-incidents {
    overflow: hidden;
    @include rsa-vendor-prefix(transition-property, background-color, color);
    @include rsa-vendor-prefix(transition-duration, 0.3s);

    .main-zone {
      overflow: hidden;
      flex-wrap: nowrap;
    }

    .toolbar-zone {
      min-height: 40px;
      max-height: 40px;
      border-bottom: 1px solid $zoneBorderColor;
    }

    .filter-zone {
      min-width: 0;
      max-width: 0;
      padding: 0;
      overflow: hidden;
      opacity: $rsa-transparent;
      @include rsa-vendor-prefix(transition-property, max-width, min-width, padding, opacity);
      @include rsa-vendor-prefix(transition-duration, 0.3s, 0.3s, 0.3s, 0.1s);
    }

    &.show-more-filters {
      .filter-zone {
        border-right: 1px solid $zoneBorderColor;
        max-width: 25%;
        min-width: $filterPanelMinWidth;
        padding: rsa-whitespace();
        overflow: auto;
        overflow-x: hidden;
        opacity: $rsa-opaque;
      }
    }

    .incidents-zone {
      width: 100vw;

      .incidents-body {
        margin: 0 rsa-whitespace();
      }
      .incidents-footer {
        margin: 0 rsa-whitespace();
        max-height: 40px;
        background-color: rsa-color(gray, darker, $rsa-somewhat-opaque);
        color: rsa-color(gray, lightest);
        border-top: 1px solid $zoneBorderColor;
      }
    }

    &.show-more-filters {
      .incidents-zone {
        width: calc(100vw - #{$filterPanelMinWidth});
      }
    }

    &.transaction-in-progress .transaction-overlay {
      @include rsa-fill-abs();
      z-index: 2;
      background-color: rsa-color(black,base,$rsa-translucent);
    }
  }
}