@keyframes actionDrawerOpen {
  from {
    max-width: 0;
    transform: translateX(100%);
  }

  to {
    max-width: 1000px;
    transform: translateX(0);
  }
}

.rsa-respond-incidents-table {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .rsa-data-table,
  .rsa-data-table-body,
  .rsa-data-table-body-rows,
  .rsa-data-table-body .no-results {
    height: 100%;
    font-size: 2rem;
  }

  .rsa-data-table-header {
    border-bottom: 1px solid rsa-color(gray, dark);
  }

  .rsa-data-table-body-rows {
    overflow-x: hidden; // fit to width table should have no horizontal scroll bar
  }

  .rsa-data-table-body-row {
    cursor: pointer;
  }

  &.is-in-select-mode .incident-actions {
    display: none;
  }

  &:not(.is-in-select-mode) {

    .rsa-data-table-body-row {
      right: 0;
      left: 0;
      margin: 0;
      padding: 0;

      &:hover {
        margin: 0;
        padding: 0;
      }

      .incident-actions {
        height: 100%;
        position: absolute;
        overflow: hidden;
        right: 0;
        max-width: 0;
        transform: translateX(100%);
        box-sizing: border-box;
        background-color: rsa-color(gray, darkest, $rsa-somewhat-opaque);
        padding: 0 rsa-whitespace(less) rsa-whitespace(less) rsa-whitespace(less);


        .incident-action-button {
          box-sizing: border-box;
          height: 100%;
          padding-top: rsa-whitespace(least);
          display: inline-block; // keep the icon buttons aligned in the actions flyin

          .ember-power-select-trigger {
            border-bottom: none; // turn off the underline/border added by power-select
          }

          .rsa-icon {
            font-size: 1.6rem;

            &:hover {
              color: rsa-color(blue, light);
            }
          }

          &.add-journal-entry-button {
            position: relative;
            top: -11px; // hack to make the button align appropriately
          }

        }
      }

      &.has-focus {
        background-color: rsa-color(blue, base, $rsa-nearly-transparent);
        &.drawer-active .incident-actions {
          animation-duration: 0.2s;
          animation-delay: 0s;
        }
      }
    }

    .rsa-data-table-body-row.drawer-active {
      .incident-actions {
        animation-name: actionDrawerOpen;
        animation-duration: 0.5s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
      }
    }

    .rsa-data-table-header-row .rsa-data-table-header-cell:first-child,
    .rsa-data-table-body-row .rsa-data-table-body-cell:first-child {
      @include rsa-vendor-prefix(transition-property, max-width, padding);
      @include rsa-vendor-prefix(transition-duration, 0.3s);
      max-width: 0;
      padding: 0;
    }
  }

  &.is-in-select-mode {
    .rsa-data-table-header-row .rsa-data-table-header-cell:first-child,
    .rsa-data-table-body-row .rsa-data-table-body-cell:first-child {
      @include rsa-vendor-prefix(transition-property, max-width, padding);
      @include rsa-vendor-prefix(transition-duration, 0.3s);
    }
  }

  .rsa-incident-selected {
    color: rsa-color(blue, base);
  }

  .rsa-data-table-body-cell {
    .rsa-content-label {
      padding: 0 rsa-whitespace(least);
      width: 96%;
      text-align: center;
    }
    .number-type {
      text-align: right;
    }
  }
}