.respond-engine .rsa-respond-incidents-toolbar {

  .selection-count {
    padding-right: rsa-whitespace();
  }

  .toolbar-button {
    padding: rsa-whitespace(less);
    font-size: 20px;
    width: 23px;
    color: rsa-color(gray, lighter);
    margin-right: rsa-whitespace(least);
    cursor: pointer;
  }

  &.more-filters-active {
    .more-filters-button {
      color: rsa-color(green);
      border-bottom: 2px solid rsa-color(green);
    }
  }

  &.light-theme-active {
    .toolbar-button.color-theme {
      color: rsa-color(green);
      border-bottom: 2px solid rsa-color(green);
    }
  }

  .liquid-container {
    width: 100%;
  }
  .liquid-child {
    @include rsa-row(justify, middle);
    padding: 0 rsa-whitespace();
  }

  &__filters {
    @include rsa-row(left, middle);
    @include rsa-vendor-prefix(flex-shrink, 0);
    @include rsa-vendor-prefix(flex-grow, 1);
  }

  &__views,
  &__btns {
    @include rsa-row(right, middle);
    @include rsa-vendor-prefix(flex-shrink, 0);
    @include rsa-vendor-prefix(flex-grow, 0);
  }

  &__views {
    margin-right: rsa-whitespace(more);
  }

  &__selections-counter {
    @include rsa-vendor-prefix(flex-shrink, 0);
    @include rsa-vendor-prefix(flex-grow, 1);
  }

  &__selections-actions,
  &__selections-btns {
    text-align: right;
    @include rsa-vendor-prefix(flex-shrink, 0);
    @include rsa-vendor-prefix(flex-grow, 0);
  }

  &__selections-btns {
    text-align: right;
  }

  .ember-power-select-trigger,
  .rsa-search-box{
    @include rsa-vendor-prefix(flex-shrink, 0);
    @include rsa-vendor-prefix(flex-grow, 0);
  }

  .ember-power-select-trigger,
  .rsa-search-box {
    margin-right: rsa-whitespace();
  }

  .ember-power-select-trigger {
    border-bottom: 1px solid transparent;
    .rsa-view-mode-option .text {
      display: none;
    }
  }
  .rsa-button {
    padding: rsa-whitespace(least) rsa-whitespace(less);
    height: 2rem;
    border: 1px solid transparent;
    cursor: pointer;

    &[disabled="true"],
    &:disabled {
      cursor: default;
      color: rsa-color(gray);
    }
  }

  .rsa-search-box {
    border: 1px solid rsa-color(black);

    input {
      padding: rsa-whitespace(least) rsa-whitespace(less);
      border: 0;
    }
    .rsa-button {
      border: 0;
      color: inherit;
      padding-top: .125rem;
      padding-bottom: .125rem;
    }
  }

  .rsa-power-select-label {
    vertical-align: middle;
    padding-right: 10px;
  }
}

.rsa-view-mode-option {
  .text {
    padding: 0 rsa-whitespace(less);
  }
}

.rsa-incidents-toolbar__selections-btns {
  height: 40px;
  .rsa-button {
    vertical-align: bottom;
  }
  .incident-action-button {
    display: inline-block;

    .ember-power-select-trigger {
      margin-right: 0;
    }
  }
}