.windows-log-destinations {

  .windows-log-destinations__list {
    padding-right: 1rem;
    max-width: 80%;
  }

  .input-error {
    @include rsa-font(paragraph, small);
    color: text-color(primary, lightest);
    padding-left: rsa-whitespace(less);
  }

  .selector-error {
    @include rsa-input-placeholder($formInputErrorPlaceholderColor);
    color: $formInputErrorTypeColor;
    background-color: $formInputErrorBackgroundColor;
    border-color: $formInputErrorBorderColor;
  }

}

// When the log server version is older than 11.4, this colors the disabled state
// in the dropdown.
.ember-power-select-option {
  &[aria-disabled=true] {
    color: text-color(primary, dark);
  }
}