.rsa-menlo-park {
    .rsa-incidents-queue {
        background-color: $menlo-park-inc-queue-body-bg;
        color: $menlo-park-inc-queue-body-fg;

        > header {
            background-color: $menlo-park-inc-queue-header-bg;
            color: $menlo-park-inc-queue-header-fg;

            h2 {
                margin: 1.5rem 0;
            }

            button {
                padding-top: 1rem;
                padding-bottom: 1.5rem;
                @include menlo-park-light-on-trans-btn(false, false);
            }
        }
        .rsa-toolbar {
            background-color: $menlo-park-inc-queue-toolbar-bg;
            .rsa-dropdown {
                @include menlo-park-light-on-trans-btn(false, true);
            }
        }

        > footer {
            background-color: $menlo-park-inc-queue-footer-bg;
            color: $menlo-park-inc-queue-footer-fg;
        }

        .rsa-paging-list {
            > footer {
                background-color: $menlo-park-inc-queue-footer-bg;
                color: $menlo-park-inc-queue-footer-fg;

                button {
                    width: 20px;
                    margin: 0;
                    @include menlo-park-light-on-trans-btn(false, false);
                }
                input {
                    @include menlo-park-light-textbox;
                }
            }
        }
    }
}
