.rsa-menlo-park{
    .rsa-incident-info {
        background-color: $menlo-park-inc-info-body-bg;
        color: $menlo-park-inc-info-body-fg;

        > header {
            background-color: $menlo-park-inc-info-header-bg;
            color: $menlo-park-inc-info-header-fg;

            h2 {
                margin: 1.5rem 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .rsa- {

            &tile-list {
                padding: $base-padding-x * .5  $base-padding-x * 2;
                > li {
                    width: 50%;
                    overflow: hidden;
                    &:first-of-type {
                        margin-right: $base-padding-x * 2;
                    }
                }
            }
            &card {
                @include rsa-flex-direction(column);
                @include rsa-flex-justify-content(space-between);
                @include rsa-flex-align-items(stretch);

                > header {
                    @include rsa-vendor-prefix(flex-shrink, 1);
                }
                > section {
                    @include rsa-vendor-prefix(flex-grow, 1);
                }

                &.rsa-summary .rsa-stat-list:first-of-type .rsa-stat {
                    width: 25%;
                    overflow: hidden;
                }
            }
            &stat-list {
                padding: .5rem 0;
                @include rsa-flex-direction(row);
                @include rsa-flex-justify-content(space-between);
                @include rsa-flex-align-items(stretch);

                &:not(:last-child) {
                    border-bottom: 1px solid $menlo-park-inc-info-body-bg;
                }

                .rsa-stat {
                    > label {
                        font-weight: bold;
                    }
                }
            }
            &field-list {
                padding: .5rem 0;

                .rsa-field {
                    @include rsa-flex-direction(row);
                    @include rsa-flex-justify-content(space-between);
                    @include rsa-flex-align-items(stretch);

                    > label {
                        @include rsa-vendor-prefix(flex-grow, 0);
                        @include rsa-vendor-prefix(flex-shrink, 0);
                        width: 92px;
                        font-weight: bold;
                    }
                    > span {
                        @include rsa-vendor-prefix(flex-grow, 1);
                    }
                }
            }
            &tag-list {
                > li {
                    background-color: rgba($menlo-park-accent-color, .15);
                    border-radius: $base-padding-x;
                }
            }
            &journal-entry {
                &:not(:last-child) {
                    border-bottom: 1px solid $menlo-park-inc-info-body-bg;
                }
                > footer {
                    font-size: .8rem;
                }
            }

            /* Spot coloring for certain key fields: */
            &alertCount,
            &description,
            &status,
            &assignee {
                > span {
                    color: $menlo-park-accent-color;
                }
            }
        }
    }
}
