.rsa-menlo-park {
    .rsa-incident-li {
        padding-top: 1rem;
        padding-bottom: 1rem;

        /* Positions a right-arrow, initially transparent, to be shown only when selected or on hover. */
        position: relative;
        &:after {
            border-color: transparent;
            border-style: solid;
            border-width: 1px 1px 0 0;
            bottom: 0;
            content: "";
            height: 8px;
            margin: auto 20px;
            position: absolute;
            right: 0;
            top: 0;
            @include rsa-vendor-prefix(transform, rotate(45deg));
            width: 8px;
        }
        &:not([selected=true]):hover:after {
            border-color: #999;
        }
        &[selected=true] {
            background-color: #fff;
            &:after {
                border-color: $menlo-park-accent-color;
            }
        }

        .rsa-field {
            padding-top: 0;
            padding-bottom: 0;

            > label {
                font-weight: bold;
            }

            /* These fields need no label. */
            &.rsa-id,
            &.rsa-name,
            &.rsa-created {
                > label {
                    display: none;
                }
            }

            /* These fields have distinctive color/style. */
            &.rsa-id {
                color: rgb(0,0,0);
                font-weight: bold;
            }
            &.rsa-name {
                color: rgb(0,0,0);
                max-height: 2.7rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &.rsa-created {
                color: rgb(153, 153, 153);
            }
        }
    }
}
