.rsa- {
    &journal-entry {
        padding: .5rem 0;
        > header {
            font-weight: bold;
        }
        h2, p {
            font-size: 1rem;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
