.rsa-menlo-park {
    .rsa-popover {
        border: $menlo-park-popover-border;
        background-color: $menlo-park-popover-bg;

        h2 {
            font-size: 1em;
            color: rgb(153,153,153);
        }
        section:not(:last-of-type) {
            border-bottom: 1px solid rgb(204,204,204);
        }
        li {
            @include menlo-park-dark-on-trans-btn(false, false);
            font-weight: bold;
            padding: $base-padding;
        }
    }
}

