{{recon-event-detail/single-text/header
  isSticky=false
  isLog=isLog
  side=packet.side
}}
<div class="text-container">
  {{packet.text}}
  {{#rsa-content-tethered-panel position='top' panelId=(concat 'span' index)}}
    <header>panel Header</header>
    <section>Here is the info!</section>
  {{/rsa-content-tethered-panel}}
</div>
