{{#if isInline}}
  <div class="score">
    {{score}}
  </div>
  <div class="progress-bar"></div>
{{else}}
  {{#if isNotSmaller}}
    <svg viewBox="-50 -50 100 100">
      <circle r="49" />
    </svg>
  {{/if}}
  <div class="details">
    <div class="score">
      {{score}}
    </div>
    {{#if label}}
      <div class="label">
        {{label}}
      </div>
    {{/if}}
  </div>
{{/if}}
