.yoxigen-chart{
  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  .axis text {
    font-family: sans-serif;
    font-size: 11px;
  }

  .labels{
    pointer-events: none;

    &.selected{
      color: White;
    }
  }

  .crisp{
    shape-rendering: crispEdges;
  }

  .handle-events{
    cursor: pointer;

    .label-box{
      -webkit-transition: opacity 300ms ease-out;
      &:hover{
        opacity: .2;
      }
    }
  }

  .label-box{
    opacity: 0;

    &.selected{
      opacity: 1 !important;
    }
  }
}

.chart-legend{
  text-align: right;

  li{
    display: inline-block;
    margin: 0 10px 0 0
  }
}