.app-nav {
  header {
    text-align: center;
    
    a {
      text-decoration: none;
    }
    
    .rsa-logo {
      svg {
        height: 2.5rem;      
      }
      
      h2 {
        margin: rsa-whitespace(least) 0 rsa-whitespace();
      }      
    }
    
    .theme-picker {
      button {
        margin: rsa-whitespace(least);
        margin-bottom:0;
        min-width: 8.5rem;
      }
    }
  }
  
  section.rsa-grid-row {
    flex-grow: 50;    
  }
}
