.hbs-preview {
  padding: rsa-whitespace();
  background: rsa-color(gray, lightest);
  overflow: hidden;
  .for-hbs-preview-only {
    position: static;
    visibility: visible;
  }
}

.for-hbs-preview-only {
  position: fixed;
  top: -1000px;
  left: -1000px;
  visibility: hidden;
}

