.index {
  padding: 10pt 20pt 10pt ($app-nav-width + 20pt);
  line-height: 1.7;

  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .#{$ns}logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 20pt;
    height: 60pt;
    width: 159pt;
    font-size: 16pt;
  }
}
