.spec-body-member {
  margin: rsa-whitespace() 0;
  
  h4 {
    margin-bottom: rsa-whitespace(least);
  }
  
  .anchor {
    position: relative;
    height: 1px;
    width: 1px;
    overflow: hidden;
    top: -40pt;         /* Should be >= outer height of the fixed masthead. */
    &:after {
      content: ' ';      /* @workaround Gives the browser a placeholder, so DOM won't be omitted. */
    }
  }

  p {
    margin: rsa-whitespace() 0;
    line-height: 1.25rem;    
    &:first-of-type {
      margin-top: 0;
    }

    code {
      @include rsa-font-code();
    }
  }
}
