.spec-nav {
  position: fixed;
  top: 72pt;
  right: 0;
  bottom: 0;
  width: $app-nav-width * .75;

  &__category {
    padding: 5pt 0;
    &:not(:last-of-type) {
      position: relative;     /* Enables absolute pos for after pseudo element. */

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 1px;
        left: 10pt;
        right: 10pt;
      }
    }
  }
  &__link {
    display: block;
    padding: 5pt 10pt;
  }

}
