.spec-body {
  padding: 10pt ($app-nav-width * 0.75 + 10pt) 10pt 10pt;

  &__header {
  }

  &__body {
    padding: 5pt 0;
  }
}

@media (max-width: 1024px) {
  .spec-body {
    padding: 10pt;
  }
  .spec-nav {
    display: none;
  }
}

