.rsa-respond-detail-wrapper {
  .scroll-box {
    background-color: rsa-color(black, null, $rsa-translucent);
    margin-left: 2px;
  }
}

.rsa-respond-detail-grid {
  .rsa-data-table{
    margin-left: rsa-whitespace(less);
    .rsa-data-table-header {
      padding-bottom: rsa-whitespace();
    }
    .spacer {
      padding-top: rsa-whitespace(less);
    }
  }
}
