.event-overview {
  margin-left: 2px;

  .rsa-content-section-header {
    padding-right: rsa-whitespace();

    .event-overview__title {
      display: inline;
      text-transform: capitalize;
    }

    .rsa-form-button-wrapper {
      float: right;

      .rsa-form-button {
        padding-top: 0;
        height: 100%;
      }
    }
  }

  &__header {
    margin-top: 1px;
    padding: rsa-whitespace();
    background-color: $contentSectionHeaderBackgroundColor;
    .rsa-content-definition {
      .value {
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 15px;
      }
    }
  }

  &__summary {
    border-top: solid 1px rsa-color(black);
    padding: rsa-whitespace(base);
    padding-left: 0;
    background-color: $contentSectionHeaderBackgroundColor;

    &__indicators {
      padding-left: rsa-whitespace(less);
      @include rsa-flex-direction(row);
      @include rsa-flex-justify-content(flex-start);
      @include rsa-flex-align-items(center);
      @include rsa-vendor-prefix(flex-wrap, wrap);
      @include rsa-vendor-prefix(align-content, center);

      .invisible-style-buffer {
        @include rsa-vendor-prefix(flex, 1 1 auto);
      }

      &__group {
        padding: 0 0 2px 0;
        @include rsa-flex-direction(row);
        @include rsa-flex-justify-content(flex-start);
        @include rsa-flex-align-items(center);
        @include rsa-vendor-prefix(flex-wrap, nowrap);
        @include rsa-vendor-prefix(flex, 0 1 100px);

        .rsa-content-badge-score {
          height: 42px;
          padding: 2px;
          @include rsa-vendor-prefix(flex, 0 0 3rem);

          .score {
            line-height: 0;
            @include rsa-font(body, base);
          }
          svg {
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            circle {
              stroke-width: 12;
              r: 44;
            }
          }

        }

        .details {
          .score {
            padding-left: 1px;
          }
        }

        &__description {
          padding-left: 2px;
          @include rsa-font(default, small);
          line-height: 13px;
          text-transform: capitalize;
        }

      }
    }

    &__timestamp {
      @include rsa-font(header, small);
      display: block;
      color: rsa-color(gray);
      letter-spacing: 0.05rem;
      padding-top: rsa-whitespace(base);
      padding-left: rsa-whitespace(base);
    }
  }

  &__info {
    max-height: 500px;
    @include rsa-vendor-prefix(transition, max-height .5s, opacity 1s);

    &.hidden {
      max-height: 0;
      opacity: 0;
      @include rsa-vendor-prefix(transition, max-height .3s, opacity .1s);
    }
  }

  &__source,
  &__destination,
  &__domain,
  &__detector {
    background-color: rsa-color(black, null, $rsa-translucent);

    &__header {
      @include rsa-font(header, small);
      @include rsa-flex-direction(row);
      @include rsa-flex-justify-content(space-between);
      @include rsa-flex-align-items(center);
      @include rsa-vendor-prefix(flex-wrap, wrap);
      @include rsa-vendor-prefix(align-content, center);
      background-color: rsa-color(black);
      padding: rsa-whitespace(less) rsa-whitespace();

      &__label {
        color: rsa-color(white, dark);
      }

      &__link {
        @include rsa-font(body, small);
        text-transform: capitalize;
        color: rsa-color(blue, dark);
        text-decoration: none;

        &__icon {
          padding-top: 1px;
        }

      }

      &__ip-address,
      &__domain-value {
        color: rsa-color(gray, light);
      }
    }

    &__info {
      padding: rsa-whitespace();

      .rsa-content-definition .value {
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &__geolocation {
        ul {
          @include rsa-font(header, small);
          text-transform: capitalize;

          li {
            padding: rsa-whitespace(least) 0;
            span {
              &:first-child {
                display: inline-block;
                color: $contentDefinitionLabelColor;
                line-height: 12px;
                vertical-align: middle;

                &::after {
                  content: ":";
                }
              }
            }
          }
        }
      }
    }
  }

  &__source {
    margin-top: 1px;
  }

  &__source,
  &__destination,
  &__domain,
  &__detector {
    &__header {
      &__label {
        &::after {
          content: ":";
        }
      }
    }
  }

  &__meta {
    background-color: rsa-color(black, null, $rsa-translucent);

    &__header {
      @include rsa-font(header, small);
      padding: rsa-whitespace(less) rsa-whitespace();
      padding-bottom: rsa-whitespace(least);
      background-color: rsa-color(black);

      &__label {
        color: rsa-color(white, dark);
      }
    }

    &__info {
      padding: rsa-whitespace();

      .rsa-content-definition .value {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &__header__toggle.rsa-form-button-wrapper {
      button.rsa-form-button {
        padding: 0 rsa-whitespace(less) 0 0;
        height: 1.5rem;
      }
    }


    &__header-meta-section {
      padding-top: rsa-whitespace(less);
      padding-bottom: rsa-whitespace(less);
    }

    &__col0,
    &__col1 {
      width: 100%;
      li {
        display: inline-block;
      }
    }

    &__info__key-value {
      width: 100%;

      &__key {
        @include rsa-font(header, small);
        color: $contentDefinitionLabelColor;
        text-transform: lowercase;
        float: left;
        width: 50%;
        line-height: 12px;
        padding: rsa-whitespace(least) 0;
        vertical-align: middle;
        text-overflow: ellipsis;
        overflow: hidden;

        &::after {
          content: ":";
        }
      }

      &__value {
        @include rsa-font(header, small);
        color: $contentDefinitionValueColor;
        text-transform: capitalize;
        width: 50%;
        float: left;
        line-height: 12px;
        padding: rsa-whitespace(least) 0;
        word-wrap: break-word;

      }
    }

    &__related-links {
      &__link {
        @include rsa-font(default, small);
        color: rsa-color(gray, light);
      }
      &__no-links {
        @include rsa-font();
        padding-top: rsa-whitespace();
        color: rsa-color(gray, light);
        text-align: center;
      }
    }
  }
}
