.rsa-incident-detail-header {
  color: rsa-color(white);
  position: relative;
  background-color: rsa-color(black, null, $rsa-translucent);

  &__score {
    padding: 0;

    .rsa-content-badge-score {
      height: 100%;
      max-height: 135px;
      padding: rsa-whitespace();
    }
  }

  &__col-details {
    @include rsa-flex-direction(row);
    @include rsa-flex-justify-content(space-between);
    @include rsa-flex-align-items(center);
    @include rsa-vendor-prefix(flex-wrap, nowrap);
    margin: 0;
    padding: 0 rsa-whitespace(less) rsa-whitespace(less) rsa-whitespace();
  }

  &__details {
    @include rsa-vendor-prefix(flex-grow, 2);
    padding-right: rsa-whitespace();

    &__title {
      @include rsa-font(header, large);
      @include rsa-flex-direction(row);
      @include rsa-flex-justify-content(space-between);
      @include rsa-vendor-prefix(flex-wrap, wrap);
      @include rsa-flex-align-items(baseline);
      width: 100%;

      .rsa-incident-detail-header__id {
        display: block;
      }

      .rsa-incident-detail-header__name {
        display: block;
        text-transform: none;
        @include rsa-vendor-prefix(flex-grow, 1);
      }
    }

    &__body {
      @include rsa-flex-direction(row);
      @include rsa-flex-justify-content(space-between);
      @include rsa-flex-align-items(stretch);
      @include rsa-vendor-prefix(flex-wrap, nowrap);
      width: 100%;
      margin: rsa-whitespace() 0;

      li {
        display: block;

        .rsa-content-definition {
          .value label {
            @include rsa-font(light);
            line-height: 35px;
          }

          .rsa-content-label {
            margin-top: rsa-whitespace(less);
          }
        }

        .rsa-incident-detail-header__status {
          min-width: 14rem;
        }

        .rsa-incident-detail-header__priority {
          min-width: 6rem;
        }

        .rsa-incident-detail-header__assignee {
          min-width: 8rem;
        }

        .ember-power-select-trigger {
          &[aria-disabled='true'] {
            cursor: default;
            border-color: $formButtonDisabledBorderColor !important;
            background: none;

            .ember-power-select-selected-item {
              color: $formButtonDisabledTypeColor;
            }
          }
          .ember-power-select-status-icon {
            padding-right: rsa-whitespace(less);
          }
        }
      }
    }

    &__footer {
      @include rsa-font(header, small);
      display: block;
      color: rsa-color(gray);
      letter-spacing: 0.05rem;
    }
  }
}

.rsa-incident-detail-header__details__body {
  @include rsa-flex-justify-content(flex-start);

  li {
    margin: 0 rsa-whitespace(base);

    &:first-child {
      margin-left: 0;
    }
  }
}
