.rsa-respond-detail-layout-manager {
  margin-top: 2px;
  .rsa-application-layout-panel .spacer {
    margin-right: 2px;
    background-color: rsa-color(black, null, $rsa-nearly-transparent);
    height: 100%;
  }
}
