.rsa-journal-wrapper {
  min-width: 20rem;

  &__journal-sort {
    padding: rsa-whitespace(less);
    border-bottom: 1px solid rsa-color(gray);
    color: rsa-color(gray, lighter);
    display: inline-block;
    box-sizing: border-box;
    width: 100%;

    &__title {
      @include rsa-font(header, small);
    }
    .rsa-form-radio {
      display: inline;
      margin-left: rsa-whitespace();

      .rsa-form-label {
        @include rsa-font(body, small);
      }
    }
  }
}
