.rsa-respond-detail-overview {
  &-wrapper {
    min-width: 20rem;
  }


  .scroll-box {
    background-color: rsa-color(black, null, $rsa-translucent);
    margin-right: 2px;
  }

  .rsa-content-accordion,
  .rsa-content-accordion:first-of-type,
  .rsa-content-accordion:last-of-type {
    margin: 0;
  }

  textarea {
    height: 20rem;
    resize: vertical;
  }
}
