.rsa-respond-detail-overview {
  .rsa-content-accordion,
  .rsa-content-accordion:first-of-type,
  .rsa-content-accordion:last-of-type {
    margin: 0;
  }
  .rsa-content-accordion .content {
    background-color: rsa-color(black, null, $rsa-translucent);
  }
  textarea {
    height: 20rem;
  }
}
