.rsa-respond-storyline-wrapper {
  background-color: rsa-color(black, null, $rsa-translucent);
  .date {
    @include rsa-font(header);
    white-space: nowrap;
    margin-top: rsa-whitespace(least);
    display: inline-block;
  }
}

ul.storyline{
  li {
    display: flex;
  }

  li div.timeline {
    text-align: center;
    padding: rsa-whitespace();
    @include rsa-font(header, small);
    @include rsa-font(bold);
    color: rsa-color(gray, lightest);
    width: 9rem;
  }

  li div.date-section {
    padding: rsa-whitespace();
    color: rsa-color(blue, dark);
    @include rsa-font(small, header);
    @include rsa-font(bold);
    width: 7rem;
    background-color: rsa-color(black, null, $rsa-nearly-transparent);
  }

  li div.time-section {
    margin-top: rsa-whitespace(least);
  }

  li div.content {
    flex: 1;
  }
  .main__icon {
    flex: 0 0 auto;
    padding-top: rsa-whitespace(less);
    padding-right: rsa-whitespace();
  }

  li div.main {
    margin-top: rsa-whitespace(less);
    color: rsa-color(white);
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: rsa-color(black, null, $rsa-nearly-transparent);
  }

  .main_row {
    padding: rsa-whitespace() rsa-whitespace() rsa-whitespace(less) rsa-whitespace();
    flex: 1;
  }

  .icon {
    position: absolute;
    color: rsa-color(blue, dark);
    background: rsa-color(black);
    margin-top: rsa-whitespace();
    border-radius: 25px;
    height: 10px;
    padding: 7px;
    width: 10px;
    left: 8rem;
    z-index: 2;
    border: 2px solid rsa-color(blue, dark);
  }

  .source {
    color: rsa-color(blue, dark);
  }
  .context {
    text-decoration: underline;
  }
}
.rsa-application-layout-manager.panel-B-quarter {
  .overlay{
    top: 3.8rem;
  }
  .date {
    margin-top: rsa-whitespace();
  }
  .main {
    line-height: 1.4rem;
  }
}
.rsa-application-layout-manager.panel-B-half {
  .main {
    line-height: 1.4rem;
  }
}

.overlay {
  width: 9rem;
  border-right: 2px solid rsa-color(blue, dark);
  height: 95%;
  overflow: hidden;
  background-color:  rsa-color(black, null, $rsa-nearly-transparent);
  top: 2.5rem;
  z-index: 1;
  position: absolute;
}
