.rsa-response-detail__bottom{
  &-header{
    @include rsa-font(header, large);
    color: rsa-color(gray);
    border-top: 1px solid rsa-color(gray);
    padding: rsa-whitespace(less);
    margin-bottom: rsa-whitespace(least);
  }
  &-text{
    color: rsa-color(white);
    padding: rsa-whitespace() 0 0 rsa-whitespace(more);
  }
}
.rsa-response-storyline {
    margin-top: 2px;
    .main {
      padding-right: 0;
    }
    .journalAction{
      visibility: hidden;
      margin-right: rsa-whitespace(least);
    }
    &__main-row:hover{
      .journalAction{
        visibility: visible;
      }
    }
    &__time__text{
      color: #EFBC98;
      padding: 0 rsa-whitespace(least);
    }
    &__times{
      padding: rsa-whitespace(less);
    }
    .end{
      position: absolute;
      bottom: 0;
    }
    .indicator_type{
      color: rsa-color(blue);
    }
    &__timeSection{
      text-align: center;
      @include rsa-font(header, small);
      color:#AE6900;
      border-right: 2px dotted rsa-color(gray);
      background-color: rsa-color(black, null, $rsa-translucent);
    }
    &__timedivider {
      color: #007FB6;
      padding: rsa-whitespace(least);
    }

    &__main,
    &__subItem,
    &__main_icon{
      background-color: rsa-color(black, null, $rsa-translucent);
      color: rsa-color(white);
    }
    &__subItem {
      margin-top: 2px;
    }
    &__main,
    &__subItem{
      padding: rsa-whitespace() 0 rsa-whitespace() rsa-whitespace();
    }
    &__main_icon {
      white-space: nowrap;
    }
    &__main(){
      margin-left: rsa-whitespace();
    }
    &__subItem{
      margin-left: rsa-whitespace(more);
    }
    .contextInfo{
      text-decoration: underline;
    }
    .rsa-form-button-wrapper.is-icon-only .rsa-form-button{
      line-height: 2em;
    }
}
