$background-colors: (

  primary: (
    darkest:  var(--background-color-primary-darkest),
    darker:   var(--background-color-primary-darker),
    dark:     var(--background-color-primary-dark),
    base:     var(--background-color-primary-base),
    light:    var(--background-color-primary-light),
    lighter:  var(--background-color-primary-lighter),
    lightest: var(--background-color-primary-lightest)
  ),

  secondary: (
    darkest:  var(--background-color-secondary-darkest),
    darker:   var(--background-color-secondary-darker),
    dark:     var(--background-color-secondary-dark),
    base:     var(--background-color-secondary-base),
    light:    var(--background-color-secondary-light),
    lighter:  var(--background-color-secondary-lighter),
    lightest: var(--background-color-secondary-lightest)
  ),

  tertiaryOne: (
    darkest:  var(--background-color-tertiary-one-darkest),
    darker:   var(--background-color-tertiary-one-darker),
    dark:     var(--background-color-tertiary-one-dark),
    base:     var(--background-color-tertiary-one-base),
    light:    var(--background-color-tertiary-one-light),
    lighter:  var(--background-color-tertiary-one-lighter),
    lightest: var(--background-color-tertiary-one-lightest)
  ),

  tertiaryTwo: (
    darkest:  var(--background-color-tertiary-two-darkest),
    darker:   var(--background-color-tertiary-two-darker),
    dark:     var(--background-color-tertiary-two-dark),
    base:     var(--background-color-tertiary-two-base),
    light:    var(--background-color-tertiary-two-light),
    lighter:  var(--background-color-tertiary-two-lighter),
    lightest: var(--background-color-tertiary-two-lightest)
  ),

  tertiaryThree: (
    darkest:  var(--background-color-tertiary-three-darkest),
    darker:   var(--background-color-tertiary-three-darker),
    dark:     var(--background-color-tertiary-three-dark),
    base:     var(--background-color-tertiary-three-base),
    light:    var(--background-color-tertiary-three-light),
    lighter:  var(--background-color-tertiary-three-lighter),
    lightest: var(--background-color-tertiary-three-lightest)
  ),

  tertiaryFour: (
    darkest:  var(--background-color-tertiary-four-darkest),
    darker:   var(--background-color-tertiary-four-darker),
    dark:     var(--background-color-tertiary-four-dark),
    base:     var(--background-color-tertiary-four-base),
    light:    var(--background-color-tertiary-four-light),
    lighter:  var(--background-color-tertiary-four-lighter),
    lightest: var(--background-color-tertiary-four-lightest)
  ),

  neutral: (
    dark:     var(--background-color-neutral-dark),
    base:     var(--background-color-neutral-base),
  )

);

@function background-color($colorName, $modifier:base, $opacity:1) {
  @return map-get(map-get($background-colors, $colorName), $modifier);
  //TODO: @return rgba(#{$mappedColor}, $opacity);
}
