<div class='line-one'> {{t 'investigateHosts.downloads.help.headerLine'}}</div>
<div class='line-one content'>
  <div class='header'> {{t 'investigateHosts.downloads.help.header'}}</div>
  <ul>
    <li>Click {{rsa-icon size='small' name='arrow-right-12'}} to view the folder structure.</li>
    <li>{{t 'investigateHosts.downloads.help.line2'}}</li>
  </ul>
</div>