<div class='line-one'> {{t 'investigateHosts.downloads.help.header'}}</div>
<div class='line-one'>
  <ul>
    <li>Click {{rsa-icon size='small' name='arrow-right-12'}} to view the folder structure.</li>
  </ul>
</div>