.rsa-explorer-table {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .items-error {
    font-style: italic;
    font-size: 1.15rem;
  }

  a {
    color: text-color(secondary, light);
  }

  .rsa-data-table-body-cell, .rsa-data-table-header-cell {
    box-sizing: border-box;
  }

  .rsa-data-table,
  .rsa-data-table-body,
  .rsa-data-table-body-rows,
  .rsa-data-table-body .no-results {
    height: 100%;
    font-size: 2rem;
  }

  .rsa-data-table-header {
    border-bottom: 1px solid border-color(primary, dark);
    .rsa-data-table-header-cell {
      // 20px padding on the right gives space for the column sort button
      padding: 0 20px 0 rsa-whitespace(less);

      &:first-child { // checkbox cell
        padding: 0 0 0 rsa-whitespace(less);
        min-width: 40px;
        .rsa-form-checkbox-label {
          font-size: 0.85rem;
        }
      }
      button {
        cursor: pointer;
        &.column-sort {
          position: absolute;
          right: 7px;
        }
      }
    }
  }

  .rsa-data-table-body-row {
    cursor: pointer;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;

    &.has-focus {
      background-color: background-color(secondary, base, nearly-transparent);
    }
  }

  .rsa-item-selected {
    color: text-color(secondary, base);
  }

  .rsa-data-table-body-cell {
    min-width: 40px;
    position: relative;

    &:first-child { // checkbox cell should never show ellipsis
      text-overflow: clip;
    }

    .entity-priority-indicator {
      display: inline-block;
      width: 6px;
      height: 60%;
      background-color: background-color(neutral);
      position: absolute;
      top: rsa-whitespace(less);
      bottom: 0;
      left: rsa-whitespace(less);
      border-radius: 4px;

      &.priority-danger {
        background-color: background-color(accentOne);
      }

      &.priority-high {
        background-color: background-color(accentThree);
      }

      &.priority-medium {
        background-color: background-color(accentFour);
      }

      &.priority-low {
        background-color: background-color(accentTwo);
      }
    }
    .entity-priority {
      padding-left: rsa-whitespace();
      text-transform: uppercase;
    }
  }

  .rsa-data-table-body-cell .rsa-form-checkbox-label, .rsa-data-table-header-cell .rsa-form-checkbox-label {
    min-width: 12px;
  }
}
