.respond-engine .rsa-explorer-toolbar {
  padding: 0 rsa-whitespace();
  .selection-count {
    padding-right: rsa-whitespace();
  }

  .toolbar-button {
    padding: rsa-whitespace(less);
    font-size: 20px;
    width: 23px;
    color: text-color(primary, lighter);
    margin-right: rsa-whitespace(least);
    cursor: pointer;
  }

  &.more-filters-active {
    .more-filters-button {
      display: none;
    }
  }

  &__filters {
    @include rsa-row(left, middle);
  }

  &__views,
  &__btns {
    @include rsa-row(right, middle);

    .action-control {
      display: inline-block;
      > .rsa-form-button-wrapper {
        overflow-x: hidden;
      }
      .ember-power-select-trigger {
        display: inline-block;
        width: auto;
        padding: 0;
        border-bottom: none;
        &[aria-disabled="true"] {
          background-color: transparent;
        }
        &:hover {
          border-bottom: none;
        }
      }
    }
  }

  &__views {
    margin-right: rsa-whitespace(more);
  }

  &__selections-counter {
    @include rsa-vendor-prefix(flex-shrink, 0);
    @include rsa-vendor-prefix(flex-grow, 1);
    margin-left: rsa-whitespace();
  }

  &__selections-actions,
  &__selections-btns {
    text-align: right;
    @include rsa-vendor-prefix(flex-shrink, 0);
    @include rsa-vendor-prefix(flex-grow, 0);
  }

  &__selections-btns {
    text-align: right;
  }

  .rsa-button {
    padding: rsa-whitespace(least) rsa-whitespace(less);
    height: 2rem;
    border: 1px solid transparent;
    cursor: pointer;

    &[disabled="true"],
    &:disabled {
      cursor: default;
      color: text-color(primary);
    }
  }
}

.rsa-incidents-toolbar__selections-btns {
  height: 40px;
  .rsa-button {
    vertical-align: bottom;
  }
}
