<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%xEx{full}</Pattern>
		</encoder>
	</appender>

	<appender name="LogFile" class="ch.qos.logback.core.FileAppender">
		<file>logFile.log</file>
		<append>false</append>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
	</appender>
	
	<appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
		<syslogHost>localhost</syslogHost>
		<facility>USER</facility>
		<suffixPattern>fortscale-collection: %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%xEx{full}</suffixPattern>
	</appender>

	<root level="info">
		<appender-ref ref="SYSLOG" />
	</root>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.quartz" additivity="false" level="warn" >
		<appender-ref ref="SYSLOG" />
	</logger>
	
	<logger name="org.springframework.core" additivity="false" level="warn">
		<appender-ref ref="SYSLOG" />
	</logger>
	
	<logger name="org.springframework.data" additivity="false" level="warn">
		<appender-ref ref="SYSLOG" />
	</logger>
	
	<logger name="org.springframework.beans" additivity="false" level="warn">
		<appender-ref ref="SYSLOG" />
	</logger>
	
	<logger name="org.springframework.context" additivity="false" level="warn">
		<appender-ref ref="SYSLOG" />
	</logger>

	<logger name="org.springframework.web" additivity="false" level="warn">
		<appender-ref ref="SYSLOG" />
	</logger>

	<logger name="org.apache.hadoop" additivity="false" level="error">
		<appender-ref ref="SYSLOG" />
	</logger>
	<logger name="org.apache.pig.backend.hadoop23" additivity="false" level="error">
		<appender-ref ref="SYSLOG" />
	</logger>
    <logger name="org.hibernate" additivity="false" level="warn">
        <appender-ref ref="SYSLOG" />
    </logger>
    <logger name="com.cloudera.cdk.morphline" additivity="false" level="info">
		<appender-ref ref="SYSLOG" />
	</logger>
	
	
</configuration>