<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%xEx{full}</Pattern>
		</encoder>
	</appender>

	<appender name="LogFile" class="ch.qos.logback.core.FileAppender">
		<file>logFile.log</file>
		<append>false</append>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
	</appender>
	
	<appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
		<syslogHost>localhost</syslogHost>
		<facility>USER</facility>
		<suffixPattern>fortscale-collection: %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%xEx{full}</suffixPattern>
	</appender>

	<root level="ERROR">
		<appender-ref ref="STDOUT" />
    </root>

    <logger name="fortscale" additivity="false" level="INFO">
		<appender-ref ref="STDOUT" />
    </logger>

    <logger name="fortscale.collection.morphlines" additivity="false" level="ERROR">
		<appender-ref ref="LogFile" />
    </logger>


    <logger name="fortscale.collection.morphlines.commands" dditivity="false" level="ERROR">
		<appender-ref ref="LogFile" />
    </logger>
	
	
</configuration>