$modalHeaderHeight: 52px;
$footerHeight: 40px;

@import "create-incident";
@import "add-to-incident";

.rsa-application-modal-content.create-incident-modal {
  width: 33%;
  height: 33%;
  max-height: 300px;
  min-height: 250px;

  .modal-content {
    padding: rsa-whitespace();
  }
}

.rsa-application-modal-content.add-to-incident-modal {
  width: 65%;
  height: 65%;
  max-height: 500px;
  min-height: 300px;

  .modal-content {
    padding: rsa-whitespace() rsa-whitespace() 0 rsa-whitespace();
    // modal content's height does not include header/footer and the padding (1rem)
    height: calc(100% - #{$modalHeaderHeight} - #{$footerHeight} - 1rem);
  }
}

.alert-names-filter-table .rsa-data-table-body-row:hover {
  .rsa-data-table-body-cell {
    background-color: inherit;
  }
}