<div class="fs-alert-modal">
    <div class="modal-header">
        <h3 class="header-text modal-title">Server Error</h3>
        <div class="close-with-x" ng-click="responseModal.clickOk()"></div>
    </div>
    <div class="modal-body">
        <b>Due to an unknown server error, the alert was not updated.<br>Please try again later. </b>
    </div>
    <div class="modal-buttons">
        <div class="fs-button-group">
            <button class="fs-button fs-button-regular ok" type="button" ng-click="responseModal.clickOk()">OK</button>
        </div>
    </div>
</div>
