// ENTITY TAB STRIP //
.simple-tab-strip {
    display: block;
    border-bottom: 1px solid $clrGrey20;
    height: 2rem;
    margin: 3rem 0 2rem 0;

    .bullet {
        display: inline-block;
        width: 150px;
        box-sizing: border-box;
        height: 2rem;
        text-align: center;
        opacity: 1;
        cursor: pointer;
        border-bottom: 3px solid rgba(0,0,0,0);
        transition: border-bottom 0.3s ease-in-out, opacity 0.5s ease-out, color 0.3s ease-in-out ;
        @include no-select();

        @include font-roboto-regular();

        color: $clrGrey50;

        &.active {
            border-bottom: 3px solid rgba(87,87,87,1);
            opacity: 1;
            color: $clrGrey100;

        }

    }
}
