<hbox>
  {{rsa-form-input
    class='beacon-interval-value'
    value=(readonly beaconIntervalValue)
    isError=beaconIntervalValueValidator.showError
    errorMessage=(t beaconIntervalValueValidator.errorMessage)
    focusOut=(action 'handleBeaconIntervalValueChange')
  }}
  <div class="beacon-interval-unit">
    {{#power-select
      class='beacon-interval-unit'
      options=beaconIntervalUnits
      selected=selectedBeaconIntervalUnit
      searchField='label'
      onchange=(action 'handleBeaconIntervalUnitChange') as |option|
    }}
      {{option.label}}
    {{/power-select}}
  </div>
</hbox>
