.files-body {
  .rsa-data-table-body-row.is-selected {
    .content-context-menu {
      background-color: background-color(secondary, dark);
    }
  }
}
.context-menu {
  padding: rsa-whitespace(less) 0;
  .context-menu__item {
    padding: 0.30rem 1rem;
    &:nth-child(4), &:nth-child(7) {
      padding-top: 0px; 
    }
    .cntxBorder {
      padding-top: rsa-whitespace(less);
      margin: 0px auto;
    }
  }
}