.files-body {
  .rsa-data-table-body-row.is-selected {
    .content-context-menu {
      background-color: background-color(secondary, dark);
    }
  }
}
.context-menu {
  .context-menu__item {
    margin-right: 30px;
    padding-left: rsa-whitespace();
    line-height: rsa-whitespace();
    &__label {
      height: 15px;
    }
    &--disabled {
      color: text-color(primary);
      &::after {
        color: text-color(primary);
      }
      &:hover {
        color: text-color(primary);
      }
    }
    &:first-child {
      padding-top: 1rem;
    }
    &:last-child {
      padding-bottom: 1rem;
    }
   
  }
  .show-divider {
    @include border-top(1px, solid, primary, base, opaque);
    padding: 1rem;
  }
}
