.files-body {
  .rsa-data-table-body-row.is-selected {
    .content-context-menu {
      background-color: background-color(secondary, dark);
    }
  }
}
.context-menu {
   padding: 0.15rem 0 0 0;
  .context-menu__item {
    margin-right: 30px;
    padding-left: rsa-whitespace();
  }
  .show-divider {
    @include border-top(1px, solid, primary, base, opaque);
  }
}
