{{#host-detail/utils/host-title-bar tabs=hostDetailTabs defaultAction=(action 'setNewTabView') as |tab|}}
  {{#link-to 'hosts.details' agentId (query-params tabName=tab.name subTabName=null)}}
    <div class="label">{{t tab.label}}</div>
  {{/link-to}}
{{/host-detail/utils/host-title-bar}}
{{#unless hideSnapshotAndExploreSearch}}
  {{host-detail/header/titlebar/explore}}
{{/unless}}
