{{#host-detail/utils/host-title-bar tabs=hostDetailTabs as |tab|}}
  {{#link-to "hosts.details.tab" agentId tab.name (query-params searchKey=selectedTab.searchKey checksum=selectedTab.checksum scanTime=selectedTab.scanTime subTabName=tab.subTabName)}}
    <div class="label">{{t tab.label}}</div>
  {{/link-to}}
{{/host-detail/utils/host-title-bar}}
{{#unless hideSnapshotAndExploreSearch}}
  {{host-detail/header/titlebar/explore navigateToTab=navigateToTab}}
{{/unless}}
