@import 'components/manifest';

.license-banner.shown {
  $container-height:130px; 
}
.users-container {
  background-color: background-color(primary, darker);
  @include rsa-col(justify,fill);
  height: calc(100vh - 110px);
}

.investigate-engine:has(.license-banner.shown) {
  .users-container {
    height: calc(100vh - 140px);
  }
}

.saved-filter-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 90%;
  vertical-align: top;
}
.center {
  position: relative;
  top: 50%;
}
