@import 'components/manifest';

.users-container {
  background-color: background-color(primary, darker);
  @include rsa-col(justify,fill);
  height: calc(100vh - 90px);
}

.center {
  position: relative;
  top: 50%;
}