.risk-scoring {
  overflow: hidden;
  padding: 0 rsa-whitespace();

  h1 {
    font-size: 18px;
    text-transform: uppercase;
    padding-top: rsa-whitespace();
    color: text-color(primary, lighter);
  }

  form {
    padding-left: rsa-whitespace();

    &.hidden {
      display: none;
    }
  }

  .form-save-controls {
    padding-top: rsa-whitespace();
    button {
      margin-right: rsa-whitespace();
    }
  }
}
