.risk-scoring {
  overflow: hidden;
  padding: 0 rsa-whitespace();
  padding-bottom: rsa-whitespace(less);

  h1 {
    @include rsa-font(header);
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    padding-top: rsa-whitespace();
    color: text-color(primary, lightest);
  }

  form {
    padding-left: rsa-whitespace();

    &.hidden {
      display: none;
    }
  }

  input {
    width: 55px;
  }

  .time-window {
    display: flex;

    .form-validation:first-child {
      width: 250px;
    }

    .form-validation:nth-child(even) {
      padding-top: 2.15rem;
      margin-left: -13.5rem;
      align-self: flex-start;
    }
  }

  .form-save-controls {
    padding-top: rsa-whitespace();
    button {
      margin-right: rsa-whitespace();
    }
  }
}
