.file-pager {
  @include rsa-font(body, small);
  color: text-color(primary);
  border-top: 1px solid border-color(primary, dark);
  background-color: background-color(primary, darkest, translucent);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: rsa-whitespace(more);
  .lighter {
    color: text-color(primary, lighter);
  }
}



.file-info {
  position: absolute;
  top: rsa-whitespace(less);
  left: rsa-whitespace();
  text-align: right;
  width:97%;
}
