$icomoon-font-path: "fonts" !default;

$icon-arrow-down-1-filled: "\e900";
$icon-arrow-down-5-filled: "\e901";
$icon-arrow-down-8-filled: "\e902";
$icon-arrow-left-1-filled: "\e903";
$icon-arrow-left-5-filled: "\e904";
$icon-arrow-left-8-filled: "\e905";
$icon-arrow-right-1-filled: "\e906";
$icon-arrow-right-5-filled: "\e907";
$icon-arrow-right-8-filled: "\e908";
$icon-arrow-up-1-filled: "\e909";
$icon-arrow-up-5-filled: "\e90a";
$icon-arrow-up-8-filled: "\e90b";
$icon-shrink-horizontal-2-filled: "\e90c";
$icon-shrink-diagonal-2-filled: "\e90d";
$icon-expand-vertical-4-filled: "\e90e";
$icon-arrow-circle-down-2-filled: "\e90f";
$icon-arrow-circle-left-2-filled: "\e910";
$icon-arrow-circle-right-2-filled: "\e911";
$icon-arrow-circle-up-2-filled: "\e912";
$icon-graph-line-1-filled: "\e913";
$icon-graph-line-3-filled: "\e914";
$icon-bow-arrow-filled: "\e915";
$icon-account-circle-1-filled: "\e916";
$icon-account-target-filled: "\e917";
$icon-add-1-filled: "\e918";
$icon-add-circle-1-filled: "\e919";
$icon-alarm-sound-filled: "\e91a";
$icon-arrow-circle-down-1-filled: "\e91b";
$icon-arrow-circle-down-6-filled: "\e91c";
$icon-arrow-circle-left-1-filled: "\e91d";
$icon-arrow-circle-left-6-filled: "\e91e";
$icon-arrow-circle-right-1-filled: "\e91f";
$icon-arrow-circle-right-6-filled: "\e920";
$icon-arrow-circle-up-1-filled: "\e921";
$icon-arrow-circle-up-6-filled: "\e922";
$icon-arrow-down-7-filled: "\e923";
$icon-arrow-down-12-filled: "\e924";
$icon-arrow-left-7-filled: "\e925";
$icon-arrow-left-9-filled: "\e926";
$icon-arrow-left-12-filled: "\e927";
$icon-arrow-next-filled: "\e928";
$icon-arrow-previous-filled: "\e929";
$icon-arrow-right-7-filled: "\e92a";
$icon-arrow-right-9-filled: "\e92b";
$icon-arrow-right-12-filled: "\e92c";
$icon-arrow-up-7-filled: "\e92d";
$icon-arrow-up-12-filled: "\e92e";
$icon-bin-1-filled: "\e92f";
$icon-binoculars-filled: "\e930";
$icon-bookmark-1-filled: "\e931";
$icon-calendar-2-filled: "\e932";
$icon-check-1-filled: "\e933";
$icon-check-2-filled: "\e934";
$icon-check-box-1-filled: "\e935";
$icon-check-circle-1-filled: "\e936";
$icon-check-circle-2-filled: "\e937";
$icon-checklist-filled: "\e938";
$icon-clock-2-filled: "\e939";
$icon-close-filled: "\e93a";
$icon-cloud-download-filled: "\e93b";
$icon-cloud-filled: "\e93c";
$icon-cloud-sync-1-filled: "\e93d";
$icon-cloud-upload-filled: "\e93e";
$icon-cog-filled: "\e93f";
$icon-computer-imac-2-filled: "\e940";
$icon-computer-notebook-2-filled: "\e941";
$icon-computer-pc-3-filled: "\e942";
$icon-copy-1-filled: "\e943";
$icon-delete-1-filled: "\e944";
$icon-delete-2-filled: "\e945";
$icon-download-2-filled: "\e946";
$icon-expand-all-1-filled: "\e947";
$icon-expand-diagonal-4-filled: "\e948";
$icon-expand-horizontal-6-filled: "\e949";
$icon-expand-vertical-2-filled: "\e94a";
$icon-expand-vertical-6-filled: "\e94b";
$icon-file-checklist-filled: "\e94c";
$icon-file-new-1-filled: "\e94d";
$icon-filter-2-filled: "\e94e";
$icon-flag-square-2-filled: "\e94f";
$icon-flag-square-3-filled: "\e950";
$icon-flag-triangle-1-filled: "\e951";
$icon-flow-chart-1-filled: "\e952";
$icon-flow-chart-3-filled: "\e953";
$icon-flowchart-filled: "\e954";
$icon-folder-1-filled: "\e955";
$icon-folder-2-filled: "\e956";
$icon-graph-bar-1-filled: "\e957";
$icon-graph-bar-2-filled: "\e958";
$icon-graph-bar-line-filled: "\e959";
$icon-graph-filled: "\e95a";
$icon-graph-line-2-filled: "\e95b";
$icon-graph-pie-2-filled: "\e95c";
$icon-headphone-filled: "\e95d";
$icon-help-circle-filled: "\e95e";
$icon-hide-filled: "\e95f";
$icon-home-1-filled: "\e960";
$icon-hourglass-1-filled: "\e961";
$icon-information-circle-filled: "\e962";
$icon-layout-1-filled: "\e963";
$icon-layout-2-filled: "\e964";
$icon-layout-3-filled: "\e965";
$icon-layout-4-filled: "\e966";
$icon-layout-5-filled: "\e967";
$icon-layout-6-filled: "\e968";
$icon-layout-7-filled: "\e969";
$icon-layout-8-filled: "\e96a";
$icon-layout-9-filled: "\e96b";
$icon-layout-10-filled: "\e96c";
$icon-layout-11-filled: "\e96d";
$icon-layout-12-filled: "\e96e";
$icon-layout-none-filled: "\e96f";
$icon-link-3-filled: "\e970";
$icon-link-broken-1-filled: "\e971";
$icon-list-bullets-1-filled: "\e972";
$icon-location-map-filled: "\e973";
$icon-lock-close-1-filled: "\e974";
$icon-lock-open-1-filled: "\e975";
$icon-map-target-1-filled: "\e976";
$icon-map-target-2-filled: "\e977";
$icon-map-target-none-filled: "\e978";
$icon-mobile-phone-portrait-filled: "\e979";
$icon-move-down-1-filled: "\e97a";
$icon-move-down-filled: "\e97b";
$icon-move-left-1-filled: "\e97c";
$icon-move-right-1-filled: "\e97d";
$icon-move-up-1-filled: "\e97e";
$icon-move-up-filled: "\e97f";
$icon-navigation-drawer-1-filled: "\e980";
$icon-navigation-show-more-1-filled: "\e981";
$icon-navigation-show-more-2-filled: "\e982";
$icon-network-live-filled: "\e983";
$icon-notepad-2-filled: "\e984";
$icon-paperclip-1-filled: "\e985";
$icon-pause-button-filled: "\e986";
$icon-pencil-1-filled: "\e987";
$icon-pencil-write-2-filled: "\e988";
$icon-play-button-2-filled: "\e989";
$icon-rank-army-star-2-filled: "\e98a";
$icon-remove-circle-1-filled: "\e98b";
$icon-report-problem-circle-filled: "\e98c";
$icon-report-problem-diamond-filled: "\e98d";
$icon-report-problem-triangle-filled: "\e98e";
$icon-rss-feed-filled: "\e98f";
$icon-search-filled: "\e990";
$icon-server-3-filled: "\e991";
$icon-server-network-3-filled: "\e992";
$icon-server-network-5-filled: "\e993";
$icon-network-filled: "\ea48";
$icon-network-connecting-filled: "\ea49";
$icon-network-computers-2-filled: "\ea4a";
$icon-settings-1-filled: "\e994";
$icon-share-filled: "\e995";
$icon-signal-warning-filled: "\e996";
$icon-stop-button-filled: "\e997";
$icon-subtract-1-filled: "\e998";
$icon-subtract-circle-1-filled: "\e999";
$icon-synchronize-1-filled: "\e99a";
$icon-synchronize-3-filled: "\e99b";
$icon-synchronize-4-filled: "\e99c";
$icon-synchronize-time-filled: "\e99d";
$icon-synchronize-warning-1-filled: "\e99e";
$icon-tools-wrench-screwdriver-filled: "\e99f";
$icon-upload-2-filled: "\e9a0";
$icon-view-1-filled: "\e9a1";
$icon-zoom-in-filled: "\e9a2";
$icon-zoom-out-filled: "\e9a3";
$icon-arrow-down-1-lined: "\e9a4";
$icon-arrow-down-5-lined: "\e9a5";
$icon-arrow-down-8-lined: "\e9a6";
$icon-arrow-left-1-lined: "\e9a7";
$icon-arrow-left-5-lined: "\e9a8";
$icon-arrow-left-8-lined: "\e9a9";
$icon-arrow-right-1-lined: "\e9aa";
$icon-arrow-right-5-lined: "\e9ab";
$icon-arrow-right-8-lined: "\e9ac";
$icon-arrow-up-1-lined: "\e9ad";
$icon-arrow-up-5-lined: "\e9ae";
$icon-arrow-up-8-lined: "\e9af";
$icon-shrink-horizontal-2-lined: "\e9b0";
$icon-shrink-diagonal-2-lined: "\e9b1";
$icon-expand-vertical-4-lined: "\e9b2";
$icon-arrow-circle-down-2-lined: "\e9b3";
$icon-arrow-circle-left-2-lined: "\e9b4";
$icon-arrow-circle-right-2-lined: "\e9b5";
$icon-arrow-circle-up-2-lined: "\e9b6";
$icon-bow-arrow-lined: "\e9b7";
$icon-account-circle-1-lined: "\e9b8";
$icon-account-target-lined: "\e9b9";
$icon-add-1-lined: "\e9ba";
$icon-add-circle-1-lined: "\e9bb";
$icon-alarm-sound-lined: "\e9bc";
$icon-arrow-circle-down-1-lined: "\e9bd";
$icon-arrow-circle-down-6-lined: "\e9be";
$icon-arrow-circle-left-1-lined: "\e9bf";
$icon-arrow-circle-left-6-lined: "\e9c0";
$icon-arrow-circle-right-1-lined: "\e9c1";
$icon-arrow-circle-right-6-lined: "\e9c2";
$icon-arrow-circle-up-1-lined: "\e9c3";
$icon-arrow-circle-up-6-lined: "\e9c4";
$icon-arrow-down-7-lined: "\e9c5";
$icon-arrow-down-12-lined: "\e9c6";
$icon-arrow-left-7-lined: "\e9c7";
$icon-arrow-left-9-lined: "\e9c8";
$icon-arrow-left-12-lined: "\e9c9";
$icon-arrow-next-lined: "\e9ca";
$icon-arrow-previous-lined: "\e9cb";
$icon-arrow-right-7-lined: "\e9cc";
$icon-arrow-right-9-lined: "\e9cd";
$icon-arrow-right-12-lined: "\e9ce";
$icon-arrow-up-7-lined: "\e9cf";
$icon-arrow-up-12-lined: "\e9d0";
$icon-bin-1-lined: "\e9d1";
$icon-binoculars-lined: "\e9d2";
$icon-bookmark-1-lined: "\e9d3";
$icon-calendar-2-lined: "\e9d4";
$icon-check-1-lined: "\e9d5";
$icon-check-2-lined: "\e9d6";
$icon-check-box-1-lined: "\e9d7";
$icon-check-circle-1-lined: "\e9d8";
$icon-check-circle-2-lined: "\e9d9";
$icon-checklist-lined: "\e9da";
$icon-clock-2-lined: "\e9db";
$icon-close-lined: "\e9dc";
$icon-cloud-download-lined: "\e9dd";
$icon-cloud-lined: "\e9de";
$icon-cloud-sync-1-lined: "\e9df";
$icon-cloud-upload-lined: "\e9e0";
$icon-cog-lined: "\e9e1";
$icon-computer-imac-2-lined: "\e9e2";
$icon-computer-notebook-2-lined: "\e9e3";
$icon-computer-pc-3-lined: "\e9e4";
$icon-copy-1-lined: "\e9e5";
$icon-delete-1-lined: "\e9e6";
$icon-delete-2-lined: "\e9e7";
$icon-download-2-lined: "\e9e8";
$icon-expand-all-1-lined: "\e9e9";
$icon-expand-diagonal-4-lined: "\e9ea";
$icon-expand-horizontal-6-lined: "\e9eb";
$icon-expand-vertical-2-lined: "\e9ec";
$icon-expand-vertical-6-lined: "\e9ed";
$icon-file-checklist-lined: "\e9ee";
$icon-file-new-1-lined: "\e9ef";
$icon-filter-2-lined: "\e9f0";
$icon-flag-square-2-lined: "\e9f1";
$icon-flag-square-3-lined: "\e9f2";
$icon-flag-triangle-1-lined: "\e9f3";
$icon-flow-chart-1-lined: "\e9f4";
$icon-flow-chart-3-lined: "\e9f5";
$icon-flowchart-lined: "\e9f6";
$icon-folder-1-lined: "\e9f7";
$icon-folder-2-lined: "\e9f8";
$icon-graph-bar-1-lined: "\e9f9";
$icon-graph-bar-2-lined: "\e9fa";
$icon-graph-bar-line-lined: "\e9fb";
$icon-graph-line-1-lined: "\e9fc";
$icon-graph-line-2-lined: "\e9fd";
$icon-graph-line-3-lined: "\e9fe";
$icon-graph-lined: "\e9ff";
$icon-graph-pie-2-lined: "\ea00";
$icon-headphone-lined: "\ea01";
$icon-help-circle-lined: "\ea02";
$icon-hide-lined: "\ea03";
$icon-home-1-lined: "\ea04";
$icon-hourglass-1-lined: "\ea05";
$icon-information-circle-lined: "\ea06";
$icon-layout-1-lined: "\ea07";
$icon-layout-2-lined: "\ea08";
$icon-layout-3-lined: "\ea09";
$icon-layout-4-lined: "\ea0a";
$icon-layout-5-lined: "\ea0b";
$icon-layout-6-lined: "\ea0c";
$icon-layout-7-lined: "\ea0d";
$icon-layout-8-lined: "\ea0e";
$icon-layout-9-lined: "\ea0f";
$icon-layout-10-lined: "\ea10";
$icon-layout-11-lined: "\ea11";
$icon-layout-12-lined: "\ea12";
$icon-layout-none-lined: "\ea13";
$icon-link-3-lined: "\ea14";
$icon-link-broken-1-lined: "\ea15";
$icon-list-bullets-1-lined: "\ea16";
$icon-location-map-lined: "\ea17";
$icon-lock-close-1-lined: "\ea18";
$icon-lock-open-1-lined: "\ea19";
$icon-map-target-1-lined: "\ea1a";
$icon-map-target-2-lined: "\ea1b";
$icon-map-target-none-lined: "\ea1c";
$icon-mobile-phone-portrait-lined: "\ea1d";
$icon-move-down-1-lined: "\ea1e";
$icon-move-down-lined: "\ea1f";
$icon-move-left-1-lined: "\ea20";
$icon-move-right-1-lined: "\ea21";
$icon-move-up-1-lined: "\ea22";
$icon-move-up-lined: "\ea23";
$icon-navigation-drawer-1-lined: "\ea24";
$icon-navigation-show-more-1-lined: "\ea25";
$icon-navigation-show-more-2-lined: "\ea26";
$icon-network-live-lined: "\ea27";
$icon-notepad-2-lined: "\ea28";
$icon-paperclip-1-lined: "\ea29";
$icon-pause-button-lined: "\ea2a";
$icon-pencil-1-lined: "\ea2b";
$icon-pencil-write-2-lined: "\ea2c";
$icon-play-button-2-lined: "\ea2d";
$icon-rank-army-star-2-lined: "\ea2e";
$icon-remove-circle-1-lined: "\ea2f";
$icon-report-problem-circle-lined: "\ea30";
$icon-report-problem-diamond-lined: "\ea31";
$icon-report-problem-triangle-lined: "\ea32";
$icon-rss-feed-lined: "\ea33";
$icon-search-lined: "\ea34";
$icon-server-3-lined: "\ea35";
$icon-server-network-3-lined: "\ea36";
$icon-server-network-5-lined: "\ea37";
$icon-network-lined: "\ea4b";
$icon-network-connecting-lined: "\ea4c";
$icon-network-computers-2-lined: "\ea4d";
$icon-settings-1-lined: "\ea38";
$icon-share-lined: "\ea39";
$icon-signal-warning-lined: "\ea3a";
$icon-stop-button-lined: "\ea3b";
$icon-subtract-1-lined: "\ea3c";
$icon-subtract-circle-1-lined: "\ea3d";
$icon-synchronize-1-lined: "\ea3e";
$icon-synchronize-3-lined: "\ea3f";
$icon-synchronize-4-lined: "\ea40";
$icon-synchronize-time-lined: "\ea41";
$icon-synchronize-warning-1-lined: "\ea42";
$icon-tools-wrench-screwdriver-lined: "\ea43";
$icon-upload-2-lined: "\ea44";
$icon-view-1-lined: "\ea45";
$icon-zoom-in-lined: "\ea46";
$icon-zoom-out-lined: "\ea47";

@font-face {
  font-family: 'nw-icon-library-all-1';
  src:  url('#{$icomoon-font-path}/nw-icon-library-all-v5.eot');
  src:  url('#{$icomoon-font-path}/nw-icon-library-all-v5.eot#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/nw-icon-library-all-v5.ttf') format('truetype'),
    url('#{$icomoon-font-path}/nw-icon-library-all-v5.woff') format('woff'),
    url('#{$icomoon-font-path}/nw-icon-library-all-v5.svg#nw-icon-library-all-v5') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import './base/themes/manifest';
@import './base/design/manifest';
@import './base/keyframes/manifest';
@import './base/application/manifest';
@import './base/form/manifest';
@import './base/content/manifest';
@import './base/nav/manifest';
