.machine-isolation{
  sup {
    color: red;
  }
  .comment-box-label {
    margin: rsa-whitespace() 0;
  }
  .edit-modal-content, .isolation-modal-content{
    padding: rsa-whitespace(more) rsa-whitespace();
    overflow: auto;
    max-height: 500px;
    .isolate-description-text {
      margin-bottom: rsa-whitespace();
    }
    .exclusion-list-wrapper {
      .comment-box-label {
        margin: rsa-whitespace() rsa-whitespace() rsa-whitespace(more) 1.5rem;
      }
    }

    textarea {
      max-width: 470px;
    }

    .comment-wrapper {
      textarea {
        resize: none;
      }
    }
  }
  .edit-modal-content {
    .exclusion-list-wrapper {
      .comment-box-label {
        margin: 0 0 rsa-whitespace() 0;
      }
    }
  }
}

.isolation-pill {
  display: inline-block;
  border: 1px solid red;
  border-radius: 3px;
  padding: 0px 3px;
  @include rsa-font(default, small);
  color: red;
  margin-left: rsa-whitespace(less);
  line-height: 1rem;
  font-size: 0.65rem;
}

.machine-name-holder {
  overflow: unset;
  .host-name {
    display: inline-block;
    max-width: 64%;
    line-height: 13px;
    vertical-align: bottom;
    a {
      display: inline-block;
      height: 17px;
      line-height: 17px;
    }
  }
  .isolation-pill {
    height: 1rem;
    vertical-align: text-bottom;
  }
}