<h2 class='filter-text'>{{options.label}}</h2>
{{range-slider
  step=options.step
  start=filterValue
  min=options.min
  max=options.max
  pips=options.pips
  isReadOnly=true
  on-change="onSliderChange"}}