.events-list-endpoint-footer {
  table {
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-collapse: separate;
    border-spacing: rsa-whitespace(less);
  }

  table tr:first-child th:first-child {
    width: 4rem;
  }

  table tr:first-child th:nth-child(2) {
    width: 9rem;
  }

  .launch-args {
    word-break: break-word;
    max-width: 100px;
  }
  .hash {
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.events-list-endpoint-detail {
  @include border-top(1px, solid, primary, base, somewhat-opaque);
  padding: rsa-whitespace(less);

  hbox {
    margin-top: -10px;

    & > dl {
      &:first-of-type {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
      }
    }
  }
}
