.events-list-generic-footer {
  table {
    width: 100%;
    table-layout: fixed;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-collapse: separate;
    border-spacing: rsa-whitespace(less);
  }

  table tr:first-child th:first-child {
    width: 4rem;
  }

  table tr:first-child th:nth-child(2) {
    width: 9rem;
  }

  table td {
    word-break: break-word;
    padding-right: 1.1%;
  }
}

.events-list-generic-detail {
  @include border-top(1px, solid, primary, base, somewhat-opaque);
  padding: rsa-whitespace(less);

  hbox {
    display: block;
    margin-top: -10px;

    & > dl {
      &:first-of-type {
        -webkit-columns: 250px 4;
        -moz-columns: 250px 4;
        columns: 250px 4;

        -webkit-column-gap: 15px;
        -moz-column-gap: 15px;
        column-gap: 15px;

        margin: 0 auto;
        display: block;

        -moz-column-fill: balance;
        column-fill: balance;
      }
    }
  }
}
