.events-list-table-row {
  padding: rsa-whitespace(less);

  &:first-of-type {
    border-top: 0;
    & ~ .events-list-table-row {
      @include border-top(1px, solid, primary, light);
    }
  }

  &:nth-last-child(2) {
    @include border-bottom(1px, solid, secondary);
    &:not(.expanded) {
      @include border-bottom(1px, solid, primary, light);
    }
  }

  & dl.events-list-endpoint-header, dl.events-list-generic-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    height: 2em;

    dd, dt {
      flex-basis: 50%;
    }
  }

  table th, dt {
    @include rsa-font(regular, smaller, true);
    color: text-color(primary, light);
    font-weight: bold;
  }

  table td, dd {
    color: text-color(primary, lightest);
    @include rsa-font(regular, small);
  }

  dd {
    font-size: 14px;
  }

  table th, td {
    text-align: left;
  }

  .events-list-detail:focus {
    outline: none;
  }

  .events-list-alert-detail {
    display: flex;
    align-items: center;
  }

  .events-list-detail {
    padding-left: 1.2em;
    padding-right: 1.2em;
  }

  .inline-alert-name {
    display: inline;
    font-weight: bold;
    padding-left: rsa-whitespace(less);
  }

  .inline-events-summary {
    @include rsa-font(regular, smaller);
    margin-top: 2px;
    color: text-color(primary, light);
    padding-left: rsa-whitespace(less);
  }

  .events-list-table-cell {
    cursor: pointer;
    &:focus {
      outline: none;
    }

    .has-context-data {
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }
}
