.properties-for {

  .has-context-data {
    text-decoration: underline;
    text-decoration-style: dashed;
  }

  .key-wrapper {
    min-width: calc(100% - 4px);
    position: relative;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
  }

  .key {
    display: flex;
    flex-direction: column;

    dd {
      padding-top: 4px;
      word-break: break-word;
      word-wrap: break-word;
      padding-right: 30px;

      dl {
        margin-top: -18px;

        dt {
          font-size: 11.9px;
        }

        dd dl dt {
          font-size: 11px;

          dd dl dt {
            font-size: 9.8px;
          }
        }
      }
    }
  }

  dd {
    font-size: 14px;
  }

  dt {
    line-height: 16px;
    padding-top: 14px;
  }

  .key-name {
    @include rsa-font(regular, normal, true);
    color: text-color(primary, light);
    font-weight: bold;
  }

  .key-value {
    @include rsa-font(regular);
    color: text-color(primary, lightest);
  }

  a {
    color: text-color(secondary, light);
  }
}
