.properties-for {

  .key {
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    justify-content: space-between;

    dd {
      padding-top: 4px;
      word-break: break-word;
      padding-right: 30px;

      dl {
        margin-top: -18px;

        dt {
          font-size: 11.9px;
        }

        dd dl dt {
          font-size: 11px;

          dd dl dt {
            font-size: 9.8px;
          }
        }
      }
    }
  }

  dd {
    font-size: 14px;
  }

  dt {
    line-height: 16px;
    padding-top: 14px;
  }

  .key-name {
    @include rsa-font(regular, normal, true);
    color: text-color(primary, light);
    font-weight: bold;
  }

  .key-value {
    @include rsa-font(regular);
    color: text-color(primary, lightest);
  }

  a {
    color: text-color(secondary, light);
  }
}
