<!--<pre>{{$ctrl.severity}}</pre>-->
<div ng-switch="$ctrl.severity" class="fs-severity-tag" ng-attr-title="Score: {{$ctrl.score}}">
    <div ng-switch-when="Critical" class="fs-severity-tag--icon-container">
        <svg class="fs-severity-tag--icon fs-severity-tag--icon--critical">
            <use xlink:href="#severity-icon-critical"></use>
        </svg>
    </div>
    <div ng-switch-when="High" class="fs-severity-tag--icon-container">
        <svg class="fs-severity-tag--icon fs-severity-tag--icon--high">
            <use xlink:href="#severity-icon-high"></use>
        </svg>
    </div>
    <div ng-switch-when="Medium" class="fs-severity-tag--icon-container">
        <svg class="fs-severity-tag--icon fs-severity-tag--icon--medium">
            <use xlink:href="#severity-icon-medium"></use>
        </svg>
    </div>
    <div ng-switch-when="Low" class="fs-severity-tag--icon-container">
        <svg class="fs-severity-tag--icon fs-severity-tag--icon--low">
            <use xlink:href="#severity-icon-low"></use>
        </svg>
    </div>
</div>
