<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category title="Styles"}}
      {{#spec-member title="Default"}}
        {{#rsa-content-help-trigger tooltip='tooltip1'}}Hover to Trigger{{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='top' tooltipId='tooltip1'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}

        <code>
          <div>
            &#123;{#rsa-content-help-trigger tooltip='tooltip1'}}
            <div>Hover to Trigger</div>
            &#123;{/rsa-content-help-trigger}}
          </div>

          <div>
            &#123;{#rsa-content-tooltip position='top' tooltipId='tooltip1'}}
            <div>
              <div>&lt;header>Tooltip Header&lt;/header></div>
              <div>&lt;section>Here is the info!&lt;/section></div>
            </div>
            &#123;{/rsa-content-tooltip}}
          </div>
        </code>
      {{/spec-member}}

      {{#spec-member title="Primary"}}
        {{#rsa-content-help-trigger tooltip='tooltip2'}}Hover to Trigger{{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip style="primary" position='top' tooltipId='tooltip2'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}

        <code>
          <div>
            &#123;{#rsa-content-help-trigger tooltip='tooltip2'}}
            <div>Hover to Trigger</div>
            &#123;{/rsa-content-help-trigger}}
          </div>

          <div>
            &#123;{#rsa-content-tooltip style="primary" position='top' tooltipId='tooltip2'}}
            <div>
              <div>&lt;header>Tooltip Header&lt;/header></div>
              <div>&lt;section>Here is the info!&lt;/section></div>
            </div>
            &#123;{/rsa-content-tooltip}}
          </div>
        </code>
      {{/spec-member}}

      {{#spec-member title="Error"}}
        {{#rsa-content-help-trigger tooltip='tooltip3'}}Hover to Trigger{{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip style="error" position='top' tooltipId='tooltip3'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}

        <code>
          <div>
            &#123;{#rsa-content-help-trigger tooltip='tooltip3'}}
            <div>Hover to Trigger</div>
            &#123;{/rsa-content-help-trigger}}
          </div>

          <div>
            &#123;{#rsa-content-tooltip style="error" position='top' tooltipId='tooltip3'}}
            <div>
              <div>&lt;header>Tooltip Header&lt;/header></div>
              <div>&lt;section>Here is the info!&lt;/section></div>
            </div>
            &#123;{/rsa-content-tooltip}}
          </div>
        </code>
      {{/spec-member}}

    {{/spec-category}}

    {{#spec-category title="Position"}}
      {{#spec-member title="Left"}}
        {{#rsa-content-help-trigger tooltip='tooltip5'}}Hover to Trigger{{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='left' tooltipId='tooltip5'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}

        <code>
          <div>
            &#123;{#rsa-content-help-trigger tooltip='tooltip5'}}
            <div>Hover to Trigger</div>
            &#123;{/rsa-content-help-trigger}}
          </div>

          <div>
            &#123;{#rsa-content-tooltip position='left' tooltipId='tooltip5'}}
            <div>
              <div>&lt;header>Tooltip Header&lt;/header></div>
              <div>&lt;section>Here is the info!&lt;/section></div>
            </div>
            &#123;{/rsa-content-tooltip}}
          </div>
        </code>
      {{/spec-member}}

      {{#spec-member title="Right"}}
        {{#rsa-content-help-trigger tooltip='tooltip6'}}Hover to Trigger{{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='right' tooltipId='tooltip6'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}

        <code>
          <div>
            &#123;{#rsa-content-help-trigger tooltip='tooltip6'}}
            <div>Hover to Trigger</div>
            &#123;{/rsa-content-help-trigger}}
          </div>

          <div>
            &#123;{#rsa-content-tooltip position='right' tooltipId='tooltip6'}}
            <div>
              <div>&lt;header>Tooltip Header&lt;/header></div>
              <div>&lt;section>Here is the info!&lt;/section></div>
            </div>
            &#123;{/rsa-content-tooltip}}
          </div>
        </code>
      {{/spec-member}}

      {{#spec-member title="Top"}}
        {{#rsa-content-help-trigger tooltip='tooltip7'}}Hover to Trigger{{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='top' tooltipId='tooltip7'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}

        <code>
          <div>
            &#123;{#rsa-content-help-trigger tooltip='tooltip7'}}
            <div>Hover to Trigger</div>
            &#123;{/rsa-content-help-trigger}}
          </div>

          <div>
            &#123;{#rsa-content-tooltip position='top' tooltipId='tooltip7'}}
            <div>
              <div>&lt;header>Tooltip Header&lt;/header></div>
              <div>&lt;section>Here is the info!&lt;/section></div>
            </div>
            &#123;{/rsa-content-tooltip}}
          </div>
        </code>
      {{/spec-member}}

      {{#spec-member title="Bottom"}}
        {{#rsa-content-help-trigger tooltip='tooltip8'}}Hover to Trigger{{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='bottom' tooltipId='tooltip8'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}

        <code>
          <div>
            &#123;{#rsa-content-help-trigger tooltip='tooltip8'}}
            <div>Hover to Trigger</div>
            &#123;{/rsa-content-help-trigger}}
          </div>

          <div>
            &#123;{#rsa-content-tooltip position='bottom' tooltipId='tooltip8'}}
            <div>
              <div>&lt;header>Tooltip Header&lt;/header></div>
              <div>&lt;section>Here is the info!&lt;/section></div>
            </div>
            &#123;{/rsa-content-tooltip}}
          </div>
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
