.fs-select{

    position: relative;
    height: 26px;
    width: 119px;

    select{

        height: 30px;
        width: 119px;
        right: 5px;
        top: calc(50% - 10px);
        stroke: #013f71;
        appearance: none;
        background-image: none;
        box-shadow: none;

        font-size: 14px;
        text-align: left;
        box-sizing: border-box;
        background-color: #FFFFFF;
        border: 1px solid #e7e7e8;

        text-overflow: ellipsis;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        color: #818285;

    }

    .dropdown-icon{

        fill: none;
        stroke-width: 2;
        stroke-miterlimit: 10;
        position: absolute;
        right: 7px;
        width: 14px;
        height: 14px;
        stroke: #013f71;
        cursor: pointer;
        pointer-events: none;
        background: none;
        top: 9px;
    }
}
