.usm-beacons {
  padding: rsa-whitespace() rsa-whitespace() 0 0;

  .title {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: text-color(primary, light);
    @include rsa-font(default, small);
    .remove-setting {
      float: right;
      margin-right: rsa-whitespace(more);
      margin-left: rsa-whitespace(more);
    }
  }

  .beacon-interval-value {
    max-width: 75px;
  }

  .beacon-interval-unit {
    margin-top: .67rem; /* it works - why asky why? don't question CSS black magic! */
    margin-left: rsa-whitespace();
  }
}
