.vm-max {
  padding: rsa-whitespace(more) rsa-whitespace() 0 0;
  .rsa-form-label {
    @include rsa-font(default,small);
  }
  .title {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: text-color(primary, light);
    @include rsa-font(default,small);
    .remove-setting {
      float: right;
      margin-right: rsa-whitespace(more);
      margin-left: rsa-whitespace(more);
    }
  }
  .noUi-horizontal {
    max-width: 80%;
  }
}
