<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
      		<level>DEBUG</level>
      		<onMatch>DENY</onMatch>
      		<onMismatch>ACCEPT</onMismatch>
    	</filter>
    	<filter class="ch.qos.logback.classic.filter.LevelFilter">
      		<level>TRACE</level>
      		<onMatch>DENY</onMatch>
      		<onMismatch>ACCEPT</onMismatch>
    	</filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d [%thread] %-5level  %logger{36} - %msg%n%xEx{full}%n
			</Pattern>
		</layout>
	</appender>
	<appender name="ControllerAppender" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
      		<level>DEBUG</level>
      		<onMatch>DENY</onMatch>
      		<onMismatch>ACCEPT</onMismatch>
    	</filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d [%thread] %-5level  - %X{req.remoteHost} %X{req.requestURI}  %X{req.user} -  %logger{36} - %msg%n%xEx{full}%n
			</Pattern>
		</layout>
	</appender>
	<appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>ERROR</level>
    	</filter>
	
		<syslogHost>localhost</syslogHost>
		<facility>USER</facility>
		<suffixPattern>fortscale-webapp: %d [%thread] %-5level %logger{36} - %msg%n%xEx{full}</suffixPattern>
	</appender>
	

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SYSLOG" />
	</root>
	
	<logger name="fortscale.web" additivity="false" level="info">
		<appender-ref ref="ControllerAppender" />
		<appender-ref ref="SYSLOG" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core" additivity="false" level="warn">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SYSLOG" />
	</logger>
	
	<logger name="org.springframework.data" additivity="false" level="warn">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SYSLOG" />
	</logger>
	
	<logger name="org.springframework.beans" additivity="false" level="warn">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SYSLOG" />
	</logger>
	
	<logger name="org.springframework.context" additivity="false" level="warn">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SYSLOG" />
	</logger>

	<logger name="org.springframework.web" additivity="false" level="warn">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SYSLOG" />
	</logger>

	<logger name="org.apache.hadoop" additivity="false" level="warn">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SYSLOG" />
	</logger>
	<logger name="com.cloudera.cdk.morphline" additivity="false" level="warn">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SYSLOG" />
	</logger>
</configuration>