[Unit]
Description=Presidio configserver daemon
After= network.target

[Service]
EnvironmentFile=/etc/sysconfig/configserver
User=presidio
Group=presidio
Type=simple
ExecStart=/usr/bin/bash -c '/home/presidio/presidio-core/scripts/run_configserver.sh > /var/log/presidio/configserver/configserver.log'
KillMode=mixed
KillSignal=SIGKILL
Restart=on-failure
RestartSec=5s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
