.rsa-{
    &field {
        padding: $base-padding;

        > label {
            display: inline-block;
            min-width: 92px;
        }
        > span > ul {
            display: inline;
        }
    }
}
