.rsa-incident-li {
    cursor: default;
    border-bottom: 5px solid transparent;

    &[data-priority="0"] {
        border-color: $priority-low-color;
    }
    &[data-priority="1"] {
        border-color: $priority-medium-color;
    }
    &[data-priority="2"] {
        border-color: $priority-high-color;
    }
    &[data-priority="3"] {
        border-color: $priority-critical-color;
    }
}
