/**
 * @file Screen component
 * An element that is meant to fill its parent, which is typically <body> or some near descendant thereof.
 */
.rsa-{
    &screen {

        /* Statically positioned. */
        &.rsa--static {
            position: static;
            width: 100%;
            height: 100%;
        }

        /* Absolutely positioned. */
        &.rsa--abs {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        /* Fixed positioned. */
        &.rsa--fixed {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

