/**
 * @file RSA Spinner component styling.
 * RSA Spinner is an SVG circular arc that appears to expand & contract its length as it rotates
 * about its center point.
 */

.rsa- {

    /* The root element, typically a square-shaped SVG node. */
    &spinner {
        width: 56px;    /* default; can be overwritten on per-use basis */
        height: 56px;   /* default; can be overwritten on per-use basis */

        /* SVG circle with an animated stroke. */
        &__circle {
            stroke-width: 0;
            fill: transparent;

            /* Show animated stroke when data-status is "wait". */
            &[data-status=wait] {
                stroke-width: 5px;
                @include rsa-vendor-prefix(animation, rsa-tea-cup-spin 1320ms linear 0s infinite both);
            }
        }
    }

    /*
    @workaround Rules for IE9 and IE10 only. These browsers don't support animating SVG elements, so we use different
    styling which renders (non-animated) dashes, and then rotates the entire SVG container as a whole.
    */
    @media screen and (min-width:0\0) {
        &spinner {
            &__circle {
                stroke-dasharray: 10, 10;
            }
            &[data-status=wait] {
                -ms-animation: rotate-360 2s linear 0s infinite both;
            }
        }
    }
}
