.rsa-{
    &stat {
        display: inline-block;
        > label,
        > span {
            display: block;
        }
        > span {
            font-size: 1.5rem;
        }
        /* Color coding for quartile values. */
        &.rsa-quartile {
            &[data-value="0"] {
                > span {
                    color: $priority-low-color;
                }
            }
            &[data-value="1"] {
                > span {
                    color: $priority-medium-color;
                }
            }
            &[data-value="2"] {
                > span {
                    color: $priority-high-color;
                }
            }
            &[data-value="3"] {
                > span {
                    color: $priority-critical-color;
                }
            }
        }
    }
}
