input[type=text]:not(#{$ignore-tag-name}),
input[type=password]:not(#{$ignore-tag-name}) {
    padding: $base-padding;
}

/* Applies coloring to textboxes. */
@mixin rsa-textbox(
    $bg,
    $fg,
    $border,
    $focus-bg,
    $focus-fg,
    $focus-border) {

    background-color: $bg;
    color: $fg;
    border: $border;

    &:focus {
        background-color: $focus-bg;
        color: $focus-fg;
        border: $focus-border;
    }
}
