<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="fortscale.streaming.SamzaContainerShutdownErrorFilter" />
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>ERROR</level>
    	</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d [%thread] %-5level %logger{36} - %msg%n%xEx{full}</Pattern>
		</encoder>
	</appender>

	<appender name="LogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="fortscale.streaming.SamzaContainerShutdownErrorFilter" />
		<file>${STREAM_LOG_DIR}/logFile-${STREAM_TASK_NAME}-logback.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${STREAM_LOG_DIR}/logFile-${STREAM_TASK_NAME}-logback.log.%i</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<Pattern>%d [%thread] %-5level %logger{36}.%M\(%line\) - %msg%n%xEx{full}</Pattern>
		</encoder>
	</appender>

	<root level="INFO">
<!-- 		<appender-ref ref="STDOUT" /> -->
		<appender-ref ref="LogFile" />
	</root>

    <logger name="org.apache.hive.jdbc" additivity="false" level="warn" >
        <appender-ref ref="SYSLOG" />
        <appender-ref ref="LogFile" />
    </logger>
	
	
</configuration>
