@import "recurrence-interval";

.hosts-scan-configure-container {
  width: 100vw;
  height: 100vh;
  padding: rsa-whitespace();

  .noUi-target {
    border: none;
    margin: 2rem 1rem 2rem 0;
  }
  .flatpickr-wrapper {
    width: 100%;
  }
  overflow: auto;
}

.schedule-form__content-title {
  color: text-color(primary, lightest);
  font-size: 18px;
}

.schedule-form__content-fields {
  padding: rsa-whitespace(more) 0 0 0
}

.rsa-form-label {
  @include rsa-font(header, small);
}

.cpu-throttling, .schedule-time {
  padding: rsa-whitespace(more) 0 0 0
}

.schedule-time, .cpu-throttling {
  width: 20%;
}

.cpu-throttling {
  width: 30%;
}

.text {
  color: text-color(primary, lighter);
}
