.rsa-investigate-index {
  position: relative;
  @include rsa-vendor-prefix(flex-grow, 1);

  &__body {
    margin: rsa-whitespace() rsa-whitespace(more);

    &.wait,
    &.rejected {
      text-align: center;
    }

    &.rejected {
      p {
        max-width: 44rem;
        text-align: left;
        margin: 0 auto 1rem auto;
      }
    }

    .rsa-investigate-query-bar {
      width: 100%;
    }
  }
}
