{{#rsa-application-content}}
  <grid responsive>
    <box class="col-xs-3">
      <aside>
        {{preferences-panel-trigger launchFor="investigate-events" additionalFilters="serviceId"}}
        <div class='testDiv'>
          Panel Content
        </div>
      </aside>
    </box>
    <box class="col-xs-9">
      <page>
        {{preferences-panel}}
      </page>
    </box>
  </grid>
{{/rsa-application-content}}
