<div class='footer-buttons'>
  {{#rsa-form-button defaultAction=(action 'handleCancelItem')}}
    Cancel
  {{/rsa-form-button}}
  {{#rsa-form-button defaultAction=(action 'handleSaveItem')}}
    Save
  {{/rsa-form-button}}
</div>

