.rsa-application-header {
  @include global-nav();
  @include rsa-layer(controls);
  background: $applicationHeaderBackground;
  height: $applicationHeaderHeight;
  top: 0;
  left: 0;
  padding-left: calc(#{$applicationActionBarWidth} + #{rsa-whitespace()});
  overflow: hidden;

  > a {
    display: inline-block;
    position: relative;
    padding: 0 rsa-whitespace();
    @include rsa-font(navigation, large);
    text-decoration: none;
    color: $applicationHeaderLinkColor;
    line-height: $applicationHeaderHeight;

    &:hover {
      color: $applicationHeaderLinkHoverColor;
    }

    &.active {
      color: $applicationHeaderLinkActiveColor;

      &:after {
        content: '';
        display: block;
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: calc(50% - (#{$applicationHeaderLinkActiveArrowSize} / 2));
        width: 0;
        height: 0;
        margin: 0 auto;
        border-left: $applicationHeaderLinkActiveArrowSize solid transparent;
        border-right: $applicationHeaderLinkActiveArrowSize solid transparent;
        border-bottom: $applicationHeaderLinkActiveArrowSize solid $applicationHeaderLinkActiveArrowColor;
      }
    }
  }

  .global {
    position: absolute;
    right: 0;
    top: 1px;
    line-height: $applicationHeaderHeight;

    .is-open {
      .modal-trigger i {
        font-family: 'Streamline-2-Filled';
        color: $applicationHeaderActiveButtonColor;
      }
    }

    .rsa-form-button-wrapper {
      border-left: 1px solid rsa-color(gray, dark);
      width: $applicationHeaderHeight;
      text-align: center;

      i {
        position: relative;
        top: 1px;
        left: 2px;
      }

      &.is-active {
        i {
          color: $applicationHeaderActiveButtonColor;
        }
      }

      &.is-icon-only {
        position: relative;
        top: -3px;
      }

      .rsa-form-button {
        border-width: 0;

        .expand {
          left: 0;
        }
      }
    }

    ul {
      margin-right: rsa-whitespace();
    }
  }

  .rsa-logo {
    position: absolute;;
    top: 0;
    left: 0;

    &__svg {
      position: relative;
      width: calc(#{$applicationHeaderHeight} - #{rsa-whitespace(least)} - #{rsa-whitespace(least)});
      height: $applicationHeaderHeight;
      padding: 0 rsa-whitespace(least);
      margin: 0 auto;
      background-image: linear-gradient(180deg, rsa-color(red), rsa-color(red, dark));

      .rsa-logo__letter {
        fill: rsa-color(white);
      }

    }
  }

}
