.rsa-application-footer {
  @include rsa-layer(controls);
  @include global-nav();
  background: $applicationFooterBackground;
  bottom: 0;
  height: $applicationFooterHeight;
  box-sizing: border-box;

  a {
    display: inline-block;
  }

  .rsa-logo {
    margin:0;
    position: relative;
    top: 1px;

    h2 {
      @include rsa-font(light);
      display: inline-block;
      padding: 0;
      position: relative;
      top: -2px;
      vertical-align: bottom;
      margin-left: rsa-whitespace(less);
      color: $applicationFooterTypeColor;
      line-height: $applicationFooterHeight;

      .application-version {
        @include rsa-font(light, smaller);
        letter-spacing: 1px;
        text-transform: lowercase;
      }
     }

    &__svg {
      position: relative;
      width: calc(#{$applicationFooterHeight} - #{rsa-whitespace(least)} - #{rsa-whitespace(least)});
      height: $applicationFooterHeight;
      padding: 0 rsa-whitespace(least);
      margin: 0 auto;
      background-image: $applicationFooterLogoBackground;

      .rsa-logo__letter {
        fill: $applicationFooterLogoTypeColor;
      }

    }
  }
}
