$investigateReconWidth: 50%;
$investigateReconExpandedWidth: 75%;
$investigateReconFullWidth: 100%;
$investigateBorderBottomColor: border-color(secondary);

.rsa-investigate__nav {
  @include rsa-vendor-prefix(flex-shrink, 0);
  @include rsa-vendor-prefix(flex-grow, 0);
  background-color: background-color(primary, darker);
  @include rsa-row(justify, middle);
  border-bottom: 1px solid border-color(secondary);

  ul {
    &:first-of-type {
      @include rsa-vendor-prefix(flex-shrink, 0);
      @include rsa-vendor-prefix(flex-grow, 0);
    }
    &:last-of-type {
      text-align: right;
    }

    li {
      list-style: none;
      display: inline;
      .is-active {
        padding-bottom: 0.5rem;
        border-bottom: 0.25rem solid $investigateBorderBottomColor;
      }
    }
    a {
      @include rsa-font(navigation);
      display: inline-block;
      padding: 0 rsa-whitespace();
      text-decoration: none;
      white-space: nowrap;
      color: text-color(primary, lighter);

      &.active,
      &:hover {
        color: text-color(primary, lightest);
      }
    }
  }

  .investigate-controls {
    display: flex;
    align-items: center;
    margin-right: rsa-whitespace();
    display: inherit;
    .divider {
      display: inline;
      border-left: 1px solid border-color(primary);
      margin: 0 5px;
    }
    .rsa-icon {
      color: text-color(primary, light);
      margin-left: rsa-whitespace(less);
      padding: rsa-whitespace(less) rsa-whitespace(least);
      cursor: pointer;
      &:hover {
        color: text-color(primary, lightest);
      }
      &.active:not(.disabled) {
        color: text-color(primary, lightest);
        border-bottom: border-color(secondary) 3px solid;
      }
      &.disabled {
        color: text-color(primary);
        cursor: default;
      }
    }
  }
}
