.rsa-flash-messages {
  @include rsa-layer(above);
  position: absolute;
  top: rsa-whitespace();
  left: 33%;
  right: 33%;

  .alert {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: rsa-whitespace() 0;
    margin-bottom: rsa-whitespace();

    &.alert-info {
      border: 1px solid rsa-color(blue);
      background-color: rsa-color(blue, base, $rsa-nearly-opaque);
    }

    &.alert-success {
      border: 1px solid rsa-color(green);
      background-color: rsa-color(green, dark, $rsa-nearly-opaque);
    }

    &.alert-warning {
      border: 1px solid rsa-color(amber);
      background-color: rsa-color(amber, dark, $rsa-nearly-opaque);
    }

    &.alert-error {
      border: 1px solid rsa-color(red);
      background-color: rsa-color(red, base, $rsa-nearly-opaque);
    }

    .message {
      @include rsa-font(paragraph);
      color: rsa-color(gray, lightest);
    }

    .rsa-icon {
      color: rsa-color(gray, lightest);
      display: inline-block;
    }
  }
}
