.rsa-application-footer {
  @include rsa-layer(controls);
  @include global-nav();
  background: $applicationFooterBackground;
  bottom: 0;
  height: $applicationFooterHeight;
  padding: rsa-whitespace(less) rsa-whitespace();
  box-sizing: border-box;

  a {
    display: inline-block;
  }

  .rsa-logo {
    margin:0;
    position: relative;
    top: 1px;

    h2 {
      float: left;
      @include rsa-font(light);
      display: inline-block;
      border-left: 1px solid rsa-color(gray);
      padding: 0 rsa-whitespace(less);
      vertical-align: middle;
      margin-left: rsa-whitespace(less);
      color: rsa-color(gray, lighter);
      line-height: calc(#{$applicationFooterHeight} - (#{rsa-whitespace(less)} * 2));

      .application-version {
        @include rsa-font(light, smaller);
        letter-spacing: 1px;
        text-transform: lowercase;
      }
     }

    &__svg {
      position: relative;
      top: 5px;
      height: 13px;
      line-height: calc(#{$applicationFooterHeight} - (#{rsa-whitespace(less)} * 2));
      width: auto;
      float: left;
    }
  }
}
