.rsa-application-action-bar {
  position: absolute;
  top: $applicationHeaderHeight;
  left: 0;
  width: $applicationActionBarWidth;
  bottom: 0;
  background-color: $applicationActionBarBackgroundColor;
  @include rsa-layer(controls);

  .rsa-form-button-wrapper {
    text-align: center;
    display: block;
    border-bottom: 1px solid rsa-color(gray, dark);

    .rsa-form-button {
      height: $applicationActionBarWidth;
      line-height: $applicationActionBarWidth;
      padding: 0;
      width: $applicationActionBarWidth;
      vertical-align: middle;

      i {
        position: relative;
        top: -1px;
        left: -1px;
      }
    }


    &.is-active {
      i {
        color: $applicationActionBarActiveButtonColor;
      }
    }
  }
}
