.rsa-application-content {
  height: calc(100vh - #{$applicationHeaderHeight});

  &.has-blur {
    transition: blur .65s, -webkit-filter .65s;
    -webkit-filter: blur($applicationContentBlur);
    filter: blur($applicationContentBlur);
  }
}
