.rsa-application-content {
  @include global-nav();
  @include rsa-layer(panel);
  top: $applicationHeaderHeight;
  left: $applicationActionBarWidth;
  right: 0;
  bottom: 0;
  overflow-y: scroll;

  &.is-full-page {
    top: 0;
    left: 0;
  }

  &.has-blur {
    transition: blur .65s, -webkit-filter .65s;
    -webkit-filter: blur($applicationContentBlur);
    filter: blur($applicationContentBlur);
  }
}
