.rsa-application-header {
  background: $applicationHeaderBackground;
  height: $applicationHeaderHeight;
  overflow: hidden;

  > a {
    float: left;
    position: relative;
    padding: 0 rsa-whitespace();
    @include rsa-font(navigation, large);
    text-decoration: none;
    color: text-color(navigation, link);
    line-height: $applicationHeaderHeight;
    vertical-align: bottom;

    &:hover {
      color: text-color(navigation, linkHover);
    }

    &.active {
      color: text-color(navigation, linkActive);

      &::after {
        content: '';
        display: block;
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        margin: 0 auto;
        border-left: $applicationHeaderLinkActiveArrowSize solid transparent;
        border-right: $applicationHeaderLinkActiveArrowSize solid transparent;
        border-bottom: $applicationHeaderLinkActiveArrowSize solid $applicationHeaderLinkActiveArrowColor;
      }
    }
  }

  .global {
    position: absolute;
    right: 0;
    top: 0;
    line-height: $applicationHeaderHeight;

    .global-contextual-help.is-icon-only {
      .rsa-form-button {
        color: text-color(navigation, linkLighter);
      }
    }

    .rsa-form-button-wrapper {
      border-left: 1px solid border-color(navigation, menu);
      border-bottom: rsa-whitespace(least) solid transparent;
      text-align: center;
      height: $applicationHeaderHeight;

      &.user-preferences-trigger {
        vertical-align: middle;
        position: relative;

        .rsa-icon {
          padding: rsa-whitespace(least) 0;
          vertical-align: text-bottom;
        }
      }

      &.is-active {
        border-bottom: rsa-whitespace(least) solid border-color(secondary);

        .rsa-form-button {
          background: background-color(navigation, menu);
          color: text-color(navigation, linkLighter);
        }
      }

      i {
        position: relative;
        left: 2px;
      }

      .rsa-form-button {
        border-width: 0;
        color: text-color(navigation, linkLighter);

        .expand {
          left: 0;
        }

        &:hover {
          background: background-color(navigation, menuHover);
          color: text-color(navigation, linkHover);
        }
      }
    }

    ul {
      margin-right: rsa-whitespace();
    }
  }

  .rsa-logo {
    float: left;

    &__svg {
      position: relative;
      width: calc(#{$applicationHeaderHeight} - #{rsa-whitespace(least)} - #{rsa-whitespace(least)});
      height: $applicationHeaderHeight;
      padding: 0 rsa-whitespace(least);
      margin: 0 auto;
      background-image: linear-gradient(180deg, #BE3A34, #81312F);

      .rsa-logo__letter {
        fill: rgba(255,255,255, 1);
      }

    }
  }

}
