.rsa-application-incident-queue-panel {
  transition: width .65s;
  position: absolute;
  top: 40px;
  left: 40px;
  bottom: 0;
  width: 0;
  border-top: 1px solid rsa-color(gray, darkest);
  background-color: rsa-color(gray, darker);
  display: none;

  &.is-expanded {
    transition: width .65s;
    width: calc(25%);
    display: block;
  }
  &__tab {
    color: rsa-color(grey, lighter);
    @include rsa-font(header);
  }
  &__loader {
    position: absolute;
    left: 40%;
    top: 30%;
  }
  .rsa-incident-tile .rsa-incident-tile-header .rsa-incident-tile-header-info .rsa-incident-tile-name {
    padding: 0;
  }
  .scroll-box {
    overflow-x: hidden;
  }
}
