.rsa-application-header {
  height: 47px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  @include border-bottom(1px, solid, primary, lighter);

  > a {
    float: left;
    position: relative;
    top: 3px;
    margin: 0 rsa-whitespace();
    text-decoration: none;
    color: text-color(primary, lighter);
    line-height: 42px;
    font-size: 1.2rem;
    vertical-align: bottom;

    &:hover {
      color: text-color(navigation, linkHover);
    }

    &.active {
      color: text-color(primary, lightest);
      @include border-bottom(3px, solid, primary, lighter);
    }
  }

  .global {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 47px;
    color: text-color(primary, lighter);

    .rsa-form-button-wrapper {
      border-bottom: 3px solid transparent;
      text-align: center;
      height: 47px;

      &.user-preferences-trigger {
        vertical-align: middle;
        position: relative;
        margin-right: 9px;

        .rsa-form-button {
          padding-left: 0;
          margin-left: rsa-whitespace();
          color: text-color(primary, lighter);
        }

        .rsa-icon {
          padding: rsa-whitespace(least) 0;
          vertical-align: text-bottom;
          position: relative;
          top: 3px;
        }

        &:hover {
          .rsa-form-button {
            color: text-color(primary, lightest);
          }
        }
      }

      &.is-active {
        @include border-bottom(4px, solid, secondary);

        .rsa-form-button {
          color: text-color(primary, lightest);
        }
      }

      .rsa-form-button {
        border-width: 0;
      }
    }

    ul {
      margin-right: rsa-whitespace();
    }

    .rsa-form-button-wrapper.global-contextual-help.is-icon-only.is-standard {
      .rsa-form-button {
        color: text-color(primary, lighter);
      }

      &:hover {
        .rsa-form-button {
          color: text-color(primary, lightest);
        }
      }
    }
  }

  .rsa-logo {
    float: left;

    &__svg {
      position: relative;
      width: 64px;
      height: 48px;
      padding: 0 rsa-whitespace();

      .rsa-logo__letter {
        fill: rgba(255,255,255, 1);
      }

    }
  }

}
