.rsa-application-header {
  background: $applicationHeaderBackground;
  height: $applicationHeaderHeight;
  overflow: hidden;

  > a {
    float: left;
    position: relative;
    padding: 0 rsa-whitespace();
    @include rsa-font(navigation, large);
    text-decoration: none;
    color: $applicationHeaderLinkColor;
    line-height: $applicationHeaderHeight;
    vertical-align: bottom;

    &:hover {
      color: $applicationHeaderLinkHoverColor;
    }

    &.active {
      color: $applicationHeaderLinkActiveColor;

      &::after {
        content: '';
        display: block;
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        margin: 0 auto;
        border-left: $applicationHeaderLinkActiveArrowSize solid transparent;
        border-right: $applicationHeaderLinkActiveArrowSize solid transparent;
        border-bottom: $applicationHeaderLinkActiveArrowSize solid $applicationHeaderLinkActiveArrowColor;
      }
    }
  }

  .global {
    position: absolute;
    right: 0;
    top: 0;
    line-height: $applicationHeaderHeight;

    .rsa-form-button-wrapper {
      border-left: 1px solid rsa-color(gray, dark);
      border-bottom: rsa-whitespace(least) solid transparent;
      text-align: center;
      height: $applicationHeaderHeight;

      &.user-preferences-trigger {
        vertical-align: middle;
        position: relative;

        .rsa-icon {
          border-right: 1px solid rsa-color(gray, lighter);
          padding: rsa-whitespace(least) rsa-whitespace(less) rsa-whitespace(least) 0;
          margin-right: rsa-whitespace(less);
          vertical-align: text-bottom;
        }
      }

      &.is-active {
        border-bottom: rsa-whitespace(least) solid rsa-color(blue);

        .rsa-form-button {
          background: rsa-color(black);
          color: rsa-color(gray, lightest);
        }
      }

      i {
        position: relative;
        left: 2px;
      }

      .rsa-form-button {
        border-width: 0;
        color: rsa-color(gray, lighter);

        .expand {
          left: 0;
        }

        &:hover {
          background: rsa-color(black);
          color: rsa-color(gray, lightest);
        }
      }
    }

    ul {
      margin-right: rsa-whitespace();
    }
  }

  .rsa-logo {
    float: left;

    &__svg {
      position: relative;
      width: calc(#{$applicationHeaderHeight} - #{rsa-whitespace(least)} - #{rsa-whitespace(least)});
      height: $applicationHeaderHeight;
      padding: 0 rsa-whitespace(least);
      margin: 0 auto;
      background-image: linear-gradient(180deg, rsa-color(red), rsa-color(red, dark));

      .rsa-logo__letter {
        fill: rsa-color(white);
      }

    }
  }

}
