$applicationHeaderHeight: 40px;
$applicationHeaderBackground: rsa-color(gray, darkest);
$applicationHeaderLinkColor: rsa-color(gray, light);
$applicationHeaderLinkHoverColor: rsa-color(gray, lightest);
$applicationHeaderLinkActiveColor: rsa-color(white);
$applicationHeaderLinkActiveArrowColor: rsa-color(red, dark);
$applicationHeaderLinkActiveArrowSize: 5px;

$userPreferencesPanelWidth: 30rem;
$userPreferencesPanelHeaderBackgroundColor: rsa-color(blue);

$applicationContentBlur: rsa-whitespace(least);

$applicationFooterHeight: 40px;
$applicationFooterBackground: rsa-color(gray, darkest);

$applicationModalBorderColor: ;
$applicationModalBackgroundColor: rsa-color(gray, darkest);
$applicationModalTypeColor: rsa-color(gray, lightest);
$applicationModalBorderColor: rsa-color(black);
$applicationModalOverlayColor: rsa-color(gray, darkest, $rsa-translucent);
$applicationModalCloseLinkColor: rsa-color(gray, lightest);

$applicationLoginTypeColor: rsa-color(gray, lighter);
$applicationLoginWidth: 28.5rem;
$applicationLoginBackgroundColor: rsa-color(gray, darkest, $rsa-translucent);
$applicationLoginBorderColor: rsa-color(gray, darker);
$applicationLoginErrorBorderColor: rsa-color(red);
$applicationLoginHeaderBackgroundColor: rsa-color(gray, darker);
$applicationLoginHeaderLogoWidth: 3.5rem;
$applicationLoginLinkColor: rsa-color(gray);
$applicationLoginLinkHoverColor: rsa-color(gray, lighter);
$applicationLoginVersionColor: rsa-color(gray, light);

$applicationLoaderColor: rsa-color(gray, dark);
$applicationLoaderColorAlt: rsa-color(blue);
$applicationLoaderLabelColor: rsa-color(gray, lightest);

@mixin global-nav() {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
}

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: rgb(54,57,58);
  background-image: radial-gradient(circle at 0px 0px, rgb(140,51,30) 0, rgba(140,51,30,0) 450px),
                    radial-gradient(circle at 50% 0px, rgb(153,135,32) 0, rgba(84,108,36,0.7) 350px, rgba(84,108,36,0) 700px),
                    radial-gradient(circle at 85% 50%, rgb(46,68,78) 0, rgba(46,68,78,0) 250px);
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;

  &.rsa-application-loading {
    .rsa-loader{
      margin: 0 auto;
      display: block;
      position: relative;
      top: 40vh;

      .rsa-loader__wheel{
        border-color: $applicationLoaderColor;
        border-top-color: $applicationLoaderColorAlt;
      }

      &.hide {
        display:none;
      }
    }
  }
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
 width: 0;
}

@import 'application-header';
@import 'application-content';
@import 'application-footer';
@import 'application-modal';
@import 'routable-login';
@import 'user-preferences-panel';

.scroll-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

page, screen {
  min-height: calc(100vh - 80px);
}
