$applicationActionBarWidth: 40px;
$applicationActionBarBackgroundColor: rsa-color(gray, darkest);
$applicationActionBarActiveButtonColor: rsa-color(blue);

$applicationHeaderHeight: 40px;
$applicationHeaderBackground: rsa-color(gray, darkest);
$applicationHeaderLinkColor: rsa-color(gray, light);
$applicationHeaderLinkHoverColor: rsa-color(gray, lightest);
$applicationHeaderLinkActiveColor: rsa-color(white);
$applicationHeaderLinkActiveArrowColor: rsa-color(red, dark);
$applicationHeaderLinkActiveArrowSize: 5px;
$applicationHeaderActiveButtonColor: rsa-color(blue);

$userPreferencesPanelWidth: 30rem;
$userPreferencesPanelHeaderBackgroundColor: rsa-color(blue);

$applicationContentBlur: rsa-whitespace(least);

$applicationModalBorderColor: ;
$applicationModalBackgroundColor: rsa-color(gray, darkest);
$applicationModalTypeColor: rsa-color(gray, lightest);
$applicationModalBorderColor: rsa-color(black);
$applicationModalOverlayColor: rsa-color(gray, darkest, $rsa-translucent);
$applicationModalCloseLinkColor: rsa-color(gray, lightest);

$applicationLoginTypeColor: rsa-color(gray, lighter);
$applicationLoginWidth: 28.5rem;
$applicationLoginBackgroundColor: rsa-color(gray, darkest, $rsa-translucent);
$applicationLoginBorderColor: rsa-color(gray, darker);
$applicationLoginErrorBorderColor: rsa-color(red);
$applicationLoginHeaderBackgroundColor: rsa-color(gray, darker);
$applicationLoginHeaderLogoWidth: 3.5rem;
$applicationLoginLinkColor: rsa-color(gray);
$applicationLoginLinkHoverColor: rsa-color(gray, lighter);
$applicationLoginVersionColor: rsa-color(gray, light);

$applicationLoaderColor: rsa-color(gray, darker);
$applicationLoaderColorAlt: rsa-color(blue);
$applicationLoaderLabelColor: rsa-color(gray, lightest);

@mixin global-nav() {
  position: fixed;
  left: 0;
  right: 0;
}

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -ms-overflow-style: none;
}

body {
  background-image: radial-gradient(circle at 0px 25%, rsa-color(blue, darker, .10) 0, rsa-color(blue, darker, 0) 75%),
                     radial-gradient(circle at 70% 0px, rsa-color(blue, darker, .10) 0, rsa-color(blue, darker, 0) 75%),
                     radial-gradient(circle at 35% 65%, rsa-color(blue, darker, .10) 0, rsa-color(blue, darker, 0) 75%),
                     radial-gradient(circle at 85% 85%, rsa-color(blue, darker, .10) 0, rsa-color(blue, darker, 0) 75%);
  background-color: rsa-color(gray, dark);

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%;

  &.rsa-application-loading {
    .rsa-loader{
      margin: 0 auto;
      display: block;
      position: relative;
      top: 40vh;
      @include rsa-layer(above);

      .rsa-loader__wheel{
        border-color: $applicationLoaderColor;
        border-top-color: $applicationLoaderColorAlt;
        @include rsa-layer(above);
      }

      &.hide {
        display:none;
      }
    }
  }

}

&::scrollbar,
&::scrollbar-thumb,
&::scrollbar-track {
 width: 0;
}

@import 'application-header';
@import 'application-content';
@import 'application-modal';
@import 'application-action-bar';
@import 'application-layout-manager';
@import 'routable-login';
@import 'user-preferences-panel';
@import 'application-notifications-panel';
@import 'application-incident-queue-panel';

page, screen {
  min-height: calc(100vh - #{$applicationHeaderHeight});
}

page {
  min-width: calc(100vw - #{$applicationActionBarWidth});
}

.col {
  &-xs,
  &-sm,
  &-md,
  &-lg {
    &-1,
    &-2,
    &-3,
    &-4,
    &-5,
    &-6,
    &-7,
    &-8,
    &-9,
    &-10,
    &-11,
    &-12 {
      padding: 0;
    }
  }

}
