.rsa-login {
  color: $applicationLoginTypeColor;
  background-image: url('images/NW-Background-Blur.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

  .form-error-message {
    text-align: center;
  }

  .eula-content {
    margin-bottom: rsa-whitespace(more);
    border: 1px solid border-color(primary);
    height: 65vh;
    overflow: auto;
    width: 50vw;
    @include rsa-font(paragraph);
    font-weight: 300;
    background: background-color(primary, darkest);

    div {
      color: text-color(primary, lightest);
    }

    .warning {
      padding: rsa-whitespace();
      background-color: background-color(primary, darkest);
      @include rsa-font(header);
      color: text-color(accentOne);
      text-align: center;
    }

    .section {
      padding: rsa-whitespace();
    }

    .subsection {
      padding: rsa-whitespace(less);
    }

    .bolded {
      font-weight: 700;
    }

    .header {
      @include rsa-font(header, small);
    }
  }

  .login-wrapper {
    padding: rsa-whitespace(more);
    background: $applicationLoginBackgroundColor;
    border: 1px solid $applicationLoginBorderColor;

    &.has-error {
      border: 1px solid $applicationLoginErrorBorderColor;
      animation: shake 0.65s cubic-bezier(.36,.07,.19,.97) both;

      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }

        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
    }
  }

  header {
    height: 2rem;
    margin: calc(#{rsa-whitespace(more)} * -1);
    margin-bottom: rsa-whitespace(more);
    background-color: $applicationLoginHeaderBackgroundColor;
    padding: rsa-whitespace(more) rsa-whitespace(more);
    position: relative;

    h3 {
      position: absolute;
      right: 0;
      top: 0;
      padding: rsa-whitespace(more) rsa-whitespace(more);
      line-height: 2rem;
      color: text-color(primary, light);
    }

    .rsa-logo {
      height: 2rem;
      overflow: hidden;
      white-space: nowrap;
      vertical-align: middle;
      text-align: left;
      flex: none;

      svg {
        width: $applicationLoginHeaderLogoWidth;
        position: relative;
        vertical-align: middle;
        padding: rsa-whitespace(least) 0;
      }

      h2 {
        padding: rsa-whitespace(least);
        padding-left: rsa-whitespace(less);
        margin-left: rsa-whitespace(less);
        border-left: 1px solid border-color(primary, lighter);
        vertical-align: middle;
        @include rsa-font(header, large);
        white-space: nowrap;
        display: inline-block;
      }
    }
  }

  form {
    .rsa-form-input {
      margin-bottom: rsa-whitespace();
    }
  }

  grid {
    &.display-policies {
      width: calc(#{$applicationLoginWidth} * 3);
    }

    &:not(.display-policies) {
      vbox:first-child {
        display: none;
      }
      vbox:last-child {
        max-width: 100%;
      }
    }
  }


  h4 {
    @include rsa-font(header);
  }

  ul {
    margin: rsa-whitespace() rsa-whitespace(most) 0 0;

    li {
      list-style: disc;
      @include rsa-font(paragraph, small);
      margin: 0 rsa-whitespace() rsa-whitespace();
      color: text-color(primary, light);
    }
  }

  .login {
    width: $applicationLoginWidth;
  }

  .login, .change-password {
    overflow: hidden;

    .rsa-form-button {
      margin-bottom: rsa-whitespace();
    }

    a {
      text-decoration: underline;
      color: $applicationLoginLinkColor;

      &:hover {
        cursor: pointer;
        color: $applicationLoginLinkHoverColor;
      }
    }

    p {
      margin-bottom: rsa-whitespace();
    }

    .version {
      float: right;
      color: $applicationLoginVersionColor;
    }
  }
}
