.rsa-application-user-preferences-panel {
  transition: width .65s;
  position: absolute;
  top: $applicationHeaderHeight;
  right: 0;
  width: 0;
  bottom: 0;
  background-color: background-color(navigation, menuHover);
  border-top: 1px solid border-color(secondary);
  overflow: hidden;
  @include rsa-layer(panels);

  &.is-expanded {
    transition: width .65s;
    width: calc(100vw / 4);
  }

  .rsa-form-radio-label {
    line-height: 2rem;
  }

  .rsa-content-section-header {
    min-width: calc(100vw / 4);
    padding: rsa-whitespace();
    box-sizing: border-box;
    background-color: background-color(navigation, menu);

    .controls {
      right: rsa-whitespace(less);

      .rsa-form-button-wrapper.is-icon-only.is-standard:active:not(.is-disabled) {
        background-color: text-color(navigation, menu);
      }

      .rsa-form-button-wrapper.is-icon-only.is-standard:hover:not(.is-active):not(.is-disabled) {
        .rsa-form-button {
          color: text-color(navigation, linkHover);
        }
      }
    }
  }

  form {
    min-width: calc(100vw / 4);

    p {
      padding: rsa-whitespace(less) rsa-whitespace() rsa-whitespace();
      @include rsa-font(paragraph);
      color: text-color(navigation, text);
    }

    hbox {
      padding: 0 rsa-whitespace() rsa-whitespace();

      .rsa-form-radio-group-label {
        color: text-color(navigation, link);
      }

      .rsa-form-radio-label {
        color: text-color(navigation, linkLighter);
      }

      .power-select .label-text {
        color: text-color(navigation, link);
      }

      .ember-power-select-trigger .ember-power-select-selected-item {
        color: text-color(navigation, linkLighter);
      }

    }

    .change-password {
      text-align: right;
      text-decoration: none;
      color: text-color(secondary);
      margin-top: rsa-whitespace(more);
    }
  }

  vbox {
    &.col-xs-6 {
      &:first-child {
        padding-right: rsa-whitespace(less);
      }
      &:last-child {
        padding-left: rsa-whitespace(less);
      }
    }
  }

  footer {
    min-width: calc(100vw / 4);
    border-top: 1px solid border-color(secondary);
    background-color: background-color(navigation, menu);
    line-height: 4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    p, a {
      line-height: 2rem;
      white-space: nowrap;
      padding: 0 rsa-whitespace();
    }

    p {
      color: text-color(navigation, text);
    }

    a {
      color: text-color(secondary);
      display: block;
      text-align: right;

      &:hover {
        cursor: pointer;
      }
    }
  }

}
