.rsa-application-user-preferences-panel {
  transition: width .65s;
  position: absolute;
  top: $applicationHeaderHeight;
  right: 0;
  width: 0;
  bottom: 0;
  background-color: rsa-color(gray, darker);
  border-top: 1px solid rsa-color(blue);
  overflow: hidden;
  @include rsa-layer(panels);

  &.is-expanded {
    transition: width .65s;
    width: calc(100vw / 4);
  }

  .rsa-form-radio-label {
    line-height: 2rem;
  }

  .rsa-content-section-header {
    min-width: calc(100vw / 4);
    padding: rsa-whitespace();
    box-sizing: border-box;
    background-color: rsa-color(gray, darkest);

    .controls {
      right: rsa-whitespace(less);
    }
  }

  form {
    min-width: calc(100vw / 4);

    p {
      padding: rsa-whitespace(less) rsa-whitespace() rsa-whitespace();
      @include rsa-font(paragraph);
      color: rsa-color(gray);
    }

    hbox {
      padding: 0 rsa-whitespace() rsa-whitespace();
    }
  }

  vbox {
    &.col-xs-6 {
      &:first-child {
        padding-right: rsa-whitespace(less);
      }
      &:last-child {
        padding-left: rsa-whitespace(less);
      }
    }
  }

  footer {
    min-width: calc(100vw / 4);
    border-top: 1px solid rsa-color(blue);
    background-color: rsa-color(gray, darkest);
    line-height: 4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    p, a {
      line-height: 2rem;
      white-space: nowrap;
      padding: 0 rsa-whitespace();
    }

    p {
      color: rsa-color(gray);
    }

    a {
      color: rsa-color(blue);
      display: block;
      text-align: right;

      &:hover {
        cursor: pointer;
      }
    }
  }

}
