@mixin rsa-input-placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
    line-height: 1.45rem;
  }
}

.rsa-application-layout-panel-header {
  background-color: background-color(primary, darkest, somewhat-opaque);
  border-top: 3px solid border-color(primary, darkest);

  h2 {
    margin: rsa-whitespace();
    margin-left: calc((#{rsa-whitespace()} + #{rsa-whitespace(least)} + #{rsa-whitespace(less)}) - 1px);
    @include rsa-font(header, larger);
    color: text-color(primary, lightest);

    .count {
      @include rsa-font(header, large);
    }

    &.with-separator {
      margin-right: 0;
      border-right: 1px solid border-color(primary);
      padding-right: calc(#{rsa-whitespace(less)} + #{rsa-whitespace()});
    }

    i {
      margin-left: rsa-whitespace(least);
    }
  }

  .rsa-nav-tab-group {
    border-bottom: none;
    position: relative;
    top: -1px;
    margin-top: rsa-whitespace(less);
    display: inline-block;

    .rsa-nav-tab {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: rsa-whitespace();
      padding-bottom: rsa-whitespace(less);
    }
  }

  .actions {
    padding: rsa-whitespace(less) rsa-whitespace(less);

    .rsa-icon-button-group {
      margin: rsa-whitespace(less);
      padding: rsa-whitespace(least) rsa-whitespace(less) 0!important;
      padding-bottom: 0!important;
      border-left: 1px solid border-color(primary);
      height: 1.75rem;
      overflow: visible;

      &:first-child {
        border: none;
        margin-right: -4px;
      }

      &:last-child {
        padding-right: 0;
        margin-right: 0;
      }

      .rsa-form-button-wrapper {
        float: right;
        padding-top: 0!important;

        button {
          color: text-color(primary);
          padding-top: 0!important;
          padding-bottom: rsa-whitespace(less)!important;
        }
      }
    }
  }

  .filters {
    .rsa-form-input:not(:hover) input {
      border-color: border-color(primary);
      color: text-color(primary);
      @include rsa-input-placeholder(text-color(primary));
    }
  }


  .panel-control-group {
    border-right: 1px solid border-color(primary);
    margin-right: rsa-whitespace(less);
    padding: rsa-whitespace(least) rsa-whitespace(less) rsa-whitespace(least) 0;

    .is-standard .rsa-form-button:not(:hover) {
      border-color: border-color(primary);
      color: text-color(primary);
    }

    .rsa-button-group {
      margin-right: rsa-whitespace(less);

      &:last-child {
        margin-right: 0;
      }
    }

    &:last-child {
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }
  }

  .controls, .filters {
    padding: 0 rsa-whitespace() rsa-whitespace();
    padding-left: calc((#{rsa-whitespace()} + #{rsa-whitespace(least)} + #{rsa-whitespace(less)}) - 1px);
  }
}

.rsa-application-layout-panel-content {
  background-color: background-color(primary, darkest, translucent);
}
