<article class="rsa-investigate-query">
  <header class="rsa-investigate-query__header">
    <h2>Under Construction</h2>
    {{!rsa-investigate/breadcrumb coming soon!}}
  </header>
  <section class="rsa-investigate-query__body">
    <section class="rsa-investigate-query__body-main">
      {{!rsa-investigate/timeline coming soon!}}
      {{!rsa-investigate/events-list coming soon!}}
    </section>
    <aside class="rsa-investigate-query__body-aside">
      {{!rsa-investigate/facets coming soon!}}
    </aside>
  </section>
  <aside class="rsa-investigate-query__aside">
    {{!rsa-investigate/event-recon coming soon!}}
  </aside>
  <footer class="rsa-investigate-query__footer">
    {{!rsa-investigate/flowchart coming soon!}}
  </footer>
</article>
