.sample-log-message {
  height: 100%;
  line-height: 1.5rem;
  border-top: 1px solid border-color(primary);
  aside {
    padding: rsa-whitespace();
    height: 20px;
    border-bottom: 1px solid border-color(primary);
    .rsa-loader {
      float: right;
    }
    .error {
      color: text-color(accentFour);
    }
  }
  pre {
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    font-family: Courier New, Courier, monospace;
    overflow: auto;
    padding: rsa-whitespace();
    height: calc(100vh - 605px);
    width:  calc(100vw - 660px);
    min-width: 600px;
  }

  .highlight-capture {
    font-weight: bold;
    background-color: #FFA000;
    color: black; // always shows as black for non-"is-selected" hightlight text (regardless of theme)
    &.is-selected {
      color: white; // always show as white text regardless of theme
      background-color: #01579B;
    }
  }

  .highlight-literal {
    font-weight: bold;
    background-color: #FFD54F;
    color: black; // always shows as black for non-"is-selected" hightlight text (regardless of theme)
    &.is-selected {
      background-color: #03A9F4;
      color: white; // always show as white text regardless of theme
    }
  }
}