@import "log-parsers";
@import "log-message";

div.modal-content.add-new-parser-rule {
  padding: rsa-whitespace();
  padding-top: rsa-whitespace(more);
  width: 500px;
  vertical-align: text-bottom;
  .rsa-form-button-wrapper {
    float: right;
    padding-top: 115px;
    padding-bottom: rsa-whitespace();
  }
}

.parserWrapper {


  .trMessage {
    height:35vh;
  }


  width: 100%;
  position: relative;
  color: text-color(neutral);

  .ember-power-select-clear-btn {
    font-size: 1.25rem;
    font-weight: 200;
  }
  .dotRed {
    height: 10px;
    width: 10px;
    background-color: background-color(accentOne, dark);
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    vertical-align: bottom;
  }
  .deploy-icon {
    color: text-color(accentOne, dark);
  }
  .outOfBox-indicator {
    color: text-color(primary);
  }
  .active .outOfBox-indicator {
    color: text-color(primary, lighter);
  }
  .save-reset-rule {
    hbox {
      margin: rsa-whitespace();
      margin-left: 0px;
      margin-bottom: 0px;
      float: left;
    }
  }
  .buttons-container {
    margin-top: rsa-whitespace(more);
    border-bottom: 1px solid border-color(primary);
    width: 100%;
    height: 40px;
    hbox {
      margin-left: rsa-whitespace();
      float: left;
    }
  }
  .loading {
    width: 100%;
    text-align: center;
    margin-top: 20%;
  }
  h1 {
    color: text-color(primary, light);
    @include rsa-font(header, larger);
    margin: rsa-whitespace();
  }
  h2 {
    color: text-color(primary, light);
    @include rsa-font(header, small);
    margin-bottom: rsa-whitespace();
  }
  .matchingMapping {
    width: 100%;
    td {
      vertical-align: top;
      padding-left: rsa-whitespace();
      padding-right: rsa-whitespace();
      white-space: nowrap;
      color: text-color(neutral);
      @include rsa-font(default, small);
    }
    td.token {
      width: 25%;
      height: 300px;
    }
    td.values {
      overflow: auto;
      width: 40%;
    }
    td.meta {
      overflow: auto;
      width: 35%;
    }
  }
  p.firstLogName, p.firstRuleName {
    display: none;
  }
  .parserContainer  {
    width: 100%;
    overflow : hidden;
    white-space: nowrap;
    vertical-align: bottom;
    border-bottom: 1px solid border-color(neutral);
  }
  .border {
    border: 1px solid border-color(neutral);
    border-top: 1px solid border-color(primary);
    border-bottom-width: 0px;
  }

  .meta-captures {
    td.metaIndex {
      width: 10%;
    }
    .meta-capture-list {
      li {
        padding-bottom: rsa-whitespace();
      }
      .ember-power-select-selected-item, .ember-power-select-placeholder {
        text-transform: none;
      }
    }
  }

  .leftArea, .centerArea, .rightArea {
    margin:0;
    width: 22%;
    .parserTable {
      width: 100%;
      margin-top: rsa-whitespace();
      td {
        padding: rsa-whitespace(less);
        padding-left: rsa-whitespace();
        color: text-color(neutral);
        cursor: pointer;
        @include rsa-font(default, small);
      }
      td:hover {
        background-color: background-color(primary, darker);
      }
      td.active {
        background-color: background-color(secondary, dark);
      }
    }
  }
  .leftArea, .rightArea {
    min-width: 300px;
  }
  .centerArea {
    width: 55%;
    vertical-align: top;
    position: relative;
    .value-matching {
      label {
        padding-top: rsa-whitespace(less);
      }
    }
    .ruleRegex {
      margin-top: rsa-whitespace(less);
      textarea {
        min-height: 8rem;
        max-height: 8rem;
        min-width: 21vw;
        max-width: 21vw;
      }
    }
    .parserRuleName {
      padding-top: rsa-whitespace();
      margin-top: rsa-whitespace();
      margin-bottom: rsa-whitespace();
      border-top: 1px solid border-color(primary);
      width: 100%;
      div {
        overflow: hidden; 
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 500px;
        height: 30px;
      }
    }
    h1 {
      margin: 0px;
      margin-bottom: rsa-whitespace(more);
    }
  }
  .value-matching {
    label {
      padding-top: rsa-whitespace();
    }
  }
  .tdMessage {
    vertical-align: top;
  }
  .token-matching {
    height: 100%;
    overflow: auto;
    .rsa-form-input input {
      font-size: 10px;
    }
    .rsa-form-button-wrapper {
      float: right;
    }
    .rsa-form-input {
      width: 80%;
    }
    li {
      padding-right: rsa-whitespace(less);
    }
  }
  .token .form-error, .meta .form-error {
    color: text-color(accentOne);
    padding-bottom: rsa-whitespace(less);
    display: inline-block;
  }
  .parser-table-container {
    overflow: auto;
    height: 75vh; 
    .parserTable td div {
      overflow: hidden; 
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 250px;
    }
  }
  .parser-rules-list {
    .invalid-rule {
      .parser-rule-name {
        color: text-color(accentOne, darker);
        font-style: italic;
        font-weight: bold;
      }
    }
    .has-matches {
      .parser-rule-name {
        color: text-color(accentFour, dark);
      }
    }
  }
}