$light-app-nav-fg-section: $rsa-color-gray-d3;
$light-app-nav-fg-link: $rsa-color-blue-d2;
$light-app-nav-bg-link-hover: rgba($rsa-color-gray-l1,.5);
$light-app-nav-fg-logo: $rsa-color-gray-d3;
$light-app-nav-border-color: $rsa-color-gray;
$light-app-nav-bg: $rsa-color-gray-l2;
$light-app-nav-section-border-color: $rsa-color-gray-l1;

.#{$ns}light {
  .app-nav {
    background: $light-app-nav-bg;
    border-right: 1px solid $light-app-nav-border-color;

    &__header {

      .rsa-logo {
        color: $light-app-nav-fg-logo;
      }
    }
    &__body {
      color: $light-app-nav-fg-section;
    }
    &__section {
      border-top: 1px solid $light-app-nav-section-border-color;

      &:last-of-type {
        border-bottom: 1px solid $light-app-nav-section-border-color;
      }
    }
    &__link {
      color: $light-app-nav-fg-link;

      &:after {
        border-color: transparent transparent transparent $light-app-nav-fg-link;
      }

      &:hover {
        background-color: $light-app-nav-bg-link-hover;
      }
    }
  }
}
