.#{$ns}light {
  .color-swatch {
    border-radius: 3px;
    box-shadow: 1px 1px 1px $rsa-color-gray-l1;

    &__title,
    &__subtitle {
      font-size: 10pt;
    }

    &__title {
      font-weight: bold;
    }
  }
}
