.#{$ns}light {
  .spec-nav {
    border-left: 1px solid $rsa-color-gray-l2;
    line-height: 1.35;

    &__category {

      &:not(:last-of-type) {
        &:after {
          border-bottom: 1px solid $rsa-color-gray-l3;
        }
      }

      &-title {
        color: $rsa-color-blue-d2;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    &__link {
      color: $rsa-color-blue-d1;
      text-decoration: none;
    }
  }
}
