.#{$ns}light {
  .spec-body {
    line-height: 1.35;
    color: $rsa-color-gray;

    &__header {
      code {
        color: $rsa-color-black;
        font-family: Consolas, Monaco, 'Andale Mono', monospace;
      }
    }
  }
}


