$appNavigationHeaderHeight: 40px;
$configureNavigationHeight: 48px;

.rsa-protected page.configure-engine {
  min-height: calc(100vh - #{$appNavigationHeaderHeight});
  .rsa-incident-rules, .rsa-incident-rule {
    height: calc(100vh - #{$appNavigationHeaderHeight} - #{$configureNavigationHeight});
  }
}
