<div class="action-control add-new-log-parser">
  {{#rsa-form-button
    isDisabled=false
    defaultAction=(action 'showModal' 'add-log-parser')}}
    {{t 'configure.logsParser.addParser.addNew'}}
  {{/rsa-form-button}}
</div>
<div class="action-control delete-log-parser">
  {{#rsa-button-with-confirmation
    title=(t 'configure.logsParser.modals.deleteParser.title')
    confirmationMessage=(t 'configure.logsParser.modals.deleteParser.confirm' parserName=(or selectedLogParser.displayName selectedLogParser.name))
    confirmButtonLabel=(t 'configure.logsParser.modals.deleteParser.ok')
    isDisabled=(or selectedLogParser.outOfBox selectedLogParser.deployed)
    cancelButtonLabel=(t 'configure.logsParser.modals.cancel')
    onConfirm=(action 'deleteLogParser' selectedLogParser)}}
    {{t 'configure.logsParser.buttons.delete'}}
  {{/rsa-button-with-confirmation}}
</div>
{{#if (eq activeModalId 'add-log-parser')}}
  {{#rsa-application-modal eventId='add-log-parser' label="Add Dynamic Log Parser" style="standard add-log-parser-modal"}}
    <div class='modal-content'>
      {{content/log-parser-rules/log-parsers/add-log-parser onLogParserAdded=(action 'closeModal' 'add-log-parser')}}
    </div>
  {{/rsa-application-modal}}
{{/if}}
