@import 'app-nav';
@import 'index';
@import 'color-swatch';
@import 'spec-category';
@import 'spec-member';
@import 'spec-masthead';

.visual-tour-link {
  text-decoration: none;
  color: text-color(secondary);
  display: inline-block;
  margin: rsa-whitespace(more) auto;
  @include rsa-font(navigation);
}
