fs-user-alert-flow {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    min-height: 180px;
    height: 40%;
    max-height: calc(35vh - 100px);

    .alert-flow-title {
        color: #01294a;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.563em;
    }

    .alert-swiper-outer-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        flex: 1;
    }

    .slide-button {
        color: #0062b3;
        font-size: 26px;

        cursor: pointer;

        &[disabled] {
            opacity: 0.3;
        }
    }

    .swiper-container {
        flex: 1;
        margin: 0 10px;

        display: block;
        overflow: hidden;

        user-select: none;

        cursor: move;
    }

    .swiper-wrapper {
        display: flex;
        flex-flow: row nowrap;

        transform: translate3d(0px, 0px, 0px);
    }

    .indicator-slide {
        display: flex;
        flex-flow: column nowrap;
        width: 250px;
        flex-shrink:0;

        &:hover {
            .indicator-icon-container {
                background-color: #2d78a5;
            }

            .slide-description {
                color: #002b56;
            }
        }
    }

    .upper-row {
        margin: 15px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .indicator-icon-container {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #35a6da;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        svg {
            width: 30px;
            height: 30px;
            fill: white;
        }
    }

    .slide-separator {
        flex: 1;
        border-top: 1px solid #024d89;
        margin: 10px;

        cursor: pointer;
    }

    .slide-description {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #004f8f;
        font-size: 12px;

        width: 60%;

        cursor: pointer;

    }

    .slide-date-time {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #838485;
        font-size: 10px;
    }

    .indicator-slide.last-slide {
        width: 130px;
        .slide-separator {
            display: none;
        }

        .slide-description {
            width: 100%;
        }
    }

}
