{{#if showSpinner}}
  <div class="execute-query-button">
    {{rsa-loader size="small"}}
  </div>
{{else}}
  {{#rsa-form-button
    class='execute-query-button'
    defaultAction=(action 'cancelOrExecuteAction')
    isDisabled=isDisabled
    style='primary'}}
    {{label}}
  {{/rsa-form-button}}
{{/if}}