.widget-map{
  overflow: hidden;

  .background {
    fill: none;
    pointer-events: all;
  }

  .countries {
    fill: #f3f3f3;

    path{
      stroke: #cecece;
      stroke-width: 1px;
    }
  }

  .borders{
    fill: none;

    path{
      stroke-width: 1px;
      fill: Transparent;

      &:hover{
          fill: rgba(0,0,0,.07);
      }

      &[data-tooltip]{
        cursor: pointer;

        &:hover{
          stroke: #065DA0;
        }
      }
    }
  }
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;

  &:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  &.n:after{
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }
}