<div class="widget-tabs" ng-controller="TabsWidgetController">
    <ul>
        <li ng-repeat="tab in view.data"
            ng-class="{ selected: $index == currentTabIndex}"
            ng-click="selectTab(tab, $index)"
            ng-style="{ width: (100 / view.data.length) + '%' }">
            <span class="widget-tabs-label" ng-if="tab.label" ng-style="{background: tab.label.style.color}">
                {{tab.label.value}}
            </span>
            {{tab.display}}
        </li>
    </ul>
    <div class="tabs-content-wrapper">
        <div ng-include="'views/pages/dashboard.html'"></div>
    </div>
</div>