<h2 class="title-header">
  {{#rsa-form-button class='close-zone' isIconOnly=true click=openFilterPanel }}
    {{rsa-icon name='filter-2'}}
  {{/rsa-form-button}}
</h2>
<hbox class="toolbar-actions">
  {{service-selector services=servers serviceId=serverId onServiceSelection=(action 'setEndpointServer')}}
  {{files-toolbar/export-button}}
  <div class="divider"/>
  {{endpoint/file-actionbar
    onSaveFileStatus = (action 'saveFileStatus' checksums)
    getSavedFileStatus = (action 'getSavedFileStatus')
    serviceList=serviceList
    metaName='checksumSha256'
    itemList=itemList
    fileStatusData=data
    selectedFileCount=selectedFileCount
    getAllServices=(action 'getAllServices')
    remediationStatus=remediationStatus
    retrieveRemediationStatus=(action 'retrieveRemediationStatus')}}
</hbox>