<hbox class="title">
  <h2 class="title-header">
    {{t 'investigateFiles.title'}} <span class="count">({{totalItems}})</span>
    {{files-toolbar/export-button}}
  </h2>
</hbox>
<hbox class="filters panel-control-group" fit>
  {{content-filter}}
</hbox>