{{#rsa-nav-secondary}}
  {{#link-to "protected.configure.live-content" current-when="protected.configure.live-content"}}
    <section class="rsa-nav-secondary__section">
      {{rsa-icon name="network-live"}}<span>{{t "live.title"}}</span>
    </section>
  {{/link-to}}
{{/rsa-nav-secondary}}
{{outlet}}
