{{#if (and eventIndex eventTotal)}}
  <div class="event-info">
    <span class="lighter">{{eventIndex}} of {{eventTotal}}</span>
    events
  </div>
{{/if}}


{{#if isPacket}}
  <hbox class="packet-pagination">
    {{recon-pager/data-pagination}}
  </hbox>
{{/if}}

{{#if isText}}
  {{recon-pager/text-pagination}}
{{/if}}