.widget-container{
  background: White;
  box-sizing: border-box;

  .widget{
    border: none;

    &.inner-widget{ border: solid 1px #dfdfdf }

    &:first-child{
      .widget-contents{
        padding-top: 0;
      }
    }
  }

  .dashboard-widgets{
    background: White;
  }

  .widget-contents{
    padding-left: 0;
    padding-right: 0;
  }
}