.investigator{
  .investigator-menu{
    section{
      border: $widgetBorder;
      margin-bottom: 15px;
      box-sizing: border-box;

      select{
        height: 25px;
      }

      h4{
        font-size: 14px;
        background: $widgetHeaderBackgroundColor;
        color: $widgetTitleColor;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
      }
    }

    table{
      width: 100%;

      input[type='checkbox']{ margin: 0 }
    }
  }

  .investigator-field-icon{
    color: #aaa;
  }

  .investigator-computed-field{
    font-weight: bold;
    background: #AAD6E9;

    .investigator-field-icon{ color: Black; }
    &:hover td{
      background: #54afe9;
    }
  }

  .investigator-fields-update-btn{
    position: absolute;
    right: 11px;
    top: 5px;
    height: 16px;
    line-height: 16px;
    z-index: 5;
  }

  .investigator-menu-section-contents{
    padding: 10px;
    position: relative;
  }

  .investigator-field-filters-list{
    li{
      margin-bottom: 5px;
    }
  }
  .investigator-filter-operator-small{
    width: 110px;
  }

  .investigator-filter-value, .daterange-input{
    width: 183px;
  }
  .investigator-display{
    position: relative;
    min-height: 400px;

    table a{
      color: $textColor;
    }
  }

  .section-collapse-btn{
    color: White;
    float: right;
    text-decoration: none;
    cursor: pointer;
    line-height: 30px;
  }
}