.widget-items-list{
  margin: 0;
  padding: 0;

  li{
    padding: 7px 5px;
    border-bottom: solid 1px #ddd;

    &:last-child{
      border-bottom: none;
    }
  }

  .items-list-icon{
    display: inline-block;
    width: 17px;
    font-size: 14px;
    position: relative;
    top: 1px;
  }

  .items-list-sidenote{
    float: right;
    color: #999;
  }
}

$roundIconsSize: 26px;

.round-items-list .items-list-icon{
  background: Black;
  color: White;
  width: $roundIconsSize;
  height: $roundIconsSize;
  line-height: $roundIconsSize;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
  top: 0;
}