.sub-scores{
  .knob-wrapper{
    height: 170px;

    .info{
      top: -90px;

      .param{ font-size: 11pt; color: #333 }
    }
  }
}

.knob-wrapper .param{
  display: inline-block;
  padding: 0 4px;
  border-bottom: solid 2px Transparent;
}
.knob-wrapper .selected .param{
  border-color: #30a1ec;
}

