.feedback-component {
    display: flex;
    flex-direction: column;


    .feedback-subtitle{
        color: #01294A;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: rgb(0, 79, 143);
        line-height: 1.5em;
        margin: 1em 0;
    }

    .feedbacks-buttons-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .actual-risk{
            width:120px;
            margin-right: 1em;
        }

        .not-risk{
            width:120px;
        }

        .change-risk-button{
            display: flex;
            flex-direction: row;
            position: relative;

            span {
                height: 2.2em;
                position: absolute;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-color: #b1b1b1;
                border-width: 0.1em;
                border-style: solid;
                padding: 0.5em 1em;
                transform: scaleY(0);
                .button-text{
                    padding-left: 0.5em;
                }
                &.active {
                    background-color: rgba(2, 77, 137, 1);
                    .button-text{
                        color: #FFFFFF;
                        font-weight: bold;

                    }
                }

            }


        }

    }



}





