$font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-size-base: 12px !default;
$line-height-base: 1.35 !default;

html, body {
    width: 100%;
    height: 100%;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

/*
The (singleton) animated element that indicates the app is loading upon startup.
Typically an SVG rsa-spinner. Centered horiz & vertically.
@todo Find a better home for this rule.
*/
#sa-app-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;     /* to avoid overlapping any dynamically generated content (e.g., routes). */
}
