/**
 * @file login screen styles
 */
.rsa-login {
    @include rsa-col(justify,fill);

    > form {
        @include rsa-col(center,middle);
        @include rsa-vendor-prefix(flex-grow,1);
        text-align: center;

        /* Main area contains textboxes. */
        .rsa-main {
            width: 500px;

            &[data-status=error] {
                /* container for text inputs; shakes when login fails. */
                @include rsa-vendor-prefix(animation, rsa-shake-x 1200ms ease-in-out 0s 1 both);
            }

            input {
                /* input text inputs for username & password */
                width: 120px;
            }
        }

    }

    > footer {
        @include rsa-vendor-prefix(flex-shrink,1);
        @include rsa-row(justify,fill);

        /* Fades in after other page content has animated */
        @include rsa-vendor-prefix(animation, rsa-fade-in 1s linear 2s 1 both);
    }
}
