.rsa-{
    &protected {
        @include rsa-col(justify,fill);
        > header {
            @include rsa-vendor-prefix(flex-grow,0);
            @include rsa-vendor-prefix(flex-shrink,0);
        }
        > section {
            @include rsa-vendor-prefix(flex-grow,1);
            @include rsa-vendor-prefix(flex-shrink,1);
            position: relative;
        }
    }
}
