@charset "UTF-8";

/* Imports all styles from component-lib addon. */
@import 'component-lib/manifest';

/* Import investigate-shared styles */
@import 'investigate-shared/manifest';

html, body {
  height: 100%;
}

body {
  color: text-color(primary, light);
  margin: 0;
}

page {
  min-height: 100vh;
}
