extends ../../common-templates/layout/layout

block variables
    //- Local vars
    - var emailTitle = "NEW ALERT";

block styles

block content
    td(style="font-family: 'Verdana', verdana, sans-serif;font-size: 16px; text-align: left;")
        table(width="100%" border="0" cellpadding="0" cellspacing="0")
            tr#alert-description(bgcolor="#f2f2f2")
                include alert-description
            tr#indicators-list-title
                include indicators-list-title
            for indicator, index in alert.emailEvidences
                tr.indicators-list-item
                    include indicator-list-item
            tr#entity-title
                include entity-title
            tr#entity-description(bgcolor="#f2f2f2")
                include entity-description

