.entity-details-container-header {
  min-height: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  float: left;
  &_leftArrow {
    width: 50px;
  }
  &_name {
    padding: rsa-whitespace();
  }
  &_avtar {
    padding: rsa-whitespace();
  }
  &_score {
    padding: rsa-whitespace();
    width: 70px;
  }
  &_watch {
    padding: rsa-whitespace();
  }
  &_switch {
    position: absolute;
    right: 0;
    padding: rsa-whitespace();
  }
}
