/* @file Text modifiers. */

.rsa- {

    /* Disables wordwrapping. */
    &-nowrap {
        white-space: nowrap;
    }

    /* Disables native browser's text selection/highlighting. */
    &-unselectable {
        @include rsa-vendor-prefix(user-select, none);
    }
}
