.fs-severity-tag {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    &--icon-container {
        display: inline-block;

        width: 29px;
        height: 29px;
    }

    &--icon {
        width: 100%;
        height: 100%;

        &--critical {
            fill: $clrCritical;
        }
        &--high {
            fill: $clrHigh;
        }
        &--medium {
            fill: $clrMedium;
        }
        &--low {
            fill: $clrLow;
        }
    }
}
