<!--<pre>{{$ctrl.severity}}</pre>-->
<div ng-switch="$ctrl.severity" class="fs-severity-tag" ng-attr-title="Score: {{$ctrl.score}}">
    <div ng-switch-when="Critical" class="fs-severity-tag--icon-container--critical">
        <span>C</span>
    </div>
    <div ng-switch-when="High" class="fs-severity-tag--icon-container--high">
        <span>H</span>
    </div>
    <div ng-switch-when="Medium" class="fs-severity-tag--icon-container--medium">
        <span>M</span>
    </div>
    <div ng-switch-when="Low" class="fs-severity-tag--icon-container--low">
        <span>L</span>
    </div>
</div>
