
.rsa-login {
    background-color: $menlo-park-app-body-bg;

    .rsa-logo {
        margin: $base-padding-y * 2 0;
    }
    input {
        @include menlo-park-light-textbox;
        margin: $base-padding-y 0;
    }
    button {
        @include menlo-park-light-on-dark-btn(false, false);
        margin: $base-padding-y * 2 0;
    }
    .rsa-login-error {
        padding: $base-padding-y 3px;
    }
    .rsa-login-error-message {
        padding: $base-padding-y $base-padding-x;
        background-color: $menlo-park-error-bg;
        color: $menlo-park-error-fg;
        font-weight: bold;
    }
}
