.rsa-menlo-park {
    .rsa-protected {
        background-color: $menlo-park-app-body-bg;

        /* App header: */
        > header {
            background-color: $menlo-park-app-header-bg;

            a[href],
            button {
                padding-top: 9px;
                padding-bottom: 9px;
            }
            button {
                &.rsa-dropdown {
                    @include menlo-park-light-on-trans-btn(false, true);
                }
                &:not(.rsa-dropdown) {
                    @include menlo-park-light-on-trans-btn(false, false);
                }
            }
            a[href] {
                @include menlo-park-light-on-trans-btn(true, false);
            }
        }
    }
}
