.risk-properties-panel {
  height: 100%;
  overflow: auto;
  position: relative;
  padding: 0 rsa-whitespace(less);
  &__title {
    margin-top: rsa-whitespace(least);
    h3 {
      color: text-color(secondary);
      font-weight: bold;
      font-size: .85rem;
      padding-top: 1rem;
    }
  }
  &__entry {
    padding: rsa-whitespace(less);
    margin-left: rsa-whitespace();
    &__field {
      span {
        padding: rsa-whitespace(least) 0;
      }
      .entry-label {
        font-size: 0.85rem;
        width: 65px;
        text-align: right;
        padding-right: rsa-whitespace();
        color: text-color(primary, light);
      }
      .entry-value {
        font-size: 1rem;
      }
    }
  }

  .respond-link {
    font-size: 1rem;
  }
}
