<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="time" datePattern="yyyy-MM-dd_HH-mm"/>

    <!-- Send debug messages to System.out -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>


    <!--need this in DEBUG to print mongo Queries to sysout -->
    <logger name="org.springframework.data.mongodb.core.MongoTemplate" level="INFO" />

    <logger name="com.rsa.netwitness.presidio.automation">
        <level value="INFO" />
    </logger>

    <logger name="presidio.integration.performance">
        <level value="INFO" />
    </logger>

    <!-- By default, the level of the root level is set to DEBUG -->
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>