<vbox class='rsa-respond-incident'>
  <hbox class='rsa-respond-incident__top-panel'>
    <vbox xs="12">
      {{rsa-respond/incident-detail/detail-header model=model users=users}}
    </vbox>
  </hbox>

  <hbox class='rsa-response-detail__bottom-header'>
    <vbox xs="3">
      Overview
    </vbox>
    <vbox xs="9">
      <div>
        Storyline {{rsa-content-datetime timestamp=model.alerts.firstObject.alert.timestamp}} to {{rsa-content-datetime timestamp=model.alerts.lastObject.alert.timestamp}}
      </div>
    </vbox>
  </hbox>

  <hbox>
    <vbox xs="3" class="rsa-response-detail__bottom-overview">
      Overview WIP
      {{#if showJournal}}
        <div class="rsa-response-detail__bottom-text">Add Journal Entry</div>
      {{/if}}
    </vbox>
    <vbox xs="9">
      {{rsa-respond/incident-detail/detail-storyline journalAction=(action 'journalAction') entityAction=(action 'showEntity') model=model}}
    </vbox>
  </hbox>
</vbox>
