<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category}}
      {{#spec-member title="Standard Usage"}}
        <code>
          <div>
            &#123;{#rsa-application-content}}
            <div>
              &#123;{outlet}}
            </div>
            &#123;{/rsa-application-content}}
          </div>
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
