{{#if isActive}}
  {{#power-select-typeahead
    afterOptionsComponent=(
      component optionsComponent
      options=(readonly _groomedAfterOptionsMenu.list)
      sendMessage=(action 'handleMessage')
    )
    allowClear=false
    dropdownClass='investigate-query-dropdown'
    calculatePosition=_calculatePosition
    defaultHighlighted=QUERY_PILL
    initiallyOpened=true
    matcher=_matcher
    matchTriggerWidth=false
    onblur=(action 'onBlur')
    onchange=(action 'onChange')
    onfocus=(action 'onFocus')
    oninput=(action 'onInput')
    onkeydown=(action 'onKeyDown')
    options=_options
    optionsComponent=(
      component 'query-container/power-select-options'
      onmousedown=(action 'onOptionMouseDown')
    )
    preventScroll=true
    triggerComponent='query-container/power-select-resizable-input'
    as |option|
  }}
    <span class="value">{{_searchString}}</span>
    <span class="description">{{option}}</span>
  {{/power-select-typeahead}}
{{else}}
  {{valueDisplay}}
{{/if}}