.recon-event-dropdowns {
  padding: rsa-whitespace() 0;
  .left {
    justify-content: flex-start;
  }
  .right {
    justify-content: flex-end;
  }
  .dropdowns {
    > div {
      margin-right: rsa-whitespace();
    }
  }
}
