.recon-event-actionbar {
  padding: rsa-whitespace(less) rsa-whitespace() rsa-whitespace();
  .left {
    justify-content: flex-start;
  }
  .right {
    justify-content: flex-end;
  }
  .dropdowns {
    > div {
      margin-right: rsa-whitespace();
    }
  }
}
