@import "./event-dropdowns";

.recon-event-header {
  background-color: rsa-color(gray, darkest, $rsa-nearly-opaque);

  .divider {
    border-left: 1px solid rsa-color(white);
    height: 1.5rem;
    margin: 5px;
  }

  .header-data {
    border-top: 1px solid rsa-color(gray, dark);
    background-color: rsa-color(gray, darkest, $rsa-transparent);
    padding: rsa-whitespace(less) rsa-whitespace(less) rsa-whitespace();
    .header-item {
      padding: rsa-whitespace(less);
      @include rsa-word-wrap();

      .name {
        @include rsa-font(header, small);
        color: rsa-color(gray, light);
        padding-bottom: rsa-whitespace(least);
      }

      .value {
        @include rsa-font(body);
        color: rsa-color(gray, lightest);
      }
    }

    .rsa-content-tethered-panel {
      z-index: 2000
    }
  }

  .recon-event-titlebar {
    padding: rsa-whitespace(less) rsa-whitespace() rsa-whitespace();

    .heading {
      .heading-select {
        margin-left: .8rem;
      }

      .ember-power-select-trigger {
        @include rsa-font(header, large);
        border-bottom: 0;
        font-weight: lighter;
        .ember-power-select-status-icon {
          width: 1rem;
          &::after {
            font-size: 1rem;
            line-height: 1rem;
          }
        }
        .rsa-icon {
          font-size: 1rem;
          top: 10px;
        }
      }

      .rsa-nav-tab.is-left-aligned-primary,
      .tview-heading {
        margin: 0 .8rem 0;
        padding: .5rem .1rem .36rem .1rem;
        border-bottom-width: 3px;
      }

      .tview-heading {
        border-bottom: 3px solid transparent;
        border-color: rsa-color(blue);
        cursor:default;
        .tview-label {
          text-transform: capitalize;
          color:rsa-color(gray, lightest);
          font-weight: 100;
          font-size: 1.28rem;
          letter-spacing: 0.05rem;
        }
      }

      .event-title {
        @include rsa-font(header, large);
        color: rsa-color(gray, lightest);
        text-transform: capitalize;
        padding: .5rem 0 .36rem;
        border-bottom-width: 3px;
        &.seperator {
          padding: 0;
          margin: 0.5rem .3rem 0.5rem 1.1rem;
          border: 0 solid rsa-color(gray);
          border-right-width: .1rem;
        }
      }
    }

    .header-toggle,
    .header-button {
      color: rsa-color(gray);
      cursor: pointer;
      margin: 0 rsa-whitespace(least);
      padding: rsa-whitespace(less) rsa-whitespace(least);
      &:hover {
        color: rsa-color(grey, lightest);
      }
      &.active:not(.disabled) {
        color: rsa-color(gray, lightest);
      }
      &.disabled {
        color: rsa-color(gray, dark);
        cursor: default;
      }
    }
    .header-toggle {
      &.active:not(.disabled) {
        border-bottom: rsa-color(blue) 3px solid;
      }
    }
  }
}

.recon-event-titlebar {
  @media (min-width: 1731px) {
    .heading-select {
      display: none;
    }
    .heading-tabs {
      display: inherit;
    }
  }

  @media (max-width: 1730px) {
    .heading-select {
      display: block;
    }
    .heading-tabs {
      display: none;
    }
  }
}

.recon-is-full,
.recon-is-expanded {
  @media (min-width: 1161px) {
    .heading-select {
      display: none;
    }
    .heading-tabs {
      display: inherit;
    }
  }

  @media (max-width: 1160px) {
    .heading-select {
      display: block;
    }
    .heading-tabs {
      display: none;
    }
  }
}
