@import "./event-dropdowns";

.recon-event-header {
  background-color: rsa-color(gray, dark);
  border: 1px solid rsa-color(white);
  border-bottom: none;
  padding: rsa-whitespace(less) rsa-whitespace() rsa-whitespace();

  .divider {
    border-left: 1px solid rsa-color(white);
    height: 2rem;
    margin: 5px;
  }

  .header-item {
    padding: rsa-whitespace(least) 0;

    .name {
      @include rsa-font(body, small);
      color: rsa-color(white);
      padding-bottom: rsa-whitespace(least);
      text-transform: uppercase;
    }

    .value {
      @include rsa-font(body);
    }
  }

  .recon-event-titlebar {
    max-height: 40px;

    .heading {
      h2 {
        color: rsa-color(white);
        margin-top: rsa-whitespace(less);
        @include rsa-font(header, large);
      }
    }

    .action-buttons {
      text-align: right;

      .rsa-form-button {
        height: auto;
        padding: 0 rsa-whitespace(less);
      }
    }
  }
}
