/* VARIABLES */

//DIMENSIONS
$liveSearchCriteriaPanelWidth: 25%;
$liveSearchCriteriaCollapsedWidth: 50px;
$liveSearchResultsPanelWidth: 60%;
$liveSearchDetailsPanelWidth: 25%;
$liveSearchDetailsPanelMinWidth: 350px;
$liveSearchDetailsPanelCollapsedWidth: 0;
$sectionHeaderHeight: 37px;

//Color
$panelBackgroundColor: rsa-color(gray, dark);
$panelDarker: rsa-color(gray, darker);
$panelLighter: rsa-color(gray, dark);

$animationDuration: 0.5s;

.rsa-live-search {
  width: 100%;

  .rsa-application-layout-manager {
    height: 100%;
    flex-wrap: nowrap;

    .rsa-application-layout-panel {
      transition: max-width $animationDuration, width $animationDuration, min-width $animationDuration;
    }

    &.panel-C-quarter .panel-C {
      width: $liveSearchDetailsPanelWidth;
      max-width: $liveSearchDetailsPanelWidth;
      min-width: $liveSearchDetailsPanelMinWidth;
    }

    &.panel-A-quarter .panel-A {
      max-width: $liveSearchCriteriaPanelWidth;
    }

    &.panel-B-main .panel-B {
      width: $liveSearchResultsPanelWidth;

      > .scroll-box vbox:not(.flexi-fit)  {
        height: calc(100% - #{$sectionHeaderHeight});
      }
    }

    &.panel-C-hidden {
      .panel-C {
        max-width: $liveSearchDetailsPanelCollapsedWidth;
      }
    }
  }

  .rsa-application-layout-panel {
    //Keep all vbox elements expanded out to 100% height so that they don't
    //auto-collapse to zero height due to positioning.
    vbox:not(.flexi-fit) {
      height: 100%;
      display: block;
    }
  }

  //PANEL DEFINITION WITH SECTION HEADERS AND COLLAPSE TOGGLE
  .rsa-application-layout-manager .rsa-application-layout-panel {
    > .scroll-box {
      background-color: rsa-color(black, base, $rsa-translucent);
      border-right: 1px solid rsa-color(black, base, $rsa-nearly-transparent);
      overflow: hidden;
    }

    /* Section headers inside of panels are styled here for collapsing/expanding so that text
     disappears and reappears as the panel is closed and opened respectively. */
    .rsa-content-section-header{
      padding: 0;
      font-size: 1rem;

      h1 {
        display: inline-block;
        line-height: 30px;
        opacity: $rsa-opaque;
        transition: opacity 2s, max-width $animationDuration;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: rsa-whitespace();
      }

      //The toggle button for collapsing and expanding the panel
      .panel-toggle {
        display: inline-block;
        width: 20px;
        height: 100%;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }

  .rsa-application-layout-manager {

    .rsa-live-search-result-details {
      opacity: $rsa-opaque;
      transition: opacity 0.1s $animationDuration;
    }

    // When the Search Criteria panel is collapsed
    &.panel-A-hidden {
      // ...reduce the width and change opacity of text to hide it
      .panel-A {
        max-width: $liveSearchCriteriaCollapsedWidth;
        min-width: $liveSearchCriteriaCollapsedWidth;
        transition: max-width $animationDuration, max-height $animationDuration, opacity $animationDuration;

        .rsa-content-section-header {
          h1 {
            opacity: $rsa-transparent;
            transition: max-width $animationDuration, max-height $animationDuration, opacity $animationDuration;
          }
        }

        .rsa-live-search-criteria {
          max-width: 0;
          opacity: $rsa-transparent;
          transition: opacity 0s 0s;
        }
      }

      .panel-B {
        width: auto;
      }

      // When Details panel is open
      &.panel-C-quarter {
        // ...shrink the main Results panel to accomodate
        .panel-B {
          width: calc(100% - #{$liveSearchDetailsPanelWidth} - #{$liveSearchCriteriaCollapsedWidth});
        }
      }
    }

    // When Details panel is closed
    &.panel-C-hidden {
      // ... make text transparent for panel open transition
      .rsa-live-search-result-details {
        opacity: $rsa-transparent;
        transition: opacity 0s 0s;
      }
    }
  }
}
