.rsa-live-search {
  .rsa-live-search-criteria {
    height: calc(100% - 45px);
    padding: 0 rsa-whitespace() rsa-whitespace() rsa-whitespace();
    transition: opacity 0.1s 0.5s;
    opacity: $rsa-opaque;

    .advanced-toggle {
      float: right;

      .advanced-toggle-label {
        @include rsa-font(header, small);
        vertical-align: top;
        display: inline-block;
        padding: rsa-whitespace(least) 0 0 0;
      }
    }

    .advanced-fields {
      max-height: 0;
      overflow: hidden;
      transition: max-height .25s;
      opacity: $rsa-transparent;
    }

    &.is-showing-advanced .advanced-fields {
      max-height: 900px;
      opacity: $rsa-opaque;
      overflow: visible;
      transition: max-height .5s 0s, opacity 1s;
    }

    form.live-search {

      .clear-input-icon {
        border: 1px solid transparent;
        background-color: transparent;
        display: inline-block;
        vertical-align: middle;
        outline: 0;
        cursor: pointer;
      }
      .clear-input-icon::after {
        content: "X";
        display: block;
        margin: auto;
        padding: rsa-whitespace(least);

        position: absolute;
        width: 15px;
        height: 15px;
        right: 5px;
        top: 0;
        bottom: 0;
        z-index:1;

        text-align: center;
        @include rsa-font();
        cursor: pointer;
      }
      .search-box:not(:valid) ~ .clear-input-icon {
        display: none;
      }

      > hbox, .advanced-fields > hbox {
        margin: rsa-whitespace() 0;
      }

      a {
        text-decoration: underline;
        color: rsa-color(gray, lighter);
        text-align: right;
        width: 100%;
        cursor: pointer;
        display: inline-block;
        padding-top: rsa-whitespace();
      }

      .categories {
        > .rsa-tree {
          padding: rsa-whitespace() rsa-whitespace(less);
        }
      }

      .rsa-form-label, .rsa-form-input .rsa-form-label, .rsa-form-textarea .rsa-form-label, .rsa-form-select .rsa-form-label {
        text-transform: uppercase;
      }

      .rsa-form-label {
        @include rsa-font(header, small);
        .label-text {
          @include rsa-font(header, small);
        }
      }
    }

    // Toggle Switch
    .switch {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 17px;

      &.small {
        width: 25px;
        height: 14px;
      }

      input {
        display: none;

        &:checked + .slider {
          background-color: rsa-color(blue);
        }

        &:focus + .slider {
          box-shadow: 0 0 1px rsa-color(blue);
        }

        &:checked + .slider::before {
          -webkit-transform: translateX(13px);
          -ms-transform: translateX(13px);
          transform: translateX(13px);
        }
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rsa-color(gray, light);
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider::before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      &.small .slider::before {
        height: 12px;
        width: 12px;
        left: 0;
        bottom: 1px;
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 17px;
      }

      .slider.round::before {
        border-radius: 50%;
      }
    }
  }
}