.rsa-dark {
  .rsa-content-ip-connections {
    color: rsa-color(gray, lighter);
  
    .circle {
      border: 1px solid rsa-color(gray, light);
    }
  
    .direction {
      color: rsa-color(gray, light);
    }
  
    .to-ip {
      .circle {
        background-color: rsa-color(gray, light);
      }
    }
  }  
}
