.rsa-dark {
  .rsa-form-checkbox {
    display: block;
    margin: rsa-whitespace(less) 0;
  
    &:hover:not(.is-disabled):not(.is-read-only) {
      cursor: pointer;
  
      .outer-wrapper {
        border-color: rsa-color(gray, lighter);
      }
    }
  
    .outer-wrapper {
      display: inline-block;
      width: calc(1rem + 1px);
      height: calc(1rem + 1px);
      line-height: calc(1rem + 1px);
      box-sizing: border-box;
      vertical-align: middle;
      border: 1px solid rsa-color(gray);
      position: relative;
      top: -1px;
      overflow: hidden;
  
      .inner-wrapper {
        box-sizing: border-box;
        margin: 2px;
        display: block;
        width: calc(.5rem + 2px);
        height: calc(.5rem + 2px);
        line-height: calc(.5rem + 2px);
        vertical-align: middle;
        overflow: hidden;
  
        .rsa-icon {
          top: 3px;
          left: 2px;
          position: absolute;
          font-size: .7rem;
        }
  
        input {
           position: relative;
           left: -100rem;
           display: block;
         }
      }
    }  
  
    &.is-selected:not(.is-disabled):not(.is-read-only):not(.is-error) {
      .inner-wrapper {
        color: rsa-color(blue);
      }
    }
  
    &.is-active:not(.is-disabled):not(.is-read-only):not(.is-error) {
      .outer-wrapper {
        border-color: rsa-color(blue);  
      }
    }
  
    &.is-error {  
      .rsa-form-label {
        color: rsa-color(red);
      }  
  
      .outer-wrapper {
        border-color: rsa-color(red);      
      }
    }
  
    &.is-error.is-selected {
      .inner-wrapper {
        color: rsa-color(red);
      }
    }
  
    &.is-disabled {  
      .rsa-form-label {
        color: rsa-color(gray);
      }  
  
      .outer-wrapper {
        color: rsa-color(gray);
      }
    }
  
    &.is-disabled.is-selected {
      .inner-wrapper {
        color: rsa-color(gray);
      }
    }
  
    &.is-read-only {  
      .outer-wrapper {
        color: rsa-color(gray);
      }
    }
  
    &.is-read-only.is-selected {
      .inner-wrapper {
          color: rsa-color(gray);
      }
    }
  
    .rsa-form-label {
      color: rsa-color(gray, lighter);
      display: inline-block;
      margin-left: rsa-whitespace(least);
      @include rsa-font(body);
      vertical-align: middle;
    }
  
  }
}