<div {{action "saveChanges" on="onDeactivate"}}>
  {{rsa-form-input class=(concat 'operator-input firstValueInput ' validation)
    maxLength=1024
    value=firstValue
    isError=(or firstValueValidator.showError firstlockError)
    errorMessage=(t (concat 'adminUsm.groupCriteria.inputValidations.' validation))
    focusIn=(action 'firstValueFocusIn')
    focusOut=(action 'firstValueChange')
    spellcheck=false
  }}
  <span>{{t 'adminUsm.groupCriteria.and'}}</span>
  {{#if (eq validation 'validIPv6')}}
    <br>
  {{/if}}
  {{rsa-form-input class=(concat 'operator-input secondValueInput ' validation)
    maxLength=1024
    value=secondValue
    isError=(or secondValueValidator.showError secondlockError)
    errorMessage=(t (concat 'adminUsm.groupCriteria.inputValidations.' validation))
    focusIn=(action 'secondValueFocusIn')
    focusOut=(action 'secondValueChange')
    spellcheck=false    
  }}
</div>