<div {{action "saveChanges" on="onDeactivate"}}>
  {{rsa-form-input class='operator-input firstValueInput'
    maxLength=1024
    value=firstValue
    isError=firstValueValidator.showError
    errorMessage=(t (concat 'adminUsm.groupCriteria.inputValidations.' validation))
    focusOut=(action 'firstValueChange' value='target.value')
  }}
  <span>and</span>
  {{rsa-form-input class='operator-input secondValueInput'
    maxLength=1024
    value=secondValue
    isError=secondValueValidator.showError
    errorMessage=(t (concat 'adminUsm.groupCriteria.inputValidations.' validation))
    focusOut=(action 'secondValueChange' value='target.value')
  }}
  {{#if validator.showError}}
    <span class="input-error">
      {{t (concat 'adminUsm.groupCriteria.inputValidations.' validation)}}
    </span>
  {{/if}}
</div>