<div {{action "saveChanges" on="onDeactivate"}}>
  {{rsa-form-input class='operator-input firstValueInput'
    maxLength=1024
    value=firstValue
    isError=(or firstValueValidator.showError firstlockError)
    errorMessage=(t (concat 'adminUsm.groupCriteria.inputValidations.' validation))
    focusIn=(action 'firstValueFocusIn')
    focusOut=(action 'firstValueChange' value='target.value')
    spellcheck=false
  }}
  <span>and</span>
  {{rsa-form-input class='operator-input secondValueInput'
    maxLength=1024
    value=secondValue
    isError=(or secondValueValidator.showError secondlockError)
    errorMessage=(t (concat 'adminUsm.groupCriteria.inputValidations.' validation))
    focusIn=(action 'secondValueFocusIn')
    focusOut=(action 'secondValueChange' value='target.value')
    spellcheck=false    
  }}
</div>