<div class="grid-content small-2 dashboard-sidebar">
    <section class="block-list">
        <header>Links</header>
        <ul>
            <li><a href="https://github.rsa.lab.emc.com/asoc/sa-ui">GitHub</a></li>
            <li><a href="https://bedfordjira.na.rsa.net/secure/RapidBoard.jspa?rapidView=503">Jira</a></li>
            <li><a href="https://wiki.na.rsa.net/display/NextGenWeb/Security+Analytics+Future+UI">Wiki</a></li>
            <li><a href="http://asoc-jenkins.rsa.lab.emc.com/">Jenkins</a></li>
        </ul>
    </section>
</div>
<div class="grid-content">
    {{outlet}}
</div>
