.rsa-investigate-breadcrumb {
  .rsa-content-tethered-panel-trigger {
    margin-right: 2px;
  }

  &__crumbs {
    @include rsa-row(left, bottom);
    flex-wrap: wrap;
  }

  &__crumb {
    list-style: none;
    position: relative; // enables positioning & z-indexing of children

    .delete {
      position: absolute;
      top: 0;
      left: 0;
      margin: 1px;
      padding: rsa-whitespace(less) rsa-whitespace();
      z-index: 2;
      background-color: rsa-color(black, base, $rsa-transparent);
      color: $formButtonTypeColor;

      &:hover {
        color: rsa-color(blue);
      }
    }

    button {
      padding: rsa-whitespace(less) rsa-whitespace();
      padding-left: rsa-whitespace(less) + rsa-whitespace(more);
      white-space: nowrap;
      border: 1px solid $formButtonBorderColor;
      color: $formButtonTypeColor;

      &.has-dropdown:hover {
        color: $formButtonHoverTypeColor;
        border-color: $formButtonHoverBorderColor;
        cursor: pointer;
      }

      .rsa-icon {
        padding-left: rsa-whitespace(less);
      }
    }
  }

  &__more {
    display: inline;
    margin-left: rsa-whitespace(least);
    .rsa-icon {
      color: rsa-color(grey);
      margin-left: rsa-whitespace(less);
    }
  }

  .rsa-investigate-time-range {
    display: inline;
  }

  .rsa-investigate-query-input {
    @include rsa-vendor-prefix(flex-grow, 1);
    margin: 0 rsa-whitespace() 0 rsa-whitespace(least);
    color: rsa-color(grey);
    .rsa-icon {
      margin-left: rsa-whitespace();
    }
  }

  /*
    @workaround Overwrite rsa-form-button dropdown CSS so that child hyperlinks fill their entire parent <li>s.
    Otherwise, we will have pixels of the <li> which surround the child hyperlink but do not belong to it.  These pixels
    will be "dead space", where the default CSS of the <li> will create a hover effect but clicking does nothing
    (because the pixel is outside the child hyperlink)! Gives the apperance of a broken dropdown item.
  */
  li {
    padding: 0 !important;
    border: 0 !important;
  }
  a {
    padding: 0 rsa-whitespace();
    display: block;
  }
  /* END @workaround */

  a {
    text-decoration: none;
  }
}
