{{#rsa-grid}}
  {{#rsa-grid-row collapseHeight=true}}
    {{#rsa-grid-column span=12}}
      {{spec-masthead model=model}}
    {{/rsa-grid-column}}
  {{/rsa-grid-row}}

  {{#rsa-grid-row}}
    {{#rsa-grid-column span=12 isScrollable=true}}
      {{#spec-category}}
        {{#spec-member title="Example"}}
          {{#rsa-nav-link-list header='List Title'}}
            <ul>
              <li>{{#link-to 'index'}}Link 1{{/link-to}}</li>
              <li>{{#link-to 'index'}}Link 1{{/link-to}}</li>
            </ul>
          {{/rsa-nav-link-list}}

          <code>
            <div>
              &#123;{#rsa-nav-link-list header='List Title'}}
              <div>
                &lt;ul>
                <div>
                  &lt;li>{{#link-to 'index'}}Link 1{{/link-to}}&lt;/li>                
                </div>
                <div>
                  &lt;li>{{#link-to 'index'}}Link 1{{/link-to}}&lt;/li>                  
                </div>
                &lt;/ul>
              </div>
              &#123;{/rsa-nav-link-list}}
            </div>
          </code>
        {{/spec-member}}
      {{/spec-category}}
    {{/rsa-grid-column}}
  {{/rsa-grid-row}}
{{/rsa-grid}}
