<div class="totals">
  {{#each resolvedData as |datum|}}
    <span class="datum {{datum.cssClass}}">
      <span>{{datum.value}}</span>
      <label>{{t datum.i18nKey}}</label>
    </span>
  {{/each}}
</div>
{{#with resolvedSelection as |sel|}}
  <div class="selection">
    {{t (concat 'respond.entity.legend.selection.' sel.type) count=sel.ids.length}}
  </div>
{{/with}}
