{{#if (and fileIndex fileTotal)}}
  <div class="file-info lighter right">
    {{t 'investigateFiles.footer' label='files' count=fileIndex total=fileTotal selectedItems=selectedFileCount}}
  </div>
{{/if}}

