<vbox class="rsa-application-layout-panel-header usm-inspector-title" xs="12" fit>
  <h2>{{focusedPolicy.name}}</h2>
</vbox>
<div class="inspector-control usm-inspector-description">
  <p>{{focusedPolicy.description}}</p>
</div>
