{{#if filteredList}}
  {{#each filteredList as |item|}}
    {{yield (hash
        item=(component 'list-manager/list-manager-container/item-list/item'
          listLocation=listLocation
          item=item
          itemSelection=(action itemSelection)
          editItem=editItem
        )
       )
    }}
  {{/each}}
{{else}}
  <li class='no-results'>{{noResultsMessage}}</li>
{{/if}}

