{{#if filteredList}}
  {{#each filteredList as |item|}}
    {{yield (hash
        item=(component 'list-manager/list-manager-container/item-list/item'
          stateLocation=stateLocation
          item=item
          selectedItemId=selectedItemId
          itemSelection=(action itemSelection)
          hasIsEditableIndicators=hasIsEditableIndicators
          highlightedId=highlightedId
        )
       )
    }}
  {{/each}}
{{else}}
  <li class='no-results'>{{noResultsMessage}}</li>
{{/if}}
