{{#if list}}
  {{#each list as |item|}}
    {{yield (hash
        item=(component 'list-manager/list-manager-container/item-list/item'
          item=item
          selectedItem=selectedItem
          itemSelection=(action itemSelection)
          hasOOTBIndicators=hasOOTBIndicators
          highlightedId=highlightedId
          editItem=editItem
        )
       )
    }}
  {{/each}}
{{else}}
  <li class='no-results'>{{noResultsMessage}}</li>
{{/if}}

