$topNavHeight: 89px;
$navbarHeight: 49px;
$licenseBanner: 36px;

page.admin-usm-engine {
  height: calc(100vh - #{$topNavHeight});
  min-height: calc(100vh - #{$topNavHeight});
  max-height: calc(100vh - #{$topNavHeight});
  color: text-color(primary, lightest);
}
.admin-engine .license-banner.shown+page.admin-usm-engine {
  min-height: calc(100vh - #{$topNavHeight} - #{$licenseBanner});
  max-height: calc(100vh - #{$topNavHeight} - #{$licenseBanner});
}

.admin-usm-engine {
  /* Common background for all sub-routes. */
  background-color: background-color(primary, darkest);
  
  /* Tab strip for sub-routes: myRoute, someRoute, anotherRoute. Matches investigate color. */
  > .rsa-nav-tab-group {
    height: $navbarHeight;
    min-height: $navbarHeight;
    background-color: background-color(primary, darker);

    .rsa-nav-tab {
      cursor: pointer;
    }
  }

  .loading-overlay {
    @include rsa-fill-abs();
    z-index: 2;
    background-color: background-color(neutral,dark,translucent);
    centered {
      height: 100%;
    }
  }

  .tooltip {
    .tooltip-text {
      margin-top: 0rem;
    }
  }

}
