.usm-group, .usm-policy {
  height: calc(100vh - 50px);


  .form {
    padding-right: rsa-whitespace(more);
    padding-bottom: rsa-whitespace(more);
    padding-left: rsa-whitespace(more);
  }

  .toolbar {
    padding-top: rsa-whitespace();
    padding-bottom: rsa-whitespace();
    button {
      margin-right: rsa-whitespace();
    }
  }

  .control-label {
    margin-top: rsa-whitespace();
    @include rsa-font(header);
  }

  .control {
    padding-top: rsa-whitespace(more);
    > label {
      width: 45%;
      margin-bottom: rsa-whitespace(least);
    }
  }

  .ip-range-to {
    align-self: flex-end;
    padding: rsa-whitespace(less);
  }

  .ip-range-end > span {
    visibility: hidden;
  }

}
