.admin-usm-engine {

  .usm-groups-inspector, .usm-policies-inspector, .usm-sources-inspector,
  .usm-policies-inspector-edr, .usm-policies-inspector-windows-log, .usm-policies-inspector-file {
    height: 100%;

    .rsa-content-warn-text-box {
      width: fit-content;
    }

    div.has-error {
      flex-wrap: wrap;
      position: relative;
      @include border-left(4px, solid, accentOne);
      border-color: text-color(accentOne, dark);
      @include border-top(1px, solid, primary);
      margin-top: rsa-whitespace(more);

      .heading {
        padding-left: rsa-whitespace(more);
        &::before {
          display: none;
        }
      }
      .rsa-icon {
        color: text-color(accentOne, dark);
        position: absolute;
        top: 15px;
        left: 5px;
      }
      .tooltip-text {
        float: left;
        margin-left: rsa-whitespace();
      }
    }

    .heading {
      font-size: 14px;
      line-height: 20px;
      color: text-color(primary, light);
      padding-top: rsa-whitespace();
      &::before {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        margin: rsa-whitespace() 0 rsa-whitespace() 0;
        background: background-color(primary);
      }
    }

    .advanced-props {
      margin-top: rsa-whitespace(less);
      padding: rsa-whitespace(less);
      background-color: background-color(primary, darker);
      .heading {
        padding-top: 0;
        &::before {
          display: none;
        }
        .title, .value {
          padding-top: 0;
        }
      }
    }

    .title {
      @include rsa-font(body, small);
      display: block;
      text-align: right;
      padding-right: rsa-whitespace();
      color: text-color(primary, light);
      padding-top: .4rem;
    }

    .value {
      @include rsa-font(body, medium);
      @include rsa-word-wrap();
      display: block;
      padding-top: .4rem;
      color: text-color(primary, lightest);

      .tooltip-text {
        margin-top: 0rem;
      }

      .table-cell-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
      }
    }

    .default-host-name {
      color: text-color(primary);
      padding-top: 0rem;
    }

    .count {
      padding-right: rsa-whitespace(less);
    }

    .group-criteria {
      @include rsa-font(body, small);
      display: block;
      padding-right: rsa-whitespace();
      color: text-color(primary, light);
    }

    .conjunction {
      @include rsa-font(body, small);
      color: text-color(primary, lightest);
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}