.admin-usm-engine {

  .usm-groups, .usm-policies {
    height: 100%;
    overflow: auto;

    .published-icon {
      color: text-color(neutral);
      position: absolute;
      line-height: 24px;
      margin-left: 15px;
      margin-right: 0px;
    }
    .status-unpublished-edits {
      color: text-color(accentThree, dark);
    }
    .status-unpublished {
      color: text-color(accentThree, dark);
    }
  
    .usm-groups-toolbar, .usm-policies-toolbar {
      .action-control {
        padding: rsa-whitespace(least);
        display: inline-block;
      }
      .groups-create-new-button, .policies-create-new-button {
        padding-right: rsa-whitespace(more);
      }
    }

    .table-cell-text {
      @include rsa-font(body, small);
    }    
  }
}
