.admin-usm-engine {

  .usm-groups-inspector, .usm-policies-inspector, .usm-policies-inspector-edr, .usm-policies-inspector-windows-log {
    height: 100%;

    .heading {
      font-size: 14px;
      line-height: 20px;
      color: text-color(primary, light);
      &:not(:nth-child(2)) {
        padding-top: rsa-whitespace();
        &::before {
          content: '';
          display: block;
          height: 1px;
          width: 85%;
          margin: rsa-whitespace() 0 rsa-whitespace() 0;
          background: background-color(primary);
        }
      }
    }

    .title {
      @include rsa-font(body, small);
      display: block;
      text-align: right;
      padding-right: rsa-whitespace();
      color: text-color(primary, light);
      padding-top: .4rem;
    }

    .value {
      @include rsa-font(body, small);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: block;
      line-height: 1.25rem;
      padding-top: .4rem;
      color: text-color(primary, lightest);
    }
  }
}
