@mixin menlo-park-light-textbox($fg:red, $border: $fg) {
    @include rsa-textbox(
        $menlo-park-dark-on-light-textbox-bg,
        $menlo-park-dark-on-light-textbox-fg,
        $menlo-park-dark-on-light-textbox-border,
        $menlo-park-dark-on-light-textbox-focus-bg,
        $menlo-park-dark-on-light-textbox-focus-fg,
        $menlo-park-dark-on-light-textbox-focus-border
    );
}

@mixin menlo-park-light-on-trans-btn($include-underline-effect: false, $is-dropdown: false) {
    @include rsa-btn(
        $bg: $menlo-park-light-on-trans-btn-bg,
        $fg: $menlo-park-light-on-trans-btn-fg,
        $hover-bg: $menlo-park-light-on-trans-btn-hover-bg,
        $hover-fg: $menlo-park-light-on-trans-btn-hover-fg,
        $selected-bg: $menlo-park-light-on-trans-btn-selected-bg,
        $selected-fg: $menlo-park-light-on-trans-btn-selected-fg,
        $include-underline-effect: $include-underline-effect,
        $is-dropdown: $is-dropdown
    );
}

@mixin menlo-park-light-on-dark-btn($include-underline-effect: false, $is-dropdown: false) {
    @include rsa-btn(
        $bg: $menlo-park-light-on-dark-btn-bg,
        $fg: $menlo-park-light-on-dark-btn-fg,
        $border: $menlo-park-light-on-dark-btn-border,
        $disabled-bg: $menlo-park-light-on-dark-btn-disabled-bg,
        $disabled-fg: $menlo-park-light-on-dark-btn-disabled-fg,
        $hover-bg: $menlo-park-light-on-dark-btn-hover-bg,
        $hover-fg: $menlo-park-light-on-dark-btn-hover-fg,
        $active-bg: $menlo-park-light-on-dark-btn-active-bg,
        $active-fg: $menlo-park-light-on-dark-btn-active-fg,
        $include-underline-effect: $include-underline-effect,
        $is-dropdown: $is-dropdown
    );
}

@mixin menlo-park-dark-on-trans-btn($include-underline-effect: false, $is-dropdown: false) {
    @include rsa-btn(
        $bg: $menlo-park-dark-on-trans-btn-bg,
        $fg: $menlo-park-dark-on-trans-btn-fg,
        $hover-bg: $menlo-park-dark-on-trans-btn-hover-bg,
        $hover-fg: $menlo-park-dark-on-trans-btn-hover-fg,
        $selected-bg: $menlo-park-dark-on-trans-btn-selected-bg,
        $selected-fg: $menlo-park-dark-on-trans-btn-selected-fg,
        $include-underline-effect: $include-underline-effect,
        $is-dropdown: $is-dropdown
    );
}
