$menlo-park-accent-color: rgb(26,167,221);

$menlo-park-app-header-bg: rgb(0,0,0);
$menlo-park-app-body-bg: rgb(243,243,244);
$menlo-park-error-bg: rgb(233, 15, 17);
$menlo-park-error-fg: rgb(255, 255, 255);

/* Button Color schema: Light on Transparent */
$menlo-park-light-on-trans-btn-bg: transparent;
$menlo-park-light-on-trans-btn-fg: rgb(153,153,153);
$menlo-park-light-on-trans-btn-hover-bg: transparent;
$menlo-park-light-on-trans-btn-hover-fg: rgb(255,255,255);
$menlo-park-light-on-trans-btn-selected-bg: transparent;
$menlo-park-light-on-trans-btn-selected-fg: $menlo-park-accent-color;

/* Button Color schema: Light on Dark */
$menlo-park-light-on-dark-btn-border: 1px solid rgb(0,0,0);
$menlo-park-light-on-dark-btn-bg: rgb(0,0,0);
$menlo-park-light-on-dark-btn-fg: rgb(255,255,255);
$menlo-park-light-on-dark-btn-disabled-bg: rgb(102,102,102);
$menlo-park-light-on-dark-btn-disabled-fg: rgb(204,204,204);
$menlo-park-light-on-dark-btn-hover-bg: rgb(255,255,255);
$menlo-park-light-on-dark-btn-hover-fg: rgb(0,0,0);
$menlo-park-light-on-dark-btn-active-bg: rgb(0,0,0);
$menlo-park-light-on-dark-btn-active-fg: rgb(255,255,255);

/* Button Color schema: Dark on Transparent */
$menlo-park-dark-on-trans-btn-bg: transparent;
$menlo-park-dark-on-trans-btn-fg: rgb(0,0,0);
$menlo-park-dark-on-trans-btn-hover-bg: transparent;
$menlo-park-dark-on-trans-btn-hover-fg: $menlo-park-accent-color;
$menlo-park-dark-on-trans-btn-selected-bg: $menlo-park-accent-color;
$menlo-park-dark-on-trans-btn-selected-fg: rgb(255,255,255);

/* Textbox Color Schema: Dark on Light */
$menlo-park-dark-on-light-textbox-bg: rgb(255,255,255);
$menlo-park-dark-on-light-textbox-fg: rgb(0,0,0);
$menlo-park-dark-on-light-textbox-border: 1px solid rgb(0,0,0);
$menlo-park-dark-on-light-textbox-focus-bg: rgb(255,255,255);
$menlo-park-dark-on-light-textbox-focus-fg: rgb(0,0,0);
$menlo-park-dark-on-light-textbox-focus-border: 1px solid rgb(0,0,0);

/* Popover Color Schema */
$menlo-park-popover-border: 1px solid rgb(0,0,0);
$menlo-park-popover-bg: rgb(255,255,255);
$menlo-park-popover-selected-bg: $menlo-park-accent-color;
$menlo-park-popover-selected-fg: rgb(255,255,255);

/* Incident Queue Color Schema */
$menlo-park-inc-queue-header-bg: rgb(0,0,0);
$menlo-park-inc-queue-header-fg: rgb(255,255,255);
$menlo-park-inc-queue-toolbar-bg: lighten($menlo-park-inc-queue-header-bg, 20%);
$menlo-park-inc-queue-body-bg: rgb(216,216,216);
$menlo-park-inc-queue-body-fg: rgb(102,102,102);
$menlo-park-inc-queue-footer-bg: rgb(0,0,0);
$menlo-park-inc-queue-footer-fg: rgb(255,255,255);

/* Incident Info Color Schema */
$menlo-park-inc-info-header-bg: rgb(54,54,54);
$menlo-park-inc-info-header-fg: rgb(255,255,255);
$menlo-park-inc-info-body-bg: rgb(243,243,244);
$menlo-park-inc-info-body-fg: rgb(0,0,0);


