pytest-cov
pytest-xdist
pytest
requests
pytz
mock
apache-airflow[devel]==1.8.2
/home/presidio/jenkins/workspace/Presidio-Workflows_AnyBranch/presidio-workflows-extension/.tox/dist/presidio-workflows-extension-1.0.zip