<div class="popup-overlay modal-overlay">
    <div class="popup modal splunk-config-modal form" ng-controller="SplunkConfigController">
        <h3>Splunk Configuration</h3>
        <p>
            Before the app is ready for use, please add the following parameters, to connect to the Splunk server:
        </p>
        <div ng-repeat="field in fields" class="form-field">
            <label>
                <span class="label-text">{{field.label}}</span>
                <input ng-model="field.value"
                       title="{{field.tooltip}}"
                       ng-style="{ width: field.width }"
                       required
                       ng-change="field.error = null"
                        type="{{field.type || 'text' }}"/>
                <span class="error" ng-if="field.error">{{field.error}}</span>
            </label>
        </div>
        <div class="form-buttons">
            <a class="btn form-submit-btn" ng-click="submit()">Save configuration</a>
        </div>
    </div>
</div>