{{#if (and (eq disabled true) (eq hasDisabledTooltip true))}}
  {{#rsa-text-with-tooltip
    value=disabledTooltip
    style=tooltipStyle
    tetherClass="ember-power-select-option-tooltip"
    alwaysShow=tooltipAlwaysShow
    copyText=tooltipCopyText
  }}
    <span class="disabled-option-in-tootlip">
      {{optionLabel}}
    </span>
  {{/rsa-text-with-tooltip}}

{{else}}
  {{optionLabel}}

{{/if}}
