<page class="admin-usm-engine {{routePath}}">
  <div class="rsa-nav-tab-group">
    {{#rsa-nav-tab align='left' isActive=isGroupsActive}}
      {{#link-to "groups" class='label'}}{{t 'adminUsm.groups.title'}}{{/link-to}}
    {{/rsa-nav-tab}}
    {{#rsa-nav-tab align='left' isActive=isPoliciesActive}}
      {{#link-to "policies" class='label'}}{{t 'adminUsm.policies.title'}}{{/link-to}}
    {{/rsa-nav-tab}}
  </div>
  {{outlet}}
</page>
