@import "./files/manifest";
@import "./packets/manifest";
@import "./text/manifest";

.recon-request-response-header {
  color: text-color(secondary);
  padding: 0.8rem 0 rsa-whitespace();
  &.response {
    text-align: right;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
  .rsa-icon {
    padding-right: rsa-whitespace(less);
  }
  .text {
    @include rsa-font(header, small);
    font-size: 0.85rem;
    letter-spacing: 1px;
  }
}

.recon-event-content {

  .request {
    background-color: background-color(primary, darker);
  }

  .response {
    background-color: $baseColorNoTransparency;
  }

  .is-sticky {
    border-top: none;
    z-index: 1000;
  }

  .scroll-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: rsa-whitespace(more);

    // Handles borders for text view
    // TODO, move packet view so this'll work for it as well
    > div {
      border-top: 1px border-color(secondary) solid;

      &:first-of-type {
        border-top: none;
      }
    }
  }

  .rendering-more {
    margin: rsa-whitespace(more);
  }
}
