$leftZoneMinWidth: 400px;
$rightZoneMinWidth: 400px;

.rsa-page-layout {
  overflow: hidden;
  height: 100%;

  .left-zone, .right-zone {
    .rsa-header {
      @include rsa-font(header, larger);
    }
    min-width: 0;
    max-width: 0;
    padding: 0;
    overflow: hidden;
    opacity: opacity-value(transparent);

    @include rsa-vendor-prefix(transition-property, max-width, min-width, padding, opacity);
    @include rsa-vendor-prefix(transition-duration, 0.3s, 0.3s, 0.3s, 0.1s);
  }

  &.show-left-zone.show-right-zone {
    .center-zone {
      min-width: calc(100% - 800px);
    }
  }

  &.show-left-zone {
    .center-zone {
      min-width: calc(100% - 401px);
    }
    .left-zone {
      max-width: $leftZoneMinWidth;
      min-width: $leftZoneMinWidth;
      opacity: opacity-value(opaque);
      @include border-right(1px, solid, primary, lightest, nearly-transparent);
    }
  }

  &.show-right-zone.is-right-overlay {
    .right-zone {
      position: absolute;
      right: 0;
      z-index: 3;
    }
  }

  &.show-right-zone {
    .right-zone {
      max-width: $rightZoneMinWidth;
      min-width: $rightZoneMinWidth;
      @include border-left(1px, solid, primary, lightest, nearly-transparent);
      opacity: opacity-value(opaque);
    }
    .center-zone {
      min-width: calc(100% - 401px);
    }
  }
  .center-zone {
    @include rsa-vendor-prefix(transition-property, min-width);
    @include rsa-vendor-prefix(transition-duration, 0.3s);
    min-width: 100%;
  }
}

@media screen and (max-width: 1800px){
  .show-left-zone.show-right-zone {
    .left-zone {
      max-width: 0;
      min-width: 0;
      overflow: hidden;
      padding: 0;
    }
  }
  .show-right-zone {
    .title-header {
      display: none !important;
    }
  }
}
