<label class="rsa-form-label power-select">
  <span class="label-text">
    {{label}}
  </span>
  {{#power-select
    class='sort-options__selection'
    triggerClass="inline"
    options=sortOptions
    selected=selectedSortOption
    allowClear=false
    searchEnabled=false
    onchange=(action (mut selectedSortOption))
    as |sortOption|}}
    {{t (concat 'incident.sortFields.' sortOption) }}
  {{/power-select}}
</label>
{{#rsa-form-button class='sort-options__direction' isIconOnly=true click=(action 'toggleSortDir')}}
  {{rsa-icon name=(if isDesc 'arrow-down-7' 'arrow-up-7') size='small'}}
{{/rsa-form-button}}