$dashboardIconSize: 50px;
$innerDashboardBorderColor: #e7e7e7;

.dashboard-with-title .dashboard-column-contents{
  padding-top: 8px;
}

.dashboard-column-contents{
  min-height: 100px;
  padding-bottom: 30px;
}

.widget-dashboard{
  .dashboard-column-contents{
    padding-bottom: 0;
  }
}

.dashboard-widgets{
  padding: 25px;
  background: #f2f2f2;
}

.dashboard-noBackground{
  .dashboard-widgets{
    background: none;
    padding: 0;
  }
}

.dashboard-header{
  padding: 0 10px;
  margin-bottom: 20px;

  .dashboard-header-text{
    display: inline-block;
    vertical-align: middle;
  }

  .dashboard-icon-image{
    height: $dashboardIconSize;
    margin-right: 10px;
    border: solid 1px #aaa;
  }

  .dashboard-icon{
    display: inline-block;
    height: $dashboardIconSize;
    width: $dashboardIconSize;
    background-color: #aaa;
    color: White;
    line-height: $dashboardIconSize;
    text-align: center;
    margin-right: 10px;
  }
}

.dashboard-name{
  margin-bottom: 1em;
}

.dashboard-title{
  font-weight: bold;
}

.dashboard-subtitle{
  display: block;
  padding: 0;
  margin: 10px 0 0 0;
  font-style: normal;
  font-size: 16px;
}

.dashboard-description{
  margin: 0;
  max-width: 910px;
}

.column-with-border{
  background: White;

  .dashboard-widgets{
    background: White;
  }
}

.inner-dashboard{
  .dashboard-widgets{
    background: White;
    padding: 8px 5px;
  }

}

.dashboard-with-border{
  border: solid 1px $innerDashboardBorderColor;

  .dashboard-widgets{
    padding: 10px;
  }
}