$btnBorderRadius: 4px;
$btnBorderColor: #498a99;

.form{
  .form-field{
    border-bottom: solid 1px #ddd;
    padding: 6px 0;
  }

  .label-text{
    display: inline-block;
    width: 80px;
  }

  .form-buttons{
    padding-top: 15px;
    text-align: right;
  }

  .form-submit-btn{
    font-size: 14px;
    height: 30px;
    line-height: 29px;
    padding: 0 20px;
    cursor: pointer;
  }
}

.btn{
  background: #71a0af; /* Old browsers */
  background: -moz-linear-gradient(top, #71a0af 0%, #6998a7 50%, #588c9c 51%, #4e8292 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#71a0af), color-stop(50%,#6998a7), color-stop(51%,#588c9c), color-stop(100%,#4e8292)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #71a0af 0%,#6998a7 50%,#588c9c 51%,#4e8292 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #71a0af 0%,#6998a7 50%,#588c9c 51%,#4e8292 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #71a0af 0%,#6998a7 50%,#588c9c 51%,#4e8292 100%); /* IE10+ */
  background: linear-gradient(to bottom, #71a0af 0%,#6998a7 50%,#588c9c 51%,#4e8292 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71a0af', endColorstr='#4e8292',GradientType=0 ); /* IE6-9 */

  color: White;
  display: inline-block;
  height: 23px;
  border: 1px solid $btnBorderColor;
  border-radius: $btnBorderRadius;
  font-size: 12px;
  padding: 0 5px;
  line-height: 21px;
  text-decoration: none;
  margin-right: 10px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;

  &:hover{
    background: #498a99;
    background: -moz-linear-gradient(top, #498a99 0%, #4e7d87 50%, #396e79 51%, #2f646f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#498a99), color-stop(50%,#4e7d87), color-stop(51%,#396e79), color-stop(100%,#2f646f));
    background: -webkit-linear-gradient(top, #498a99 0%,#4e7d87 50%,#396e79 51%,#2f646f 100%);
    background: -o-linear-gradient(top, #498a99 0%,#4e7d87 50%,#396e79 51%,#2f646f 100%);
    background: -ms-linear-gradient(top, #498a99 0%,#4e7d87 50%,#396e79 51%,#2f646f 100%);
    background: linear-gradient(to bottom, #498a99 0%,#4e7d87 50%,#396e79 51%,#2f646f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#498a99', endColorstr='#2f646f',GradientType=0 );
  }
}

.btn-link{
  background: none;
  color: $linkColor;
  border: none;
  padding: 0;
  text-decoration: underline;

  &:hover{
    background: none;
    color: Black;
  }
}

.btn-danger{
  background: #c00;
  border-color: #b00;

  &:hover{
    background: #b00;
  }
}