$modalHeaderHeight: 50px;
$modalHeaderBackground: Transparent;
$modalHeaderColor: Black;
$modalBackground: rgba(0,0,0,.7);
$modalColor: White;

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: 0;
  border: none;
  border-radius: 0;
  z-index: 99;
  background: none;

  & > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .modal-header{
    height: $modalHeaderHeight;
    line-height: $modalHeaderHeight;
    font-size: 1.3em;
    background: $modalHeaderBackground;
    color: $modalHeaderColor;
    padding: 0 20px;
    border-radius: 5px;
    position: relative;
    top: 40px;
    font-weight: normal;
  }
  .modal-background{
    background: $modalBackground;
    color: $modalColor;
  }
  .modal-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    z-index: 10;
  }


  .modal-contents{
    background: #F1F1F1;
    color: Black;
    padding: 20px;
    box-shadow: 3px 7px 18px rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;

    h5{
      color: #939393;
    }
  }
}