$popupTitleColor: White;
$popupTitleHeight: 28px;

.popup-overlay{
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.1);
}
.popup{
  position: fixed;
  z-index: 10001;
  background: White;
  border: solid 1px #666;
  box-shadow: 1px 1px 8px rgba(0,0,0,.5);

  .dashboard-header{ margin: 0 }
  .dashboard-name{ display: none }
  .widget-view{ border: none; box-shadow: none }
  .widget-control-refresh{ display: none }
  .widget-view{ padding: 0; margin-bottom: 10px; }
}

.popup-close-btn{
  float: right;
  position: absolute;
  top: 7px;
  background: #999;
  height: 13px !important;
  line-height: 13px;
  width: 14px !important;
  text-align: center;
  font-size: .7em;
  color: white;
  right: 6px;
  cursor: pointer;

  &:hover{
    background-color: #666;
  }
}
.popup-title{
  margin: 0;
  background: #222;
  background: linear-gradient(top, #323232, #020202);
  background: -webkit-linear-gradient(top, #323232, #020202);
  background: -moz-linear-gradient(top, #323232, #020202);
  background: -ms-linear-gradient(top, #323232, #020202);
  color: $popupTitleColor;

  font-size: 12px;
  font-weight: bold;
  height: $popupTitleHeight;
  line-height: $popupTitleHeight;
  padding: 0 30px 0 10px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.popup-contents{
  position: absolute;
  top: $popupTitleHeight;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.modal-overlay{
  z-index: 10001;
  background: rgba(255,255,255,.7) !important;
}
.modal{
  padding: 10px;
  box-sizing: border-box;

  h3{
    font-weight: bold;
    font-size: 14px;
    margin-top: 0;
  }
}