.print-only{
  visibility: hidden;
}

@media print{
  .print-only{
    visibility: visible;
  }
  .print-hide{ display: none !important }
  .navbar, #sidebar-nav, .widget-controls, .btn{
    display: none;
  }

  #main-contents{
    margin-left: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

  .dashboard-widgets{
    background: White;
    padding: 10px;
  }
}