.widget{
  box-sizing: border-box;
  position: relative;
  border: $widgetBorder;
  margin-bottom: $widgetMarginBottom;
  background: White;
  -webkit-transition: opacity 500ms ease-out;
  opacity: 1;

  &:last-child{
    margin-bottom: 0;
  }

  &.no-margins{
    margin-bottom: 0;

    .widget-contents{
      padding-bottom: 0;
    }
    .widget-view{
      margin-bottom: 0;
    }
  }

  &.widget-tab{
    border-color: #e7e7e7;
  }
  &.no-border{
    border: none;
  }
}

.column-with-border{
  border: $widgetBorder;
  box-sizing: border-box;

  .widget{
    border: none;
  }
}

.widget-header{
  height: $widgetHeaderHeight;
  line-height: $widgetHeaderHeight;
  background: $widgetHeaderBackgroundColor;
  color: $widgetTitleColor;
  padding: $widgetHeaderPadding;
  padding-right: 0;
  border-bottom: solid 2px $widgetBorderColor;
  cursor: move;
  font-size: 12pt;

  .widget-link-to{
    font-size: .9em;
  }

  a{
    color: $widgetControlButtonColor;
    padding: 0 5px;

    &:hover{
      color: $widgetControlButtonHoverColor;
      text-decoration: none;
    }
  }
}

.widget-dashboard{
  .widget-header{
    cursor: inherit;
  }
}
.widget-header-title{
  font-weight: normal;
  font-size: 12pt;
  color: $widgetTitleColor;
}
.sortable-placeholder{
  border: dashed 2px #666;
  background: White;
  margin-bottom: $widgetMarginBottom;
}

.inner-widget, .inner-widgets{
  .dashboard-column-contents{
    padding-top: 0;
  }

  .widget-header{
    padding: 0 0 0 5px;
    background: none;
    color: #888;
    border-bottom: none;
    margin-bottom: 10px;
  }

  .widget-header-title{
    color: Black;
    font-weight: bold;
  }

  .widget-view-control a{
    color: $linkColor;

    &:hover{
      color: $linkColor;
      text-decoration: underline;
    }
  }

  .widget-contents{
    padding-left: 0;
    padding-right: 0;
  }

  .widget-normal-padding{
    .widget-header{
      padding: $widgetHeaderPadding;
      padding-right: 0;
    }
    .widget-contents{
      padding: 0 $widgetHorizontalPadding $widgetBottomPadding;
    }
  }
}

.widget-contents{
  padding: $widgetTopPadding $widgetHorizontalPadding $widgetBottomPadding;
  overflow-x: auto;
  overflow-y: hidden;
}

.widget-no-top-padding{
  .widget-contents{
    padding-top: 0;
  }
}

.widget-advance-one{
  top: 1px;
  z-index: 5;
}

.widget-view{
  box-sizing: border-box;
  margin-bottom: 20px;
  background: White;

  &:last-child{
    margin-bottom: 0
  }

  &.widget-noBorder, &.widget-noChrome{
    border: none;
    box-shadow: none;
    padding: 0;
    background: none;

    .widget-message{ display: none }
  }

  &.widget-noChrome{
    .widget-controls{ display: none }
  }
}

.widget-view-title{
  font-size: 11pt;
}

.widget-controls{
  float: right;
}

.widget-icons{
  a{
    font-size: 12pt;
    color: #999;
    padding: 5px;
    cursor: pointer;

    &:hover{
      color: #0088cc;
      text-decoration: none;
    }
  }
}
.widget-view-control{
  position: relative;
  display: inline-block;
  z-index: 5;
  height: $widgetHeaderHeight;
  line-height: $widgetHeaderHeight;
  margin-left: 10px;

  label{ font-weight: bold; }
  &:first-child{ margin-left: 0 }
}
.widget-view-controls{
  border-width: 1px 0;
  border-style: solid;
  border-color: #ddd;
  padding: 3px 0;
  margin-bottom: 15px;
}

.widget-control-menu{
  position: absolute;
  top: 100%;
  right: 0;
  background: White;
  border: $widgetBorder;
  z-index: 8;
  margin: 0;
  padding: 0;
  white-space: nowrap;

  a{
    display: block;
    border-bottom: solid 1px #dfdfdf;
    padding: 5px 10px 5px 5px;
    font-size: 11pt;
    cursor: pointer;

    i{ margin-right: 5px }

    &:hover{
      background: #1a7996;
      color: white;
    }
    &:last-child{ border: none }
    &[disabled]{
      opacity: .4;
      color: #333;
      cursor: not-allowed;
    }
  }
}

.widget-with-message{
  min-height: 150px;
}

.widget-message-link{
  font-size: 14px;
}

.widget-init-message{
  padding: 15px 0 30px 0;
  color: black;
  position: static;
}
.widget-message{
  font-family: 'Roboto Condensed', Sans-Serif;
  position: absolute;
  top: 50%;
  left: 0;
  height: 30px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #767676;
  line-height: 25px;
  margin-top: -20px;

  &.widget-no-data{
    margin-top: -13px;
  }
  &.widget-error{
    margin-top: -34px;
  }
  &.widget-loading{
    cursor: wait;

    .widget-message-contents{
      display: block;
      font-weight: bold;
      top: 50%;
      height: 30px;
      width: 30px;
      left: 50%;
      margin-left: -15px;
      margin-top: -15px;
      font-size: 2em;
      box-shadow: none;
      padding: 0;
      position: absolute;
    }
  }
  a{ pointer-events: all; }

  .widget-message-contents{
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 0 0 4px 5px;
    position: relative;
    top: -9px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

    a{
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.widget-error-icon{
  width: 26px;
  height: 26px;
  margin-bottom: 10px;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.widget-loader{
  display: inline-block;
  width: 37px;
  height: 37px;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  background: url(../images/loader.png);
}