$textColor: #333;
$headerHeight: 0px;
$sidebarWidth: 0;

$linkColor: #049cdb;
$linkColorHover: rgb(218, 218, 213);

$widgetTitleColor: #fff;
$widgetControlButtonColor: #ddd;
$widgetControlButtonHoverColor: #fff;
$widgetBorderColor: #cecece;
$widgetBorder: solid 1px $widgetBorderColor;

$widgetHeaderBackgroundColor: #767676;
$widgetHorizontalPadding: 15px;
$widgetBottomPadding: 8px;
$widgetTopPadding: 8px;
$widgetHeaderPadding: 0 $widgetHorizontalPadding;
$widgetHeaderHeight: 32px;
$widgetMarginBottom: 20px;

html, body{ height: 100%; }
body{
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-print-color-adjust: exact;
}

label{ display: inline }
.clickable{ cursor: pointer; }

.hiddenVisibility{ visibility: hidden; }

h2, h3, h4, h5{ font-weight: normal; }
.main-section{
  position: absolute;
}
a{ cursor: pointer }
.menu{
  a{
    display: block;
    padding: 10px;
    text-decoration: none;

    &:hover{
      background-color: $linkColorHover;
    }
  }
}
.error{ color: #c00; font-weight: bold; }
.warning{ color: #f89406; font-weight: bold; }
.tooltip-icon{
  font-size: 10pt;
  color: #777;
  cursor: help;
  &:hover{
    color: Black;
  }
}
.nav-tabs a{ cursor: pointer; }
#logo{
  height: 30px;
}

#main-nav{
  display: none;
  left: 0;
  top: $headerHeight;
  width: $sidebarWidth;
  bottom: 0;
  box-sizing: border-box;
  padding: 10px;

  a.selected{
      background: $linkColor;
      color: White;
  }
}

.navbar{
  @media print{
    display: none;
  }
}

#main-footer{
  text-align: right;
  font-size: .8em;
  padding: 10px 10px 20px;

  span{
    display: inline-block;
    margin-left: 15px;
  }
}
.sidebar-minimized{
  .content{
    margin-left: 65px;
  }
  #dashboard-menu{
    margin-left: 5px;

    li a span{
      visibility: hidden;
    }
  }

  .sidebar-minimize-btn{
    right: auto;
    left: 16px;
  }
}

.sidebar-minimize-btn{
  display: block;
  text-align: right;
  padding: 0 10px;
  position: absolute;
  width: 30px;
  height: 20px;
  right: 3px;
  top: 4px;
  font-size: 1.2em;
  color: rgb(110, 130, 155);
  opacity: .7;
  cursor: pointer;

  &:hover{
    opacity: 1;
    text-decoration: none;
    color: rgb(110, 130, 155);
  }
}

#main-contents{
  .container-fluid{
    padding: 0 7px;
  }
}

@import "dashboard";
@import "entity";
@import "widget";
@import "popup";
@import "forms";
@import "tooltips";
@import "dialogs";
@import "modal";
@import "settings";
@import "splunk_config";
@import "widgets/graph";
@import "widgets/buttons_bar";
@import "widgets/text";
@import "widgets/progressBar";
@import "widgets/scores";
@import "widgets/details";
@import "widgets/slides";
@import "widgets/eventsList";
@import "widgets/itemsList";
@import "../widgets/table/table";
@import "../widgets/pieChart/pieChart";
@import "../widgets/barsChart/barsChart";
@import "../widgets/percentChart/percentChart";
@import "widgets/numeric";
@import "../widgets/tabs/tabs";
@import "widgets/container";
@import "widgets/investigator";
@import "controls/notification";
@import "controls/link";
@import "controls/daterange";
@import "controls/sliders";
@import "print";
