<box xs="4" md="2" class="header-item">
  <div class="name">
    {{name}}
  </div>
  <div class="value">
    {{#if isDate}}
      {{rsa-content-datetime timestamp=asInteger}}
    {{else}}
      {{value}}
    {{/if}}
  </div>
</box>
