{{#if textContent}}
  <div class="scroll-box">
    {{#each textContent as |text index|}}
      {{recon-event-detail/single-text
        index=index
        isLog=isLogEvent
        packet=text
      }}
    {{/each}}
  </div>
  {{recon-pager
    eventIndex=eventIndex
    eventTotal=eventTotal
  }}
{{else}}
  <p class="no-text">Error: No text data was generated during content reconstruction. This could mean that the event data was corrupt or invalid. Check the other reconstruction views.</p>
{{/if}}
