{{#if contentError}}
  {{contentError}}
{{else}}
  <div class="scroll-box">
    {{component
      currentReconView.component
      eventId=eventId
      endpointId=endpointId
      contentErrorAction=contentErrorAction
    }}
  </div>
{{/if}}
