{{#if showMetaDetails}}
  <hbox xs="8" class="event-content-box">
    <h2>Event Content</h2>
  </hbox>

  <hbox xs="4" class="event-content-box">
    <h2>Related Meta</h2>
    {{recon-meta-container}}
  </hbox>
{{else}}
  <hbox xs="12" class="event-content-box">
    <h2>Event Content</h2>
  </hbox>
{{/if}}
