{{#if contentError}}
  {{contentError}}
{{else}}
  <div class="scroll-box">
    {{component
      reconstructionType.component
      eventId=eventId
      endpointId=endpointId
      contentErrorAction=contentErrorAction
      showRequestData=showRequestData
      showResponseData=showResponseData
    }}
  </div>
{{/if}}
