<div>
  <hbox>
    <centered xs="2">
      {{#rsa-form-button dropdown='standard' }}
        Best Reconstruction
        <ul>
          <li>foo</li>
          <li>bar</li>
        </ul>
      {{/rsa-form-button}}
    </centered>

    <centered xs="2">
      {{#rsa-form-button dropdown='standard' }}
        Request &amp; Response
        <ul>
          <li>foo</li>
          <li>bar</li>
        </ul>
      {{/rsa-form-button}}
    </centered>

    <centered xs="2">
      {{#rsa-form-button dropdown='standard' }}
        Top to Bottom
        <ul>
          <li>foo</li>
          <li>bar</li>
        </ul>
      {{/rsa-form-button}}
    </centered>

    <centered xs="3">
    </centered>

    <centered xs="3">
      {{#rsa-form-button dropdown='standard' }}
        Take Action
        <ul>
          <li>foo</li>
          <li>bar</li>
        </ul>
      {{/rsa-form-button}}
    </centered>
  </hbox>
</div>
<fill>
  <h2>Event Content</h2>
</fill>
