<h2 class='filter-text'>{{filterOptions.label}}</h2>
<vbox class='list-filter-content'>
  {{#each filterValue as |option|}}
    <label class="rsa-form-checkbox-label {{if option.selected 'checked'}} list-filter-option">
      {{rsa-form-checkbox
        checked=option.selected
        change=(action 'toggleSelected' option)}}
      {{option.label}}
    </label>
  {{/each}}
</vbox>
