/**
 * @file Font faces that can be used in font-family attributes.
 * @assumes The URLs for these font binary files will be available in the consuming app's /assets/ subdirectory.
 * To ensure that is true, this addon should supply the files (e.g., in /vendor/) and then this addon's index.js
 * should copy those files into the consuming app's /assets/ subdir at build time.
 */

 /* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/open-sans-v13-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('fonts/open-sans-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/open-sans-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/open-sans-v13-latin-300.woff') format('woff'), /* Modern Browsers */
    url('fonts/open-sans-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/open-sans-v13-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
    url('fonts/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/open-sans-v13-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('fonts/open-sans-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/open-sans-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/open-sans-v13-latin-700.woff') format('woff'), /* Modern Browsers */
    url('fonts/open-sans-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/open-sans-v13-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/open-sans-v13-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
    url('fonts/open-sans-v13-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/open-sans-v13-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/open-sans-v13-latin-800.woff') format('woff'), /* Modern Browsers */
    url('fonts/open-sans-v13-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/open-sans-v13-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* Public Mixins */

/* rsa-font */

/*
 * Colors: [ light,
 *           regular,
 *           bold,
 *           bolder ]
 *
 * Sizes: [ smaller,
 *          small,
 *          large,
 *          larger,
 *          largest ]
 *
 * Examples: @include rsa-font()
 *           @include rsa-font(bolder, large, true)
 */

@mixin rsa-font($weight:regular, $size:base, $uppercase:false) {
  font-family: 'Open Sans';
  font-style: normal;

  @if ($uppercase) {
    text-transform: uppercase;
  }

  @if ($weight == body) {
    font-weight: 400;
    @if ($size == small) {
      font-size: .85rem;
    } @else {
      font-size: 1rem;
    }
  } @else if ($weight == header) {
    @if ($size == small) {
      font-size: .7rem;
      font-weight: 700;
      text-transform: uppercase;
    } @else if ($size == large) {
      font-size: 1.28rem;
      font-weight: 400;
    } @else if ($size == larger) {
      font-size: 1.725rem;
      font-weight: 300;
    } @else {
      font-size: 1rem;
      font-weight: 400;
      text-transform: uppercase;
    }
  } @else if ($weight == paragraph) {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  } @else if ($weight == navigation) {
    letter-spacing: 2px;
    text-transform: uppercase;
    @if ($size == small) {
      font-size: .7rem;
    } @else if ($size == large) {
      font-weight: 700;
    } @else {
      font-size: .85rem;
    }
  } @else {
    @if ($size == smaller) {
      font-size: .7rem;
    } @else if ($size == small) {
      font-size: .85rem;
    } @else if ($size == large) {
      font-size: 1.28rem;
    } @else if ($size == larger) {
      font-size: 1.725rem;
    } @else {
      font-size: 1rem;
    }

    @if ($weight == light) {
      font-weight: 300;
    } @else if ($weight == bold) {
      font-weight: 700;
    } @else if ($weight == bolder) {
      font-weight: 800;
    } @else {
      font-weight: 400;
    }
  }
}

@mixin rsa-font-code() {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

.rsa-font-body {
  @include rsa-font(body);

  &-small {
    @include rsa-font(body, small);
  }
}

.rsa-font-paragraph {
  @include rsa-font(paragraph);
}

.rsa-font-header {
  &-small {
    @include rsa-font(header, small);
  }
  &-large {
    @include rsa-font(header, large);
  }
  &-larger {
    @include rsa-font(header, larger);
  }
  &-default {
    @include rsa-font(header);
  }
}

.rsa-font-navigation {
  &-small {
    @include rsa-font(navigation, small);
  }

  &-default {
    @include rsa-font(navigation, default);
  }

  &-large {
    @include rsa-font(navigation, large);
  }
}

.rsa-font-smaller {
  @include rsa-font(default, smaller);
}

.rsa-font-small {
  @include rsa-font(default, small);
}

.rsa-font-default {
  @include rsa-font();
}

.rsa-font-large {
  @include rsa-font(default, large);
}

.rsa-font-larger {
  @include rsa-font(default, larger);
}

.rsa-font-light {
  @include rsa-font(light);
}

.rsa-font-regular {
  @include rsa-font();
}

.rsa-font-bold {
  @include rsa-font(bold);
}

.rsa-font-bolder {
  @include rsa-font(bolder);
}

body.ember-application, html {
  font-size: 14px;

  &.ember-application {
    @include rsa-font();
  }
}

strong.is-danger {
  color: rsa-color(red);
}

code {
  display: block;
  @include rsa-font-code();
  border-left: rsa-whitespace(least) solid rsa-color(gray);
  padding: rsa-whitespace(least) rsa-whitespace();
}
