<ul class="widget-items-list unstyled">
    <li ng-repeat="item in items">
        <span class="items-list-sidenote" ng-if="item.sideNote" ng-bind-html-unsafe="item.sideNote"></span>
        <span class="items-list-icon" ng-style="item.icon.style" ng-if="item.icon" title="{{item.tooltip}}">
            <i class="icon-{{item.icon.type}}"></i>
        </span>
        <a ng-if="item.link && item.value" ng-bind-html-unsafe="item.value" href="{{item.link}}"></a>
        <span ng-if="!item.link && item.value" class="items-list-text" ng-bind-html-unsafe="item.value"></span>
        <ul ng-if="item.list" class="items-list-inner-list">
            <li ng-repeat="innerItem in item.list">
                {{innerItem.value}}
            </li>
        </ul>
    </li>
</ul>