{{processFilters}}
{{#each filters as |filter index|}}
  {{#query-filters/query-filter-fragment
    preloadedFilters=preloadedFilters
    metaOptions=metaOptions
    placeholder=placeholder
    filterRecord=filter
    filterIndex=index
    meta=filter.meta
    complexFilter=filter.complexFilter
    operator=filter.operator
    selected=filter.selected
    editActive=filter.editActive
    saved=filter.saved
    value=filter.value
    filterList=filters
    guidedHasFocus=guidedHasFocus
    toggleFocusFlag=(action 'toggleFocusFlag')
    setKeyboardPriority=(action 'setKeyboardPriority')
    executeQuery=(action 'executeQuery')
    deleteFilter=(action 'deleteSelected')}}
    {{#if (gt filters.length 1)}}
      <div title={{t 'queryBuilder.insertFilter'}} class="invisible-edit-trigger" {{action 'insertFilter' filter filters}}></div>
    {{/if}}
  {{/query-filters/query-filter-fragment}}
{{/each}}
