$modalHeaderHeight: 52px;
$footerHeight: 43px;

.rsa-application-modal.start-scan-modal footer {
  display: none;
}

.rsa-application-modal-content.start-scan-modal {
  width: 40%;
  min-height: 165px;
  height: auto;

  .modal-content {
    width: 100%;
    height: calc(100% - (#{$modalHeaderHeight + $footerHeight}));
    top: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    overflow-y: auto;

    p {
      @include rsa-font(paragraph);
      padding: rsa-whitespace();
    }
    .host-message-modal {
      margin: rsa-whitespace();
    }
  }

  footer {
    height: $footerHeight;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: rsa-whitespace(less);
    background-color: background-color(primary, dark, nearly-transparent);

    .modal-footer-buttons {
      justify-content: flex-end;
      .rsa-form-button-wrapper {
        margin: 0 0 0 rsa-whitespace();
      }
    }
  }
}


