//- Declaration
mixin severityIcon(severity, width)
    - var imageSrc
    - var imageWidth = width || "100%"
    if severity == "Critical"
        - imageSrc="cid:critical"
    else if severity == "High"
        - imageSrc="cid:high"
    else if severity == "Medium"
        - imageSrc="cid:medium"
    else if severity == "Low"
        - imageSrc="cid:low"
    img(src!=imageSrc width!=imageWidth alt!=severity)