$toolbarHeight: 40px;
$dragPadColor: background-color(primary);
$dragPadHighlightedColor: background-color(primary, lighter);

.rsa-incident-rules {
   height: calc(100vh - #{$navbarHeight});

  .incident-rule-list {
    overflow: auto;
    height: calc(100% - #{$toolbarHeight});
    padding: 0 rsa-whitespace();
    position: absolute;
    top: $toolbarHeight;
    left: 0;
    right: 0;
    bottom: 0;
    > div, centered {
      height: 100%;
    }
    .rules-error {
      color: text-color(primary, lighter);
    }
  }
  table {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    min-width: 800px;

    td, th {
      vertical-align: middle;
      line-height: 20px;
      box-sizing: border-box;
      padding-left: rsa-whitespace(less);
      padding-right: rsa-whitespace(less);
    }

    thead {
      text-align: left;

      tr {
        height: 30px;
      }

      th {
        @include rsa-font(header, small);
        color: text-color(primary, lightest);
        line-height: 30px;
        border-right: 1px solid border-color(primary, dark);
        border-left: 1px solid border-color(primary, dark);

        > div {
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &:first-of-type {
          border-left: none;
        }
        &:last-of-type {
          border-right: none;
        }

        &.reorder {
          width: 30px;
          font-size: 1.5rem;
        }
        &.select, &.order {
          width: 50px;
        }
        &.enabled {
          width: 65px;
        }
        &.name {
          width: 25%;
        }
        &.description {
          width: auto;
        }
        &.last-matched {
          width: 150px;
        }
        &.alerts-matched {
          width: 120px;
        }
        &.incidents-created {
          width: 100px;
        }
      }
    }

    td {
      color: text-color(primary, lightest);
      centered {
        height: 100%;
        width: 100%;
      }
      a {
        color: text-color(secondary);
      }
      .handle {
        display: inline-block;
        cursor: move;
        height: 21px;
        width: 15px;
        &::before {
          display: block;
          content: '';
          height: 100%;
          width: 100%;
          background-image: radial-gradient($dragPadColor 40%, transparent 40%);
          background-size: 4px 4px;
          background-position: 100% 0;
          background-repeat: repeat;
        }
      }
    }

    tbody {
      tr {
        height: 40px;
        border-top: 1px solid border-color(primary, dark);
        border-bottom: 1px solid border-color(primary, dark);

        &:first-of-type {
          border-top: 1px solid transparent;
        }

        &:last-of-type {
          border-bottom: 1px solid transparent;
        }

        &:hover {
          background-color: background-color(primary, darker);
        }

        .rsa-form-radio-label::before {
          font-size: 1.2rem;
          color: text-color(primary, lighter);
        }

        &.is-selected {
          background-color: background-color(secondary, dark);
          a {
            color: text-color(primary, lighter);
          }
          .handle {
            &::before {
              background-image: radial-gradient($dragPadHighlightedColor 40%, transparent 40%);
            }
          }
        }

        td {
          > div {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    &.not-editable {
      th.reorder, td.reorder-rule-cell {
        visibility: hidden;
      }
    }
  }

  // Green triangle
  .enabled-rule {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 12px solid background-color(accentTwo, base);
  }
  // Red square
  .disabled-rule {
    width: 10px;
    height: 10px;
    background-color: background-color(accentOne);
  }

  .sortable-item {
    transition: all .125s;
  }

  .sortable-item.is-dragging {
    transition-duration: 0s;
    background: background-color(primary, darkest);
    z-index: 10;
  }

  .move-column {
    font-size: 1.5rem;
  }
}

.incident-rules-toolbar {
  min-height: $toolbarHeight;
  max-height: $toolbarHeight;
  @include rsa-row(left, middle);
  padding: 0 rsa-whitespace();
  .action-control {
    display: inline-block;
  }
}