$toolbarHeight: 40px;
$dragPadColor: background-color(primary);
$dragPadHighlightedColor: background-color(primary, lighter);

.rsa-incident-rules {
   height: calc(100vh - #{$navbarHeight});

  .incident-rule-list {
    height: calc(100% - #{$toolbarHeight});
    padding: 0 rsa-whitespace();
    position: absolute;
    top: $toolbarHeight;
    left: 0;
    right: 0;
    bottom: 0;
    > div {
      height: 100%;
    }
  }
  .rsa-data-table {
    height: 100%;

    // Fix the layout of the rows and cells so that header columns and cells align
    .rsa-data-table-header-cell:first-child {
      padding-left: 0.5rem;
    }

    // Fix the layout of the rows and cells so that header columns and cells align
    .rsa-data-table-body-row {
      left: 0;
      right: 0;
    }

    .rsa-data-table-body-row:hover, .rsa-data-table-body-row.is-selected, .rsa-data-table-body-row.is-selected:hover {
      margin: 0 0;
      padding: 0 0;
    }

    .rsa-data-table-body-cell {
      centered {
        height: 100%;
        width: 100%;
      }
      .rsa-form-radio-label::before {
        font-size: 1.2rem;
        color: text-color(primary, lighter);
      }
      a {
        color: text-color(secondary);
      }
      .drag-handle {
        display: inline-block;
        cursor: move;
        height: 21px;
        width: 15px;
        &::before {
          display: block;
          content: '';
          height: 100%;
          width: 100%;
          background-image: radial-gradient($dragPadColor 40%, transparent 40%);
          background-size: 4px 4px;
          background-position: 100% 0;
          background-repeat: repeat;
        }
      }
    }



    .rsa-data-table-body-row.is-selected .rsa-data-table-body-cell {
      a {
        color: text-color(primary, lighter);
      }
      .drag-handle {
        &::before {
          background-image: radial-gradient($dragPadHighlightedColor 40%, transparent 40%);
        }
      }
    }
  }

  // Green triangle
  .enabled-rule {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 12px solid background-color(accentTwo, base);
  }
  // Red square
  .disabled-rule {
    width: 10px;
    height: 10px;
    background-color: background-color(accentOne);
  }

  .sortable-item {
    transition: all .125s;
  }

  .sortable-item.is-dragging {
    transition-duration: 0s;
    background: background-color(primary, darkest);
    z-index: 10;
  }

  .move-column {
    font-size: 1.5rem;
  }
}

.incident-rules-toolbar {
  min-height: $toolbarHeight;
  max-height: $toolbarHeight;
  @include rsa-row(left, middle);
  padding: 0 rsa-whitespace();
  .action-control {
    display: inline-block;
  }
}
