// host related styles
@import "host-detail/manifest";
@import "host-list/manifest";
@import "base-property-panel/manifest";
@import "host-table-footer/manifest";
@import "host-text/manifest";
@import "risk-score-badge/manifest";
@import "host-message-modal/manifest";
@import "host-scan-status/manifest";
@import "host-title-bar/manifest";
@import "rsa-nav-secondary";
@import "host-list/content-filter/manifest";

.host-detail {
  .liquid-container,
  .liquid-child {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
  }
  &__no-snapshots {
    @include rsa-font(bold);
    color: rsa-color(gray, lighter);
  }
}
