// host related styles
@import "host-detail/manifest";
@import "host-list/manifest";
@import "base-property-panel/manifest";
@import "host-table-footer/manifest";
@import "host-text/manifest";
@import "host-message-modal/manifest";
@import "host-title-bar/manifest";
@import "host-list/content-filter/manifest";
@import "scan-modal/manifest";

//Common classes
.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display:block;
}
.host-detail {
  &__no-snapshots {
    @include rsa-font(bold);
    color: text-color(primary, light);
  }
}
.rsa-content-accordion {
  position: inherit;
}
