$animationDuration: 0.5s;
$navTabHeight: 40px;
$selectedIndicatorHeight: 3px;

.rsa-nav-secondary {
  a {
    color: transparent;
  }
  background-color: rsa-color(black, base, $rsa-translucent);
  border-bottom: 1px solid rsa-color(blue);
  & .active &__section {
    color: rsa-color(white);
    border-bottom: solid $selectedIndicatorHeight rsa-color(blue);
    // transition: color $animationDuration ease, border-bottom $animationDuration ease;
  }

  &__section:hover {
    color: rsa-color(white);
    transition: color $animationDuration ease;
  }

  &__section span {
    padding-left: rsa-whitespace(less);
  }

  &__section {
    @include rsa-font(navigation, large);
    display: inline-block;
    line-height: $navTabHeight;
    height: $navTabHeight;
    padding-right: rsa-whitespace();
    color: rsa-color(gray);
    //border-bottom: solid $selectedIndicatorHeight rsa-color(gray, darkest);
    //transition: color $animationDuration ease, border-bottom $animationDuration ease;

    .rsa-icon {
      font-size: 1.5rem;
      padding-left: rsa-whitespace(less);
      vertical-align: text-bottom;
    }
  }
}
