@import './_styles';
@import 'components/manifest';

@mixin detail-sizing($width) {
  .host-container {
    &-list {
      right: $width;
      background-color: background-color(secondary, darkest, nearly-transparent);
    }
    &-detail {
      width: $width;
    }
  }
}

// overwrite the component-lib scss - rsa-data-table__column-chooser
.panel-content.left-bottom {
  section {
    padding-bottom: 0;
    section.column-chooser-input {
      margin-right: rsa-whitespace();
    }
    ul.column-chooser-lists {
      height: 30rem;
    }
  }
}
.rsa-data-table-column-selector-panel > section {
  max-width: 18rem;
}

#rsa-data-table__column-selctor__sorted-columns {
  .rsa-form-checkbox-label::before {
    top: rsa-whitespace(less);
  }
}

.host-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  color: text-color(primary, lightest);
  background-color: background-color(custom, respond);
  @include rsa-col(justify,fill);

  .liquid-container,
  .liquid-child {
    height: 100%;
    width: 100%;
    display: flex;
  }

  &-list {
    transition-property: background-color right;
    transition-duration: 0.3s;
    overflow: hidden;
    flex-wrap: nowrap;
    height: 100%;
    a {
      color: text-color(secondary, light);
      text-decoration: underline;
    }
  }
  .rsa-data-table-body-row {
    &.is-selected {
      .rsa-data-table-body-cell {
        background-color: transparent;
      }
      background-color: background-color(secondary);
      &:hover {
        .rsa-data-table-body-cell {
          background-color: transparent;
        }
        background-color: background-color(secondary);
      }
    }
    &:hover {
      cursor: pointer;
      .rsa-data-table-body-cell {
        background-color: transparent;
      }
      background-color: background-color(primary, darker)
    }
  }
}
