<article class="rsa-investigate js-test-investigate-root">
  <nav class="rsa-investigate__nav">
    <ul>
      <li>
        <a class="active">Query Events</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/investigation" class="js-test-investigate-navigate-classic">Navigate Classic</a>
      </li>
      <li>
        <a href="/investigation/events" class="js-test-investigate-events-classic">Events Classic</a>
      </li>
      <li>
        <a href="/investigation/malware" class="js-test-investigate-malware-classic">Malware Analysis</a>
      </li>
    </ul>
  </nav>
  {{outlet}}
</article>
