<article class="rsa-investigate js-test-investigate-root">
  <nav class="rsa-investigate__nav">
    <ul>
      <li>
        <a href="/investigation" class="js-test-investigate-navigate-classic">Navigate</a>
      </li>
      <li>
        {{#link-to 'protected.investigate.investigate-events' class='js-test-investigate-events-classic'}}Events{{/link-to}}
      </li>
      <li>
        <a href="/investigation/malware" class="js-test-investigate-malware-classic">Malware Analysis</a>
      </li>
    </ul>
    <div class="investigate-controls">
      {{rsa-icon
        active=(not-eq model.recon.size 'full')
        disabled=(not model.recon.isOpen)
        click=(route-action 'toggleSlaveFullScreen')
        name='layout-1'
        title=(t 'investigate.controls.toggle')}}
    </div>
  </nav>
  {{outlet}}
</article>