<article class="rsa-investigate">
  <nav class="rsa-investigate__nav">
    <ul>
      <li>
        <a class="active">Query Events</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/investigation">Navigate Classic</a>
      </li>
      <li>
        <a href="/investigation/events">Events Classic</a>
      </li>
      <li>
        <a href="/investigation/malware">Malware Analysis</a>
      </li>
    </ul>
  </nav>
  {{outlet}}
</article>
