<header class="widget-header" ng-if="column.title">
    <h4 class="widget-header-title">{{column.title}}</h4>
</header>
<div class="dashboard-column-contents"
     ui-sortable="sortableOptions"
     ng-model="column.widgets"
     ng-class="{ 'sortable-contents': !isDashboardWidget }">
    <div class="widget {{widget.className}}"
         ng-repeat="widget in column.widgets"
         ng-controller="WidgetController"
         ng-init="initWidget(widget)"
         ng-show="!widget.show || widget.show.value"
         ng-class="{ 'widget-loading': widget.loading }"
         ng-style="widget.style"
         data-widgetId="{{widget.widgetId}}">
        <ng-include src="'views/widgets/widget.html'"></ng-include>
    </div>
</div>