<div ng-controller="DashboardController" class="dashboard {{dashboard.className}}">
    <header class="dashboard-header" ng-show="dashboard.controls.length || dashboard.title || dashboard.description">
        <div class="dashboard-controls widget-controls" ng-if="!isPopup || dashboard.controls.length">
            <div class="widget-view-control"
                 ng-repeat="control in dashboard.controls"
                 ng-include="'views/controls/' + control.type + '.html'">
            </div>
        </div>
        <h3 class="dashboard-name">
            <img class="dashboard-icon-image" ng-src="{{dashboard.iconUrl}}" ng-if="dashboard.iconUrl" />
            <span class="dashboard-icon" ng-if="dashboard.icon && !dashboard.iconUrl">
                <i class="icon-{{dashboard.icon.type}}" ng-if="!dashboard.iconUrl && dashboard.icon.type"></i>
            </span>
            <div class="dashboard-header-text">
                <span class="dashboard-title">{{dashboard.title}}</span>
                <small ng-if="dashboard.subtitle" ng-bind="dashboard.subtitle" class="dashboard-subtitle"></small>
            </div>
        </h3>
        <p ng-if="dashboard.description" class="dashboard-description">{{dashboard.description}}</p>
    </header>
    <div class="dashboard-widgets">
        <div ng-if="dashboard.columns" class="row-fluid">
            <div ng-repeat="column in dashboard.columns" class="dashboard-column {{column.className}}" ng-class="{'dashboard-with-title': column.title}">
               <ng-include src="'views/pages/column.html'"></ng-include>
            </div>
        </div>
        <ng-include src="'views/widgets/widget.html'" ng-repeat="widget in dashboard.widgets"></ng-include>
    </div>
</div>