{{#if hasNoCapturesConfigured}}
  <span class="form-error">{{t 'configure.logsParser.captures.noCapturesError'}}</span>
{{/if}}
<ul class='meta-capture-list'>
  {{#each metaCaptures as |capture index|}}
    <li class='{{if (eq index 0) 'firstItem'}}'>
      <label class="rsa-form-label power-select">
        <div class="label-text">
          {{t (concat 'configure.logsParser.captures.' capture.captureType)}}
        </div>
        {{#power-select
          placeholder="None"
          options=metaOptions
          selected=capture.metaOption
          searchField="metaName"
          searchPlaceholder="Type to filter options"
          disabled=rule.outOfBox
          allowClear=true
          onchange=(action 'handleMetaChange' index) as |option|
        }}
          {{option.metaName}}
        {{/power-select}}
      </label>
    </li>
  {{/each}}
</ul>