<div id="modalDestination">
</div>

{{#if session.isAuthenticated}}
  {{rsa-application-header}}
{{/if}}

{{#rsa-application-content}}
  {{outlet}}
{{/rsa-application-content}}

{{#if session.isAuthenticated}}
  {{rsa-application-footer}}
{{/if}}
