.rsa-respond-bulk-edit-confirm {
  padding: rsa-whitespace();
  max-width: 400px;

  p {
    @include rsa-font(paragraph);
    margin-bottom: rsa-whitespace();
  }
}

.rsa-respond-list {
  .panel-B {
    .rsa-hide-webkit-scrollbar {
      margin-left: 2px;
    }
    .rsa-data-table {
      top: 63px;

      .rsa-data-table-header-row {
        align-items: center;
      }
    }
  }

  &-incident-id,
  &-name,
  &-priority,
  &-status,
  &-created,
  &-assignee,
  &-sourceIps,
  &-destinationIps,
  &-events,
  &-alertCount {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    padding-top: rsa-whitespace(less);
  }

  .panel-A.rsa-respond-list__panelA {
    margin-top: 2px;
    background-color: rsa-color(black, null, $rsa-translucent);
  }

  &__filter-panel__risk-score {
    .rsa-respond-list__filter-panel__title {
      padding-top: 0;
    }
  }

  .rsa-content-badge-score {
    padding-left: 0;
  }

  &__filter-panel {
    padding: rsa-whitespace(base);

    &__title {
      @include rsa-font(header, small);
      color: rsa-color(gray, light);
      padding-bottom: rsa-whitespace(less);
      padding-top: rsa-whitespace(more);
    }

    .rsa-form-select {
      margin-top: rsa-whitespace(more);
      .rsa-form-label {
        @include rsa-font(header, small);
      }

      .prompt {
        @include rsa-font(body, small);
        padding-left: 2px;
        color: rsa-color(gray);
        font-style: italic;
      }

    }

    .assignee-filter-active,
    .source-filter-active {
      &.rsa-form-select {
        .prompt {
          @include rsa-font(body, small);
          color: inherit;
          padding-left: 0px;
          font-style: normal;
        }
      }
    }

    &__reset-button {
      padding-top: rsa-whitespace(more);
    }
  }

  .rsa-data-table {

    &-header {
      margin-top: 5px;
      padding-top: 1px;
      margin-bottom: 0;

      &__column-selector {
        padding-top: 4px;
      }

      .rsa-form-checkbox{
        margin: 0;
        overflow: visible;
      }
    }
    &-header-cell .hideSort{
      visibility: hidden;
    }
    &-header-cell:hover .hideSort{
      visibility: visible;
    }

    &-header-cell,
    &-body-cell{
      overflow: visible;

      .rsa-respond-list-incident-id {
        @include rsa-font(bold);
      }
      .rsa-respond-list-riskscore{
        padding-right: rsa-whitespace(less);
      }
    }
    button.expand {
      padding-left: rsa-whitespace(less);
    }

    .rsa-data-table-header, .rsa-data-table-body-row {
      padding-left: rsa-whitespace(less);
      box-sizing: border-box;
    }
  }
}
