.rsa-respond-bulk-edit-confirm {
  padding: rsa-whitespace();
  max-width: 400px;

  p {
    @include rsa-font(paragraph);
    margin-bottom: rsa-whitespace();
  }
}

.rsa-respond-list {

  @mixin empty-selection() {
    @include rsa-font(body, small);
    color: rsa-color(gray);
    font-style: italic;
  }

  .panel-B {
    .rsa-hide-webkit-scrollbar {
      margin-left: 2px;
    }
    .rsa-data-table {
      top: 63px;
    }
  }

  &-incident-id,
  &-name,
  &-priority,
  &-status,
  &-created,
  &-assignee,
  &-sourceIps,
  &-destinationIps,
  &-events,
  &-alertCount {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .panel-A.rsa-respond-list__panelA {
    margin-top: 2px;
    background-color: rsa-color(black, null, $rsa-translucent);
  }

  &__filter-panel__time {

    .date-time-label {
      @include rsa-font(header, small);
      color: rsa-color(gray, light);
      margin-bottom: rsa-whitespace(less);
    }

    .date-time-options {
      @include rsa-font(body, small);

      &.disabled {
        color: $formButtonDisabledTypeColor;
        padding-top: rsa-whitespace(less);
        padding-left: rsa-whitespace(least);
      }
    }

    .custom-date-start,
    .custom-date-end {
      padding-top: 2px;
      margin-bottom: rsa-whitespace(least);

      &.hide{
        display: none;
      }

      input {
        @include rsa-input-placeholder(gray);
        @include rsa-font(body, small);
        font-style: italic;
        padding: 4px 0 4px 4px;
      }

      .active {
        input {
          @include rsa-font(body, small);
          color: inherit;
          font-style: normal;
        }
      }

      .error-icon,
      .datetime-picker-icon {
        line-height: 0px;
        font-size: 1em;
        top: 1rem;
      }
    }
  }

  &__filter-panel {
    padding: rsa-whitespace(base);

    &__title {
      @include rsa-font(header, small);
      color: rsa-color(gray, light);
      padding-bottom: rsa-whitespace(less);
      padding-top: rsa-whitespace(more);
    }

    &__assignee-selector,
    &__source-selector {
      input {
        @include empty-selection();
      }
    }

    .empty-selection {
      @include empty-selection();
      border-bottom: 1px solid rsa-color(gray, light);
      padding: rsa-whitespace(less) 0;
    }

    &__reset-button {
      padding-top: rsa-whitespace(more);
    }

    .rsa-form-checkbox {
      padding: rsa-whitespace(least) 0;
    }
  }

  .rsa-data-table {
    &-header-cell .hideSort{
      visibility: hidden;
    }
    &-header-cell:hover .hideSort{
      visibility: visible;
    }

    &-header-cell,
    &-body-cell{
      overflow: visible;

      .rsa-respond-list-incident-id {
        @include rsa-font(bold);
      }
      .rsa-respond-list-riskscore{
        padding-right: rsa-whitespace(less);
      }
    }
    button.expand {
      padding-left: rsa-whitespace(less);
    }
  }
}
