.sort-options {
  @include rsa-flex-direction(row);
  @include rsa-flex-justify-content(space-between);
  @include rsa-flex-align-items(flex-start);
  @include rsa-vendor-prefix(flex-wrap, nowrap);

  .rsa-form-label.power-select {
    .label-text {
      margin-right: 0;
    }
    .ember-power-select-trigger {
      border: 0;
      min-width: 106px;
    }
    .ember-power-select-selected-item {
      @include rsa-font(body);
    }
  }
}
