.rsa-incident-tile {
  @include rsa-vendor-prefix(transition, background-color 1s);
  position:relative;
  margin-top: 1px;
  color: rsa-color(white);

  .rsa-form-select {
    .rsa-form-label {
      @include rsa-font(header, small);
    }
  }

  &.clicked {
    outline: 1px solid rsa-color(blue, dark);
  }

  &:hover {

    &:not(.clicked):not(.edit-mode-active) {
      @include rsa-vendor-prefix(transition, background-color 1s);
      cursor: pointer;
      background-color: rsa-color(black, null, $rsa-translucent);
      outline: 1px solid rsa-color(gray, base);
    }
  }

  .rsa-incident-tile-header {
    background-color: rsa-color(black, null, $rsa-nearly-opaque);

    .rsa-incident-top {
      padding: rsa-whitespace(less) rsa-whitespace(less) 0;
    }

    .rsa-incident-tile-header-info {
      padding: 0;
      .rsa-incident-tile-id {
        @include rsa-font(header, large);
        @include rsa-font(bold);
      }

      .rsa-incident-tile-name {
        @include rsa-font();
        @include rsa-font(light);
        padding: rsa-whitespace(least) rsa-whitespace(least) 0 0;
        line-height: 120%;
        height: 33px;
      }
    }

    .rsa-incident-tile-status {
      .rsa-incident-tile-status-title {
        @include rsa-font(navigation, small);
        color: rsa-color(white);
        font-size: .7rem;
        font-weight: 700;
      }
    }
  }

  .rsa-incident-tile-section {
    background-color: rsa-color(black, null, $rsa-translucent);

    vbox {
      padding: rsa-whitespace();
    }

    .rsa-content-definition {
      margin-right: rsa-whitespace(base);

      .title {
        color: rsa-color(white);
        @include rsa-font(navigation, small);
        font-size: .7rem;
        font-weight: 700;
        margin-bottom: rsa-whitespace(less);
      }

      .rsa-incident-tile-event-count, .rsa-incident-tile-alert-count, .rsa-incident-tile-priority {
        @include rsa-font(header, larger);
        color: rsa-color(gray, light);
        line-height:1.9rem;
      }

      .rsa-content-label {
        display: inline-block;
        margin-top: rsa-whitespace(least);
      }
    }

    .rsa-incident-tile-created-col {
      padding: rsa-whitespace(base);
      white-space: nowrap;
      .rsa-incident-tile-created-date {
        @include rsa-font(header, small);
        color: rsa-color(gray);
        letter-spacing: 0.1rem;
      }
    }
  }

  .rsa-edit-tool {
    @include rsa-vendor-prefix(transition, visibility 0s, opacity 0.2s linear);
    background-color: rsa-color(black, null, $rsa-nearly-transparent);
    position: absolute;
    bottom: 1px;
    right: 0;
    visibility: hidden;
    opacity: 0;
  }

  &:hover {
    &:not(.small-size) {
      .rsa-edit-tool {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &.edit-mode-active {
    outline: 1px solid rsa-color(blue, dark);

    .rsa-edit-tool {
      visibility: visible;
      opacity: 1;
    }

  }

  &.small-size {
    .rsa-incident-tile-header {
      .rsa-incident-tile-header-info {
        .rsa-incident-tile-name {
          @include rsa-font(body, small);
          line-height: 140%;
        }
      }
    }
    .rsa-incident-tile-alert-block {
      margin-left: rsa-whitespace(base);
      margin-right: 0;
    }
    .rsa-content-definition {
      .rsa-incident-tile-priority, .rsa-incident-tile-alert-count {
        @include rsa-font(body);
      }
    }
  }
}
