.bulk-edit-bar {
  .rsa-content-section-header {
    width: 100%;
    margin-top: 2px;
    background-color: rsa-color(black, null, $rsa-translucent);
    padding: rsa-whitespace(base) 0 rsa-whitespace(base) rsa-whitespace();

    @include rsa-flex-direction(row);
    @include rsa-flex-justify-content(flex-start);
    @include rsa-flex-align-items(center);

    .rsa-bulk-edit-options-group {

      .rsa-form-priority-select,
      .rsa-form-status-select,
      .rsa-form-assignee-select {

        display: inline-block;
        margin-right: rsa-whitespace(less);

        .ember-power-select-trigger {

          @include rsa-font();
          border-color: $formButtonHoverBorderColor;
          border: 1px solid $formButtonHoverBorderColor !important;
          padding: 0 rsa-whitespace(less);
          color: $formButtonTypeColor;

          &[aria-disabled='true'] {
            cursor: default;
            border-color: $formButtonDisabledBorderColor !important;
            background: none;

            .ember-power-select-placeholder {
              color: $formButtonDisabledTypeColor;
            }
          }
          .ember-power-select-status-icon {
            padding-right: rsa-whitespace(less);
          }
        }
      }

      .rsa-form-priority-select {
        min-width: 150px;
      }
      .rsa-form-status-select,
      .rsa-form-assignee-select {
        min-width: 220px;
      }
    }

    .rsa-bulk-edit-button-group  {
      border-left: 1px solid rsa-color(gray, light);
      margin-left: rsa-whitespace(less);

      .rsa-bulk-edit-message {
        margin-left: rsa-whitespace();
        display: none;
        @include rsa-font(body, small);

        .rsa-icon {
          margin-right: rsa-whitespace(least);
          color: rsa-color(green);
        }

        &.is-shown {
          display: inline-block;
        }
      }

      &.no-border {
        border-left-width: 0px;
      }

      .is-hidden {
        display:none;
      }

      .rsa-form-button-wrapper {
        margin: 0 rsa-whitespace() 0 0;
      }

      .rsa-form-button-wrapper:first-child {
        margin: 0 rsa-whitespace();
      }
    }
  }
}

.rsa-respond-bulk-edit-delete-confirm {
  padding: rsa-whitespace();
  max-width: 400px;

  p {
    @include rsa-font(paragraph);
    margin-bottom: rsa-whitespace();
  }

  .rsa-form-button-wrapper {
    width: 45%;
    display: inline-block;
    float: left;
    margin: 10px;
  }
}
