.bulk-edit-bar {
  .rsa-content-section-header {
    width: 100%;
    margin-top: 2px;
    background-color: rsa-color(black, null, $rsa-translucent);
    padding: rsa-whitespace() 0 rsa-whitespace() rsa-whitespace();

    .rsa-bulk-edit-button-group {
      display: inline-block;

      .rsa-bulk-edit-update-message{
        transition: opacity 1s;
        margin-left: rsa-whitespace();
        display: inline-block;
        @include rsa-font(body, small);
        opacity: $rsa-opaque;

        .rsa-icon {
          margin-right: rsa-whitespace(least);
          color: rsa-color(green);
        }
      }

      .rsa-form-priority-select,
      .rsa-form-status-select,
      .rsa-form-assignee-select {
        margin-right: rsa-whitespace(less);
      }

      .rsa-form-status-select {
        .rsa-form-button {
          min-width: 186px;
        }
      }

      .rsa-form-assignee-select {
        .rsa-form-button {
          min-width: 114px;
        }
      }

      .rsa-form-button-wrapper {
        .rsa-form-button {
          text-align: left;

          .rsa-icon {
            float: right;
          }
        }
      }
    }

    .rsa-bulk-edit-button-group:nth-child(2) {
      border-left: 1px solid rsa-color(gray, light);

      &.no-border {
        border-left-width: 0px;
      }

      .is-hidden{
        display:none;
      }

      .is-shown{
        transition: opacity 1s;
        opacity: $rsa-transparent;
      }
    }
    .rsa-bulk-edit-button-group:nth-child(2) .rsa-form-button-wrapper:first-child {
      margin: 0 rsa-whitespace();
    }
  }
}

.tooltip-content {
  .rsa-form-status-select,
  .rsa-form-assignee-select,
  .rsa-form-priority-select {
    li.selected-value {
      background-color: rsa-color(blue, darker);
    }
  }

  .rsa-form-priority-select {
    min-width: 88px;
  }
}