<h4 class='title'>
  {{t 'adminUsm.policy.primaryAddress'}}
  <span class="remove-setting"{{action 'removeFromSelectedSettings' 'primaryAddress'}}>
    {{rsa-icon name="remove-circle-1" style="lined"}}
  </span>
</h4>
<div class="primary-address__list">
  {{#power-select
    placeholder=(t 'packager.placeholder')
    options=endpointsList
    searchField="name"
    triggerClass=errorClass
    dropdownClass=errorClass
    searchPlaceholder=(t 'packager.searchPlaceholder')
    selected=selectedEndpointSever
    onchange=(action 'updatePolicyProperty' 'primaryAddress') as |list|}}
    {{list.name}}
  {{/power-select}}
</div>