/**
 * @file Animation for horizontal shake effect.
 * Useful in response to invalid input, e.g. failed login attempt.
 */
@keyframes rsa-shake-x {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(12%);
    }
    30% {
        transform: translateX(-12%);
    }
    35% {
        transform: translateX(25%);
    }
    40% {
        transform: translateX(-25%);
    }
    45% {
        transform: translateX(25%);
    }
    55% {
        transform: translateX(-12%);
    }
    75% {
        transform: translateX(12%);
    }
    100% {
        transform: translateX(0);
    }
}
@-webkit-keyframes rsa-shake-x {
    0% {
        -webkit-transform: translateX(0);
    }
    20% {
        -webkit-transform: translateX(12%);
    }
    30% {
        -webkit-transform: translateX(-12%);
    }
    35% {
        -webkit-transform: translateX(25%);
    }
    40% {
        -webkit-transform: translateX(-25%);
    }
    45% {
        -webkit-transform: translateX(25%);
    }
    55% {
        -webkit-transform: translateX(-12%);
    }
    75% {
        -webkit-transform: translateX(12%);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes rsa-shake-x {
    0% {
        -moz-transform: translateX(0);
    }
    20% {
        -moz-transform: translateX(12%);
    }
    30% {
        -moz-transform: translateX(-12%);
    }
    35% {
        -moz-transform: translateX(25%);
    }
    40% {
        -moz-transform: translateX(-25%);
    }
    45% {
        -moz-transform: translateX(25%);
    }
    55% {
        -moz-transform: translateX(-12%);
    }
    75% {
        -moz-transform: translateX(12%);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@-ms-keyframes rsa-shake-x {
    0% {
        -ms-transform: translateX(0);
    }
    20% {
        -ms-transform: translateX(12%);
    }
    30% {
        -ms-transform: translateX(-12%);
    }
    35% {
        -ms-transform: translateX(25%);
    }
    40% {
        -ms-transform: translateX(-25%);
    }
    45% {
        -ms-transform: translateX(25%);
    }
    55% {
        -ms-transform: translateX(-12%);
    }
    75% {
        -ms-transform: translateX(12%);
    }
    100% {
        -ms-transform: translateX(0);
    }
}
