<span class='label'>{{t 'investigateProcessAnalysis.filter.title'}}</span> 
<span class='resetFilter' {{action 'resetFilterValue' selectedProcessId}}>{{t 'investigateProcessAnalysis.filter.filterReset'}}</span>

{{#each filterConfig as |filter|}}
  {{#if filter.options.length}}
    {{process-details/events-filter-panel/meta-filter filter=filter}}
  {{/if}}
{{/each}}