<div class='users-tab_filter_filter_list'>
  <label class="rsa-form-label power-select users-tab_filter_filter_select">
    <div class="label-text">
      {{t 'investigateUsers.users.filters.favorites'}}
    </div>
    {{#power-select
      options=favorites
      selected=selected
      searchEnabled=false
      placeholder='Select'
      onchange=(action 'applyFilter') as |option|}}
      {{option.filterName}}
      {{#if (and option.id (not-eq option.id selected.id))}}
        <span class='users-tab_filter_favorites_delete'>
          {{#rsa-form-button
            isIconOnly=true
            class=(if (eq selected favoriteFilter.id) 'rsa-form-button-clicked')
            click=(action 'deleteFavorite' favoriteFilter.id)
          }}
            {{rsa-icon name='bin-1' size='smaller'}}
          {{/rsa-form-button}}
        </span>
      {{/if}}
    {{/power-select}}
  </label>
</div>
