<div class='users-tab_filter_favorites_title'>
  {{t 'investigateUsers.users.filters.favorites'}}
</div>
<div class='users-tab_filter_filter_list'>
  {{#each favorites as |favoriteFilter|}}
    <div class='users-tab_filter_favorites_filter'>
      <div class='users-tab_filter_favorites_filter_select'>
        {{#rsa-form-button 
          isFullWidth=true 
          click=(action 'applyFilter' favoriteFilter) 
          class=(if (eq selected favoriteFilter.id) 'rsa-form-button-clicked')
        }}
          {{favoriteFilter.filterName}}
        {{/rsa-form-button}}
      </div>
      <div class='users-tab_filter_favorites_filter_close' title='Delete saved filter'>
        {{#rsa-form-button 
          isIconOnly=true 
          isFullWidth=true
          class=(if (eq selected favoriteFilter.id) 'rsa-form-button-clicked')
          click=(action 'deleteFavorite' favoriteFilter.id)
        }}
          {{rsa-icon name='bin-1' style='filled' size='smaller'}}
        {{/rsa-form-button}}
      </div>
    </div>
  {{/each}}
</div>