<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category}}
      {{#spec-member title="base chart"}}
        {{#rsa-chart data=model.singleSeries xProp='value' yProp='count' as |params|}}
        {{/rsa-chart}}
        <code>
          <div>
            &#123;{#rsa-chart data=model.singleSeries xProp='value' yProp='count' as |params|}}
          </div>
          <div>
            &#123;{/rsa-chart}}
          </div>
        </code>
      {{/spec-member}}

      {{#spec-member title="chart with series and axis"}}
        {{#rsa-chart data=model.singleSeries xProp='value' yProp='count' width='100%' as |params|}}
          {{rsa-line-series data=params.data xScale=params.xScale yScale=params.yScale xProp='value' yProp='count'}}
          {{rsa-x-axis height=params.graphHeight scale=params.xScale rotation=-25}}
          {{rsa-y-axis scale=params.yScale}}
        {{/rsa-chart}}
        <code>
          <div>
            &#123;{#rsa-chart data=model.singleSeries xProp='value' yProp='count' width='100%' as |params|}}
            <div>
              &#123;{rsa-line-series data=params.data xScale=params.xScale yScale=params.yScale xProp='value' yProp='count'}}
            </div>
            <div>
              &#123;{rsa-x-axis height=params.graphHeight scale=params.xScale rotation=-25}}
            </div>
            <div>
              &#123;{rsa-y-axis scale=params.yScale}}
            </div>
            &#123;{/rsa-chart}}
          </div>
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
