<div class="label-content" {{action 'toggleExploreSearchResults' true}}>
  {{rsa-content-label label=searchValue class="search-label__label"}}
</div>
{{#rsa-form-button click=(action 'resetExploreSearch')}}
  {{rsa-icon size='small' name='close'}}
{{/rsa-form-button}}
