.app-nav {
  background: rsa-color(gray, darkest, $rsa-translucent);
  padding: rsa-whitespace();

  header {
    .rsa-logo {
      h2 {
        color: rsa-color(white);
      }
    }
  }

  .rsa-nav-link-list {
    margin-bottom: rsa-whitespace();

    &:last-child {
      margin-bottom: 0;
    }
  }
}
