.style-guide-nav {
  background: rsa-color(gray, darkest, $rsa-translucent);
  
  header {
    .rsa-logo {
      h2 {
        color: rsa-color(white);    
      }      
    }
  }
  
  .rsa-grid-column {
    background: rsa-color(gray, darkest, $rsa-nearly-opaque);
  }
  
  .rsa-grid-scroll-box {
    padding: rsa-whitespace();
  }
  
  .rsa-nav-link-list {
    margin-bottom: rsa-whitespace();
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}
