.hbs-example {
  margin: rsa-whitespace(less) 0;
  position: relative;
    
  > header {
    padding: rsa-whitespace(less) rsa-whitespace();
    position: relative;             /* Enables absolute pos of __btn child. */
  }
  
  .js-clipboard-trigger {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    overflow: hidden;
    cursor: pointer;

    .svg-clipboard {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 15px;
        height: auto;
      }
    }
  }
}

.no-snippet {
  &.hbs-example {
    header {
      display: none;
    }
  }
}

  .hbs-preview:after { 
     content: "."; 
     visibility: hidden; 
     display: block; 
     height: 0; 
     clear: both;
  }
