.spec-masthead {
  padding: rsa-whitespace();
  width: 100%;
  box-sizing: border-box;
  background-color: rsa-color(gray, darkest, $rsa-nearly-opaque);
    
  > h2 {
    @include rsa-font(header, larger);
    margin-bottom: rsa-whitespace(less);
    color: rsa-color(gray, lightest);
  }
  
  > .subtitle {
    @include rsa-font(paragraph, small);
    margin-bottom: rsa-whitespace();
    color: rsa-color(gray, lightest);
  }
  
  > .description {
    @include rsa-font(paragraph);
    color: rsa-color(gray, light);
  }
  
      
  > h3 {
    display: inline-block;
    color: rsa-color(gray, light);
  }
  
  > ul {
    margin-top: rsa-whitespace(more);
    display: inline-block;
    
    > li {
      display: inline-block;
      margin: 0 rsa-whitespace();
      
      > a {
        text-decoration: none;
        color: rsa-color(white);
      }
    }
  }
}
