.spec-member {
  background-color: rsa-color(gray, darkest, $rsa-nearly-opaque);
  border: 1px solid rsa-color(gray, darkest);
  padding: rsa-whitespace();
  color: rsa-color(gray, lighter);
  margin-bottom: rsa-whitespace();
  
  &:last-child {
    margin-bottom: 0;
  }
  
  > header {
    position: relative;
    margin-top: calc(#{rsa-whitespace()} * -1);
    margin-left: calc(#{rsa-whitespace()} * -1);
    margin-right: calc(#{rsa-whitespace()} * -1);
    margin-bottom: rsa-whitespace();
    padding: rsa-whitespace(less) rsa-whitespace();
    background-color: rsa-color(black);
    color: rsa-color(white);

    > .title {
      margin-bottom: rsa-whitespace(least);
      @include rsa-font(header);
    }
  
    > .subtitle {
      @include rsa-font(paragraph, small);    
      margin-bottom: rsa-whitespace();
      color: rsa-color(gray, light);
    }     
  }
  
  > section {
    position: relative;
    
    code {
      margin: rsa-whitespace() rsa-whitespace() rsa-whitespace() 0;
      color: rsa-color(gray, lightest);
      border-left: rsa-whitespace(least) solid rsa-color(gray);
      padding-left: rsa-whitespace();
      
      &:last-child {
        margin-bottom: 0;
      }
      
      div div {
        padding-left: rsa-whitespace();
      }
    }
  }    
}
