.spec-body-category {
  .anchor {
    position: relative;
    height: 1px;
    width: 1px;
    overflow: hidden;
    top: -40pt;         /* Should be >= outer height of the fixed masthead. */
    &:after {
      content: ' ';      /* @workaround Gives the browser a placeholder, so DOM won't be omitted. */
    }
  }

  .members {
    margin: rsa-whitespace() 0;
  }
}
