.spec-masthead {
  background: rsa-color(gray, darkest, $rsa-nearly-opaque);
  padding: rsa-whitespace();
  width: 100%;
    
  h2 {
    margin-bottom: rsa-whitespace(least);
    font-size: 2.4rem;
  }
  
  p {
    margin-bottom: rsa-whitespace(less);
    line-height: 1.3rem;
  }
    
  h3 {
    display: inline-block;
  }
  
  ul {
    display: inline-block;
    
    li {
      margin-left: rsa-whitespace();
      display: inline-block;
      margin-right: rsa-whitespace();
      
      a {
        text-decoration: none;
      }
    }
  }
}
