.route {
  height: 100%;
  
  .spec-doc {
    position: relative;             /* Enables absolute position of child components (e.g., spec-nav). */
    height:100%;
    
    &.demoComp {
      overflow:hidden;
      
      nav {
        display: none;
        padding:0;
      }
      
      .spec-body {
        padding:0!important;
        margin:0!important;
              
        .hbs-example {
          padding:0!important;
          margin:0!important;
          height:100%;
        }      
      }
      
      .hbs-preview {
        background: none!important;
        padding:0!important;
        margin:0!important;
      }
    }
  }
}