<centered class="incident-placeholder">
  <div class="background-icon">
    <a href="/">
      {{rsa-icon name='crown-3'}}
    </a>
  </div>
  <div class="placeholder-id">{{model.incidentId}}</div>
</centered>
{{outlet}}