<div class='user-body {{if userId 'has-entity-info'}}'> 
  <aside class='user-body_aside'>
    {{#if userId}}
      <div class='user-body_aside_leftArrow'>
        {{#rsa-form-button isIconOnly=true defaultAction=(action 'resetUser')}}
          {{rsa-icon name="arrow-left-12" size="medium"}}
        {{/rsa-form-button}}
      </div>
      {{mount "entity-details" model=entityDetails}}
    {{/if}}  
  </aside>
</div>