<div class="rsa-context-panel__grid__host-details__field-name">{{label}}</div>
<div>
  <div  class="rsa-context-panel__grid__host-details__field-circle" style={{concat 'background' scoreColor}}></div>
  <div class="rsa-context-panel__grid__host-details__field-circle__value" style={{concat 'color' scoreColor}}>{{score}}</div>
</div>


