{{#if isAddNewPill}}
  {{query-container/query-pill
    canPerformTextSearch=canPerformTextSearch
    metaOptions=metaOptions
    sendMessage=(action 'handleMessage')
    position=newPillPosition
    hasTextPill=hasTextPill
  }}
{{else}}
  <div title={{t 'queryBuilder.insertFilter'}} class='new-pill-trigger' {{action "triggerNewPill"}}>&nbsp;</div>
{{/if}}