.filter-in-use-main{

    padding-left: 20px;
    margin: 10px 0 0 0;

    .filter-name {

        padding: 3px 15px;
        background-color: #016a9c;
        color: #FFFFFF;
        border-radius: 15px;
        display: flex;

        /* Text style for "Users with" */
        font-family: 'Open Sans', sans-serif;;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;

        span{
            white-space: nowrap;
            display: inline-block;
            max-width: 350px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .disable-filter {
            cursor: pointer;
            color: #FFFFFF;
            padding-left: 5px;
            font-weight: bold;
        }
    }


}
