$modalHeaderHeight: 52px;
$footerHeight: 43px;
$modalWidth: 500px;

.rsa-application-modal.file-status-modal {
  display: none;
}

.rsa-application-modal-content.file-status-modal {
  width: $modalWidth;
  .modal-content {
    width: 100%;
    height: calc(100% - (#{$modalHeaderHeight + $footerHeight}));
    top: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    padding: rsa-whitespace();
    p {
      @include rsa-font(body, small);
    }
    .rsa-data-table {
      width: 100%;
      height:100%;
    }
    .comment-box {
      margin-top: rsa-whitespace(less);
    }
    .radio-controls, .comment-box {
      font-weight: 400;
      font-size: 1rem;
      line-height: 2rem;
    }
    .file-status-radio {
      width: fit-content;
      .remediation-action-radio, .blacklist-category-title {
        height: 14px;
        margin-bottom: rsa-whitespace(less);
      }
    }
    .comment-box .rsa-form-textarea {
      textarea {
        min-height: 6rem;
        resize: none;
        margin-top: rsa-whitespace(less);
      }
    }
    .black-list-options {
      height: auto;
      padding-left: rsa-whitespace();
      .ember-power-select-trigger {
        width: 30%;
      }
      p.remediation-action-note {
        line-height: 1.2rem;
        padding: rsa-whitespace(least) 0 rsa-whitespace(less) 0;
        color: text-color(primary, light)
      }
      box {
        padding: 0 rsa-whitespace() rsa-whitespace() rsa-whitespace(less);
        font-weight: 400;
        font-size: 1rem;
        line-height: 1rem;
      }
      .remediation-action-title {
        height: 10px;
      }
      .remediation-action-checkbox {
        height: 14px;
        padding-bottom: 7px;
      }
      .remediation-alert {
        color:text-color(accentFour);
        font-size: 14px;
        height: 14px;
        padding-bottom: rsa-whitespace(less);
      }
      .remediation-action-radio .rsa-icon-information-circle-lined {
        padding-left: rsa-whitespace(less);
      }
    }
    .blacklist-category-title {
      padding-top: rsa-whitespace(less);
    }

  }

  footer {
    height: $footerHeight;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 100%;
    .modal-footer-buttons {
      justify-content: flex-end;
      .rsa-form-button-wrapper:last-child{
        margin: 0 rsa-whitespace() 0 rsa-whitespace(less);
      }
    }
  }
}
