{{entity-details-container/body/alerts-container}}
<div class='entity-details-container-body_details'>
  {{#if selectedIndicatorId}}
    {{entity-details-container/body/indicator-details}}
  {{else}}
    {{entity-details-container/body/alert-details}}
  {{/if}}
</div>