<div class='entity-details-container-body_alerts_list'>
  {{entity-details-container/body/alerts-container}}
</div>
<div class='entity-details-container-body_details'>
  {{entity-details-container/body/alert-details}}
</div>