.rsa-context-tree-table {

  .rsa-nav-tab.is-left-aligned-primary{
    padding: rsa-whitespace(base) rsa-whitespace(least);
    margin: 0rem rsa-whitespace(less);
    display: inline-block;
    white-space: nowrap;
  }

  .button {
    background:none!important;
    border:none;
    padding-left:50%;
    color: text-color(secondary);
    @include rsa-font(default, small);
    text-decoration:underline;
    cursor:pointer;
  }
  .border
  {
    padding-left: rsa-whitespace(base);
    padding-top: rsa-whitespace(less);
    padding-bottom: rsa-whitespace(less);
    border-bottom: 1px solid border-color(neutral, dark, nearly-transparent);

  }
  .heading-text {
    @include rsa-font(header, large);
    color: text-color(primary, lighter);
    padding: rsa-whitespace();
  }
  .heading-text>span {
    float: right;
    padding:rsa-whitespace(least);
    color: $font-fade-color;

  }
  .rsa-content-accordion {

    border-bottom: 1px solid border-color(neutral, dark, nearly-transparent);
    @include rsa-font(body,small);
    color: text-color(primary, lighter);
    .rsa-icon {
      padding-right: rsa-whitespace(less);
    }
    .content {
      @include rsa-font(default, small);
      padding:0px !important
    }
    h3 {
      text-transform: inherit;
      border-bottom: 1px solid border-color(neutral, dark, nearly-transparent);
      span{
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

  }

  &__header_button{
    padding: rsa-whitespace(less);
    .rsa-form-button {
      margin-left: rsa-whitespace(less);
      font-size: rsa-whitespace();
    }
  }

  &__createList-button{
    border-bottom: 1px solid border-color(primary);
    padding: rsa-whitespace(less);

    .rsa-form-button{
      color: text-color(secondary, dark)!important;
    }
    .rsa-icon {
      float: right;
    }
    .plusIcon {
      float: left;
    }
  }

  &__button{
    padding-right: rsa-whitespace(less);
  }

  &__listPanel{
    width: 35%;
  }


  &__createList{
    .rsa-form-input textarea, .rsa-form-textarea textarea {
      min-height: 15rem;
      width: 288%;
      max-height: 15rem;
      max-width: 499px;
    }

    .create-list-header{
      @include rsa-font(default, large);
      text-transform: capitalize;
      padding-bottom: 5%;
    }
    .list-name{
      @include rsa-font(header, small);
      color:text-color(neutral);
    }

    .list-desc{
      height: 300px;
    }

    .rsa-form-button{
      width:90%;
    }
    .rsa-form-textarea {
      padding-bottom: 12%;
      padding-top: 5%;
    }
    .rsa-form-input{
      width:100%;

    }
  }
  &__headerMessage{
    padding-bottom: rsa-whitespace();
    @include rsa-font(default, small);
    color: text-color(neutral);
  }

  &__addtoListBox, &__createList{
    padding: rsa-whitespace(less);
    max-width: 100%;
    width: 500px;
    height:450px;

    .rsa-nav-tab.is-left-aligned-primary{
      padding: rsa-whitespace(base) rsa-whitespace(less);
      margin: 0rem rsa-whitespace(least);
      display: inline-block;
      white-space: nowrap;
      @include rsa-font(header);
    }
    .rsa-form-label {
      color: text-color(neutral);
    }
  }

  &__metaValue {
    height: 69px;
  }

  &__metaValue input {
    width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__table_header{
    padding: rsa-whitespace(less);
    margin: 0.5rem 0;

    @include rsa-font(header,small);
    color: text-color(neutral);
    padding-left:rsa-whitespace(more);
    border-bottom: 1px solid border-color(neutral, dark);
  }

  &__listDetails{
    @include rsa-font(default, small);
    margin: 0.5rem 0;
    color: text-color(primary, lighter);
    height: 180px;
    overflow: auto;
  }


  &__content-header,&__content-text {
    white-space: nowrap;
    width: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__content-header {
    @include rsa-font(default, smaller);
    color: text-color(primary, base);
  }

  &__content-text {
    padding-top: rsa-whitespace(least);
    color: text-color(primary, lighter);
  }
  &__border {
    padding-left: rsa-whitespace(base);
    padding-top: rsa-whitespace(less);
    padding-bottom: rsa-whitespace(less);
    border-bottom: 1px solid border-color(neutral, dark, nearly-transparent);
  }

  &__columntitle {
    @include rsa-font(header,small);
    padding-top: rsa-whitespace(more);
    padding-bottom: rsa-whitespace(less);
    border-bottom: 1px solid border-color(neutral, dark);
  }

  &__checkbox {
    padding-top: rsa-whitespace(less);
    padding-bottom: rsa-whitespace(less);
    border-bottom: 1px solid border-color(neutral, dark);
    padding-left: rsa-whitespace(less);
    @include rsa-word-wrap();
  }

  .rsa-nav-tab{
    .is-left-aligned-primary {
      flex-grow: 0;
      padding: .5rem 0.2rem;
      margin: .7rem;
    }}
  .rsa-nav-tab-group{
    .is-left-aligned-primary {
      flex-grow: 0;
      padding: .5rem 0.2rem;
      margin: .7rem;
    }

  }

}
