$font-highlight-color: rsa-color(gray, lighter);
$font-fade-color: rsa-color(gray, light);
$panelBackgroundImage: radial-gradient(circle at 0px 25%, rsa-color(gray, darker, .1) 0, rsa-color(gray, dark, 0) 65%),
radial-gradient(circle at 70% 0px, rsa-color(gray, darker, .1) 0, rsa-color(gray, dark, 0) 65%),
radial-gradient(circle at 35% 65%, rsa-color(gray, darker, .1) 0, rsa-color(gray, dark, 0) 65%),
radial-gradient(circle at 85% 85%, rsa-color(gray, darker, .1) 0, rsa-color(gray, dark, 0) 65%);

.rsa-context-panel {
  @include rsa-vendor-prefix(flex-grow, 0);
  @include rsa-vendor-prefix(flex-shrink, 0);
  @include rsa-col(justify, fill);
  background-image: $panelBackgroundImage;
  background-color: rsa-color(gray, darkest);
  height: 100%;
  display: flex;
  flex-direction: row;
  &__linkButton {
    text-decoration: none;
    padding: rsa-whitespace(less) rsa-whitespace();
    border: 1px solid rsa-color(gray, light);
    margin-left: rsa-whitespace(least);
    color: rsa-color(gray, lighter);
    &:hover {
     border-color: rsa-color(white, lightest);
    }
  }
  .rsa-nav-tab-group {
    display: flex;
    flex-direction: column;
  }
  .rsa-nav-tab.is-left-aligned-primary {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    color: rsa-color(gray, dark);
  }
  .rsa-nav-tab.is-active {
    background-color: rsa-color(blue);
  }
  &__tabs {
    background: rsa-color(black, darker);
    &__enabled {
      color: rsa-color(white, lightest);
    }
    &__tooltip {
      padding: rsa-whitespace(less) rsa-whitespace();
    }
    &__icon-loader {
      position: absolute;
      left: 0;
      padding-left: rsa-whitespace(less);
    }
  }
  &__header {
    background: rsa-color(black, darker);
    color: rsa-color(white);
    padding: rsa-whitespace(less) - rsa-whitespace(least);
    >hbox {
      height: 30px;
      >vbox {
        height: inherit;
      }
    }
  }
  &__layout {
    width: 100%;
    display: inline-block;
    height: calc(100% - 6px);
  }
  &__loader {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }
  &__error-text {
    @include rsa-font();
    color: rsa-color(amber, light);
    text-align: center;
    align-items: center;
    padding: rsa-whitespace(least);
    font-style: italic;
    display: flex;
    line-height: 1.35;
    span {
      margin-left: rsa-whitespace();
    }
  }
  &__body_layout {
    @include rsa-vendor-prefix(flex-grow, 1);
    @include rsa-vendor-prefix(flex-shrink, 1);
    position: relative;
    color: rsa-color(white);
    position: relative;
    height: calc(100% - 100px);
    background-image: $panelBackgroundImage;
    background-color: rsa-color(gray, darkest);
  }
  &__body_size {
    height: 100%
  }
  &__body {
    @include rsa-vendor-prefix(flex-grow, 1);
    @include rsa-vendor-prefix(flex-shrink, 1);
    position: relative;
    color: rsa-color(white);
    position: relative;
    width: 100%;
    height: 100%;
    background-image: $panelBackgroundImage;
    background-color: rsa-color(gray, darkest);
  }
  &__footer {
    height: 15px;
    background-color: rsa-color(black, darker);
    padding: rsa-whitespace(less);
    color: rsa-color(gray, lighter);
    @include rsa-font(footer, small);
    display: flex;
    justify-content: space-between;
    >span {
      float: right;
    }
  }
  &__endpoint {
    height: 100%;
    &__machines {
      height: 210px;
      overflow: hidden;
      align-items: center;
      >div>div {
        overflow: hidden;
      }
    }
    &__data-table {
      height: calc(100% - 240px);
      display: flex;
      >div {
        border: 1px solid rsa-color(black, null, $rsa-nearly-transparent);
      }
    }
  }
  &__risk-badge {
    &__danger-risk {
      color: rsa-color(red);
    }
    &__high-risk {
      color: rsa-color(orange);
    }
    &__medium-risk {
      color: rsa-color(amber);
    }
    &__low-risk {
      color: rsa-color(green);
    }
  }
  &__data__header {
    align-content: center;
    display: flex;
  }
  &__grid,
  &__context-data-table {
    color: $font-fade-color;
    height: 100%;
    width: calc(100% - 4px);
    display: flex;
    justify-content: center ;
    .link {
      justify-content: flex-start;
    }
    &__box {
      overflow: auto;
      height: 100%;
      width: 100%;
      justify-content: center;
    }
    &__groupdata {
      padding-left: rsa-whitespace();
    }
    &__Score_width {
      max-width: 12%;
    }
    &__group-data-header {
      padding-left: 0;
    }
    &__risk-badge {
      max-width: 180px;
      svg circle {
        stroke: rsa-color(red);
        stroke-width: 4;
      }
      .details .score {
        color: rsa-color(orange);
      }
      &__default {
        padding: 1rem;
      }
    }
    .rsa-content-badge-score.is-danger .score {
      color: rsa-color(red);
    }
    .rsa-content-badge-score.is-high .score {
      color: rsa-color(orange);
    }
    .rsa-content-badge-score.is-medium .score {
      color: rsa-color(amber);
    }
    .rsa-content-badge-score.is-low .score {
      color: rsa-color(green);
    }
    &__itemsContainer {
      position: relative
    }
    &__itemsContainer:hover &__iconlink {
      display: block
    }
    &__iconlink {
      position: absolute;
      display: none;
      top: 20%;
      width: 40px;
      margin: 0 auto;
      left: 0px;
      right: -60%;
    }
    .link a {
      color: rsa-color(blue, base);
      display: block;
      text-decoration: none;
    }
    .link:hover {
      display: block;
      text-decoration: underline;
      color: rsa-color(blue, base);
    }
    &__heading-text {
      @include rsa-font(header, large);
      color: rsa-color(gray, lighter);
      padding: rsa-whitespace(less);
    }
    &__heading-text>span {
      float: right;
      color: $font-fade-color;
      @include rsa-font(header, small);
      letter-spacing: 0.05rem;
    }
    &__button {
      background: none!important;
      border: none;
      margin-left: 50%;
      color: rsa-color(blue, base);
      text-decoration: underline;
      cursor: pointer;
      @include rsa-font(default, small);
    }
    &__border {
      padding-left: rsa-whitespace(base);
      padding-top: rsa-whitespace(less);
      padding-bottom: rsa-whitespace(less);
      border-bottom: 1px solid rsa-color(black, null, $rsa-nearly-transparent);
      border-bottom-style: ridge;
    }
    &__host-details,
    &__archer-details,
    &__ad-details {
      padding-top: rsa-whitespace();
      .value {
        @include rsa-word-wrap();
      }
      vbox + vbox {
        padding-left: rsa-whitespace(less);
        min-height: 50px;
        width: 80%;
        padding-bottom: rsa-whitespace();
      }
      &__tetheredPanel {
        width: rsa-whitespace(less);
      }
      &__field-name,
      &__row-field-name {
        @include rsa-font(header, small);
        padding-top: rsa-whitespace();
        padding-bottom: rsa-whitespace(less);
      }
      &__field-value,
      &__row-field-value,
      &__header-data {
        @include rsa-word-wrap();
        color: $font-highlight-color;
        text-align: left;
        text-overflow: ellipsis;
        justify-content: flex-start;
      }
      &__groupdata {
        color: rsa-color(blue, base);
      }
      &__field-value {
        padding-bottom: rsa-whitespace(least);
        @include rsa-font(default, small);
      }
      &__single-column {
        padding-left: rsa-whitespace();
        padding-top: rsa-whitespace(less);
      }
      &__header-data {
        @include rsa-font(header, larger);
        font-weight: 500;
        max-height: 60%;
        color: rsa-color(gray, lightest);
        padding-left: rsa-whitespace();
      }
      &__badge-score {
        max-height: 25%;
        padding: rsa-whitespace();
        padding: 0;
        max-width: 25%;
        @include rsa-font(default, small);
      }
    }
    &__ad-details,
    &__archer-details {
      vbox {
        padding-left: rsa-whitespace(less);
        min-height: 50px;
        width: 100%;
      }
    }
    &__module-details,
    &__iioc-details,
    &__panel {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      >section {
        height: 100%;
        width: 100%;
      }
      margin: 0 rsa-whitespace(least) 0 rsa-whitespace(least);
      .progress-bar {
        width: 30%;
      }
      &__sort-icon {
        display: table !important;
        position: absolute;
        padding: 0.25rem;
        right: 0.25rem;
        top: 0.5rem;
      }
    }
    &__iioc-details {
      .rsa-data-table {
        &-body-cell {
          float: left;
        }
      }
    }
    &__min-ioc {
      @include rsa-font(header, small);
      padding-left: rsa-whitespace();
    }
  }
  &__liveconnect {
    color: $font-fade-color;
    height: calc(100% - 175px);
    width: calc(100% - 4px);
    overflow: auto;
    overflow-x: hidden;
    .rsa-context-panel__loader , .rsa-context-panel__error-text{
      display: flex;
      position: absolute;
      justify-content: center;
      height: 100%;
      width: 100%;
      align-items: center;
    }
    &__related-entity-error {
      @include rsa-font();
      color: rsa-color(amber, light);
      text-align: center;
      align-items: center;
      padding: rsa-whitespace(least);
      font-style: italic;
      display: flex;
      line-height: 1.35;
      margin-left: 35%;
    }
    &__field {
      padding: rsa-whitespace();
    }
    &__emptychart {
      width: 100%;
      height: 130px;
      background: rsa-color(gray, darkest);
      text-align: center;
      span {
        display: inline-block;
        margin-top: 50px;
      }
    }
    &__field-name {
      @include rsa-font(header, small);
      padding: rsa-whitespace();
    }
    &__no-feedback-label {
      color: rsa-color(amber, dark);
    }
    &__heading {
      @include rsa-font(header, large);
      color: rsa-color(gray, lighter);
      padding: rsa-whitespace();
      border-top: 3px solid rsa-color(gray, darkest);
    }
    &__heading>span {
      float: right;
      color: $font-fade-color;
      @include rsa-font(header, small);
      letter-spacing: 0.05rem;
    }
    &__community_trend {
      padding: rsa-whitespace();
      .rsa-area-series {
        stroke-width: 1;
        &.series-0 {
          stroke: rsa-color(blue);
          fill: rsa-color(blue, base, $rsa-somewhat-opaque);
        }
      }
    }
    &__submission_trend {
      padding: rsa-whitespace();
      .rsa-area-series {
        stroke-width: 1;
        &.series-0 {
          stroke: rsa-color(red);
          fill: rsa-color(red, base, $rsa-somewhat-opaque);
        }
        &.series-1 {
          stroke: rsa-color(orange);
          fill: rsa-color(orange, base, $rsa-somewhat-opaque);
        }
        &.series-2 {
          stroke: rsa-color(amber, dark);
          fill: rsa-color(amber, dark, $rsa-somewhat-opaque);
        }
      }
    }
    &__comm-activity {
      &__charts-parent {
        vbox {
          width: 33%;
        }
      }
      &__charts-container {
        .rsa-chart {
          width: 100%;
          height: 100%;
        }
        .tick {
          line,
          text {
            shape-rendering: crispEdges;
            text-rendering: geometricPrecision;
            text-anchor: end;
            fill: rsa-color(white);
          }
        }
      }
      &__desc {
        padding-left: rsa-whitespace();
        @include rsa-font(paragraph);
        &__seen {
          @include rsa-font(bold);
          color: rsa-color(blue);
        }
        &__submitted {
          @include rsa-font(bold);
          color: rsa-color(orange);
        }
        &__high-risk {
          @include rsa-font(bold);
          color: rsa-color(red, darker);
        }
        &__unsafe {
          @include rsa-font(bold);
          color: rsa-color(orange);
        }
        &__suspicious {
          @include rsa-font(bold);
          color: rsa-color(amber, light);
        }
        &__safe {
          @include rsa-font(bold);
          color: rsa-color(green);
        }
        &__unknown {
          @include rsa-font(bold);
          color: rsa-color(gray, light);
        }
      }
    }
    &__risk-indicators {
      padding: rsa-whitespace();
      &__category-panel {
        width: 50%;
        &__cat-header {
          @include rsa-font(header);
        }
      }
      &__tags-panel {
        padding-top: rsa-whitespace(least);
        padding-bottom: rsa-whitespace();
      }
    }
    &__risk-badge {
      max-width: 180px;
      margin-left: 100px;
      &__unsafe {
        svg circle {
          stroke: rsa-color(orange);
        }
        .details .score {
          color: rsa-color(orange);
        }
      }
      &__safe {
        svg circle {
          stroke: rsa-color(green);
        }
        .details .score {
          color: rsa-color(green);
        }
      }
      &__suspicious {
        svg circle {
          stroke: rsa-color(amber)
        }
        .details .score {
          color: rsa-color(amber)
        }
      }
      &__high-risk {
        svg circle {
          stroke: rsa-color(red);
        }
        .details .score {
          color: rsa-color(red);
        }
      }
      &__unknown {
        svg circle {
          stroke: rsa-color(gray, lightest);
        }
        .details .score {
          color: rsa-color(gray, lightest);
        }
      }
    }
    &__risk-reason-padding{
      margin-left: 50px;
    }
    &__risk-description {
      @include rsa-font(header, large);
      padding: rsa-whitespace();
    }
    &__risk-reason {
      padding-bottom: rsa-whitespace(base);
      padding-left: rsa-whitespace();
    }
    &__block {
      margin-top: rsa-whitespace();
      margin-left: rsa-whitespace();
      margin-bottom: rsa-whitespace();
      background-color: rsa-color(gray, darkest, $rsa-nearly-opaque);
      padding: rsa-whitespace();
    }
    &__risk-rating-unsafe {
      color: rsa-color(red, darker);
    }
    &__risk-rating-safe {
      color: rsa-color(green);
    }
    &__risk-rating-unknown {
      color: rsa-color(amber, dark);
    }
    &__entity-value {
      color: rsa-color(blue);
    }
    &__feedback {
      height: 175px;
      position: absolute;
      bottom: 1px;
      width: 100%;
      background-color: rsa-color(gray, darker);
      background-image: $panelBackgroundImage;
      .risk-level-col,
      .confidence-col {
        max-width: 20%;
      }
      .submit-col {
        max-width: 95px;
      }
      button {
        margin-top: 2rem;
      }
    }
  }
}

.feedback-margin {
  margin-bottom: 175px;
}

.tab-active-background {
  background-color: rsa-color(blue);
}

.filter-icon {
  padding-top: rsa-whitespace();
  padding-left: rsa-whitespace(more);
  color: rsa-color(gray, light)
}
