$contextTooltipDatumWidth: 75px;
$contextTooltipDatumPadding: 0px;

.rsa-context-tooltip {
  background-color: background-color(primary, darkest);
  padding: rsa-whitespace(less);
  max-width: 5 * ($contextTooltipDatumWidth + $contextTooltipDatumPadding);

  &__header {
    @include rsa-font(default);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: rsa-whitespace(more);
    line-height: 1.35;
  }

  &__body {
    margin-top: rsa-whitespace(less);
    line-height: 1.35;
  }

  &__content,
  &__aside {

    &-header {
      @include rsa-font(header, small);
      white-space: nowrap;
      line-height: 1.35;
      color: text-color(primary, lighter);
      padding: rsa-whitespace(least) 0;
    }
  }

  &__content {
    @include border-right(1px, solid, primary, dark);
    padding-right: rsa-whitespace(less);

    &-body {
      margin: 0;
      max-width: 3 * ($contextTooltipDatumWidth + $contextTooltipDatumPadding);
    }

    &-footer {
      @include rsa-font(header, small);
    }
  }

  &__aside {
    padding-left: rsa-whitespace(less);
  }
}

.rsa-context-tooltip-actions {
  a {
    text-decoration: none;
  }

  .action {
    @include rsa-font(body, small);
    padding: rsa-whitespace(least) 0;
    color: text-color(primary, lighter);
    cursor: pointer;

    .icon {
      padding-right: rsa-whitespace(less);
    }
  }
}

.rsa-context-tooltip-records {

  &__records {
    @include rsa-row(center,top);
    @include rsa-vendor-prefix(flex-wrap, wrap);
  }

  &__record {
    cursor: pointer;
    display: inline-block;
    width: $contextTooltipDatumWidth;
    padding: 0 0 rsa-whitespace(least) 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include border-bottom(3px, solid, primary, base, transparent);

    &:hover {
      border-bottom-color: border-color(secondary, light);
    }

    .value {
      @include rsa-font(base, large, uppercase);
      color: text-color(primary, lightest);
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &.Machines .value, &.LiveConnect .value {
      font-size: 90%;
      line-height: 1.75rem;
    }

    .text {
      @include rsa-font(base, smaller, uppercase);
      color: text-color(primary, lighter);
    }

    .subtext,
    .subtext .rsa-content-datetime .time-ago {
      display: none;
      /*
      Temporarily hiding subtext pending UX review.
      @include rsa-font(light, smaller, uppercase);
      font-size: 75%;
      color: text-color(primary);
      */
    }

  }

  &__error {
    text-align: center;
    padding: rsa-whitespace() 0;
    color: text-color(primary, lighter);
    font-style: italic;
  }
}
