.rsa-context-panel-header {

  background-color: rsa-color(gray, darkest);
  &__ip-value {
    @include rsa-font(bold);
  }
  &__panel-close {
    float: right;
    transform: translate(-100%, 0);
    color: rsa-color(gray, light);
    margin-top: 0.8rem;
  }

  &__header-icons {
    padding-left: rsa-whitespace(base);
    align-items: flex-end;
  }

  &__close-icon {
    padding-right: rsa-whitespace();
  }

  &__unsafe {
    font-size: 2rem;
    text-align: center;
    margin-bottom: rsa-whitespace(less);
    color: rsa-color(red, darker);
  }
}
