<!DOCTYPE html>
<html class="login-bg" ng-app="FortscaleSignin">
<head>
    <title>Fortscale - Change Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="components/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--<link href="css/bootstrap/bootstrap-responsive.css" rel="stylesheet">-->
    <link href="components/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="components/detail-wrap/css/layout.css">
    <link rel="stylesheet" type="text/css" href="components/detail-wrap/css/elements.css">
    <link rel="stylesheet" type="text/css" href="components/detail-wrap/css/icons.css">
    <!-- libraries -->
    <link rel="stylesheet" href="styles/font-awesome/css/font-awesome.min.css">

    <!-- this page specific styles -->
    <link rel="stylesheet" href="components/detail-wrap/css/signin.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="components/angular/angular.min.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/signin.js"></script>
    <script src="scripts/controllers/signin_controller.js"></script>
</head>
<body ng-controller="SigninController">
<div class="row-fluid login-wrapper">
    <a href="index.html">
        <img class="logo" src="images/login_title.png">
    </a>

    <div class="span5 box">
        <div class="content-wrap">
            <h6>Change Password</h6>
            <p style="position: relative; top: -20px; color: #666">Your password has expired, please change it.</p>
            <form ng-submit="changePassword()">
                <input class="span15" type="text" placeholder="Email Address" ng-model="email">
                <input class="span15" type="password" placeholder="Current password" ng-model="currentPassword">
                <input class="span15" type="password" placeholder="New password" ng-model="password">
                <input class="span15" type="password" placeholder="Confirm password" ng-model="passwordConfirm">
                <div class="alert alert-error" ng-show="error">
                    <i class="icon-remove-sign"></i>
                    {{error.message}}
                </div>
                <div ng-show="!error">
                    <br /><br />
                </div>
                <input type="submit" class="btn-glow primary login" value="Change Password" />
            </form>
        </div>
    </div>

    <div class="span5 no-account">
        <p>Already have an account?</p>
        <a href="signin.html">Sign in</a>
    </div>
</div>

<!-- scripts -->
<script src="components/jquery/jquery-2.0.3.min.js"></script>
<script src="components/bootstrap/js/bootstrap.min.js"></script>
<script src="components/detail-wrap/scripts/theme.js"></script>

<!-- pre load bg imgs -->
<script type="text/javascript">
    $(function () {
        // bg switcher
        var $btns = $(".bg-switch .bg");
        $btns.click(function (e) {
            e.preventDefault();
            $btns.removeClass("active");
            $(this).addClass("active");
            var bg = $(this).data("img");

            $("html").css("background-image", "url('img/bgs/" + bg + "')");
        });

    });
</script>
</body>
</html>