<vbox class='rsa-form-radio-group'>
  <vbox class="radio-buttons">
    {{#each radioButtonOption.items as |item|}}
      {{!--if (eq item.name radioButtonValue) 'checked'--}}
      {{#radio-button
        classNames='rsa-form-radio-wrapper'
        radioClass='radio-option'
        value=item.name
        groupValue=(readonly radioButtonValue)
        name=(concat 'radio-' selectedSettingId)
        changed=(action 'updatePolicyProperty' selectedSettingId item.name)
      }}
        <span>{{t item.label}}</span>
      {{/radio-button}}
    {{/each}}
  </vbox>
</vbox>
