<div ng-controller="UserComparisonController">
    <div class="row-fluid">
        <div class="span5">
            <header class="user-comparison-users-header" style="margin-bottom: 20px;">
            <input style="width: 75%"
               placeholder="Add users to compare"
               searchbox
               search-settings="{{userComparisonSearchSettings}}"
               on-select="addUsers($value, true)"
               class="search" />
                <a ng-click="clearUsers()" style="float: right">Clear users</a>
            </header>
        <table class="table table-hover widget-table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Title</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users" ng-class="{highlighted: user.highlighted}" ng-mouseenter="highlight(user.name)" ng-mouseleave="highlight(null)">
                    <td><a href="#/d/user/{{user.username}}">{{user.username}}</a></td>
                    <td><a href="#/d/user/{{user.username}}">{{user.name}}</a></td>
                    <td>{{user.jobTitle}}</td>
                    <td><a title="Remove this user"
                           class="clickable"
                           ng-if="!user.fixed"
                           ng-click="removeUser($index)">Remove</a></td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="span10">
            <ng-include ng-repeat="view in comparisonViews" src="'widgets/tabs/tabs.view.html'"></ng-include>
            <div class="widget widget-tab">
                <div style="padding: 10px; text-align: right">
                    <a class="btn" ng-click="switchChartFields()">
                        <i class="icon-exchange"></i>
                        Switch Fields
                    </a>
                </div>
                <bubbles-chart ng-model="chartData" settings="chartSettings" highlighted-member="{{highlightedUser}}"></bubbles-chart>
            </div>
        </div>
    </div>
</div>