.rsa-chart {
  width: 100%;
  height: 150px;
}

.rsa-chart-background {
  fill: rsa-color(gray, darkest);
}

.rsa-line-series {
  fill: none;
  stroke-width: 2;
  &.series-0 {
    stroke: rsa-color(blue);
  }
  &.series-1 {
    stroke: rsa-color(blue, darker);
  }
}

.rsa-area-series {
  /*fill-opacity: 0.25;*/
  &.series-0 {
    fill: rsa-color(blue);
  }
  &.series-1 {
    fill: rsa-color(blue, darker);
  }
}

.rsa-chart {
  .domain {
    stroke: rsa-color(white);
    shape-rendering: crispEdges;
  }

  .tick {
    line,
    text {
      fill: rsa-color(white);
      stroke: rsa-color(white);
      shape-rendering: crispEdges;
      text-rendering: geometricPrecision;
      text-anchor: end;
    }
  }
}
