.sg-demo-opacity {
  padding: rsa-whitespace(more);
  box-sizing: border-box;
  color: rsa-color(black);

  &.overlay {
    position: absolute;
    height: 50%;
    top: 0;
    left: 0;
    right: 0;
    @include rsa-layer(above);

    &.transparent {
      background-color: rsa-color(white, null, $rsa-transparent);
      color: rsa-color(white);
    }

    &.nearly-transparent {
      background-color: rsa-color(white, null, $rsa-nearly-transparent);
      color: rsa-color(white);
    }

    &.translucent {
      background-color: rsa-color(white, null, $rsa-translucent);
    }

    &.nearly-opaque {
      background-color: rsa-color(white, null, $rsa-nearly-opaque);
    }

    &.opaque {
      background-color: rsa-color(white, null, $rsa-opaque);
    }
  }
}
