.sg-demo-whitespace {
  background-color: rsa-color(black);
  display: inline-block;
  vertical-align: top;
  border: 1px solid rsa-color(gray, lightest);
  
  div {
    @include rsa-font(paragraph);
  }

  &.left, &.right {
    &.least {
      padding:rsa-whitespace(least);
      margin-right: rsa-whitespace(least);
    }
    
    &.less {
      padding:rsa-whitespace(less);
      margin-right: rsa-whitespace(less);
    }
    
    &.base {
      padding:rsa-whitespace(base);
      margin-right: rsa-whitespace(base);
    }
    
    &.more {
      padding:rsa-whitespace(more);
      margin-right: rsa-whitespace(more);
    }
    
    &.most {
      padding:rsa-whitespace(most);
      margin-right: rsa-whitespace(most);
    }
  }
}