fs-controls {
    .controls {
        margin-top: 5px;
        padding-top: 10px;

        div.controls-transclude {
            display: inline-flex;
            align-items: center;
        }

        button {
            margin-left: 10px;
        }
    }



}
