<ul class="legends">
  <li>
    <strong class="legend danger"></strong>
    <span class="choice">Danger</span>
  </li>
  <li>
    <strong class="legend high"></strong>
    <span class="choice">High</span>
  </li>
  <li>
    <strong class="legend medium"></strong>
    <span class="choice">Medium</span>
  </li>
  <li>
    <strong class="legend low"></strong>
    <span class="choice">Low</span>
  </li>
</ul>