<div class='footer-buttons'>
  {{#rsa-form-button class='create-item' defaultAction=(action 'handleCreateItem')}}
    {{rsa-icon name='add-1' style='lined'}}
    {{newItemButtonTitle}}
  {{/rsa-form-button}}
  {{#if hasContextualHelp}}
    {{#rsa-form-button class='list-help-icon' defaultAction=(action 'goToHelp')}}
      {{rsa-icon name='help-circle' size='small' style='lined'}}
    {{/rsa-form-button}}
  {{/if}}
</div>

