$font-highlight-color: rsa-color(gray, lightest);
$font-fade-color: rsa-color(gray, light);

.rsa-context-panel{
  position: relative;
  height: 100%;

  &__sectionEnd {
    border-bottom: 1px solid #2d2c2c;;
  }

  &__loader {
    display: flex;
    justify-content: center;
    //height: 100%;
    align-items: center;
  }

  &__body{
    position: relative;
    height: -webkit-calc(100% - (105px));
    background-color: rsa-color(gray, darker);
    overflow: auto;
  }

  &__ecat {
    color: $font-fade-color;
    width: -webkit-calc(100% - (4px));

    .heading-text {
      @include rsa-font(header, large);
      color: rsa-color(gray, lighter);
      padding: rsa-whitespace();
    }

    &__host-details {
      padding: rsa-whitespace();
      vbox {
        padding-right: 0rem;
      }

      &__field-name {
        @include rsa-font(header, small);
        padding-left: rsa-whitespace(more);
      }
      &__field-value {
        color: $font-highlight-color;
        text-align: left;
        padding-left: rsa-whitespace(more);
        padding-bottom: rsa-whitespace();
      }
      .rsa-content-badge-score{
        padding: 0rem;
      }
      &__badge-score {
        max-width: 11%;
        @include rsa-font(default, small);
      }
    }

    &__module-details, &__iioc-details {
      width: 100%;
      margin: 0 rsa-whitespace(least) 0 rsa-whitespace(least);

      .rsa-data-table {
        &-header-cell{
          overflow:visible;
          @include rsa-font(header, small);
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        &-body-row{
          width: 100%;
          padding: 0 0;
          align-items: baseline;
        }
        &-body-cell{
          overflow:visible;
          color: $font-highlight-color;
          @include rsa-font(paragraph);
          white-space: nowrap;
          text-overflow: ellipsis;

          .iioc-description {
            white-space: pre-wrap;
          }
        }
      }

      .progress-bar{
        width: 100%;
      }
    }

    &__iioc-details {
      .rsa-data-table {
        &-body-cell {
          float: left;
        }
      }
    }

    &__min-ioc {
      @include rsa-font(header, small);
      padding-left: rsa-whitespace();
    }

  }

  &__liveconnect {
    color: $font-fade-color;
    width: -webkit-calc(100% - (4px));
    &__field {
      padding: rsa-whitespace();
    }
    &__field-name {
      @include rsa-font(header, small);
      padding: rsa-whitespace();
    }
    &__label {
      margin: rsa-whitespace(least);
    }
    &__reviewstatus {
      width: 100%;
      &__col-1 {
        min-width: 160px;
      }
      &__col-2 {
        min-width: 250px;
      }
      &__col-3 {
        min-width: 200px;
      }
      &__col-4 {
        min-width: 200px;
      }
      &__col-5 {
        max-width: 100px;
      }
    }
    &__comm-activity {
      vbox {
        min-width: 28%;
        max-width: 33%;
        padding: rsa-whitespace(less);
      }
      &__desc {
        padding-left: rsa-whitespace();
        @include rsa-font(paragraph);
        &__seen {
          @include rsa-font(bold);
          color: rsa-color(blue);
        }
        &__submitted {
          @include rsa-font(bold);
          color: rsa-color(orange);
        }
        &__unsafe {
          @include rsa-font(bold);
          color: rsa-color(red, darker);
        }
        &__safe {
          @include rsa-font(bold);
          color: rsa-color(green);
        }
        &__unknown {
          @include rsa-font(bold);
          color: rsa-color(amber, dark);
        }
      }
    }
    &__risk-indicators {
      width: 100%;
    }
  }

}