.rsa-investigate-meta {

  > .liquid-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    > .liquid-child {
      width: 100%;
      height: 100%;
    }
  }


  &:not(.meta-size-min) {
    > .liquid-container > .liquid-child {
      @include rsa-col(justify,fill);
    }
  }

  &.meta-size-min {
    cursor: pointer;

    .mask {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include rsa-font(header,small);

      .rsa-icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 1rem;
        margin: rsa-whitespace(less) auto;
      }
    }
  }

  &__header {
    @include rsa-row(justify, middle);
    @include rsa-font(header, small);
    @include rsa-vendor-prefix(flex-shrink, 0);
    @include rsa-vendor-prefix(flex-grow, 0);
    padding: 0 rsa-whitespace();
  }

  &__body {
    @include rsa-vendor-prefix(flex-grow, 1);
    @include rsa-font(body, light);
    overflow: auto;
  }

  &__nav {
    @include rsa-vendor-prefix(flex-grow, 1);

    .back {
      cursor: pointer;
      margin-right: rsa-whitespace(less);
    }

    h2 {
      display: inline-block;
    }
  }
  &__tools {
    @include rsa-vendor-prefix(flex-grow, 0);

    button {
      cursor: pointer;
      padding: rsa-whitespace(less);
    }
  }
}
