.rsa-investigate-timeline {
  @include rsa-col(justify,fill);

  &__header {
    @include rsa-vendor-prefix(flex-shrink,0);
    @include rsa-vendor-prefix(flex-grow,0);

    h2 {
      @include rsa-font(header, small);
      padding: rsa-whitespace(less) rsa-whitespace();
    }
  }

  &__body {
    @include rsa-vendor-prefix(flex-grow,1);
    position: relative;
  }

  .rsa-chart {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    margin: rsa-whitespace() rsa-whitespace() 0 rsa-whitespace();

    svg {
      display: block; /* overwrites default 'inline' in Safari & possibly others */
    }

    &-background {
      fill: transparent;
      pointer-events: fill;
    }
    .grids {
      .x line {
        stroke-dasharray: 3;
      }
    }
    .rsa-y-axis {
      text {
        text-anchor: end;
      }
    }
    .rsa-x-axis {
      text {
        text-anchor: middle;
      }
    }

    .points {
      circle {
        fill: rsa-color(gray, darkest);
        stroke-width: 2px;
      }
      &.series-0 circle {
        stroke: rsa-color(blue);
      }
      &.series-1 circle {
        stroke: rsa-color(blue, darker);
      }
    }
  }
}
