.rsa-investigate-query-bar {
  @include rsa-row(left, bottom);

  &__service.with-dropdown,
  &__time-range.with-dropdown {
    @include rsa-vendor-prefix(flex-grow);
    margin-left: rsa-whitespace(least);
    // background-color: rsa-color(grey, darkest);
    .rsa-form-button {
      ul {
        border-top: none;
        li {
          @include rsa-font(default, small);
          letter-spacing: normal;
          text-transform: none;
          line-height: normal;
          padding: rsa-whitespace(less) rsa-whitespace(less);
          border: none;
          color: rsa-color(grey);
        }
      }
    }
  }
  &__submit {
    @include rsa-vendor-prefix(flex-grow);
    margin-left: rsa-whitespace();
  }
  .rsa-investigate-query-input {
    @include rsa-vendor-prefix(flex-grow, 1);
    margin-left: rsa-whitespace(least);
    &__icon {
      margin-left: rsa-whitespace();
    }
  }
}
