.rsa-investigate-meta-key-values {

  &__empties {
    @include rsa-font(body,small);
    li {
      line-height: 1.28rem;
      color: rsa-color(gray);
      display: inline;
      list-style: none;
      padding: rsa-whitespace(least) rsa-whitespace(least) rsa-whitespace(least) 0;
      &::after {
        content: ',';
      }
      &:last-of-type::after {
        content: '';
      }
    }
  }
}
