.rsa-respond-index-header {
  border-bottom: 1px solid rsa-color(gray, light);
  overflow: hidden;
  background-color: rsa-color(gray, darker, $rsa-translucent);
  padding: 0 rsa-whitespace(most);

  &__label {
    @include rsa-font(header, large);
    float: left;
    padding: rsa-whitespace() 0;
    color: rsa-color(white);
    text-transform: capitalize;
  }

  &__options {
    float: right;
    vertical-align: middle;
    padding: rsa-whitespace(least) 0;

    .rsa-respond-index-header__list-btn {
      .rsa-form-button {
        padding-left: rsa-whitespace(least);
      }
    }

    .rsa-form-button {
      vertical-align: middle;

      .rsa-icon {
        color: rsa-color(gray);
      }
    }

    .is-active {
      .rsa-form-button {
        .rsa-icon {
          color: rsa-color(white);
        }
      }
    }
  }
}
