.rsa-respond-index-header {
  display: block;
  border-bottom: 1px solid rsa-color(gray, light);
  height: 3.1rem;
  margin: 0;
  background-color: rsa-color(gray, darker, $rsa-translucent);
  padding: 0 rsa-whitespace(most);

  &__label {
    @include rsa-font(header, large);
    float: left;
    padding: rsa-whitespace() 0 0 0;
    color: rsa-color(white);
    text-transform: capitalize;
  }

  &__options {
    float: right;
    margin-right: rsa-whitespace(most);

    .rsa-respond-index-header__list-btn {
      .rsa-form-button {
        padding-left: rsa-whitespace(least);
      }
    }

    .rsa-form-button {
      padding-right: 0;
      padding-left: 0;
      .rsa-icon {
        color: rsa-color(gray);
      }
    }

    .is-active {
      .rsa-form-button {
        .rsa-icon {
          color: rsa-color(white);
        }
      }
    }
  }
}