
$nodeIndent: rsa-whitespace();
$treeIndent: $nodeIndent * 1.5;
$treeColor: rsa-color(gray, light);
$selectionColor: rsa-color(blue);

.rsa-tree {
  color: $treeColor;
  font-family: Arial, sans-serif;

  &.root.show-tree-lines {
    &::before {
      content: '';
      width: 10px;
      height: 10px;
      position: relative;
      background-color: $treeColor;
      display: block;
      border-radius: 7px;
      right: 4px;
    }
  }

  &.show-tree-lines li {
    list-style: none;
    padding-left: rsa-whitespace();

    &::before{
      content: '';
      height: 1px;
      width: 20px;
      background-color: $treeColor;
      position: absolute;
      top: 10px;
      left: 0;
      margin: auto;
    }
    &::after{
      content:'';
      width: 1px;
      height: 100%;
      background-color: $treeColor;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
    &:last-child{
      &::after{
        height: 10px;
      }
    }
  }

  .rsa-tree-node {
    position: relative;

    &.selected > .node-name {
      @include rsa-font(bold);
      color: $selectionColor;
    }

    .node-name {
      display: inline-block;
      margin-top: rsa-whitespace(least);
      margin-bottom: rsa-whitespace(less);
      margin-left: rsa-whitespace();

      + ul {
        padding: 0 $treeIndent;
      }

    }

    // Child node branch
    > .rsa-tree {
      opacity: $rsa-transparent;
      max-height: 0;
      > .rsa-tree-node {
        opacity: $rsa-transparent;
        max-height: 0;
      }
    }

    &.expanded {
      > .rsa-tree {
        max-height: 100%;
        opacity: $rsa-opaque;

        > .rsa-tree-node {
          max-height: 100%;
          opacity: $rsa-opaque;
        }
      }
    }

    // Toggle
    &.has-children {

      &::before {
        width: 11px;
      }

      > .node-name {
        margin-left: 0; //adjust margin to account for the toggle control width
      }

      > .toggle {
        display: inline-block;
        position: relative;
        width: 10px;
        height: 10px;
        bottom: 0;
        top: 0;
        cursor: pointer;

        .toggle-control {
          display: inline-block;
          width: 0;
          height: 0;

          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid $treeColor;
        }
      }


      &.expanded {
        > .toggle .toggle-control {
          border-bottom: none;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid $treeColor;
          margin-bottom: rsa-whitespace(least);
        }
      }
    }
  }

  &.selectable .rsa-tree-node {

    .node-name {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
