{{#if headerTimeStamp.lastUpdated}}
  <span>
    {{t 'investigateShared.endpoint.riskPanel.header.timeWindow'}}{{headerTimeStamp.timeWindow}}
  </span>
  <span class="risk-properties-panel__header__lastUpdated">
    {{t 'investigateShared.endpoint.riskPanel.header.lastUpdated'}}{{rsa-content-datetime timestamp=headerTimeStamp.lastUpdated asTimeAgo=true}}
  </span>
{{/if}}