<grid>
  <hbox class="dropdowns">

    {{recon-event-actionbar/export-files}}

    {{#rsa-form-button}}Export PCAP{{/rsa-form-button}}

    {{#rsa-form-button dropdown='split' }}
      Decode
      <ul>
        <li>foo</li>
        <li>bar</li>
      </ul>
    {{/rsa-form-button}}

    <centered class="right">
      {{rsa-icon name='filter-22'}}
    </centered>
  </hbox>
</grid>
