.rsa-protected {

  &__outlet {
    z-index: 1;
  }

  &__aside {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    z-index: 2;
    transition: width 300ms;


  }

  &.has-entity-info {
    .rsa-protected {
      &__aside {
        width: 75%;
        box-shadow: 0 0 rsa-whitespace() background-color(neutral, dark, nearly-opaque);
      }
    }
  }
}
