<div class="widget-numeric">
    <div class="widget-numeric-item" ng-repeat="item in view.data" ng-class="clearfix">
        <h5 ng-if="item.title">
            {{item.title}}
            <i ng-if="item.tooltip" class="icon-question-sign tooltip-icon" title="{{item.tooltip}}"></i>
        </h5>
        <p class="widget-numeric-description" ng-if="item.description">{{item.description}}</p>
        <span class="widget-numeric-value" ng-style="item.value.style">{{item.value.display}}</span>
        <div class="widget-numeric-secondary" ng-if="item.secondaryValue">
            <span class="widget-numeric-secondary-value" ng-style="item.secondaryValue.style">
                <i class="icon-{{item.secondaryValue.icon.type}} widget-numeric-secondary-value-icon"></i>
                <strong class="widget-numeric-secondary-value-display">{{item.secondaryValue.value}}</strong>
            </span>
            <small class="widget-numeric-secondary-tagline" ng-if="item.secondaryValue.tagLine">{{item.secondaryValue.tagLine}}</small>
        </div>
    </div>
</div>