<div class="clearfix widget-pie" ng-class="{ 'with-info': showInfo }">
    <div class="widget-pie-chart"></div>
    <div class="widget-pie-info" ng-show="showInfo">
        <h5 class="widget-pie-info-title" ng-if="currentItem.title">{{currentItem.title}}</h5>
        <ul class="widget-pie-info-list unstyled">
            <li ng-repeat="item in currentItem.properties">
                <label>{{item.label}}</label>
                <strong>{{item.value}}</strong>
            </li>
        </ul>
    </div>
</div>