    <header class="widget-header" ng-if="widget.renderHeader !== false">
        <div class="widget-controls" ng-if="widget.renderControls !== false && !isPopup || widget.controls.length">
            <div class="widget-view-control"
                 ng-repeat="control in widget.controls"
                 ng-include="'views/controls/' + control.type + '.html'">
            </div>
            <div class="widget-view-control widget-control-refresh" ng-if="widget.linkTo">
                <a href="{{widget.linkTo.url}}" title="{{widget.linkTo.tooltip}}" class="clickable widget-link-to">
                    {{widget.linkTo.text}}
                </a>
            </div>
            <div class="widget-view-control widget-control-refresh">
                <a ng-click="widget.showSettings = !widget.showSettings" title="Widget settings" class="clickable">
                    <i class="icon-cog"></i>
                </a>
                <menu class="widget-control-menu" ng-show="widget.showSettings">
                    <a ng-repeat="setting in settings"
                       ng-click="callSetting(setting, widget)"
                       ng-disabled="setting.disabled">
                        <i class="icon-{{setting.icon}}"></i> {{setting.display}}
                    </a>
                </menu>
            </div>
        </div>
        <h4 class="widget-header-title">{{widget.parsedTitle}}</h4>
    </header>
    <div class="widget-contents">
        <ng-include ng-if="widget.filters" src="'views/widgets/widget_filters.html'"></ng-include>
        <div ng-repeat="view in widget.views"
             class="widget-view {{view.className}}"
             ng-class="{ 'widget-with-message': widget.noData || widget.error || widget.loading }"
             ng-show="!view.show || view.show.value"
             ng-style="{ height: widget.height }"
            ng-init="initView(view)">
            <div class="widget-view-controls" ng-if="view.controls">
                <div class="widget-view-control"
                     ng-repeat="control in view.controls"
                     ng-include="'views/controls/' + control.type + '.html'">
                </div>
            </div>
            <div ng-class="{ hidden: widget.noData || widget.error }">
                <ng-include src="'widgets/' + view.type + '/' + view.type + '.view.html'" ng-show="!widget.showInitMessage"></ng-include>
            </div>
            <div class="widget-message widget-no-data" ng-show="widget.noData">
                No data found
                <div>
                    <a ng-click="runWidgetReport(widget, true)" class="clickable widget-message-link">Refresh</a>
                </div>
            </div>
            <div class="widget-message widget-init-message" ng-show="widget.showInitMessage">
                {{widget.initMessage}}
            </div>
            <div class="widget-message widget-loading" ng-if="view.showMessages !== false" ng-show="widget.loading">
                <span class="widget-loader"></span>
                <div>Loading data</div>
            </div>
            <div class="widget-message widget-error" ng-if="view.showMessages !== false" ng-show="widget.error">
                <span class="widget-error-message">
                    <img src="images/exclamation.png" class="widget-error-icon" /><br />
                    {{widget.error}}
                    <div>
                        <a ng-click="runWidgetReport(widget, true)" class="clickable widget-message-link">Retry</a>
                    </div>
                </span>
            </div>
            <div class="widget-message widget-warning" ng-if="view.showMessages !== false" ng-show="widget.warning && !widget.error">
                <span class="widget-warning-message">
                    <i class="icon-meh"></i> {{widget.warning}}
                    <a ng-click="runWidgetReport(widget, true)">Reload</a>
                </span>
            </div>
        </div>
    </div>