<div class="entity-info">
  <div class="entity-info-title" test-id="entity-info-title">
    <span class="entity-name">{{get data config.displayMapping.alertName.dataIndex}}</span>
  </div>
  <div class="additional-info" test-id='additional-info'>
    {{get data config.displayMapping.alertSummary.dataIndex}}
  </div>
  <div class='incident-info' test-id='incident-info'> No Incidents</div>
  <div class="more-action" test-id='more-action'>
    <div class="alert-severity">{{get data config.displayMapping.severity.dataIndex}}</div>
    <div>{{config.displayMapping.severity.label}}</div>
  </div>
</div>
