overview-high-risk-users {

    display: flex;
    flex-flow: column nowrap;
    flex: 1;

    .high-risk-users-list {

        display: block;
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;

        flex: 1;

        background-color: #c6c6c6;

    }

}
