$clrBlueMain: #2766a9;
$clrBlueEnergy: #00c6f1;
$clrBlueDark: #8fbde4;
$clrBlueGreyed: #6784b9;
$clrBlueFaded: #6faae9;
$clrPurpleDark: #A28DD6;
$clrPurpleLight: #C37CB7;
$clrGreen: #B0C75E;
$clrTurquoiseLight: #81CE9E;
$clrTurquoiseDark: #67B9B5;
$clrPink: #F5A499;
$clrYellow: #F2C446;
$clrRed: #F36F63;
$clrOrange: #E99848;
$clrGrey100: #575757;
$clrGrey90: #727272;
$clrGrey80: #818285;
$clrGrey60: #9D9D9F;
$clrGrey50: #b1b1b1;
$clrGrey45: #e3e3e3;
$clrGrey40: #e7e7e8;
$clrGrey20: #F7F7F7;
$clrGrey10: #FAFAFA;
$clrWhite: #FFFFFF;
$clrButtonRegular: #004f8f;
$clrButtonHover: #8bc6f7;
$clrButtonPressed: #4388d1;
$clrButtonDisabled: #cbcbcb;

$clrIKBlueMain: #171717;



