.tooltip-directive{
  position: fixed;
  z-index: 99999;
  border-radius: 3px;
  background: rgba(0,0,0,.8);
  padding: 10px;
  color: white;
  max-width: 400px;

  .tooltip-table{
    td{
      padding: 4px;
      border-bottom: solid 1px rgba(255,255,255,.1);

      &.tooltip-table-label{
        color: rgba(255,255,255,.8);
        padding-right: 10px;
      }
    }

    tr:last-child{
      td{ border-bottom: none }
    }
  }
}

.ui-tooltip, .arrow:after {

}
.ui-tooltip {
  padding: 10px;
  color: white !important;
  border-radius: 5px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  box-shadow: 0 0 7px black;
  position: absolute;
  z-index: 10100;
  max-width: 300px;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  background: rgba(0,0,0,.8) !important;
  border: none;
}
[title] .arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;

  &.top{
    top: -16px;
    bottom: auto;

    &:after{
      bottom: -20px;
      top: auto;
    }
  }

  &.left{
    left: 20%;
  }

  &:after{
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    background: rgba(0,0,0,.8);

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
  }
}

body .ui-tooltip {
  border: none;
}

.tooltip-icon{
  color: #acacac;

  &:hover{
    color: Black;
  }
}