$incidentAlertsSearchHeaderHeight: 30px;
$incidentAlertsSearchSeverityRadius: 1rem;
$incidentAlertsSearchSeverityBgColor: background-color(primary, light, nearly-transparent);

.rsa-incident-alerts-search {
  height: calc(100% - #{$incidentAlertsSearchHeaderHeight});

  &__wait,
  &__error {
    @include rsa-fill-abs();
    z-index: 2;
    background-color: background-color(primary,darker,nearly-opaque);
  }

  &__error {
    p {
      @include rsa-font(paragraph);
    }
    .rsa-form-button {
      margin: rsa-whitespace(less);
    }
  }

  .rsa-alerts-search {
    z-index: 1;
  }

  .rsa-alerts-search-results {
    &__body {
      .rsa-data-table {
        @include rsa-fill-abs();

        /* Overwrites default margin, padding & spacing from component-lib */
        &-body-row {
          left: 0;
          right: 0;
          margin: 0;
          padding: 0;
          border-color: border-color(neutral, dark);

          &:hover,
          &.is-selected,
          &.is-selected:hover {
            margin: 0;
            padding: 0;
            border-color: border-color(neutral, dark);
          }

          &:hover {
            .rsa-data-table-body-cell {
              background-color: transparent;
            }
          }
        }

        &-body-cell {
          padding: 0;
        }
      }

      .alert {
        padding: rsa-whitespace(less);
        cursor: default;
      }

      .alert-name {
        @include rsa-font(heading);
        color: text-color(neutral);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      a[href] {
        color: text-color(secondary, light);
      }

      .severity {
        /* Renders a circle with centered text inside. */
        width: $incidentAlertsSearchSeverityRadius * 2;
        height: $incidentAlertsSearchSeverityRadius * 2;
        border-radius: $incidentAlertsSearchSeverityRadius * 2;
        overflow: hidden;

        @include rsa-font(body, small);
        line-height: $incidentAlertsSearchSeverityRadius * 2;
        text-align: center;
        white-space: nowrap;
        background-color: $incidentAlertsSearchSeverityBgColor;
        color: text-color(neutral);
      }

      .content {
        padding-left: rsa-whitespace(less);
        /* Overwrites flexi-fill which doesn't permit cutoff, which is required for long alert names */
        @include rsa-vendor-prefix(flex-shrink,1);
      }

      .incident-action {
        /* Ensures a consistent height regardless of content, which is required for lazy rendering. */
        min-height: 2.5rem;
      }

    }
  }
}
