$incidentInspectorWidth: 400px;

.rsa-incident-container {
  @include rsa-fill-abs();

  &__header {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    margin: rsa-whitespace();
  }

  &__body {
    @include rsa-fill-abs();
    z-index: 1;
  }

  .rsa-fast-force__wait {
    /*
    By default, the wait icon will be centered on the force graph. But the left-side of the graph is overlapped by
    the inspector, so it appears to be off-center (even though it isn't). What we'd really like is for the wait icon
    to be centered relative to the graph area which is NOT overlapped by the inspector. So we nudge it to the right
    by half the inspector's width.
    */
    transform: translateX($incidentInspectorWidth / 2);
  }

  &__entities-rectangle {
    @include rsa-fill-abs();
    margin: rsa-whitespace(most);
    left: $incidentInspectorWidth;
    z-index: -1;
  }

  &__aside {
    @include rsa-fill-abs(0,auto);
    width: $incidentInspectorWidth;
    z-index: 2;
  }

  &__footer {
    @include rsa-fill-abs(auto);
    height: 0;
    z-index: 2;

    .rsa-incident-journal {
      width: 400px;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 200px;
      margin: rsa-whitespace();
    }
  }

  &__transaction-overlay,
  .rsa-incident-inspector,
  .rsa-force-layout {
    @include rsa-fill-abs();
  }

  &__no-storyline {
    color: rsa-color(gray);
    font-style: italic;
  }
}