.rsa-incident-container {
  @include rsa-fill-abs();

  &__header {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    margin: rsa-whitespace(less) rsa-whitespace();
  }

  &__background {
    @include rsa-fill-abs();
    z-index: 0;
  }

  &__main {
    @include rsa-fill-abs();
    z-index: 1;

    // all mouse events should punch thru to the background layer (the entities nodal diagram)
    pointer-events: none;

    &-aside {
      position: relative;
      z-index: 2;

      // this section DOES capture mouse events
      pointer-events: auto;

      .rsa-incident-inspector {
        height: 100%;
      }
    }

    &-body {
      // all mouse events should punch thru to the background layer (the entities nodal diagram)
      pointer-events: none;
      position: relative;

      .rsa-items-sheet {
        @include rsa-fill-abs();
        pointer-events: all;
      }
    }
  }

  &__footer {
    @include rsa-fill-abs(auto);
    height: 0;
    z-index: 2;

    .rsa-incident-journal {
      width: 400px;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 200px;
      margin: rsa-whitespace();
    }
  }

  &__transaction-overlay,
  .rsa-force-layout {
    @include rsa-fill-abs();
  }

  &__transaction-overlay {
    z-index: 2;
    background-color: rsa-color(black,base,$rsa-translucent);
  }

  &__legend-wrap {
    position: relative;
    margin: rsa-whitespace();
  }

  &__no-storyline {
    color: rsa-color(gray);
    font-style: italic;
  }
}