$entityUserColor: $cyan;
$entityHostColor: $violet;
$entityIPColor: $green;
$entityDomainColor: $yellow;
$entityFileColor: $base0;

.rsa-incident-entities {

  .rsa-force-layout {
    &-node {
      opacity: 0;

      .circle {
        stroke: rsa-color(gray,light,$rsa-nearly-opaque);
        fill: rsa-color(black,base,$rsa-nearly-opaque);
      }
      &.user .circle {
        fill: $entityUserColor;
      }
      &.ip .circle {
        fill: $entityIPColor;
      }
      &.host .circle {
        fill: $entityHostColor;
      }
      &.domain .circle {
        fill: $entityDomainColor;
      }
      &.file .circle {
        fill: $entityFileColor;
      }
      .text {
        //fill: rsa-color(amber);
        fill: rsa-color(white);
      }

      &.has-context-data {
        .text {
          @include rsa-has-context-data(true);
        }
      }

      &.is-hidden {
        .circle {
          stroke: rsa-color(gray,light,$rsa-nearly-transparent);
          fill: rsa-color(black,base,$rsa-transparent);
        }
        .text {
          fill: rsa-color(gray,light,$rsa-nearly-transparent);
        }
      }

      &.is-selected {
        .circle {
          stroke: rsa-color(white);
        }
        .text {
          fill: rsa-color(white);
        }
      }
    }

    &-link {
      opacity: 0;

      .line {
        stroke: rsa-color(gray,light,$rsa-nearly-opaque);
      }
      .text {
        fill: rsa-color(gray,light);
        text-shadow: 0 0 1pt #000;
      }

      &.is-hidden {
        .line {
          stroke: rsa-color(gray,base,$rsa-nearly-transparent);
        }
        .text {
          fill: rsa-color(gray,base,$rsa-transparent);
        }
      }

      &.is-selected {
        .line {
          stroke: rsa-color(white);
        }
        .text {
          fill: rsa-color(white);
        }
      }
    }
  }


  #force-layout__arrow {
    fill: rsa-color(gray,light);

    &--disabled {
      fill: rsa-color(gray,base,$rsa-nearly-transparent);
    }

    &--selected {
      fill: rsa-color(white);
    }
  }
  #force-layout__grid {
    .grid-axis {
      &.major {
        stroke: rsa-color(gray, base, $rsa-translucent);
        stroke-width: 1pt;
      }
      &.minor {
        stroke: rsa-color(gray, base, $rsa-nearly-transparent);
        stroke-width: 0.5pt;
      }
    }
  }

  &.is-dragging,
  &.alpha-level-3,
  &.alpha-level-2,
  &.alpha-level-1,
  &.alpha-level-0 {
    .rsa-force-layout {
      &-node {
        opacity: 1;
        transition: opacity 0.3s;
      }
    }
  }

  &.is-dragging,
  &.alpha-level-1,
  &.alpha-level-0 {

    .rsa-force-layout {
      &-link {
        opacity: 1;
        transition: opacity 0.3s;
      }
    }
  }
}
