$entityUserColor: $magenta;
$entityHostColor: $violet;
$entityIPColor: $green;
$entityDomainColor: $yellow;
$entityMACColor: $respondBackgroundColor;
$entityFileNameColor: $cyan;
$entityFileHashColor: $cyan;

.rsa-incident-entities {
  rect.grid {
    pointer-events: none;
  }

  &-legend {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: rsa-whitespace();
  }

  .rsa-force-layout {
    &-node {
      opacity: 1;
      transition: opacity 0.3s;

      .circle {
        stroke: text-color(primary,light,nearly-opaque);
        fill: text-color(neutral,dark,nearly-opaque);
      }
      &.user .circle {
        fill: $entityUserColor;
      }
      &.ip .circle {
        fill: $entityIPColor;
      }
      &.host .circle {
        fill: $entityHostColor;
      }
      &.domain .circle {
        fill: $entityDomainColor;
      }
      &.mac-address .circle {
        fill: $entityMACColor;
      }
      &.file-name .circle {
        fill: $entityFileNameColor;
      }
      &.file-hash .circle {
        fill: $entityFileHashColor;
      }
      .text {
        fill: text-color(neutral);

        &.has-context-data {
          @include rsa-has-context-data(true);
          transition: font-size 0.3s;

          &:hover {
            font-size: 100%;
          }
        }
      }

      &.is-hidden {
        .circle {
          stroke: text-color(primary,light,nearly-transparent);
          fill: text-color(neutral,dark,transparent);
        }
        .text {
          fill: text-color(primary,light,nearly-transparent);
        }
      }

      &.is-selected {
        .circle {
          stroke: text-color(neutral);
        }
        .text {
          fill: text-color(neutral);
        }
      }
    }

    &-link {
      opacity: 1;
      transition: opacity 0.3s;

      .line {
        stroke: text-color(primary,base,translucent);
      }
      .text {
        fill: text-color(primary,light);
        text-shadow: 0 0 1pt #000;
      }
      use {
        fill: text-color(primary,light);
      }

      &.is-hidden {
        .line {
          stroke: text-color(primary,base,nearly-transparent);
        }
        .text {
          fill: text-color(primary,base,nearly-transparent);
          text-shadow: none;
        }
      }

      &.is-selected {
        .line {
          stroke: text-color(neutral);
        }
        .text {
          fill: text-color(neutral);
        }
      }
    }
  }


  #force-layout__arrow {
    fill: text-color(primary,light);

    &--disabled {
      fill: text-color(primary,base,nearly-transparent);
    }

    &--selected {
      fill: text-color(neutral);
    }
  }
  #force-layout__grid {
    .grid-axis {
      &.major {
        stroke: text-color(primary, base, translucent);
        stroke-width: 1pt;
      }
      &.minor {
        stroke: text-color(primary, base, nearly-transparent);
        stroke-width: 0.5pt;
      }
    }
  }

  &.hide-nodes .rsa-force-layout-node,
  &.hide-links .rsa-force-layout-link {
    opacity: 0;
  }
}
