.rsa-incident-events-table {

  &-row {
    @include rsa-vendor-prefix(display, block !important);  /* overwrites display: flex */

    &,
    &:hover {
      /* overwrites some default hover manipulation of margin & padding */
      margin: 0 !important;
      padding: rsa-whitespace(less) !important;
    }

    &__body {
      height: 3rem; /* 3 = 2 lines of text * typical line-height 1.5 */
      overflow: hidden;
    }
  }

  .has-context-data {
    @include rsa-has-context-data();
  }

  .devices,
  .users,
  .files {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .rsa-icon {
    color: text-color(primary);

    &.file,
    &.device,
    &.user {
      margin-right: rsa-whitespace(less);
    }

    &.arrow {
      margin: 0 rsa-whitespace(less);
    }
  }

  .entity {
    color: text-color(neutral);
  }
}
