.events-list-table-row {
  width: 100%;
  height: 120px;
  padding: 10px;

  .events-list-table-cell {
    .events-list-info {
      @include border(1px, solid, primary, base, translucent);
      height: 120px;
      padding: 10px;
    }
  }
}
