.events-list-endpoint-header {
  display: flex;

  vbox hbox:first-child {
    font-weight: bold;
  }

  vbox hbox {
    padding-bottom: 10px;
  }
}

.events-list-endpoint-footer {
  table {
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
    border-spacing: 10px;
    border-collapse: separate;
  }

  table tr:first-child td {
    font-weight: bold;
  }
  table tr td:first-child {
    width: 8%;
  }
}

.events-list-endpoint-detail {
  @include border(1px, solid, primary, base, translucent);
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-top-width: 0;
  display: flex;
}
