.events-list-generic-header {
  display: flex;
  padding: 10px;
}

.events-list-generic-footer {
  table {
    width: 100%;
    padding-left: .4em;
    padding-right: .4em;
    border-collapse: separate;
    border-spacing: rsa-whitespace(less);
  }

  table tr:first-child th:first-child {
    width: 4rem;
  }

  table tr:first-child th:nth-child(2) {
    width: 9rem;
  }
}

.events-list-generic-detail {
  padding: rsa-whitespace(less);
  display: flex;
}
