$incidentOverviewLabelWidth: 6rem;
$incidentOverviewLineHeight: 1.35;

.rsa-incident-overview {

  .rsa-incident-info-status {
    overflow: auto;
  }

  p {
    @include rsa-font(body,small);
    padding: rsa-whitespace() rsa-whitespace(less) rsa-whitespace(less) (rsa-whitespace(less) + $incidentOverviewLabelWidth);
    color: text-color(primary, light);
    line-height: $incidentOverviewLineHeight;
    position: relative;

    > label {
      position: absolute;
      left: 0;
      top: 0;
      margin: rsa-whitespace() rsa-whitespace(less);
      max-width: $incidentOverviewLabelWidth - rsa-whitespace(less) * 2;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: text-color(primary, lighter);
    }

    > span {
      display: inline-block;
      min-height: 1em * $incidentOverviewLineHeight;
      color: text-color(primary, lightest);
    }

    > .edit-button {
      display: inline-block;
      width: auto;
      min-height: 30px;

      .ember-power-select-trigger {
        width: auto;
        padding: 0;
        border: none;
      }

      .ember-power-select-trigger[aria-disabled="true"] {
        background-color: transparent;
      }
    }
  }
  .source,
  .category {

    .parent {
      padding-right: rsa-whitespace(least);
    }

    &:not(:last-of-type) {
      padding-right: rsa-whitespace(least);

      &::after {
        content: ',';
      }
    }
  }
  .catalysts-count {
    span {
      text-transform: lowercase;
    }
  }
}
