@font-face {
    font-family: 'RobotoSlab';
    src: local("RobotoSlab Bold"),
    local("RobotoSlab-Bold"),
    url('../fonts/RobotoSlab-Bold.ttf');
    font-weight: 800;
}


@font-face {
    font-family: 'RobotoSlab';
    src: local("RobotoSlab Light"),
    local("RobotoSlab-Light"),
    url('../fonts/RobotoSlab-Light.ttf');
    font-weight: 200;
}


@font-face {
    font-family: 'RobotoSlab';
    src: local("RobotoSlab Regular"),
    local("RobotoSlab-Regular"),
    url('../fonts/RobotoSlab-Regular.ttf');
    font-weight: 400;
}


@font-face {
    font-family: 'RobotoSlab';
    src: local("RobotoSlab Thin"),
    local("RobotoSlab-Thin"),
    url('../fonts/RobotoSlab-Thin.ttf');
    font-weight: 100;
}
