mixin alertUserHref(baseUrl, alert, target)
    - var hrefStr = baseUrl + "index.html#/alerts/" + alert.id + "/entity/overview"
    - var target = target ? target : '_blank'
    a(href=hrefStr target=target)&attributes(attributes)
        block