mixin alertUserHref(baseUrl, alert, target)
    - var hrefStr = baseUrl + "index.html#/user/alert.entityId/baseline"
    - var target = target ? target : '_blank'
    a(href=hrefStr target=target)&attributes(attributes)
        block