{{!-- Showing 0 of 0 if no matches --}}
{{shownIndex}} of {{numberOfHighlightedMetas}}

{{#if hasMatches}}
  {{#if showPrevious}}<a {{action "prev"}}>&lt;&lt; Prev</a>{{/if}}
  {{#if showSeperator}}|{{/if}}
  {{#if showNext}}<a {{action "next"}}>Next &gt;&gt;</a>{{/if}}
{{/if}}
