.rsa-investigate-files {
  .show-left-zone {
    .title-header {
      display: none;
    }
  }
}
.rsa-files-toolbar {
  .files-toolbar {
    min-height: 70px;
    padding: 1rem;
    .rsa-form-button-wrapper .rsa-form-button i {
      margin-right: 0px;
    }
    .rsa-investigate-query-container {
      &__service-selector {
        margin-right: rsa-whitespace(less);
        .js-test-service {
          width: 100px;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .rsa-form-button {
          max-height: 30px;
        }
      }
    }
  }
  hbox {
    align-items: center;
  }
  color: text-color(primary, lightest);
  padding: 0 rsa-whitespace(less);

   .file-actionbar {
     padding: 0;
     padding-bottom: 3px;
   }

  .toolbar-actions {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: -1px;
    .divider {
      @include border-left(1px, solid, primary);
      height: 2rem;
      margin: .1rem 0 .25rem 0;
    }
    .export-button {
      position: absolute;
      right: 0;
      i {
        font-size: 1.5rem;
      }
    }
    .view-certificate-button {
      padding-right: rsa-whitespace();
    }
  }

  &__views,
  &__btns {
    @include rsa-row(right, middle);
    @include rsa-vendor-prefix(flex-shrink, 0);
    @include rsa-vendor-prefix(flex-grow, 0);
  }

  .export-files-iframe {
    height: 0;
    display: none;
  }

  .title-header {
    @include rsa-font(header, larger);
    display: inline-block;
    line-height: 0.5rem;
    color: text-color(primary, lightest);
  }
}



.delete-filter {
  i {
    color: text-color(primary, lightest);
  }
}
