.rsa-application-content {
  @include global-nav();
  @include rsa-layer(panel);
  top: 0;
  bottom: 0;
  padding-top: calc(2rem + 2px);
  padding-bottom: calc(2rem + 1px);
  
  &.has-blur {
    -webkit-filter: blur(.25rem);
    filter: blur(.25rem);
  }
}