#modalDestination,
.rsa-application-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  @include rsa-layer(modals);
  align-items: center;
  flex-direction: row;
}

#modalDestination {
  display: none;
  
  &.active {
    display: flex;
    
    .rsa-application-modal-content {
      display: block;
    }
  }

  .rsa-application-modal-content {
    @include rsa-layer(above);
    margin: 0 auto;
    border-width: 1px;
    border-style: solid;
    display: none;
        
    .modal-trigger {
      display: none;
    }
  }
}

.rsa-application-overlay {
  @include rsa-layer(overlay);
}

.rsa-application-modal {
  display: inline-block;
  
  .modal-content {
    display: none;
  }
}