.rsa-application-content {
  @include global-nav();
  @include rsa-layer(panel);
  top: 0;
  bottom: 0;
  border-top: calc(2rem + 2px) solid rsa-color(gray, darkest);
  padding-bottom: calc(2rem + 2px);
  
  &.has-blur {
    -webkit-filter: blur(.5rem);
    filter: blur(.5rem);
  }
}