.#{$ns}button {
  box-sizing: content-box;
  vertical-align: baseline;
  background: transparent;
  outline: 0 none;
  border: 0 none;
  line-height: 1;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;

  /*
  @workaround Removes extra pixels for accessibility in Firefox.
  @see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button
  */
  &::-moz-focus-inner {
    padding: 0 !important;
    border: 0 none !important;
  }
}
