/* Standard classes, can be used in markup for basic styles */
.rsa-content-card-row,
.rsa-content-card-group {
  padding-top: rsa-whitespace(least);
  padding-bottom: rsa-whitespace(least);
}

/* Styles for allowing cards to wrap and flow into multiple rows */
.rsa-content-card-group {
  .rsa-content-card {
    margin-bottom: rsa-whitespace();
  }
}

/* Styles for enforcing a single scrollable row */
.rsa-content-card-row {
  overflow-x: scroll;
  white-space: nowrap;
}

/* 
 * Styles for rsa-content-card component 
 * Can be used stand-alone, or with rsa-content-card-group, rsa-content-card-row, etc 
 * Implementations will likely want to set min-width/max-width as needed 
 * Implementations will likely want to set section { min-height/max-height } as needed */
.rsa-content-card {
  display: inline-block;
  box-sizing: border-box;
  margin-left: rsa-whitespace();
  margin-right: rsa-whitespace();
  vertical-align: top;
  white-space: normal;

  $inline-whitespace-adj: .225rem;
  @include to(smallest) {
    width: calc(100% - #{rsa-whitespace() * 2} - #{$inline-whitespace-adj});
  }

  @include at(smaller) {
    width: calc(50% - #{rsa-whitespace() * 2} - #{$inline-whitespace-adj});
  }

  @include at(small) {
    width: calc(33.333% - #{rsa-whitespace() * 2} - #{$inline-whitespace-adj});
  }

  @include between(base, large) {
    width: calc(25% - #{rsa-whitespace() * 2} - #{$inline-whitespace-adj});
  }

  @include from(larger) {
    width: calc(20% - #{rsa-whitespace() * 2} - #{$inline-whitespace-adj});
  }

}