/* Opacity */

/* Public Variables */

/*
 * @file Global list of named opacities.
 * These named opacities can be used across RSA themes for consistency.
 */

$rsa-opaque: 1;

$rsa-nearly-opaque: .8;

$rsa-translucent: .4;

$rsa-nearly-transparent: .2;

$rsa-transparent: 0;
