
.export-machines-iframe {
  display: none;
}


.host-table {
  position: relative;
  height: 100%;
  width: 100%;
  .rsa-data-table {
    height: 100%;
  }
  &__footer {
    max-height: 2rem;
    background-color: background-color(primary, darker, somewhat-opaque);
    color: text-color(primary, lightest);
  }
  .host-name {
    text-decoration: underline;
    color: text-color(secondary);
    cursor: pointer;
  }
  .rsa-data-table-body-cell {
    width: 20px;
  }
  .rsa-data-table-header-cell {
    margin-right: -1px;
    button {
      cursor: pointer;
      &.column-sort {
        position: absolute;
        right: 7px;
      }
    }
    &:last-child {
      margin-left: -8px;
      .js-move-handle {
        margin-left: 8px;
      }
    }
  }
  .pivot-to-investigate {
    margin-left: auto;
    display: none;
  }

  .rsa-data-table-body-cell:hover {
    .pivot-to-investigate {
      display: block;
    }
  }


}

.host-table__toolbar {
  background-color: background-color(primary, darkest, somewhat-opaque);
  color: text-color(primary, lightest);
  padding: rsa-whitespace();
  label {
    @include rsa-font(header, larger);
    line-height: 2rem;
    color: text-color(primary, lightest);
  }
}

.host-table__toolbar-buttons {
  float: right;
  .rsa-form-button-wrapper {
    margin-right: rsa-whitespace(less);
  }
}

.rsa-initiate-scan-modal {
  padding: rsa-whitespace(more);
  max-width: 500px;
  line-height: 1.5rem;
  color: text-color(primary, light);
  &__description {
    display: block;
    &.error {
      color: text-color(accentOne, dark);
    }
  }
  &__scan-option {
    padding: rsa-whitespace(less) 0;
    .rsa-form-radio-label {
      font-size: larger;
    }
    .rsa-form-radio-label:before,
    .rsa-form-radio-label:after {
      top: rsa-whitespace(least);
    }
    p {
      padding-left: rsa-whitespace();
    }
  }
}

.cancel-scan, .initScan {
  float: right;
}

.filters {
  background-color: background-color(primary, darkest, somewhat-opaque);
}
