
.export-machines-iframe {
  display: none;
}

.host-table {
  position: relative;
  height: 100%;
  width: 100%;
  .rsa-data-table {
    height: 100vh;
  }
  &__footer {
    max-height: 2rem;
    background-color: background-color(primary, darker, somewhat-opaque);
    color: text-color(primary, lightest);
  }
  .host-name {
    text-decoration: underline;
    color: text-color(secondary);
    cursor: pointer;
  }
}

.host-table__toolbar {
  background-color: background-color(primary, darker, somewhat-opaque);
  color: text-color(neutral);
  padding: rsa-whitespace() 0 0 rsa-whitespace();
  label {
    line-height: 2rem;
    font-size: 1.5rem;
  }
}

.host-table__toolbar-buttons {
  float: right;
  .rsa-form-button-wrapper {
    padding: rsa-whitespace(less);
  }
}


.rsa-initiate-scan-modal, .rsa-delete-hosts-modal {
  padding: rsa-whitespace(more);
  max-width: 500px;
  line-height: 1.5rem;
  color: text-color(primary, light);
  &__description {
    display: block;
    &.error {
      color: text-color(accentOne, dark);
    }
  }
  &__scan-option {
    padding: rsa-whitespace(less) 0;
    .rsa-form-radio-label {
      font-size: larger;
    }
    .rsa-form-radio-label:before,
    .rsa-form-radio-label:after {
      top: rsa-whitespace(least);
    }
    p {
      padding-left: rsa-whitespace();
    }
  }
  &__note {
    padding: rsa-whitespace() 0 rsa-whitespace() 0;
    color: text-color(accentFour, light);
    font-size: 80%;
  }
}

.cancel-scan, .initScan {
  float: right;
}
