@import "host-table";
@import "service-modal";

$filter-panel-width: 250px;

.host-container {
  .content-context-menu {
    display: inherit;
  }
  .rsa-data-table-body-cell.score {
    padding: 3px 7px 0 7px;
  }
   max-height: calc(100vh - 50px);
  .host-container-list {
    width: 100%;
    height: 100%;
    .filter-wrapper .filter-controls .noUi-connects .noUi-connect{
      background-color: background-color(secondary, dark);
    }
  }
  .host-list-properties {
    h3 {
      text-align: center;
      width: 230px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 5rem;
      padding-right: 5rem;
      font-size: 1rem;
      position: relative;
      top: 1rem;
    }
    .close-zone {
      padding-top: 1.4rem;
    }
  }

  .rsa-data-filters {
    .content-body {
      height: calc(100vh - 260px);
    }
  }

  .host-table {
    .rsa-data-table-body-row {
      width: fit-content;
      min-width: 98%
    }
  }

  .show-left-zone {
    .title-header {
      display: none;
    }
  }
  .host-disable-text {
    color: text-color(primary, light);
  }
  .right-zone  {
    height: 100%;
    .risk-properties {
      height: calc(100% - 100px);
    }
  }
  .left-zone {
    .rsa-header {
      padding-bottom: 1rem;
      padding-right: 1rem;
      padding-left: 0;
      padding-top: 0.7rem;
    }
    .close-zone {
      padding-right: 0.8rem;
    }
  }
}
