@import "host-table";
$filter-panel-width: 250px;

.host-container {
  .filter-zone {
    @include border-right(1px, solid, primary, darker);
    max-width: $filter-panel-width;
    overflow: auto;
    overflow-x: hidden;
    opacity: 1;
    height: 100%;
    color: text-color(neutral);
    float: left;
    padding: rsa-whitespace();

    .body {
      max-width: none;
    }

    hr {
      margin: rsa-whitespace() 0;
      font-style: normal;
      font-size: 1.725rem;
      font-weight: 100;
    }

    h2 {
      line-height: 2rem;
      font-size: 1.5rem;
    }

  }

  .favourite-filters {
    padding: rsa-whitespace();
  }

  .filter-list {
    padding: rsa-whitespace() 0 0;
  }

  .filter-list__item {
    cursor: pointer;
    font-weight: 700;
    color: text-color(primary);
    line-height: 27px;
    &.is-active {
      color: text-color(neutral);
      transition: color 0.5s ease;
    }
  }

  .filter-list__item:hover {
    color: text-color(neutral);
    transition: color 0.5s ease;
  }

  .filter-list__item-label {
    padding-left: rsa-whitespace();
    width: 150px;
    display: inline-block;
  }
}

.machine-zone {
  width: calc(100vw - 300px);
}
