@import "host-table";
@import "service-modal";

$filter-panel-width: 250px;

.host-container {
  .content-context-menu {
    display: inherit;
  }
  .rsa-data-table-body-cell.score {
    padding: 3px 7px 0 7px;
  }
   max-height: calc(100vh - 50px);
  .host-container-list {
    width: 100%;
    height: 100%;
    .filter-wrapper .filter-controls .noUi-connects .noUi-connect{
      background-color: background-color(secondary, dark);
    }
  }
  .host-list-properties {
    h3 {
      text-align: center;
      width: 230px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 5rem;
      padding-right: 5rem;
      font-size: 1rem;
      position: relative;
      top: 1rem;
    }
  }
  .filters {
    @include border-bottom(1px, solid, primary, dark);
    padding: rsa-whitespace(less);
  }

  .rsa-data-filters {
    .content-body {
      height: calc(100vh - 260px);
    }
  }

  .machine-zone {
    min-height: calc(100vh - 160px);
    height: 100vh;
  }

  .favourite-filters {
    padding: rsa-whitespace() 0 rsa-whitespace() rsa-whitespace();
  }

  .filter-list__item {
    cursor: pointer;
    font-weight: 700;
    color: text-color(primary, light);
    line-height: 27px;
    &.is-active {
      color: text-color(primary, lightest);
      transition: color 0.5s ease;
    }
  }

  .filter-list__item:hover {
    color: text-color(primary, lightest);
    transition: color 0.5s ease;
  }

  .filter-list__item-label {
    display: inline-block;
    width: 160px;
  }

  .host-table {
    .rsa-data-table-body-row {
      width: fit-content;
      min-width: 98%
    }
  }

  .show-left-zone {
    .title-header {
      display: none;
    }
  }
  .host-disable-text {
    color: text-color(primary, light);
  }
  .right-zone .risk-properties {
    height: calc(100% - 100px);
  }
  .left-zone {
    .rsa-header {
      padding: 1rem;
    }
  }
  .insights-host {
    padding-top: 4px;
  }
}
