<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category title="Examples"}}
      {{#spec-member title="Open"}}
        {{#rsa-content-accordion label='Accordion Label'}}Sample content example.{{/rsa-content-accordion}}

        <code>
          &#123;{#rsa-content-accordion label='Accordion Label'}}Sample content example.&#123;{/rsa-content-accordion}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Closed"}}
        {{#rsa-content-accordion isCollapsed=true label='Accordion Label'}}Sample content example.{{/rsa-content-accordion}}

        <code>
          &#123;{#rsa-content-accordion isCollapsed=true label='Accordion Label'}}Sample content example.&#123;{/rsa-content-accordion}}
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
