.rsa-dark {
  .rsa-content-badge-icon {
    i {
      color: rsa-color(gray, lightest);
    }
  
    h5 {
      color: rsa-color(gray, light);
    }
    
    &.is-danger {
      i {
        color: rsa-color(red);
      }
    }
    
    &.is-high {
      i {
        color: rsa-color(orange);
      }
    }

    &.is-passive {
      i {
        color: rsa-color(gray);
      }
    }
  
    &.is-medium {
      i {
        color: rsa-color(amber);
      }
    }

    &.is-low {
      i {
        color: rsa-color(green);
      }
    }
  }
}
