.rsa-dark {
  .rsa-form-radio-group {
    .rsa-form-radio-group-label {
      color: rsa-color(gray, light);
    }
  }

  .rsa-form-radio {  
    &:hover:not(.is-disabled):not(.is-read-only) {
      .outer-wrapper {
        border-color: rsa-color(gray, lighter);
      }
    }
  
    .outer-wrapper {
      border: 1px solid rsa-color(gray);  
    }  
        
    &.is-disabled {  
      .rsa-form-label {
        color: rsa-color(gray);
      }  
  
      .outer-wrapper {
        color: rsa-color(gray);
      }
    }
  
    &.is-disabled.is-selected {
      .inner-wrapper {
        background-color: rsa-color(gray);
      }
    }
  
    &.is-read-only {  
      .outer-wrapper {
        color: rsa-color(gray);
      }
    }
  
    &.is-read-only.is-selected {
      .inner-wrapper {
        background-color: rsa-color(gray);
      }
    }
  
    .rsa-form-label {
      color: rsa-color(gray, lighter);
    }
  }
}