/* Style placeholder */
@mixin rsa-input-placeholder($color) {
  &::-webkit-input-placeholder { 
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;  
  }

  &:-ms-input-placeholder {  
    color: $color;  
  }
}

.rsa-dark {
  .rsa-form-input, .rsa-form-textare {
    .rsa-form-label {
      color: rsa-color(gray, light);
    }
    
    input, textarea {
      @include rsa-input-placeholder(rsa-color(gray, light))
      color: rsa-color(gray, lightest);

      &:focus {
        border-color: rsa-color(blue);
      }      
    }

    input {
      border-bottom: 1px solid rsa-color(gray, light);
    }

    textarea {
      border: 1px solid rsa-color(gray, light);
      background: none;
    }


    &.is-read-only {
      input, textarea {
        border-color: rsa-color(gray);
        color: rsa-color(gray, lightest);
      }
    }

    &.is-disabled {
      input, textarea {
        @include rsa-input-placeholder(rsa-color(gray))
        color: rsa-color(gray);
        border-color: rsa-color(gray);
      }
    }

    &.is-error {
      span {
        color: rsa-color(gray, lightest);
      }
      
      input, textarea {
        @include rsa-input-placeholder(rsa-color(red, light))        
        color: rsa-color(gray, lightest);
        background-color: rsa-color(red, base, $rsa-nearly-transparent);
        border-color: rsa-color(status-warning);
      }
    }

    &.is-success {
      input, textarea {
        color: rsa-color(gray, lightest);
        border-color: rsa-color(status-success);      
      }
    }
  }

  /* http://stackoverflow.com/questions/29580704/change-input-background-to-transparent-on-autocomplete-form */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      -webkit-text-fill-color: rsa-color(gray, light) !important;
  }
}
