.rsa-dark {
  .rsa-form-button-wrapper {
    .rsa-form-button {
      color: rsa-color(gray, lighter);
    }
    
    &.with-dropdown, &.with-dropdown:hover {
      ul {
        border: 1px solid rsa-color(blue);
        background-color: rsa-color(gray, darkest);
  
        li {
          border-bottom: 1px solid rsa-color(gray, dark);        
  
          &:hover {
            background-color: rsa-color(blue, darker);
          }
        }
      }
    }
  
    &.is-standard:not(.is-disabled):not(.is-icon-only) {
      .rsa-form-button {
        border-color: rsa-color(gray, light);
      }
  
      ul {
        border: 1px solid rsa-color(gray, lightest);
  
        li {
          &:hover {
            background-color: rsa-color(blue, darker);
            color: rsa-color(gray, lightest);
          }
        }
      }
  
      &:not(.is-split) {
        &:hover, &.not-collapsed {
          .rsa-form-button {
            border-color: rsa-color(gray, lightest);
          }
        }
  
        &:active {
          background-color: rsa-color(gray, darkest, $rsa-nearly-transparent);
        }
      }
    }
    
    &.is-disabled {
      .rsa-form-button {
        color: rsa-color(gray);
      }
    }
  
    &.is-disabled:not(.is-icon-only) {
      .rsa-form-button {
        border-color: rsa-color(gray);
      }
    }
  
    &.is-icon-only {
      &.is-standard {
        .rsa-form-button {
          color: rsa-color(gray, lighter);
        }
  
        &:hover, &.not-collapsed {
          .rsa-form-button {
            color: rsa-color(gray, lightest);
          }
        }
  
        &.not-collapsed {
          .rsa-form-button {
            color: rsa-color(gray, lightest);
            background-color: rsa-color(gray, darkest, $rsa-nearly-transparent);
          }
        }
  
        ul {
          border-color: rsa-color(gray, lighter);
  
          li {
            &:hover {
              background-color: rsa-color(blue, darker);
            }
          }
        }
  
      }
    
      &.is-disabled {
        .rsa-form-button {
          color: rsa-color(gray);        
        }
  
        &:hover, &.not-collapsed {
          .rsa-form-button {
            color: rsa-color(gray);        
          }
        }
      }
    
      &:active:not(.is-disabled) {
        background-color: rsa-color(gray, darkest, $rsa-nearly-transparent);
      }
    }
  
    &.is-split {
      .expand {
        border: 1px solid rsa-color(gray, light);
      }
    
      &.is-standard:not(.is-disabled):not(.is-icon-only) {
        &:hover, &.not-collapsed {
          .rsa-form-button, .expand {
            border-color: rsa-color(gray, lightest);
            color: rsa-color(gray, lightest);
          }
        }
  
        &:active {
          .rsa-form-button, .expand {
            border-color: rsa-color(gray, lightest);
            background-color: rsa-color(gray, darkest, $rsa-nearly-transparent);
          }
        }
      }
    
      &.is-disabled:not(.is-icon-only) {
        .expand {
          border-color: rsa-color(gray);
          background-color: none;
          color: rsa-color(gray);
        }
      }
    }
  }
}