{{#rsa-content-section-header label='Section Heading'}}
  {{source}} Preferences
  <div class="controls">
    {{#rsa-form-button isIconOnly=true defaultAction=(action 'closePreferencesPanel')}}
      {{rsa-icon name="close" size="small"}}
    {{/rsa-form-button}}
  </div>
{{/rsa-content-section-header}}
