@charset "UTF-8";

/* pulling in component-lib from inside respond */
@import 'component-lib/manifest';

/* putting the engines styles */
@import "investigate-files/manifest";


// Beautification of dummy app splash page for Engine dummy app -- purely cosmetic with no effect on application code
body.investigate-files-engine-dummy {
  color: text-color(primary, light);

  .rsa-logo {
    .rsa-logo__title {
      color: text-color(accentTwo);
      text-align: center;
      font-size: 25px;
    }
  }

  a:-webkit-any-link {
    text-decoration: none;
  }
}

.investigate-files-engine {
  .background-icon {
    font-size: 15rem;
    color: text-color(accentOne, dark);
  }
}
