<span class="rsa-form-label">
  {{label}}
</span>

{{rsa-icon name="calendar-2" style='lined' class='datetime-picker-icon'}}

{{ember-flatpickr
  enableTime=true
  onChange=onChange
  onClose=(action 'forceChangeOnClose')
  placeholder=placeholder
  disabled=isDisabled
  allowInput=true
  enableSeconds=enableSeconds
  dateFormat=convertedFullFormat
  minuteIncrement=1
  locale=locale
  time_24hr=time24HR
  defaultHour=defaultHour
  defaultMinute=defaultMinute
  value=value
}}

{{#if errorMessage}}
  <div class="input-error">
    {{errorMessage}}
  </div>
{{/if}}
