{{#if asTimeAgo}}
  <span class="time-ago">
    ({{moment-from-now timestamp locale=i18n.locale timeZone=timezone.selected}})  
  </span>    
{{else}}
  <span class="datetime">
    {{moment-format timestamp outputFormat locale=i18n.locale timeZone=timezone.selected}}
  </span>
  
  {{#if withTimeAgo}}
    <span class="time-ago">
      ({{moment-from-now timestamp locale=i18n.locale timeZone=timezone.selected}})  
    </span>    
  {{/if}}
{{/if}}
