{{#if isInline}}
  <div class="score">
    {{score}}
  </div>
  <div class="progress-bar"></div>
{{else}}
  <svg viewBox="-50 -50 100 100">
    <circle r="49" />
  </svg>

  <div class="details">
    <div class="score">
      {{score}}
    </div>

    {{#unless isSmall}}
      {{#if label}}
        <div class="label">
          {{label}}
        </div>
      {{/if}}
    {{/unless}}
  </div>
{{/if}}
