<span class="rsa-form-label">
  {{label}}
</span>

{{input
  type=type
  value=value
  placeholder=placeholder
  disabled=resolvedDisabled}}

{{#if (and isError errorMessage)}}
  <div class="input-error">
    {{errorMessage}}
  </div>
{{/if}}
