{{#rsa-grid}}
  {{#rsa-grid-row collapseHeight=true}}
    {{#rsa-grid-column span=12}}
      {{spec-masthead model=model}}
    {{/rsa-grid-column}}
  {{/rsa-grid-row}}

  {{#rsa-grid-row}}
    {{#rsa-grid-column span=12 isScrollable=true}}
      {{#spec-category title="Grid Demo"}}
        {{#spec-member}}
          
          {{#rsa-grid class="sg-demo-grid"}}
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=12}}
                12
              {{/rsa-grid-column}}
            {{/rsa-grid-row}}
      
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=11}}
                11
              {{/rsa-grid-column}}
            
              {{#rsa-grid-column span=1}}
                1
              {{/rsa-grid-column}}  
            {{/rsa-grid-row}}
            
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=10}}
                10
              {{/rsa-grid-column}}
            
              {{#rsa-grid-column span=2}}
                2
              {{/rsa-grid-column}}  
            {{/rsa-grid-row}}
            
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=9}}
                9
              {{/rsa-grid-column}}
            
              {{#rsa-grid-column span=3}}
                3
              {{/rsa-grid-column}}  
            {{/rsa-grid-row}}
      
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=8}}
                8
              {{/rsa-grid-column}}
            
              {{#rsa-grid-column span=4}}
                4
              {{/rsa-grid-column}}  
            {{/rsa-grid-row}}
      
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=7}}
                7
              {{/rsa-grid-column}}
            
              {{#rsa-grid-column span=5}}
                5
              {{/rsa-grid-column}}  
            {{/rsa-grid-row}}
      
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=6}}
                6
              {{/rsa-grid-column}}
            
              {{#rsa-grid-column span=6}}
                6
              {{/rsa-grid-column}}  
            {{/rsa-grid-row}}
      
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=5}}
                5
              {{/rsa-grid-column}}
            
              {{#rsa-grid-column span=7}}
                7
              {{/rsa-grid-column}}  
            {{/rsa-grid-row}}
      
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=4}}
                4
              {{/rsa-grid-column}}
            
              {{#rsa-grid-column span=8}}
                8
              {{/rsa-grid-column}}  
            {{/rsa-grid-row}}
      
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=3}}
                3
              {{/rsa-grid-column}}
            
              {{#rsa-grid-column span=9}}
                9
              {{/rsa-grid-column}}  
            {{/rsa-grid-row}}
      
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=2}}
                2
              {{/rsa-grid-column}}
            
              {{#rsa-grid-column span=10}}
                10
              {{/rsa-grid-column}}  
            {{/rsa-grid-row}}
      
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=11}}
                11
              {{/rsa-grid-column}}
            
              {{#rsa-grid-column span=1}}
                1
              {{/rsa-grid-column}}  
            {{/rsa-grid-row}}
            
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=12}}
                12
              {{/rsa-grid-column}}
            {{/rsa-grid-row}}
      
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=4}}
                4
              {{/rsa-grid-column}}
              {{#rsa-grid-column span=4}}
                4
              {{/rsa-grid-column}}
              {{#rsa-grid-column span=4}}
                4
              {{/rsa-grid-column}}
            {{/rsa-grid-row}}
            
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=3}}
                3
              {{/rsa-grid-column}}
              {{#rsa-grid-column span=3}}
                3
              {{/rsa-grid-column}}
              {{#rsa-grid-column span=3}}
                3
              {{/rsa-grid-column}}
              {{#rsa-grid-column span=3}}
                3
              {{/rsa-grid-column}}
            {{/rsa-grid-row}}
      
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=1}}
                1
              {{/rsa-grid-column}}
              {{#rsa-grid-column span=4}}
                4
              {{/rsa-grid-column}}
              {{#rsa-grid-column span=3}}
                3
              {{/rsa-grid-column}}
              {{#rsa-grid-column span=4}}
                4
              {{/rsa-grid-column}}
            {{/rsa-grid-row}}
          {{/rsa-grid}}          
        {{/spec-member}}
        
      {{/spec-category}}
        
      {{#spec-category title="Grid Components"    
        subtitle="Manage grids in templates"}}
        {{#spec-member title="Basic Grid"}}          
          {{#rsa-grid class="sg-demo-grid"}}
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=3}}
                3
              {{/rsa-grid-column}}
              
              {{#rsa-grid-column span=9}}
                9
              {{/rsa-grid-column}}
            {{/rsa-grid-row}}
          {{/rsa-grid}}
          
          <code>
            <div>
              &#123;{#rsa-grid class="sg-demo-grid"}}              
              <div>
                &#123;{#rsa-grid-row}}
                <div>
                  &#123;{#rsa-grid-column span=3}}
                    3
                  &#123;{/rsa-grid-column}}
                </div>
                
                <div>
                  &#123;{#rsa-grid-column span=9}}
                    9
                  &#123;{/rsa-grid-column}}
                </div>
                &#123;{/rsa-grid-row}}
              </div>
              &#123;{/rsa-grid}}
            </div>       
          </code>      
        {{/spec-member}}
        
        {{#spec-member title="Nested Grids"}}          
          {{#rsa-grid class="sg-demo-grid"}}
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=12}}
                12
              {{/rsa-grid-column}}
            {{/rsa-grid-row}}
            
            {{#rsa-grid-row}}
              {{#rsa-grid-column span=6}}
                6
              {{/rsa-grid-column}}
              
              {{#rsa-grid-column span=6}}
                {{#rsa-grid}}
                  {{#rsa-grid-row}}
                    {{#rsa-grid-column span=12}}
                      Nested 12
                    {{/rsa-grid-column}}
                  {{/rsa-grid-row}}

                  {{#rsa-grid-row}}
                    {{#rsa-grid-column span=6}}
                      Nested 6
                    {{/rsa-grid-column}}
                    {{#rsa-grid-column span=6}}
                      Nested 6
                    {{/rsa-grid-column}}
                  {{/rsa-grid-row}}
                {{/rsa-grid}}          
              {{/rsa-grid-column}}
            {{/rsa-grid-row}}
          {{/rsa-grid}}
          
          <code>
            <div>
              &#123;{#rsa-grid class="sg-demo-grid"}}
              <div>
                &#123;{#rsa-grid-row}}
                <div>
                  &#123;{#rsa-grid-column span=12}}
                    12
                  &#123;{/rsa-grid-column}}
                </div>
                &#123;{/rsa-grid-row}}
              </div>
              
              <div>
                &#123;{#rsa-grid-row}}
                <div>
                  &#123;{#rsa-grid-column span=6}}
                    6
                  &#123;{/rsa-grid-column}}
                </div>
                
                <div>
                  &#123;{#rsa-grid-column span=6}}
                  <div>
                    &#123;{#rsa-grid}}
                    <div>
                      &#123;{#rsa-grid-row}}
                      <div>
                        &#123;{#rsa-grid-column span=12}}
                          Nested 12
                        &#123;{/rsa-grid-column}}
                      </div>
                      &#123;{/rsa-grid-row}}
                    </div>
            
                    <div>
                      &#123;{#rsa-grid-row}}
                      <div>
                        &#123;{#rsa-grid-column span=6}}
                          Nested 6
                        &#123;{/rsa-grid-column}}
                      </div>
                      <div>
                        &#123;{#rsa-grid-column span=6}}
                          Nested 6
                        &#123;{/rsa-grid-column}}
                      </div>
                      &#123;{/rsa-grid-row}}
                    </div>
                    &#123;{/rsa-grid}}
                  </div>        
                  &#123;{/rsa-grid-column}}
                </div>
                &#123;{/rsa-grid-row}}
              </div>
              &#123;{/rsa-grid}}
            </div>       
          </code>      
        {{/spec-member}}        
      {{/spec-category}}
      
      {{#spec-category 
        title="Semantic Grids"
        subtitle="Manage grids in scss"}}
        {{#spec-member 
          title="Grid"}}          
          
          <code>
            @extend .rsa-grid;
          </code>      
        {{/spec-member}}

        {{#spec-member 
          title="Rows"}}          
          
          <code>
            @extend .rsa-grid-row;
          </code>      
        {{/spec-member}}
        
        {{#spec-member 
          title="Columns"}}          
          
          <code>
            @extend .rsa-grid-column-span-6;
          </code>      
  
          <code>
            @extend .rsa-grid-column-span-12;
          </code>      
  
          <code>
            @extend .rsa-grid-column-span-3;
          </code>      
        {{/spec-member}}
      {{/spec-category}}
    {{/rsa-grid-column}}
  {{/rsa-grid-row}}
{{/rsa-grid}}