.rsa-investigate-query-container {
  &__profile-selector {
    margin-right: rsa-whitespace(less);
  }
}
  
.profile-selector-panel {
  max-height: 20rem;
  overflow: auto;
  .rsa-dropdown-action-list li.selected{
    background: background-color(secondary, dark);
  }
}
