<vbox class="rsa-application-layout-panel-content" xs="12" fit>
  {{#each selectedEdrPolicy as |section|}}
    <div class="heading">{{t section.header}}</div>
    {{#each section.props as |prop|}}
      <hbox fit class="col-xs-12">
        <hbox class="title col-xs-6 col-md-5">{{t prop.name}}</hbox>          
        <hbox class="value col-xs-6 col-md-7">{{prop.value}}</hbox>
      </hbox>
    {{/each}}
  {{/each}}
</vbox>
