.rsa-respond-list {
  color: rsa-color(white);

  &__grid {

    .rsa-grid-row {
      border-bottom: 1px solid rsa-color(black);
    }

    .rsa-grid-column {
      background-color: transparent;
      padding: rsa-whitespace(less);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__header {
      @include rsa-font(header, small);
    }

    &__row {
      @include rsa-font(body, small);
      @include rsa-font(light);

      .incident-id {
        @include rsa-font(bold);
      }
    }
  }
}
