{{#rsa-content-accordion isCollapsed=false label=(t 'investigateShared.endpoint.fileDetailsPanel.statusHistory' count=data.length) class="file-details-panel__accordian__item"}}
  {{endpoint/file-details-panel/status-history data=data}}
{{/rsa-content-accordion}}
{{#rsa-content-accordion isCollapsed=true label=(t 'investigateShared.endpoint.fileDetailsPanel.properties') class="file-details-panel__accordian__item"}}
  <hbox>
    <h1> properties </h1>
  </hbox>
{{/rsa-content-accordion}}