{{#power-select
  class='rsa-investigate-query-bar__service'
  matchTriggerWidth=false
  onchange=(action 'updateService')
  options=services
  placeholder='Select a Service'
  searchEnabled=false
  selected=selectedService
  tagName='div' as |option|}}
  {{option.displayName}}
{{/power-select}}

{{#power-select
  class='rsa-investigate-query-bar__time-range'
  matchTriggerWidth=false
  onchange=(action 'updateRange')
  options=timeRanges
  placeholder='Select a Time Range'
  searchEnabled=false
  selected=selectedTimeRange
  tagName='div' as |option|}}
  {{option.name}}
{{/power-select}}

{{query-input
  class="rsa-investigate-query-bar__query-input"
  queryString=queryString
}}

{{#rsa-form-button
  class="rsa-investigate-query-bar__submit"
  click=(action "submit")
  isDisabled=submitDisabled
  style="primary"}}
  <span class="js-test-investigate-query-bar__submit">Query Events</span>
{{/rsa-form-button}}
