<header>
  <h3 class="title">{{title}}</h3>

  {{#if subtitle}}
    <p class="subtitle">{{subtitle}}</p>
  {{/if}}

  {{#if description}}
    <p class="description">{{description}}</p>
  {{/if}}
</header>

<section class="members">
  {{yield}}
</section>
