{{#if count}}
  {{#if isAtThreshold}}
    <span class='rsa-investigate-event-counter' title={{t 'investigate.events.isAtThreshold'}}>
      {{count}}
      <span class="rsa-investigate-event-counter__plus">+</span>
    </span>
  {{else}}
    <span class='rsa-investigate-event-counter'>
      {{count}}
    </span>
  {{/if}}
{{/if}}
