.usm-beacons {

  .beacon-interval-value {
    max-width: 75px;
  }

  .beacon-interval-unit {
    margin-top: .67rem; /* it works - why asky why? don't question CSS black magic! */
    margin-left: rsa-whitespace();
  }
  
}
