.events-list{
  .event-item{
    border-top: solid 1px #eee;
    padding: 10px 0;
  }

  .event-description{
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
  }
  .event-icon{
    float: left;
    font-size: 18pt;
    margin-right: 10px;
    width: 40px;
    background: rgb(104, 163, 213);
    color: white;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
  }

  .event-time{
    color: #999;
    margin-left: 35px;
  }
}