{{#if parsedPackets}}
  <div class="scroll-box">
    {{#each parsedPackets as |packet index|}}
      {{recon-event-detail/single-text
        index=index
        isLog=isLog
        packet=packet
      }}
    {{/each}}
  </div>
  {{recon-pager
    eventIndex=eventIndex
    eventTotal=eventTotal
    packetCount=packetCount
    packetTotal=packetTotal
  }}
{{else}}
  <p class="no-text">Error: No text data was generated during content reconstruction. This could mean that the event data was corrupt or invalid. Check the other reconstruction views.</p>
{{/if}}
