/*
Designed to be used on hover. Applies a transition to background, an outline, and a cursor.
*/
@mixin tile-hover() {
  @include rsa-vendor-prefix(transition, background-color 1s);
  cursor: pointer;
  background-color: rsa-color(black, null, $rsa-translucent);
  outline: 1px solid rsa-color(gray, base);
}
