$metadataLabelWidth: 8rem;
$metadataLineHeight: 1.35;

.metadata {
  @include rsa-font(body, small);
  line-height: $metadataLineHeight;
  display: table-row;

  > label {
    @include rsa-font(header, small);
    color: text-color(primary, lighter);
    display: table-cell;
    vertical-align: middle;
    max-width: $metadataLabelWidth - rsa-whitespace(less) * 2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: rsa-whitespace();

    + div {
      @include rsa-font(body, small);
    }
  }

  > span {
    @include rsa-font(body, small);
    display: table-cell;
    min-height: 1em * $metadataLineHeight;
    color: text-color(primary, lightest);
    width: 100%;
  }

  > .edit-button {
    display: inline-block;
    width: auto;
    min-height: 30px;
    padding-left: rsa-whitespace(less);

    .ember-power-select-trigger {
      width: auto;
      padding: 0;
      border: none;

      .rsa-form-button-wrapper {

        .rsa-form-button {
          font-size: 11px;
          padding: rsa-whitespace(least) rsa-whitespace(more) rsa-whitespace(least) rsa-whitespace(least);
          min-width: 120px;
          position: relative;
          text-align: left;

          i {
            position: absolute;
            top: rsa-whitespace(least);
            right: 10px;
            font-size: 80%;
          }
        }
      }
    }

    .ember-power-select-trigger[aria-disabled="true"] {
      background-color: transparent;
      // set the disabled button trigger to a gray to indicate disabled state
      .rsa-form-button {
        color: text-color(primary, base, nearly-opaque);
        border-color: border-color(primary, base, nearly-opaque);
      }
    }
  }
}
