<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d [%thread] %-5level %logger{36}.%M\(%line\) - %msg%n%xEx{full}</Pattern>
		</encoder>
	</appender>

	<appender name="LogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logFile.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>logFile.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		
		<encoder>
			<Pattern>%d [%thread] %-5level %logger{36}.%M\(%line\) - %msg%n%xEx{full}</Pattern>
		</encoder>
	</appender>
	
	<appender name="IpConflictFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>ipConflicts.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>ipConflicts.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		
		<encoder>
			<Pattern>%date{ISO8601}: %m %n</Pattern>
		</encoder>
	</appender>
	
	<appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>ERROR</level>
    	</filter>
	
		<syslogHost>localhost</syslogHost>
		<facility>USER</facility>
		<suffixPattern>fortscale-collection: %d [%thread] %-5level %logger{36} - %msg%n%xEx{full}</suffixPattern>
	</appender>

	<root level="info">
        <appender-ref ref="STDOUT" />
		<appender-ref ref="SYSLOG" />
		<appender-ref ref="LogFile" />

	</root>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.quartz" additivity="false" level="warn" >
		<appender-ref ref="SYSLOG" />
		<appender-ref ref="LogFile" />
	</logger>

    <logger name="org.apache.hive.jdbc" additivity="false" level="warn" >
        <appender-ref ref="SYSLOG" />
        <appender-ref ref="LogFile" />
    </logger>
	
	<logger name="org.springframework.core" additivity="false" level="warn">
		<appender-ref ref="SYSLOG" />
		<appender-ref ref="LogFile" />
	</logger>
	
	<logger name="org.springframework.data" additivity="false" level="warn">
		<appender-ref ref="SYSLOG" />
		<appender-ref ref="LogFile" />
	</logger>
	
	<logger name="org.springframework.beans" additivity="false" level="warn">
		<appender-ref ref="SYSLOG" />
		<appender-ref ref="LogFile" />
	</logger>
	
	<logger name="org.springframework.context" additivity="false" level="warn">
		<appender-ref ref="SYSLOG" />
		<appender-ref ref="LogFile" />
	</logger>

	<logger name="org.springframework.web" additivity="false" level="warn">
		<appender-ref ref="SYSLOG" />
		<appender-ref ref="LogFile" />
	</logger>

	<logger name="org.apache.hadoop" additivity="false" level="error">
		<appender-ref ref="SYSLOG" />
		<appender-ref ref="LogFile" />
	</logger>
	<logger name="org.apache.pig.backend.hadoop23" additivity="false" level="error">
		<appender-ref ref="SYSLOG" />
		<appender-ref ref="LogFile" />
	</logger>
    <logger name="org.hibernate" additivity="false" level="warn">
        <appender-ref ref="LogFile" />
		<appender-ref ref="SYSLOG" />
    </logger>
    <logger name="com.cloudera.cdk.morphline" additivity="false" level="info">
        <appender-ref ref="SYSLOG" />
		<appender-ref ref="LogFile" />
	</logger>
	
	<!-- logger for ip conflict messages -->
	<logger name="fortscale.services.ipresolving.IpToHostnameResolver" additivity="false" level="debug">
		<appender-ref ref="IpConflictFile" />
	</logger>
	
</configuration>
