{{#if hasRenderIds}}
  {{#if hasSelectedFiles}}
    <div class="attachment-download-warning">
      {{rsa-content-warn-text-box isAlert=true value=(t 'recon.fileView.downloadWarning')}}
    </div>
  {{/if}}
  <div class="email-scroll-box">
    {{#each renderedEmails as |email index|}}
      {{recon-event-detail/single-email emailIndex=(add index 1) emailCount=renderedEmails.length email=email}}
      <hr class="email-separator">
    {{/each}}
  </div>
{{else}}
  {{#if hasNoEmailContent}}
    {{rsa-panel-message message=(t 'recon.emailView.noEmailData')}}
  {{/if}}
{{/if}}
