.user-devices-tooltip-main {
    display: flex;
    //flex-flow: column nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

   // padding: 20px 18px;
    .device-row{
        display: flex;
        //flex-flow: column nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 10px;

        .system-icon {
            width: 28px;
            margin: 0 10px;
            flex-shrink: 0;

            svg {
                fill: #016a9c;
            }
        }
    }

}

.style-user-tooltip {
    &.opentip-container {
        max-width: 1000px;
    }
}
