.rsa-preferences {
  &-field-content {
    margin: rsa-whitespace();

    .rsa-form-radio-group-label {
      margin-bottom: rsa-whitespace();
    }

  }
  &-loader-position{
    margin-top: 50%;
  }
  &-divider{
    background-color: background-color(primary, darkest);
    height: rsa-whitespace(least);
  }
}
