.rsa-preferences {
  &-field-content {
    margin: rsa-whitespace();
  }
  &-loader-position{
    margin-top: 50%;
  }
  &-divider{
    background-color: background-color(primary, darkest);
    height: rsa-whitespace(least);
  }
}
