{{#if (and fileIndex fileTotal)}}
  <div class="file-info lighter right">
    {{t 'investigateHosts.downloads.footer' label='files' count=fileIndex total=fileTotal selectedItems=selectedFileCount}}
  </div>
{{/if}}

