.rsa-incident-tile {
  position:relative;
  color: rsa-color(white);

  .rsa-grid-column,
  .rsa-grid-row{
    border: 0;
  }

  .rsa-incident-tile-header {
    background-color: rsa-color(black, null, $rsa-nearly-opaque);

    .rsa-incident-tile-header-badge {
      padding: 0px;
      margin: 0px;
    }

    .rsa-incident-tile-header-info {
      padding: rsa-whitespace(less) rsa-whitespace(less) rsa-whitespace(least) rsa-whitespace(less);

      .rsa-incident-tile-id {
        @include rsa-font(header, large);
        @include rsa-font(bold);

      }

      .rsa-incident-tile-favorite {
        position: absolute;
        right: rsa-whitespace(less);
      }

      .rsa-incident-tile-created-by {
        @include rsa-font();
        @include rsa-font(light);
        padding: rsa-whitespace(least) rsa-whitespace(least) 0 0;
        line-height: 120%;
        display: block;
        display: -webkit-box;
        max-width: 100%;
        height: 33px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .rsa-incident-tile-status {
      .rsa-incident-tile-status-title {
        @include rsa-font(navigation, small);
        color: rsa-color(white);
        font-size: .7rem;
        font-weight: 700;
      }
    }
  }

  .rsa-incident-tile-section {

    .rsa-incident-tile-source-col, .rsa-incident-tile-alert-col {
      padding-bottom: 0;
    }

    .rsa-content-definition {
      margin-right: rsa-whitespace(base);

      .title {
        color: rsa-color(white);
        @include rsa-font(navigation, small);
        font-size: .7rem;
        font-weight: 700;
        margin-bottom: rsa-whitespace(less);
      }

      label {
        @include rsa-font(header, larger);
        line-height:1.9rem;
      }

      .rsa-incident-tile-source {
        @include rsa-font(header, small);

        display: inline-flex;
        color: rsa-color(white);
        border: solid thin rsa-color(white);
        border-radius: rsa-whitespace(least);
        margin: rsa-whitespace(least) rsa-whitespace(least) 0 0;
        box-sizing: border-box;
        letter-spacing: 1px;
        padding: 0.35rem;
      }
    }

    .rsa-incident-tile-created-col {
      padding: rsa-whitespace(base);
      white-space: nowrap;
      .rsa-incident-tile-created-date {
        @include rsa-font(header, small);
        color: rsa-color(gray);
        letter-spacing: 0.1rem;
      }
    }
  }

  .rsa-form-select {
    .rsa-form-label {
      @include rsa-font(header, small);
      color: rsa-color(white);
    }
  }

  .rsa-edit-tool {
    background-color: rsa-color(black, null, $rsa-nearly-transparent);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: visibility 0s, opacity 0.2s linear;

    visibility: hidden;
    opacity: 0;
  }

  &:hover {
    &:not(.small-size) {
      .rsa-edit-tool {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &.edit-mode-active {
    .rsa-edit-tool {
      visibility: visible;
      opacity: 1;
    }
  }

  &.small-size {

    .rsa-incident-tile-header {
      .rsa-incident-tile-header-badge {
        .rsa-content-badge-score {
          .score {
            top: 1.2rem;
            font-size: 1.5rem;
          }
        }
      }
      .rsa-incident-tile-header-info {
        .rsa-incident-tile-created-by {
          @include rsa-font(body, small);
        }
      }
    }

    .rsa-incident-tile-section {
      .rsa-content-definition {
        label {
          @include rsa-font(header, larger);
        }
      }
    }
  }
}
