<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category}}
      {{#spec-member title="Without Title and Version"}}
        <code>
          &#123;{rsa-application-footer}}
        </code>
      {{/spec-member}}

      {{#spec-member title="With Title and Version"}}
        <code>
          &#123;{rsa-application-footer title="Style Guide" version="1.0"}}
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
