$card-radius: 10px;
$content-card-color: #bdbdbd;
.packager-container {
  width: 100vw;
  height: 100vh;
  padding: rsa-whitespace();
  &__body {
    height: 100%;
  }
  .export-files-iframe {
    height: 0;
    display: none;
  }
  overflow-x: auto;
  overflow-y: auto;
}
// Temp solution to integrate packager into SA
.iframed-into-classic {
  .rsa-application-header, .rsa-context-tree-table {
    display: none;
  }
  .rsa-application-content {
    height: 100vh;
  }
}
