.input-content {
  padding: 0 rsa-whitespace();
  &__description {
    padding: rsa-whitespace();
  }
  &__fields {
    .field {
      padding: rsa-whitespace();
      .ember-text-area {
        min-height: 6rem;
      }
    }
    .buttons {
      div {
        padding-right: rsa-whitespace();
      }
    }
  }
  .server-input-group {
    div:first-child {
      padding-right: rsa-whitespace();
    }
  }

  .windows-log-collection {
    .rsa-content-accordion {
      h3 {
        color: text-color(secondary);
      }
    }
  }
}



