.input-content {
  padding: 0 rsa-whitespace();
  &__description {
    padding: rsa-whitespace();
  }
  &__fields {
    .field {
      padding: rsa-whitespace();
      .ember-text-area {
        min-height: 6rem;
      }
    }
    .buttons {
      div {
        padding-right: rsa-whitespace();
      }
    }
  }
  .server-input-group {
    div:first-child {
      padding-right: rsa-whitespace();
    }
  }
  .windows-log-collection {
    .rsa-content-accordion {
      h3 {
        color: text-color(secondary);
      }
    }
    .fileContainer {
      margin-top: 1.3rem;
      [type=file] {
        display: none;
      }
    }
    .custom-file-upload {
      display: inline-block;
      cursor: pointer;
      padding: rsa-whitespace(less) rsa-whitespace();
      border: 1px solid #FFFFFF;
      color: #FFFFFF;
      white-space: nowrap;
    }
    .icon-align-left {
      text-align: left;
    }

    .channel-select {
      margin-top: .7rem;
      div {
        border-bottom: 1px solid text-color(primary, dark);
      }
    }

    .channel-number {
      margin-top: 1.2rem;
      margin-left: .5rem;
    }

    .event-id {
      font-size: 1rem;
    }

    .ember-power-select-trigger {
      overflow: hidden;
    }

    .event-id input {
      border-bottom: 1px solid text-color(primary, dark);
    }
    .ember-power-select-status-icon{
      height: 100%;
      overflow: hidden;
    }
    .load-error-message {
      position: fixed;
      top: 5%;
      left: 50%;
      width: 100vw;
      margin-left: -50vw;
    }
    .channel-container {
     border: 1px solid text-color(primary, light);
       .rsa-data-table-body {
         overflow: hidden;
       }
    }
  }
}

.device {
  padding-right: rsa-whitespace(more);
}
