.rsa-content-accordion {
  margin-left: calc(#{rsa-whitespace()} * -1);
  margin-right: calc(#{rsa-whitespace()} * -1);

  &:first-of-type {
    margin-top: calc(#{rsa-whitespace()} * -1);
  }

  &:last-of-type {
    margin-bottom: calc(#{rsa-whitespace()} * -1);
  }

  h3 {
    @include rsa-font(header)
    padding: rsa-whitespace(less);

    &:hover {
      cursor: pointer;
    }
  }

  .content {
    padding: rsa-whitespace(less);
    padding-bottom: rsa-whitespace();
  }

  &.is-collapsed {
    .content {
      display: none;
    }
  }
}
