.rsa-content-badge-icon {
  display: inline-block;
  text-align: center;
  margin-right: rsa-whitespace(more);
  vertical-align: top;

  i {
    margin-bottom: rsa-whitespace(least);
  }

  h5 {
    margin-top: rsa-whitespace(least);
    @include rsa-font(header, small);
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 3rem;
    max-width: 7.5rem;
  }  
}