/* Style placeholder */
@mixin rsa-input-placeholder($color) {
  &::-webkit-input-placeholder { 
    color: $color;
    line-height: 1.45rem;
  }

  &::-moz-placeholder {
    color: $color;  
    line-height: 1.45rem;
  }

  &:-ms-input-placeholder {  
    color: $color;  
    line-height: 1.45rem;
  }
}

/* http://stackoverflow.com/questions/29580704/change-input-background-to-transparent-on-autocomplete-form */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999999s ease-in-out 0s;
}

.rsa-form-input, .rsa-form-textarea {
  display: block;
  box-sizing: border-box;
  position: relative;
  
  .rsa-form-label {
    @include rsa-font(navigation, small);
    display: block;    
    font-weight: 600;
    vertical-align: text-top;
  }

  input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: rsa-whitespace(less);
    @include rsa-font();

    &:focus {
      border-color: rsa-color(blue);
      outline: none;
    }
  }

  input {
    @include rsa-input-placeholder(rsa-color(gray));
    padding-bottom: rsa-whitespace(least);
    border-bottom: 1px solid rsa-color(gray, light);
  }

  textarea {
    border: 1px solid rsa-color(gray, light);
    background: none;
    outline: none;
    min-height: 10rem;
  }

  &.is-read-only {
    input, textarea {
      border-color: rsa-color(gray);
      cursor: default;
    }
  }

  &.is-disabled {
    input, textarea {
      @include rsa-input-placeholder(rsa-color(gray));
      color: rsa-color(gray);
      border-color: rsa-color(gray);
      cursor: default;        
    }
  }

  &.is-error {
    input, textarea {
      @include rsa-input-placeholder(rsa-color(red, light));
      background-color: rsa-color(red, base, $rsa-nearly-transparent);
      border-color: rsa-color(status-warning);
    }
    
    .error-icon {
      position: absolute;
      right: rsa-whitespace(less);
      top: 1.25rem;
      color: rsa-color(red);
    }
  }

  &.is-success {
    input, textarea {
      border-color: rsa-color(status-success);
    }
  }

  &.is-inline {
    padding-top: 1.5rem;
    overflow: hidden;

    .rsa-form-label {
      padding: rsa-whitespace() 0 0;
      float: left;
      vertical-align: baseline;
      width: calc(((100% / 12) * 3) - 2px);      
    }
    
    &.is-error {  
      .error-icon {
        top: 2rem;
      }
    }

    input, textarea {
      float: right;
      box-sizing: border-box;
      width: calc(((100% / 12) * 9) - 2px);
      display: inline-block;
    }
  }
  
}
