@-webkit-keyframes loadingRotate {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes loadingFadeOut {
  from {
    background-color: rsa-color(red, darker);
  }
  to {
    background-color: rsa-color(gray, darkest);
  }
}

body.rsa-application-loading {
  background-color: rsa-color(gray, darkest);
  -webkit-animation-name: loadingFadeOut;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
}

.rsa-application-loading {

  .rsa-loader{
    margin: 0 auto;
    display: block;
    position: relative;
    top: 40vh;

    .rsa-loader__wheel{
      border-color: rsa-color(gray, dark);
      border-top-color: rsa-color(blue);
    }

    &.hide {
      display:none;
    }
  }
}
