.rsa-nav-link-list {
  h3 {
    margin-bottom: rsa-whitespace();
  }
  
  ul {
    list-style: none;
    margin-bottom: rsa-whitespace();

    li {
      a {
        display: block;
        padding: rsa-whitespace(less) rsa-whitespace();
        text-decoration: none;
      }
    }
  }
}