.text-view {
  word-break: break-all;
  padding: 15px;
  overflow: auto;
  height: calc(100vh - 305px);
  background-color: background-color(primary, darker);
  color: text-color(primary, light);
  border: 0px;
  font-size: 1rem;
}