.recon-event-detail-files {
  &.warning {
    .rsa-data-table {
      bottom: 6rem;
    }
    .download-warning {
      display: block;
    }
  }

  .recon-file-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .recon-file-link {
    color: text-color(secondary);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .recon-file-linkfile {
    overflow: hidden;
    white-space: normal;
  }

  .rsa-data-table {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2rem;
  }

  .rsa-form-checkbox {
    margin-top: .1rem
  }

  .rsa-data-table-header-cell {
    &:first-child {
      text-overflow: clip;
    }
  }

  .rsa-data-table-body-cell {
    &:first-child {
      text-overflow: clip;
    }
  }

  .download-warning {
    background-color: background-color(accentThree, dark);
    color: text-color(neutral);
    padding: rsa-whitespace();
    position: absolute;
    right: 0;
    left: 0;
    bottom: 2rem;
    display: none;
  }
}
