.recon-event-detail-files {
  padding: rsa-whitespace();

  .recon-file-hash {
    text-transform: uppercase;
  }

  .recon-file-link {
    color: rsa-color(blue);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .rsa-form-checkbox {
    margin-top: .1rem
  }
}
