{{#ueba-iframe-container ueba=ueba as |iframeUrl hasUEBAError iframeVisible iframeLoad|}}
  {{#if hasUEBAError}}
    <a href="https://www.rsa.com/en-us/products/threat-detection-response/ueba" target="_blank" >
      <img test-id="uebaUnavailable" class="ueba-unavailable" src="/assets/images/ueba-unavailable.png">
    </a>
  {{else}}
    {{#unless iframeVisible}}
      {{ueba-loader}}
    {{/unless}}
    {{ueba-iframe iframeUrl=iframeUrl iframeVisible=iframeVisible testId="uebaIframe" handleOnLoad=iframeLoad}}
  {{/if}}
{{/ueba-iframe-container}}
