<box class="springboard-widget__header" fit>
  <div class="springboard-widget__header-title">
    {{@title}}
  </div>
  <div class="springboard-widget__header-button">
    <RsaIcon class="springboard-widget__header-gear" @name="cog" {{on "click" this.onEditWidgetClick}}/>
    <RsaIcon class="springboard-widget__header-arrow" @title={{t "springboard.view.all"}} @name="arrow-right-12" {{on "click" this.onViewAllClick}}/>
  </div>
</box>