{{#rsa-content-tethered-panel-trigger panel='panel1'}}
  <label class="rsa-form-switch">
    {{#x-toggle
      disabled=isDisabled
      onLabel=(t 'recon.textView.compressToggleLabel')
      onToggle=(action 'decodeText')
      showLabels=true
      value=(readonly isCompressed) as |toggle|}}
      {{toggle.switch}}
      {{toggle.onLabel value=(readonly (not isCompressed))}}
    {{/x-toggle}}
  </label>
{{/rsa-content-tethered-panel-trigger}}

{{#rsa-content-tethered-panel
  displayCloseButton=false
  panelId='panel1'
  position='top' }}
  <p>{{t 'recon.textView.compressToggleTitle'}}</p>
{{/rsa-content-tethered-panel}}

