<div class="rsa-context-panel__liveconnect__heading">{{t 'context.lc.identity'}}</div>
<hbox class="rsa-context-panel__liveconnect__field">
  <vbox>
    {{rsa-content-definition label=(t 'context.lc.domain') value=liveConnectData.id}}
  </vbox>
  <vbox>
    {{rsa-content-definition label=(t 'context.lc.ipAddress') value=liveConnectData.ip}}
  </vbox>
</hbox>