<h1>Buttons</h1>

<button class="button">Default Button</button>

{{#show-code}}
{{#code-snippet lang="html"}}
<button class="button">Default Button</button>

<!-- Can use a button or an a tag -->
<a href class="button">Default Button</a>
{{/code-snippet}}

{{#code-snippet lang="javascript"}}
<!--
var nums = [0, 1, 2, 3];
for (var i = 0; i < nums.length; i++) {
    console.log(t[i]); // some comment
}
-->
{{/code-snippet}}
{{/show-code}}
