<vbox class='rsa-form-radio-group'>
  <h4 class='rsa-form-radio-group-label'>
    {{#rsa-text-with-tooltip value=tooltip
    style="standard"
    alwaysShow=true}}
      {{t radioButtonOption.label}}
    {{/rsa-text-with-tooltip}}
    <span {{action 'removeFromSelectedSettings' selectedSettingId}}>{{rsa-icon name="remove-circle-1" style="lined"}}</span>
  </h4>
  <vbox class="radio-buttons">
    {{#each radioButtonOption.items as |item|}}
      {{!--if (eq item.name radioButtonValue) 'checked'--}}
      {{#radio-button
        classNames='rsa-form-radio-wrapper'
        radioClass='radio-option'
        value=item.name
        groupValue=(readonly radioButtonValue)
        name=(concat 'radio-' selectedSettingId)
        changed=(action 'updatePolicyProperty' selectedSettingId item.name)
      }}
        <span>{{t item.label}}</span>
      {{/radio-button}}
    {{/each}}
  </vbox>
</vbox>
