<div>
  <span class="label">
    META KEY:
  </span>
  <span class="value">
    {{label}}
  </span>
</div>

<div>
  <span class="label">
    VALUE:
  </span>
  <span class="value">
    {{displayValue}}
  </span>
</div>
