.rsa-header {
  h3.entity-title {
    text-align: center;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: rsa-whitespace() 5rem;
    font-size: 1rem;
    position: relative;
    top: 1rem;
  }
}