<h4>{{model.title}}</h4>

{{#if model.subtitle}}
  <p>{{model.subtitle}}</p>
{{/if}}

{{#if model.description}}
  <p class="description">{{{model.description}}}</p>
{{/if}}

{{hbs-example
  title="Example"
  code=model.code.hbs
  dataType=spec.dataType
}}
