// Wrapper
.rar-container {
  padding: rsa-whitespace(more);
  height: 90vh;
  overflow-x: auto;
  .rsa-page-layout .right-zone {
    border: none;
  }
  sup {
    color: $red;
  }
  .endpoint-rar-header {
    @include border-bottom(1px, solid, primary, lightest, nearly-transparent);
    padding-bottom: rsa-whitespace(more);

    h1, .rar-container_description {
      @include rsa-font(body, large);
      line-height: 3rem;
      color: text-color(primary, light);
    }
    h1 {
      font-size: 2rem;
    }
    .back-to-services {
      margin-bottom: rsa-whitespace(more);
    }
  }
  .rar-configuration {
    margin-left: rsa-whitespace(less);
    h3 {
      color: text-color(secondary);
      font-weight: bold;
      text-transform: uppercase;
    }
    .rar-container_rar-installer_note {
      display: inline-block;
      margin: rsa-whitespace(less) 0;
      line-height: 1.2rem;
      color: text-color(primary, light);
      @include rsa-font(body, small);
    }
  }
  .download-rar-installer {
    height: 0px;
  }
  .rar-container_rar-installer_downloadInstaller button{
    width: 153px;
    margin: rsa-whitespace(more) 0; 
  }
  .rar-installer {
    margin-top: rsa-whitespace(more);
    .rar-installer_password-field {
      width: 350px;
    }
  }
  .rar-config {
    margin-top: 42px;
    .server-input-group {
      margin: rsa-whitespace(more) 0;
      .esh-name {
        width: 270px;
        margin-bottom: rsa-whitespace(more);
      }
      .endpoint-server {
        vertical-align: text-top;
        margin-bottom: rsa-whitespace(least);
        color: $formInputLabelColor;
        @include rsa-font(header, small);
        text-transform: uppercase;
      }
      .field {
        @include border(1px, solid, primary, lightest, nearly-transparent);
        padding: rsa-whitespace(more);
        margin-top: rsa-whitespace();
        width: 620px;
        position: relative;
        > div {
          display: inline-block;
          margin-left: rsa-whitespace(less);
        }
        .host-ip {
          width: 270px;
        }
        .host-port {
          width: 170px;
        }
        .beacon-interval-wrapper {
          position: relative;
          .beacon-label {
            position: absolute;
            width: 150px;
            left: 3px;
            top: -9px;
          }
        }
        .beacon-interval-value {
          width: 70px;
          display: inline-block;
        }
        .beacon-interval-unit {
          @include rsa-font(body, large);
          color: text-color(primary, light);
          width: 30px;
          display: inline-block;
          margin-left: rsa-whitespace(less);
        }
        .input-error {
          position: absolute;
          width: 600px;
          left: 26px;
          bottom: 6px;
          color: text-color(primary, light);
        }
      }
      .button-wrapper {
        margin: rsa-whitespace(more) 0;
        .is-primary {
          margin-right: rsa-whitespace();
        }
      }
    }
  }
}