user-activity-classification-exposure {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-flow: column nowrap;


    .classification-container {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        margin: 12% 5%;

        @media (max-height: 850px) {
            margin: 7% 5%;
        }


        .ratio {
            display: flex;
            flex-grow: 5;
            .non-classified-ratio {
                background-color: #2b98e4;
                flex-grow: 1;
            }

            .classified-ratio {
                background-color: #da4f49;
                flex-grow: 1;
            }
        }
        .text {
            display: flex;
            flex-grow: 1;

            .classified {
                flex-grow: 1;
                text-align: right;
            }
            .non-classified {
                flex-grow: 1;

            }

        }

    }

    .no-data-box{
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;

        color: #024d89;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
    }
}
