.rsa-dark {
  .rsa-byte-table {

    table {

      td {
        &:nth-of-type(4),
        &:nth-of-type(12) {
          &:before {
            background-color: rgba(255,255,255,.1);
          }
        }
        &:nth-of-type(8) {
          &:before {
            background-color: rgba(255,255,255,.2);
          }
        }


        &.header {
          background-color: $dark-packet-header-bg-color;
          color: #fff;

          &[data-is-hover=true] {
            &.packet-field-value {
              span {
                background-color: $dark-packet-field-hover-bg-color;
                color: #000;
              }
            }
          }
          &.packet-field-value {
            span {
              background-color: $dark-packet-field-bg-color;
            }
            &:not(.start):not(.end) {
              span {
                border-color: $dark-packet-field-border-color transparent;
              }
            }
            &.end:not(.start) {
              span {
                border-color: $dark-packet-field-border-color $dark-packet-field-border-color $dark-packet-field-border-color transparent;
              }
            }
            &.start:not(.end) {
              span {
                border-color: $dark-packet-field-border-color transparent $dark-packet-field-border-color $dark-packet-field-border-color;
              }
            }
            &.start.end {
              span {
                border-color: $dark-packet-field-border-color;
              }
            }
          }
        }

        &[data-is-selected=true] {
          background-color: #99ccff;
          color: #003366;
          text-shadow: 0 0 0 transparent;
        }
      }
    }

    &.hex {
      tr:hover {
        td:first-of-type {
          &:before {
            background-color: rgba(255,255,255,.2);
          }
        }
      }

    }
  }
}
