.rsa-packet {
  &__header {
    background-color: rsa-color(gray, dark, 0.5);
    color: $dark-fg-color;
    border-color: $dark-border-color-medium;

    h3 {
      color: #fff;
    }

    &:before {
      border: 1pt solid $dark-border-color-medium;
      background-color: $dark-bg-color;
    }
  }

  &__body {
    color: $dark-fg-hover-color;
    background-color: rsa-color(gray, dark, 0.5);
  }

  &__ascii {
    margin-left: rsa-whitespace();
  }

  &.request {
    background-color: rsa-color(gray, darkest, $rsa-nearly-transparent);
  }

  &.response {
    background-color: rsa-color(gray, darkest, $rsa-translucent);
  }
}
