<h2> {{t 'configure.logsParser.mapping'}} </h2>
<ul class='parserTable'>
  {{#each captures as |capture index|}}
    <li class='{{if (eq index 0) 'firstItem'}}'>
      {{#power-select
        placeholder="Make a selection"
        options=metaOptions
        selected=capture
        searchPlaceholder="Type to filter options"
        disabled=rule.outOfBox
        onchange=(action 'handleMetaChange' index) as |option|}}
        {{option.displayName}}
      {{/power-select}}
    </li>
  {{/each}}
</ul>