<vbox>
  <hbox class="control">
    {{rsa-form-input 
      class='group-name'
      tabIndex='1'
      label=(t 'adminUsm.group.name')
      placeholder=(t 'adminUsm.group.namePlaceholder')
      value=(readonly group.name)
      maxLength=256
      isError=nameValidator.showError
      errorMessage=(t nameValidator.errorMessage)
      focusOut=(action 'handleNameChange' value='target.value')
    }}
  </hbox>
  <vbox>
    <hbox class="control-with-error">
      {{rsa-form-textarea 
        class='group-description'
        tabIndex='2'
        label=(t 'adminUsm.group.description')
        placeholder=(t 'adminUsm.group.descPlaceholder')
        value=(readonly group.description)
        maxLength=8000
        isError=descriptionValidator.showError
        focusIn=(action 'handleDescriptionChange' value='target.value')
        focusOut=(action 'handleDescriptionChange' value='target.value')
      }}
    </hbox>
    <div class="control-input-error group-description-error">
      {{#if descriptionValidator.showError}}
        {{t descriptionValidator.errorMessage}}
      {{/if}}
    </div>
  </vbox>
</vbox>
