<vbox>
  <hbox class="control">
    {{rsa-form-input 
      class='group-name'
      tabIndex='1'
      label=(t 'adminUsm.groupWizard.name')
      placeholder=(t 'adminUsm.groupWizard.namePlaceholder')
      value=name
      maxLength=256
      isError=nameValidator.showError
      errorMessage=(t nameValidator.errorMessage)
      focusOut=(action 'handleNameChange' value='target.value')
    }}
  </hbox>
  <vbox>
    <hbox class="control-with-error">
      {{rsa-form-textarea 
        class='group-description'
        tabIndex='2'
        label=(t 'adminUsm.groupWizard.description')
        placeholder=(t 'adminUsm.groupWizard.descPlaceholder')
        value=description
        maxLength=8000
        isError=descriptionValidator.showError
        focusOut=(action 'handleDescriptionChange' value='target.value')
      }}
    </hbox>
    <div class="control-input-error group-description-error">
      {{#if descriptionValidator.showError}}
        {{t descriptionValidator.errorMessage}}
      {{/if}}
    </div>
  </vbox>
</vbox>
