<h2 id="title">SA 11</h2>


{{#link-to 'index'}}Dashboard{{/link-to}}

{{#link-to 'investigation'}}Investigation{{/link-to}}

{{#link-to 'incidents'}}Incident{{/link-to}}

<div id="sa-content" class="sa-content">
	{{outlet}}
</div>