$opacity-values: (

  opaque:               var(--opacity-opaque),
  nearly-opaque:        var(--opacity-nearly-opaque),
  somewhat-opaque:      var(--opacity-somewhat-opaque),
  translucent:          var(--opacity-translucent),
  nearly-transparent:   var(--opacity-nearly-transparent),
  almost-transparent:   var(--opacity-almost-transparent),
  transparent:          var(--opacity-transparent),

  shadeOne:             var(--opacity-shade-one),
  shadeTwo:             var(--opacity-shade-two),
  shadeThree:           var(--opacity-shade-three),
  shadeFour:            var(--opacity-shade-four),
  shadeFive:            var(--opacity-shade-five),
  shadeSix:             var(--opacity-shade-six),
  shadeSeven:           var(--opacity-shade-seven),
  shadeEight:           var(--opacity-shade-eight),
  shadeNine:            var(--opacity-shade-nine),
  shadeTen:             var(--opacity-shade-ten),
  shadeEleven:          var(--opacity-shade-eleven),
  shadeTwelve:          var(--opacity-shade-twelve),
  shadeThirteen:        var(--opacity-shade-thirteen),
  shadeFourteen:        var(--opacity-shade-fourteen),
  shadeFifteen:         var(--opacity-shade-fifteen),
  shadeSixteen:         var(--opacity-shade-sixteen)

);

@function opacity-value($opacity) {
  @return map-get($opacity-values, $opacity);
}
