.rsa-light {
  .hbs-preview {
    border-bottom: 1px solid rsa-color(gray, light);
    color: rsa-color(black);
  }
  
  .no-snippet .hbs-preview {
    border: 0;
  }
  
  .sg-demo-layer, .sg-demo-whitespace {
    color: rsa-color(white);
  }
  
  .sg-demo-opacity.overlay {
    color: rsa-color(black)!important;
  }
}
