.rsa-light {
  .hbs-example {
    border: 1px solid rsa-color(gray, light);
    border-radius: 3px;

    > header {
      color: rsa-color(gray, darker);
      font-weight: bold;
      font-size: 8.5pt;
      background-color: rsa-color(gray, lightest);
      border-bottom: 1px solid rsa-color(gray, light);
    }
    
    &.no-snippet {
      border: none;
    }
    
    .js-clipboard-trigger {
      text-indent: -1000px;

      .svg-clipboard {
        svg {
          path {
            fill: rsa-color(blue, dark);
          }
        }
      }
    }
  }
}

