.rsa-light {
  .spec-body-member {
    .spec-body-member-header {
      color: rsa-color(blue);
    }
    
    p {
      color: rsa-color(gray);

      code {
        color: rsa-color(black);
      }
    }
  }
}
