.rsa-light {
  .spec-masthead {
    background: rsa-color(blue, darker, $rsa-nearly-opaque);

    h2 {
      color: rsa-color(white);
    }

    p {
      color: rsa-color(gray, lighter);
      
      &.subtitle {
        color: rsa-color(white);
      }
    }

    h3 {
      color: rsa-color(gray, lighter);
    }

    ul {  
      li {
        a {
          color: rsa-color(white);
        }
      }
    }
  }
}

