{{component componentName radioId=inputId ariaDescribedby=descriptionId changed=changed value=value groupValue=groupValue radioClass="sr-only"}}
<label for={{inputId}} test-id="fieldsetInputLabel">
  {{component shapeComponentName}}
  <span>{{label}}</span>
</label>
