$borderRadius: 5%;
$actionButtonWidth: 25px;
$inputHeight: 33px;

.editable-field {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  font-size: 0; // fixes the gap adjacent inline-element
  &__value {
    padding: rsa-whitespace(less);
    border: 1px solid transparent;
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
    @include rsa-font(body);
  }

  span.edit-field .rsa-form-button-wrapper {
    line-height: inherit;
    padding: rsa-whitespace(less);
    background-color: rsa-color(gray, dark, $rsa-somewhat-opaque);
    border: 1px solid rsa-color(gray, base, $rsa-transparent);
    visibility: hidden;

    .rsa-form-button {
      padding: 0;
      i {
        font-size: 1rem;
      }
    }
  }

  &:hover {
    .editable-field__value {
      display: inline-block;
      cursor: pointer;
      border-color: rsa-color(gray);
      border-right-color: transparent;
    }

    span.edit-field .rsa-form-button-wrapper {
      cursor: pointer;
      border: 1px solid rsa-color(gray);
      visibility: visible;
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }
  }

  &.is-editing {
    padding: 0;
    border: none;
    width: 100%;

    input {
      width: 100%;
      height: $inputHeight;
      line-height: inherit;
      padding: 0 rsa-whitespace(less);
      border: 1px solid rsa-color(gray);
      box-sizing: border-box;
      @include rsa-font(body);
    }

    .rsa-form-button-wrapper {
      visibility: visible;
      font-size: inherit;
    }

    span.action {
      position: absolute;
      background-color: rsa-color(gray, dark, $rsa-nearly-opaque);
      border: 1px solid rsa-color(gray);

      button {
        padding: 0;
        height: $actionButtonWidth;
        width: $actionButtonWidth;

        i {
          font-size: $actionButtonWidth / 2;
        }
      }
    }

    span.confirm-changes {
      border-right: none;
      border-top: none;
      top: $inputHeight;
      right: $actionButtonWidth;

      i {
        color: rsa-color(gray);
      }
    }
    span.cancel-changes {
      top: $inputHeight;
      right: 0;
      border-top: none;

      i {
        font-size: 1rem;
        color: rsa-color(red);
      }
    }
  }

  &.has-changes {
    input, span.action {
      border-color: rsa-color(blue);
    }

    span.confirm-changes .rsa-form-button-wrapper i {
      color: rsa-color(green);
    }
  }
}
