.widget-pie{
  &.with-info{
    .widget-pie-chart{
      float: right;
    }
  }

  .widget-pie-info{
    margin-top: 15px;
    float: left;

    h5{
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 6px;
    }
    label{ color: #999 }
  }

  .widget-pie-info-list{
    li{
      margin-bottom: 1em;
    }

    label{
      float: left;
    }

    .widget-pie-property-values{
      float: left;
      margin-left: 7px;

      strong{
        display: block;
      }
    }
  }
}