.widget-pie{
  &.with-info{
    .widget-pie-chart{
      float: right;
    }
  }

  .widget-pie-info{
    margin-top: 15px;

    h5{
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 6px;
    }
    label{ color: #999 }
  }
}