<div class="clearfix widget-pie" ng-class="{ 'with-info': showInfo }">
    <div class="widget-pie-chart"></div>
    <div class="widget-pie-info" ng-show="showInfo">
        <h5 class="widget-pie-info-title" ng-if="currentItem.title">{{currentItem.label}}</h5>
        <ul class="widget-pie-info-list unstyled">
            <li ng-repeat="(label, itemProperties) in currentItem.properties" ng-show="itemProperties.length" class="clearfix">
                <label>{{label}}:</label>
                <div class="widget-pie-property-values">
                    <strong ng-repeat="propertyValue in itemProperties">{{propertyValue}}</strong>
                </div>
            </li>
        </ul>
    </div>
</div>