.rsa-respond-card {
  &__status-header {
    margin: rsa-whitespace(least) rsa-whitespace(most) rsa-whitespace() rsa-whitespace();
    padding-top: 0;
    height: inherit;

    @include rsa-font(header, large);
    border-bottom: 1px solid rsa-color(gray, light);

    &__item {
      @include rsa-font(light, large);
      padding: rsa-whitespace(more) 0 0 0;
      color: rsa-color(white);
      display: inline-block;
      margin-bottom: rsa-whitespace(least);
    }

  }

  .sort-options {
    float: right;
    margin-top: 18px;
  }

  .rsa-incident-carousel {
    .rsa-carousel__footer {
      padding-top: rsa-whitespace(base);
    }

    .rsa-incident-content-card {
      background-color: transparent;
      width: 350px;
      min-height: 265px;
      height: 265px;
      &.small-size {
        height: 160px;
        min-height: 160px;
      }
    }
  }
  .rsa-respond-index-empty-incident{
    @include rsa-font();
    padding-top: rsa-whitespace();
    color: rsa-color(gray, lighter);
    text-align: center;
  }
}

.rsa-respond-list {
  color: rsa-color(white);

  &__grid {

    hbox {
      border-bottom: 1px solid rsa-color(black);
    }

    hbox vbox {
      background-color: transparent;
      padding: rsa-whitespace(less);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__header {
      @include rsa-font(header, small);
    }

    &__row {
      @include rsa-font(body, small);
      @include rsa-font(light);

      .incident-id {
        @include rsa-font(bold);
      }
    }
  }
}

.rsa-application-incident-queue-panel{
  .rsa-incident-content-card {
    background-color: transparent;
    &.small-size {
      width:calc(100% +  2px);
    }
    margin: 0;
  }
}
