$appNavigationHeaderHeight: 40px;
$respondNavigationHeight: 48px;
$incidentsToolbarHeight: 40px;

.rsa-protected page.respond-engine {
  min-height: calc(100vh - #{$appNavigationHeaderHeight});
  .rsa-respond-explorer, .rsa-aggregation-rules {
    height: calc(100vh - #{$appNavigationHeaderHeight} - #{$respondNavigationHeight});

    .main-zone {
      height: calc(100vh - #{$appNavigationHeaderHeight + $incidentsToolbarHeight + $respondNavigationHeight});
    }
  }
}

