.host-detail-wrapper {
  .rsa-nav-tab-group {
    margin:rsa-whitespace(less);
    .rsa-nav-tab.is-left-aligned-primary {
      margin: 0 rsa-whitespace(less) 0;
      padding: rsa-whitespace(less) 0;
      border-bottom-width: 3px;
    }
  }
}
.host-title-bar {
  a {
    text-decoration: none;
  }
}
