{{#rsa-nav-link-list header="Guides"}}
  <li>
    <a href="https://wiki.na.rsa.net/display/NextGenWeb/UI+Core+Client+Backlog" target="_blank">UI Engineering Wiki</a>
  </li>

  <li>
    <a href="https://wiki.na.rsa.net/pages/viewpage.action?spaceKey=ASOCPM&title=SA11UX" target="_blank">UX Design Wiki</a>
  </li>

  <li>
    <a href="https://wiki.na.rsa.net/display/RAEPM/Clase+Azul+DoD">Gold Standard Definition of Done</a>
  </li>

  <li>
    <a href="http://mur.al/b0Mqew8v" target="_blank">UX Design Kanban</a>
  </li>

  <li>
    <a href="https://wiki.na.rsa.net/display/ASOCPM/ASOC+User+Personas">User Personas</a>
  </li>

  <li>
    <a href="https://github.rsa.lab.emc.com/asoc/launch-libraries/blob/master/conventions/docs/workflows/workflows.md">Git Workflow</a>
  </li>

  <li>
    <a href="https://github.rsa.lab.emc.com/asoc/sa-ui">Github</a>
  </li>

  <li>
    <a href="https://rsadesign.slack.com">Design Slack</a>
  </li>

  <li>
    <a href="https://rsa-engineering.slack.com">Engineering Slack</a>
  </li>

  <li>
    <a href="https://asoc-jenkins.rsa.lab.emc.com/job/sa-ui-master">NetWitness Jenkins</a>
  </li>

  <li>
    <a href="https://10.31.125.99/">NetWitness Nightly Build</a>
  </li>

  <li>
    <a href="https://bedfordjira.na.rsa.net">Jira</a>
  </li>
{{/rsa-nav-link-list}}

{{#rsa-nav-link-list header="Design"}}
  <li>
    {{#link-to 'design.typography'}}Typography{{/link-to}}
  </li>

  <li>
    {{#link-to 'design.colors'}}Colors{{/link-to}}
  </li>

  <li>
    {{#link-to 'design.whitespace'}}Whitespace{{/link-to}}
  </li>

  <li>
    {{#link-to 'design.layers'}}Layers{{/link-to}}
  </li>

  <li>
    {{#link-to 'design.opacity'}}Opacity{{/link-to}}
  </li>
{{/rsa-nav-link-list}}

{{#rsa-nav-link-list header="Generic Components"}}
  <li>
    {{#link-to 'demos.logo'}}RSA Logo{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.icons'}}Icons{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.loader'}}Loader{{/link-to}}
  </li>
{{/rsa-nav-link-list}}

{{#rsa-nav-link-list header="Application Components"}}
  <li>
    {{#link-to 'demos.app.layout-manager'}}Layouts and Workflows{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.app.modal'}}Modal{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.app.fatal-error'}}Fatal Errors{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.app.contextual-help'}}Contextual Help{{/link-to}}
  </li>
{{/rsa-nav-link-list}}

{{#rsa-nav-link-list header="Form Components"}}
  <li>
    {{#link-to 'demos.form.buttons'}}Buttons{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.form.inputs'}}Text Inputs{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.form.textareas'}}Textareas{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.form.selects'}}Selects{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.form.checkboxes'}}Checkboxes{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.form.radios'}}Radios{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.form.sliders'}}Sliders{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.form.datetime'}}Date/Time{{/link-to}}
  </li>
{{/rsa-nav-link-list}}

{{#rsa-nav-link-list header="Content Components"}}
  <li>
    {{#link-to 'demos.content.accordion'}}Accordion{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.badgeIcon'}}Badge Icon{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.badgeScore'}}Badge Score{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.datetime'}}Datetime{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.definition'}}Definition{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.label'}}Label{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.memorySize'}}Memory/File Size{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.sectionHeader'}}Section Header{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.ipConnections'}}IP Connections{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.tetheredPanels'}}Tethered Panels{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.card'}}Card{{/link-to}}
  </li>
{{/rsa-nav-link-list}}

{{#rsa-nav-link-list header="Nav Components"}}
  <li>
    {{#link-to 'demos.nav.tab'}}Tab{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.nav.linkList'}}Link List{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.nav.linkToWin'}}Link To Window{{/link-to}}
  </li>
{{/rsa-nav-link-list}}

{{#rsa-nav-link-list header="Charting Components"}}
  <li>
    {{#link-to 'demos.chart.chart'}}Chart{{/link-to}}
  </li>
  <li>
    {{#link-to 'demos.chart.lineSeries'}}Line Series{{/link-to}}
  </li>
  <li>
    {{#link-to 'demos.chart.areaSeries'}}Area Series{{/link-to}}
  </li>
  <li>
    {{#link-to 'demos.chart.xAxis'}}X Axis{{/link-to}}
  </li>
  <li>
    {{#link-to 'demos.chart.yAxis'}}Y Axis{{/link-to}}
  </li>
  <li>
    {{#link-to 'demos.chart.grids'}}Grid Lines{{/link-to}}
  </li>
{{/rsa-nav-link-list}}
