{{#rsa-nav-link-list header="Guides"}}
  <li>
    <a href="https://bedfordjira.na.rsa.net/secure/StructureBoard.jspa?s=102" target="_blank">Jira Planning Board</a>
  </li>

  <li>
    <a href="https://wiki.na.rsa.net/display/NextGenWeb/UI+Core+Client+Backlog" target="_blank">UI Wiki</a>
  </li>

  <li>
    <a href="https://wiki.na.rsa.net/pages/viewpage.action?spaceKey=ASOCPM&title=SA11UX" target="_blank">UX Wiki</a>
  </li>

  <li>
    <a href="https://wiki.na.rsa.net/display/AIH/Guidelines+for+UI+Review" target="_blank">UI Review Guidelines</a>
  </li>

  <li>
    <a href="https://asoc-jenkins.rsa.lab.emc.com/job/sa-ui-style-guide/" target="_blank">Jenkins Style Guide Job</a>
  </li>

  <li>
    <a href="https://github.rsa.lab.emc.com/asoc/launch-libraries/blob/master/conventions/docs/workflows/workflows.md">Git Workflow</a>
  </li>
{{/rsa-nav-link-list}}

{{#rsa-nav-link-list header="Design"}}
  <li>
    {{#link-to 'design.typography'}}Typography{{/link-to}}
  </li>

  <li>
    {{#link-to 'design.colors'}}Colors{{/link-to}}
  </li>

  <li>
    {{#link-to 'design.whitespace'}}Whitespace{{/link-to}}
  </li>

  <li>
    {{#link-to 'design.layers'}}Layers{{/link-to}}
  </li>

  <li>
    {{#link-to 'design.opacity'}}Opacity{{/link-to}}
  </li>

  <li>
    <a href="https://github.com/runspired/flexi" target="_blank">Layout &amp; Grid</a>
  </li>
{{/rsa-nav-link-list}}

{{#rsa-nav-link-list header="Generic Components"}}
  <li>
    {{#link-to 'demos.logo'}}RSA Logo{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.icons'}}Icons{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.loader'}}Loader{{/link-to}}
  </li>
{{/rsa-nav-link-list}}

{{#rsa-nav-link-list header="Application Components"}}
  <li>
    {{#link-to 'demos.app.header'}}Application Header{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.app.action-bar'}}Application Action Bar{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.app.content'}}Application Content{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.app.footer'}}Application Footer{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.app.layout-manager'}}Layouts and Workflows{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.app.modal'}}Modal{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.app.fatal-error'}}Fatal Errors{{/link-to}}
  </li>
{{/rsa-nav-link-list}}

{{#rsa-nav-link-list header="Form Components"}}
  <li>
    {{#link-to 'demos.form.buttons'}}Buttons{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.form.inputs'}}Text Inputs{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.form.textareas'}}Textareas{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.form.selects'}}Selects{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.form.checkboxes'}}Checkboxes{{/link-to}}
  </li>
  <li>
    {{#link-to 'demos.form.radios'}}Radios{{/link-to}}
  </li>
{{/rsa-nav-link-list}}

{{#rsa-nav-link-list header="Content Components"}}
  <li>
    {{#link-to 'demos.content.accordion'}}Accordion{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.badgeIcon'}}Badge Icon{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.badgeScore'}}Badge Score{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.datetime'}}Datetime{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.definition'}}Definition{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.label'}}Label{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.sectionHeader'}}Section Header{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.ipConnections'}}IP Connections{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.content.tooltip'}}Tooltips{{/link-to}}
  </li>
{{/rsa-nav-link-list}}

{{#rsa-nav-link-list header="Nav Components"}}
  <li>
    {{#link-to 'demos.nav.tab'}}Tab{{/link-to}}
  </li>

  <li>
    {{#link-to 'demos.nav.linkList'}}Link List{{/link-to}}
  </li>
{{/rsa-nav-link-list}}

{{#rsa-nav-link-list header="Charting Components"}}
  <li>
    {{#link-to 'demos.chart.chart'}}Chart{{/link-to}}
  </li>
  <li>
    {{#link-to 'demos.chart.lineSeries'}}Line Series{{/link-to}}
  </li>
  <li>
    {{#link-to 'demos.chart.areaSeries'}}Area Series{{/link-to}}
  </li>
  <li>
    {{#link-to 'demos.chart.xAxis'}}X Axis{{/link-to}}
  </li>
  <li>
    {{#link-to 'demos.chart.yAxis'}}Y Axis{{/link-to}}
  </li>
  <li>
    {{#link-to 'demos.chart.grids'}}Grid Lines{{/link-to}}
  </li>
{{/rsa-nav-link-list}}

{{#rsa-nav-link-list header="Routable Components"}}
  <li>
    {{#link-to 'demos.routableLogin'}}Routable Login{{/link-to}}
  </li>
{{/rsa-nav-link-list}}
