{{#rsa-nav-link-list header="Design"}}
  {{#each model as |spec|}}
    {{#unless spec.isComponent}}
      <li>
        {{#link-to "spec" spec}}{{spec.title}}{{/link-to}}
      </li>
    {{/unless}}
  {{/each}}
{{/rsa-nav-link-list}}

{{#rsa-nav-link-list header="Components"}}
  {{#each model as |spec|}}
    {{#if spec.isComponent}}
      <li>
        {{#link-to "spec" spec}}{{spec.title}}{{/link-to}}
      </li>
    {{/if}}
  {{/each}}
{{/rsa-nav-link-list}}
