<div class='alerts-tab_body_header'>
  {{severity-bar data=alertsSeverity}}
  <div class='alerts-tab_body_header_export'>
    <div>
      {{#rsa-form-button }} {{rsa-icon size='medium' style='lined' name='arrow-up-1'}} {{t 'investigateUsers.export'}} {{/rsa-form-button}}
    </div>
  </div>
</div>
<div class='alerts-tab_body_body'>
  {{alerts-tab/body/alerts-table}}
</div>