@charset "UTF-8";

/* pulling in component-lib from inside respond */
@import 'component-lib/manifest';

/* Pulling in local investigate-process-analysis styles */
@import "investigate-process-analysis/manifest";


// Beautification of dummy app splash page for Engine dummy app -- purely cosmetic with no effect on application code
body.investigate-process-analysis-engine-dummy {
  color: text-color(primary, light);
  .engine-splash-page {
    .rsa-logo {
      .rsa-logo__title {
        color: text-color(accentTwo);
        text-align: center;
        font-size: 25px;
      }
    }
    a:-webkit-any-link {
      text-decoration: none;
    }
  }
}

.investigate-process-analysis-engine {
  .background-icon {
    font-size: 15rem;
    color: text-color(accentOne, dark);
  }
}
