.rsa-investigate-index {
  position: relative;
  @include rsa-vendor-prefix(flex-grow, 1);

  &__body {
    margin: rsa-whitespace() rsa-whitespace(more);

    &.resolved {
      p {
        display: inline-block;
        margin-right: rsa-whitespace();
        max-width: 80%;
      }
    }

    .rsa-investigate-query-bar {
      width: 100%;
    }

    .rsa-loader {
      &__wheel {
        margin: 0;
      }
      &__text {
        position: relative;
        top: -2.8em;
        right: -3em;
      }
    }
  }
}
