.rsa-investigate-query {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @include rsa-col(justify,fill);

  &__header {
    background-color: $investigateBgLighterColor;
    @include rsa-vendor-prefix(flex-shrink, 1);
  }

  &__summary {
    @include rsa-row(justify,fill);
    padding: rsa-whitespace(less) rsa-whitespace();

    .rsa-investigate-breadcrumb {
      @include rsa-vendor-prefix(flex-grow, 1);
    }
  }

  &__stats {
    @include rsa-vendor-prefix(flex-shrink, 1);
    @include rsa-col(right,fill);
  }

  &__sums-of {
    color: $investigateTextDarkerColor;
  }

  &__body {
    position: relative;   /* enables positioning of children */
    @include rsa-vendor-prefix(flex-grow, 1);

    &-aside,
    &-main {
      position: absolute;
      top: 0;
      bottom: 0;
      transition-property: left, right, max-width;
      transition-duration: 0.3s;
    }

    /* meta vs events: default arrangement */
    &-aside {
      left: 0;
      max-width: 2000px;
      right: 75%;
      background-color: $investigateBgDarkerColor;
    }
    &-main {
      left: 25%;
      right: 0;
    }
    &.meta-panel-size-default {
      .rsa-investigate-query__body {
        &-aside:hover,
        &-main:hover {
          z-index: 2;
        }
      }
    }

    /* meta vs events: meta minimized */
    &.meta-panel-size-min {
      .rsa-investigate-query__body {
        &-aside {
          left: 0;
          max-width: 40px;
          z-index: 1;
        }
        &-main {
          left: 40px;
          right: 0;
          z-index: 2;
        }
      }
    }

    /* meta vs events: meta minimized */
    &.meta-panel-size-max {
      .rsa-investigate-query__body {
        &-aside {
          left: 0;
          right: 40px;
          z-index: 2;
          box-shadow: rsa-color(black,base,$rsa-translucent) 3px 3px 3px;
        }
      }
    }
  }

  &__empty {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include rsa-col(center,middle);
    background-color: rgba($investigateBgBaseColor, $rsa-nearly-opaque);

    h2 {
      @include rsa-font(header, large);
      padding: rsa-whitespace(less) 0;
      white-space: nowrap;
    }
  }

  &__aside,
  &__footer {
    display: none;
  }

  .rsa-investigate-breadcrumb {
    @include rsa-font(header, small);

    &__crumb {
      color: rsa-color(gray, lighter);

      &:last-of-type {
        @include rsa-font(body);
        color: rsa-color(white);
        margin-top: rsa-whitespace(less);
      }
    }
  }

  .rsa-investigate-meta {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &__header {
      background-color: rsa-color(black,base,$rsa-translucent);
    }

    .rsa-list-button {
      color: rsa-color(white,base, $rsa-nearly-opaque);
      &:after {
        color: rsa-color(white,base, $rsa-nearly-transparent);
      }
      &:hover {
        color: rsa-color(white,base, $rsa-opaque);
        &:after {
          color: rsa-color(white,base, $rsa-translucent);
        }
      }
    }
  }

  .rsa-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .rsa-investigate-timeline {
    margin-right: 10px;
  }

  .rsa-data-table {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;

    &-header {
      /* @workaround Clear defaults that were introduced for Response UI. */
      padding: 0;
      margin: 0;
      border: 0;
    }

    &-header-cell {
      border-right: 1px solid rsa-color(gray, base, $rsa-translucent);

      .title {
        display: block;
        padding: rsa-whitespace(less) rsa-whitespace();
      }
    }

    &-body-cell {
      border-right: 1px dashed $investigateBgDarkerColor;

      .content {
        display: block;
        padding: rsa-whitespace();
      }
    }

    &-body-row {
      border-bottom: 1px solid $investigateBgDarkerColor;
    }

    &-header {
      background-color: $investigateBgDarkerColor;
    }
  }

  .rsa-investigate-time-range {
    white-space: nowrap;
    margin-bottom: rsa-whitespace(less);
    @include rsa-font(header, small);

    &__sep,
    .date {
      color: $investigateTextDarkerColor;
      font-weight: normal;
    }
  }
}
