@mixin recon-sizing($reconWidth) {
  .rsa-investigate-query__body {
    &-master {
      right: $reconWidth;
      background-color: rsa-color(black,base,$rsa-nearly-transparent);
    }
    &-slave {
      width: $reconWidth;
    }
  }
}

.rsa-investigate-query {
  position: relative;
  @include rsa-vendor-prefix(flex-grow, 1);
  @include rsa-col(justify,fill);

  &__header {
    background-color: rsa-color(black,base,$rsa-translucent);
    @include rsa-vendor-prefix(flex-shrink, 1);
    margin: 1px 0;
    padding: rsa-whitespace(less) rsa-whitespace();
  }

  &__body {
    position: relative;   /* enables positioning of children */
    @include rsa-vendor-prefix(flex-grow, 1);

    &-status {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;
      @include rsa-col(center, middle);
      text-align: center;
    }
    &-master {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition-property: background-color right;
      transition-duration: 0.3s;
      @include rsa-row(justify,fill);
    }
    &-slave {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 0;
      transition: width .3s;
      overflow: hidden;
    }

    &.recon-is-open {
      @include recon-sizing($investigateReconWidth)
    }

    &.recon-is-expanded {
      @include recon-sizing($investigateReconExpandedWidth)
    }

    &-master-aside,
    &-master-main {
      transition: all 0.3s;
      overflow-x: hidden;
      position: relative;
    }
    &-master-main {
      @include rsa-vendor-prefix(flex-grow,1);
      background-color: rsa-color(black,base,$rsa-nearly-transparent);
    }
    &-master-aside {
      @include rsa-vendor-prefix(flex-shrink,0);
      @include rsa-vendor-prefix(flex-basis,25%);
      min-width: 40px;
    }

    /* meta vs events: default arrangement */
    &.meta-panel-size-default {
      .rsa-investigate-query__body {
        &-master-aside:hover,
        &-master-main:hover {
          z-index: 2;
        }
      }
    }

    /* meta vs events: meta minimized */
    &.meta-panel-size-min {
      .rsa-investigate-query__body {
        &-master-aside {
          @include rsa-vendor-prefix(flex-basis,0);
          background-color: rsa-color(black,base,$rsa-nearly-transparent);
          z-index: 1;
        }
        &-master-main {
          z-index: 2;
        }
      }
    }

    /* meta vs events: meta minimized */
    &.meta-panel-size-max {
      .rsa-investigate-query__body {
        &-master-aside {
          @include rsa-vendor-prefix(flex-basis,100%);
          z-index: 2;
        }
        &-master-main {
          display: none;
        }
      }
    }
  }

  &__empty {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include rsa-col(center,middle);

    h2 {
      @include rsa-font(header, large);
      padding: rsa-whitespace(less) 0;
      white-space: nowrap;
    }
  }

  &__aside,
  &__footer {
    display: none;
  }

  .rsa-investigate-meta {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 1px;
    background-color: rsa-color(black,base,$rsa-nearly-transparent);

    &__header {
      background-color: rsa-color(black,base,$rsa-nearly-transparent);
    }

    .rsa-list-button {
      color: rsa-color(white,base, $rsa-nearly-opaque);
      &:after {
        color: rsa-color(white,base, $rsa-nearly-transparent);
      }
      &:hover {
        color: rsa-color(white,base, $rsa-opaque);
        &:after {
          color: rsa-color(white,base, $rsa-translucent);
        }
      }
    }

    &-key-values__value {

      &:hover {
        .rsa-investigate-meta-key-values__value-label,
        .rsa-investigate-meta-key-values__value-metric {
          color: rsa-color(white);
        }
      }

      &-label {
        color: rsa-color(blue, lighter);
      }

      &-metric {
        color: rsa-color(green, lighter);

        &:before {
          content: '(';
          color: rsa-color(gray);
        }

        &:after {
          content: ')';
          color: rsa-color(gray);
        }
      }
    }
  }

  .rsa-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .rsa-investigate-timeline {
    height: 2.5rem;
    &.is-expanded {
      height: 250px;
    }

    .hover-data {
      height: 1.5rem;
      line-height: 2rem;
      background-color: rsa-color(black,base,$rsa-nearly-transparent);
      position: absolute;
      top: 2.5rem;
      left: 0;
      right: 0;
      padding-left: 35px;
      @include rsa-font(light, small);
      .rsa-content-datetime {
        color: rsa-color(grey,light);
      }
      // We'll need to create some sort of color service that can generate consistent
      // colors for multi-series data. For now, I'll just hardcode a few in. These
      // are the same colors from _rsa_chart.scss.
      .series-0 {
        color: rsa-color(blue);
      }
      .series-1 {
        color: rsa-color(blue, darker);
      }
      .series-2 {
        color: rsa-color(blue, darkest);
      }
    }

    .rsa-icon {
      position: absolute;
      right: 0;
    }

    .timestamp {
      @include rsa-font(light);
      position: absolute;
      width: 185px;
      height: 1rem;
      padding: 0.75rem 0;
      text-align: center;
      color: rsa-color(grey,light);
      background-color: rsa-color(black,base,$rsa-translucent);
      &.right {
        right: 0;
      }
      span {
        @include rsa-font();
        color: white;
      }
    }

    .rsa-chart {
      margin: 0;
      background-color: rsa-color(black,base,$rsa-nearly-transparent);
      &.master {
        left: 185px;
        right: 185px;
        height: 2.5rem;
      }
      &.detail {
        top: 4rem;
        left: 0;
        right: 0;
        .domain,
        .tick line {
          stroke: rsa-color(black,base,$rsa-translucent);
        }
        .tick text {
          stroke-width: 0;
        }
      }
    }
  }

  .rsa-investigate-events-table {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &__header {
      background-color: rsa-color(black,base,$rsa-nearly-transparent);
    }

    .rsa-data-table {
      &-header-cell,
      &-body-cell {
        border-right: 1px dashed rsa-color(black,base,$rsa-nearly-transparent);
      }

      &-header,
      &-body-row {
        border-bottom: 1px solid rsa-color(black,base,$rsa-nearly-transparent);
      }
    }
  }

  .recon-container {
    margin-left: 1px; /* let a sliver of background shows thru as a border */
  }

  .recon-meta-content {
    margin-left: 1px; /* let a sliver of background shows thru as a border */
  }
}
