<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category}}
      {{#spec-member}}
        {{#rsa-application-modal eventId='example'}}
          <div class='modal-trigger'>
            Modal Trigger
          </div>

          <div class='modal-content'>
            Modal Content
          </div>
        {{/rsa-application-modal}}

        <code>
          <div>
            &#123;{#rsa-application-modal eventId='example'}}
            <div>
              &lt;div class='modal-trigger'>
                Modal Trigger
              &lt;/div>
            </div>

            <div>
              &lt;div class='modal-content'>
                Modal Content
              &lt;/div>
            </div>
            &#123;{/rsa-application-modal}}
          </div>
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
