@import "./event-header/manifest";
@import "./event-detail/manifest";
@import "./meta-content/manifest";

.recon-container {
  height: 100%;
  overflow: hidden;
}

.recon-error {
  padding: rsa-whitespace(more);
}

.recon-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include rsa-col(center, middle);
  text-align: center;
}