@import "./event-header/manifest";
@import "./event-detail/manifest";
@import "./meta-content/manifest";
@import "./pager/manifest";
@import "./button-menu/manifest";

.recon-container {
  flex: 1 1 auto;
  overflow: hidden;
  margin-left: 1px; /* let a sliver of background shows thru as a border */

  &.loading {
    background-color: $baseColorNoTransparency;
  }
}

.recon-event-content {
  background-color: background-color(primary, darker);
}

.event-content-box {
  background-color: background-color(primary, darker);
}

.recon-noscroll {
  overflow-y: hidden;
}

.recon-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include rsa-col(center, middle);
  text-align: center;
}
