<section class="configuration">

            <div class="pane menu-pane">
                <div class="menu-pane--header">
                    System Configuration
                </div>
                <div class="menu-pane--menu-container">
                </div>
                <div class="menu-pane--version">
                    <div class="version-company">{{::configuration.version.company}}</div>
                    <div class="version-number">Version {{::configuration.version.number}}</div>
                    <div class="version-year">{{::configuration.version.year}}</div>
                </div>
            </div>

            <div class="pane form-pane">
                <ui-view></ui-view>
            </div>

</section>
