<div ng-controller="TableWidgetController" class="widget-table-wrapper">
    <table class="table table-hover widget-table">
        <thead>
            <tr>
                <th ng-if="view.settings.showIndex" class="index-cell"></th>
                <th ng-repeat="field in view.settings.fields" ng-class="{ 'widget-table-header-sortable': field.sortBy }" ng-style="{width:field.width}">
                    {{field.name}}
                    <i class="icon-question-sign tooltip-icon" ng-if="field.tooltip" title="{{ field.tooltip }}"></i>
                    <span class="widget-table-sort"
                          ng-if="field.sortBy"
                          ng-click="sortTable(field, view, getWidgetParams(widget))"
                          ng-class="{ 'widget-table-sort-enabled': field.sortDirection, 'widget-table-sort-up': field.sortDirection === 1, 'widget-table-sort-down': field.sortDirection === -1 }">
                        <i class="icon-caret-up" ng-class="{ 'widget-table-sort-visible': !field.sortDirection || field.sortDirection === 1 }"></i>
                        <i class="icon-caret-down" ng-class="{ 'widget-table-sort-visible': !field.sortDirection || field.sortDirection === -1 }"></i>
                    </span>
                    <span class="widget-table-filter"
                          ng-class="{ filtered: field.filter.enabled }"
                          ng-click="showFilter(field)"
                          ng-if="field.filter"
                          ng-init="initFilter(field)">
                        <i class="icon-filter" title="Filter this field" ng-click="toggleFilter(field)"></i>
                        <div class="widget-table-filter-window" ng-show="field.filter.open">
                            <label>
                                {{field.filter.label}}
                                <input type="{{field.filter.type}}"
                                       ng-model="field.filter.value"
                                       max="{{field.filter.max}}"
                                       min="{{field.filter.min}}"
                                       step="{{field.filter.step}}"
                                       maxlength="{{field.filter.maxlength}}"
                                       ng-keydown="filterInputKeyDown(field, $event)"
                                       ng-style="{ width: field.filter.width }"
                                       focus-when="currentFilter==field.filter"/>
                            </label>
                            <i class="icon-ok-sign"
                               ng-click="filterTable(field)"
                               ng-class="{ enabled: field.filter.changed }"
                               title="Apply filter"></i>
                            <i class="icon-remove-sign"
                               ng-show="field.filter.enabled"
                               ng-click="resetFilterTable(field)"
                               ng-class="{ enabled: field.filter.changed }"
                               title="Reset filter"></i>
                            <i class="icon-double-angle-up widget-table-filter-close" ng-click="closeFilter(field)" title="Close"></i>
                        </div>
                    </span>
                </th>
            </tr>
            <tr ng-if="view.data.message">
                <td colspan="{{view.settings.fields.length + 1}}" class="widget-table-message widget-table-message-{{view.data.message.type}}">
                    <i ng-if="view.data.message.icon" class="icon-{{view.data.message.icon}}"></i>
                    {{view.data.message.value}}
                </td>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in view.data.rows" data-index="{{$index}}" ng-style="row.style">
            <td ng-if="view.settings.showIndex" class="index-cell">{{$index + 1}}</td>
            <td ng-repeat="fieldData in row.display"
                class="{{fieldData.className}}"
                ng-style="fieldData.style"
                ng-switch="fieldData.type"
                rowspan="{{fieldData.rowSpan || 1}}">
                <div ng-switch-when="array">
                    <ng-include ng-repeat="fieldData in fieldData.items" src="'tableField'"></ng-include>
                </div>
                <ng-include ng-switch-default src="'tableField'"></ng-include>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="widget-table-controls" ng-show="view.settings.allowPaging && !widget.noData && tablePagingData.totalCount > tablePagingData.itemsPerPage">
        <pagination ng-model="tablePagingData" ng-change="pageTable()"></pagination>
    </div>
</div>
