$springboard-color: rsa-color(grey, darker);

$springboard-height: 100%;
$springboard-background-color: rsa-color(grey, dark);

$springboard-header-height: 64px;
$springboard-footer-height: 48px;

$springboard-widget-width: 436px
