.dashboard-high-privileged-account-tabs-container
{
  .dashboard-column{
    width: 100%;
  }
  .dashboard-widgets{

    background-color:#F1F1F1;
  }

  .widget-tabs{
    background-color:#F1F1F1;

  }

  .tabs-content-wrapper{
    background-color:white;

    .widget{

    }

  }



}


