<div class='user-overview-tab_users'>
  {{overview-tab/user applyUserFilter=applyUserFilter}}
</div>
<div class='user-overview-tab_alerts'>
  {{overview-tab/alerts}}
  {{overview-tab/timeline applyAlertsFilter=applyAlertsFilter}}
</div>