<div class='user-overview-tab_upper'>
  <div class='user-overview-tab_upper_users'>
    {{overview-tab/user}}
  </div>
  <div class='user-overview-tab_upper_alerts'>
    {{overview-tab/alerts}}
  </div>
</div>
<div class='user-overview-tab_lower'>
  <div class='user-overview-tab_lower_users'>
    {{overview-tab/watched applyUserFilter=applyUserFilter}}
  </div>
  <div class='user-overview-tab_lower_alerts'>
    {{overview-tab/timeline applyAlertsFilter=applyAlertsFilter}}
  </div>
</div>