.fs-card-title {

    .fs-card-title-small {
        font-size: 13px;
    }

    display: block;
    position: relative;
    padding: 10px 14px;

    //border-bottom: 1px solid #01294a;

    color: #013f71;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

