$textColor: rsa-color(white);
$breadcrumbHeight: 30px;
$defaultProgressStepColor: rsa-color(gray, dark);
$currentProgressStepColor: rsa-color(amber, darker);
$completedProgressStepColor: rsa-color(green);
$progressArrayBorderColor: rsa-color(white);
$invalidProgressStepColor: rsa-color(red, darker);
$buttonBarHeight: 40px;

.rsa-wizard{
  height: 100%;
  color: $textColor;

  &__breadcrumb {
    position: relative;
    height: $breadcrumbHeight;

    > ul{
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;

      > li {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
        line-height: $breadcrumbHeight;
        background-color: $defaultProgressStepColor;

        > span {
          &::before, &::after {
            content: "";
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            top: -2px;
            left: -2px;
            border: solid transparent 17px;
            border-left-color: $defaultProgressStepColor;
          }

          &::after {
            @include rsa-layer();
            top: -3px;
            border-left-color: $progressArrayBorderColor;
            border-width: 18px;
          }

          &::before {
            @include rsa-layer(panels);
            left: -2px;
          }
        }

        &:first-child > span {
          &::before, &::after {
            display: none;
          }
        }

        &.visited {
          background-color: $completedProgressStepColor;
          + li > span::before {
            border-left-color: $completedProgressStepColor;
          }
        }

        &.active {
          background-color: $currentProgressStepColor;
          + li > span::before, > span::after {
            border-left-color: $currentProgressStepColor;
          }
        }

        &.active.invalid {
          background-color: $invalidProgressStepColor;
          + li > span::before, > span::after {
            border-left-color: $invalidProgressStepColor;
          }
        }
      }
    }
  }

  &__step-content {
    height: calc(100% - #{$breadcrumbHeight});
    position: relative;
    border-top: 1px solid rsa-color(gray);
  }

  &__button-bar {
    position: absolute;
    width: calc(100% - 2px);
    height: $buttonBarHeight;
    background-color: rsa-color(gray, dark);
    border-top: 1px solid rsa-color(gray, darker);
    bottom: 0;

    .rsa-form-button-wrapper {
      float: right;
      padding: 0 rsa-whitespace() 0 0;

      .rsa-form-button {
        height: rsa-whitespace(more);
        position: relative;
        top: rsa-whitespace(less);
      }
    }
  }
}

/** PROGRESS BREADCRUMB ITEM WIDTH HANDLING **/
// Do not show breadcrumb/progress bar when there is only one step
.rsa-wizard__breadcrumb[data-stepcount="1"] {
  display: none;
  height: 0;

  + .rsa-wizard__step-content {
    height: 100%;
  }
}
