<div class="action-control create-new-group">
  {{#link-to 'group-create'}}
    {{#rsa-form-button}}
      {{rsa-icon name='add-1' style='lined'}}
      {{t 'adminUsm.button.createNew'}}
    {{/rsa-form-button}}
  {{/link-to}}
</div>


