<vbox class="rsa-application-layout-panel-content" xs="12" fit>
  {{#each selectedEdrPolicy as |section|}}
    <div class="content-section__section-name ">{{t section.header}}</div>
    {{#each section.props as |prop|}}
      <hbox fit class="col-xs-12 content-section__property">
        <hbox class="property-name col-xs-6 col-md-5">{{t prop.name}}</hbox>
        <hbox class="edr-value col-xs-6 col-md-7">
          {{#rsa-text-with-tooltip value=prop.value tipPosition='left'}}
            {{prop.value}}
          {{/rsa-text-with-tooltip}}
        </hbox>
      </hbox>
    {{/each}}
    <hr class="divider">
  {{/each}}
</vbox>
