{{service-selector services=services serviceId=serviceId onServiceSelection=(action 'setSelectedService')}}
{{time-selector
  startTime=startTime
  endTime=endTime
  onTimeRangeError=(action 'timeRangeError')
  onIndividualTimeUnitChange=(action 'customTimeRange')
  timeRangeInvalid=timeRangeInvalid
  onEntireTimeRangeSelection=(action 'timeRangeSelection')}}
{{#rsa-form-button
  class='execute-query-button'
  defaultAction=executeQuery
  style='primary'}}
  Analyze
{{/rsa-form-button}}

<div class="button-modal help-button">
  {{#rsa-form-button isIconOnly=true defaultAction=(action 'goToHelp')}}
    {{rsa-icon name="help-circle" style="lined"}}
  {{/rsa-form-button}}
</div>