<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="presidio/logging/logback/base-test.xml" />
    <logger name="org.springframework" level="WARN"/>
    <logger name="pl.allegro.tech.embeddedelasticsearch" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>