<div class="scroll-box">
  {{#each packetsToView as |packet index|}}
    {{#if packet}}
      {{recon-event-detail/single-packet
        index=index
        packet=packet
        packetFields=packetFields
        tooltipData=tooltipData
      }}
    {{/if}}
  {{/each}}
</div>
{{recon-pager
  eventIndex=eventIndex
  eventTotal=eventTotal
  packetCount=packetCount
  packetTotal=packetTotal
  isPacket=true
}}

{{recon-event-detail/single-packet/byte-tooltip }}
