.rsa-live-search-results {
  height: 100%;

  vbox {
    height: 100%;
  }

  .rsa-data-table{
    height: 100%;
  }

  .rsa-data-table-header {
    background-color: rsa-color(gray, darker);

    button.column-sort {
      cursor: pointer;
    }
  }

  .rsa-data-table-body-row {
    cursor: pointer;
    color: rsa-color(gray, light);

    &.has-focus {
      margin: 0 calc((1rem + 0.25rem) * -1);
      padding: 0 calc(1rem + 0.25rem);

      background-color: rsa-color(blue, base, $rsa-translucent);
      color: rsa-color(white);

      .rsa-form-checkbox.checked::after {
        color: rsa-color(white);
        font-weight: bold;
      }
    }
  }

  .rsa-data-table-body-cell {
    @include rsa-font(body);
    line-height: 2rem;
    text-overflow: ellipsis;
    font-weight: 300;

    .rsa-form-checkbox {
      overflow: visible;
    }
  }

  .live-search-pagination {
    height: 40px;
    width: 100%;
    background-color: rsa-color(gray, darker);

    .rsa-form-button {
      padding-bottom: rsa-whitespace();
    }

    .live-pagination-showing-message {
      font-size: 85%;
      font-style: italic;
      text-align: center;
      width: calc(100% - 152px);
      display: inline-block;
    }

    .go-to-next, .go-to-end {
      float: right;
    }
  }
  .resource-details-loader {
    margin: 0 auto;
    position: relative;
  }
}
