.alert-context {

  &__container {
    cursor: pointer;
  }

  &__name {
    @include rsa-font(regular, small);
    color: text-color(primary, light);
    padding: 1rem 0 0 .5rem;
  }

  &__event {
    @include rsa-font(regular, small);
    color: text-color(primary, light);
    padding: .5rem 0 .5rem .5rem;
  }
}
