<div class="icon">
  {{#if isAlert}}
    {{rsa-icon name='report-problem-diamond'}}
  {{else}}
    {{rsa-icon name='report-problem-triangle'}}
  {{/if}}
</div>
<div class="message">
  {{value}}
</div>