$incidents-queue-width: 320px !default;

.rsa-respond {
    .rsa-incidents-queue {
        position: absolute;
        top: 0;
        left: 0;
        width: $incidents-queue-width;
        bottom: 0;
    }
    .rsa-incident-info {
        position: absolute;
        top: 0;
        left: $incidents-queue-width;
        right: 0;
        bottom: 0;
    }
}
