$zoneBorderColor: border-color(primary, darker, nearly-transparent);
.certificates-container {
  @include rsa-vendor-prefix(transition-property, background-color, color);
  @include rsa-vendor-prefix(transition-duration, 0.3s);
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  .main-zone {
    overflow: hidden;
    flex-wrap: nowrap;
    .certificates-action-bar {
      min-height: 50px;
      .title-header {
        display: inline-block;
      }
    }
  }

  .certificates-footer {
    max-height: 2rem;
    background-color: background-color(primary, darker, somewhat-opaque);
    color: text-color(primary, lightest);
    border-top: 1px solid $zoneBorderColor;
    .certificates-info {
      position: absolute;
      top: rsa-whitespace(less);
      left: rsa-whitespace();
      text-align: right;
      width:97%;
    }
  }
  .show-left-zone {
    .title-header {
      visibility: hidden;
    }
  }
}
