<div class="action-control create-new-policy">
  {{#link-to 'policy-create'}}
    {{#rsa-form-button}}
      {{rsa-icon name='add-1' style='lined'}}
      {{t 'adminUsm.button.createNew'}}
    {{/rsa-form-button}}
  {{/link-to}}
</div>


