.usm-group-wizard, .group-ranking {
  
  .group-wizard-toolbar {
    
    .prev-button {
      margin-right: rsa-whitespace(less);
    }

    /* .next-button {} */

    /* .publish-button {} */

    .save-button {
      margin-left: rsa-whitespace(most);
    }

    .cancel-button {
      margin-left: rsa-whitespace(less);
    }
    
  }

}
