.usm-group-wizard {
  .apply-policy-step {
    margin-right: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    max-height: calc(100vh - #{$wizardStepMaxHeight});
    min-height: calc(100vh - #{$wizardStepMaxHeight});
    padding-left: rsa-whitespace();
    .rsa-icon {
      font-size: 16px;
    }
    .apply-policy-step-inner {
      width: 50px;
    }
    span.remove-source-type {
      margin-top: rsa-whitespace(more);
      margin-left: rsa-whitespace();
    }
    table.policy-assignment {
      .remove-cell {
        vertical-align: middle;
      }
      td.available, td.selected {
        overflow-x: auto;
        padding-top: rsa-whitespace(more);
        padding-bottom: rsa-whitespace(more);
        table {
          width: 650px;
          tr {
            border-bottom: 1px solid border-color(primary, dark);
          }
          .table-cell-text {
            text-overflow: ellipsis;
            overflow-wrap: break-word;
            max-width: 250px;
            min-width: 250px;
          }
          .policy-name.table-cell-text {
            max-width: 100px;
            min-width: 100px;
          }
          td {
            padding-top: rsa-whitespace();
            padding-right: rsa-whitespace(less);
            padding-left: rsa-whitespace();
            padding-bottom: rsa-whitespace(less);
          }
        }
      }
      td.selected {
        padding-left: rsa-whitespace(more);
      }
    }
    .remove-policy, .assign-policy, .remove-source-type {
      cursor: pointer;
    }
    .help-title {
      @include rsa-font(body, larger);
      margin-bottom: rsa-whitespace(more);
    }
    .label-header {
      font-size: 24.15px;
      line-height: 24.15px;
    }
    th {
      text-align: left;
      padding-top: rsa-whitespace(more);
      padding-bottom: rsa-whitespace(less);
      padding-right: rsa-whitespace();
      padding-left: rsa-whitespace();
    }
    .source-type {
      border-bottom: 1px solid border-color(primary);
      padding-top: rsa-whitespace(more);
    }
    .source-type-wrapper {
      overflow-y: auto;
      margin-bottom: rsa-whitespace();
    }

    .add-source-type-button {
      margin-top: rsa-whitespace();
      margin-bottom: rsa-whitespace(most);
    }
  
    .control {
      flex: none;
      padding-bottom: rsa-whitespace(more);
      > label {
        width: 45%;
        margin-bottom: rsa-whitespace(least);
      }
    }

    .selector-error {
      @include rsa-input-placeholder($formInputErrorPlaceholderColor);
      color: $formInputErrorTypeColor;
      background-color: $formInputErrorBackgroundColor;
      border-color: $formInputErrorBorderColor;
    }

  }
  
}
