.usm-group-wizard {
  .define-group-step {
    max-height: calc(100vh - #{$wizardStepMaxHeight});

    .group-criteria {

      .attribute, .operator {
        padding-bottom: rsa-whitespace(more);
      }
      .input-value {
        padding-bottom: rsa-whitespace(more);
        
        .textarea-input {
          .input-error {
            @include rsa-font(paragraph, small);
            color: text-color(primary, lightest);
            padding-left: rsa-whitespace(less);
          }
        }

        .between-text-input {
          .and-label {
            // @include rsa-font(paragraph, small);
            color: text-color(primary, lightest);
            padding-top: rsa-whitespace();
            padding-right: rsa-whitespace(more);
          }
          .input-error {
            @include rsa-font(paragraph, small);
            color: text-color(primary, lightest);
            padding-left: rsa-whitespace(less);
          }
        }

        .os-selector-input, .agent-selector-input {
          .input-error {
            @include rsa-font(paragraph, small);
            color: text-color(accentOne, dark);
            padding-left: rsa-whitespace(less);
          }
        }

      }
    }

  }
}
