.group-ranking {
  position: relative;
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes preview {
    0% { left:calc(1px - 100%); top:0px; }
    100% { left:0px; top:0px; }
  } 
  
  /* Standard syntax */
  @keyframes preview {
    0% {left:calc(1px - 100%); top:0px;}
    100% {left:0px; top:0px;}
  }

  .n-sources-cell {
    display: flex;
    .table-cell-text {
      align-items: flex-start;
      position: relative;
    }
  }
  .heading-top {
    margin-top: rsa-whitespace();
    margin-bottom: -20px;
    z-index: 99;
  }
  .source-type-top-text, .source-type-selector {
    margin-top: rsa-whitespace();
    margin-bottom: rsa-whitespace(more);
    margin-left: rsa-whitespace();
    display: flex;
    .rsa-icon {
      margin-left: rsa-whitespace(less);
      vertical-align: top;
    }
    span {
      @include rsa-font(header);
      margin-right: rsa-whitespace(less);
    }
  }
  .source-type-top-text.simulate {
    padding-left: rsa-whitespace();
    span {
      margin-right: 0px;
    }
  }

  .status-nosource-count {
    color: text-color(primary);
    display: inline;
  }
  .rsa-wizard-toolbar-container {
    z-index: 3;
  }
  .edit-ranking-step {
    .rsa-content-tethered-panel {
      display: none;
    }
    .preview-settings {
      max-height: calc(100vh - #{$wizardStepMaxHeight} - 65px);
      min-height: calc(100vh - #{$wizardStepMaxHeight} - 65px);
      display: block;
      overflow: auto;
      background-color: background-color(primary, darkest);
    }
    .table-head {
      z-index: 3;
      thead {
        display: inline-block;
        width: 100%;
        tr {
          display: flex;
          width: 100%;
        }
        th {
          display: inline-block;
          width: 100%;
          border-width: 1px;
          border-style: solid;
          border-color: border-color(primary, dark);
          background-color: background-color(primary, darker);
        }
      }
    }
    .group-rank-cell p, .group-preview-cell p, .n-sources-cell p {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    .left-table-panel {
      background-color: background-color(primary, darkest);
      z-index: 1;
    }
    .group-ranking-table {
      padding-top: rsa-whitespace();
      display: inline-block;
      width: 100%;
      max-height: calc(100vh - #{$wizardStepMaxHeight} - 160px);
      min-height: calc(100vh - #{$wizardStepMaxHeight} - 160px);
      overflow: auto;
      scroll-behavior: smooth;
      table {
        width: 100%;
        tbody {
          tr {
            display: flex;
            width: 100%;
            border-bottom: 1px solid border-color(primary, dark);
            cursor: pointer;
            &:hover {
              background-color: rgba(180, 180, 180, 0.08);
            }
            &.is-selected {
              background-color: background-color(secondary, dark);
            }
            &.sortable-item.is-dragging {
              transition-duration: 0s;
              background: background-color(secondary, darker);
              z-index: 10;
            }
            &.sortable-item.is-dropping {
              transition-duration: .1s;
              background: background-color(secondary, light);
              z-index: 10;
            }
          }
          td {
            display: inline-block;
            width: 100%;
            .group-name-cell, .policy-cell {
              padding-left: rsa-whitespace();
              .tooltip-text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 300px;
                @media (max-width: 1800px) {
                  max-width: 150px;
                }
                @media (max-width: 1500px) {
                  max-width: 100px;
                }
              }
            }
          }
          hbox.group-name-cell, hbox.policy-cell {
            word-break: break-word;
          }
        }
      }
    }
    .preview-settings {   
      z-index: 0;
      position: absolute;
      -webkit-animation-name: preview; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
      animation-name: preview;
      animation-duration: 1s;
      padding-left: 30px;
      width: 90%;
      .heading hbox {
        color: text-color(primary, light);
      }
      .disabled .propValue {
        color: text-color(primary); /* gray-out propValues */
      }
      .disabled .disabled .propValue {
        color: text-color(neutral) /* set first propValue back to white */
      }
      .col-md-3.propValue {
        padding-right: rsa-whitespace();
      }
    }

    .loading {
      text-align: center;
      margin: 10%;
    }
    table {
      width: 100%;
      th, td {
        .handle {
          display: inline-block;
          cursor: move;
          height: 21px;
          width: 15px;
          &::before {
            display: block;
            content: '';
            height: 100%;
            width: 100%;
            background-image: radial-gradient(background-color(secondary) 40%, transparent 40%);
            background-size: 4px 4px;
            background-position: 100% 0;
            background-repeat: repeat;
          }
        }
      }
      th {
        text-align: left;
        @include rsa-font(header);
        hbox hbox {
          padding: rsa-whitespace();
          padding-left: rsa-whitespace(less);
          border-left: 1px solid border-color(primary, dark);
          padding-bottom: rsa-whitespace(less);
        }
      }
      td {
        padding: rsa-whitespace(less);
      }
    }
  }
  .simulate-true, .simulate-false {
    margin: 2px;
    width: 24px;
    height: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: border-color(primary);
    border-radius: 6px;
    background-color: background-color(neutral, dark);
    .float-ball {
      height: 10px;
      width: 10px;
      border-width: 1px;
      border-style: solid;
      border-color: border-color(neutral);
      border-radius: 5px;
      background-color: background-color(neutral);
    }
  }
  .simulate-true {
    background-color: background-color(secondary);
    .float-ball {
      float: right;
    }
  }
  .simulate-false .float-ball {
    float: left;
  }
  .simulate-true:hover, .simulate-false:hover {
    border-color: border-color(primary, lighter);
  }
  .tip {
    position: absolute;
    top:30px;
    display: none;
    border-width: 1px;
    border-style: solid;
    border-color: border-color(primary, lighter);
    padding: 10px;
    background-color: background-color(primary, darker);
    left: -120px;
    width: 150px;
    z-index: 9999;
    svg {
      position: absolute;
      left: 120px;
      top: -7px;
      width: 14px;
      height: 7px;
      .poly-line-1 {
        fill: background-color(primary, lighter);
      }
      .poly-line-2 {
        fill: background-color(primary, darker);
      }
    }
  }
  .tip.show {
    display: block;
  }
  .reset-ranking-button, .top-ranking-button {
    margin-bottom: rsa-whitespace();
    margin-right: rsa-whitespace();
  }
}
/*
.admin-engine .license-banner.shown+page.admin-usm-engine .edit-ranking-step {
  min-height: calc(100vh - #{$wizardStepMaxHeight} - 80px);
  max-height: calc(100vh - #{$wizardStepMaxHeight} - 80px);
}
*/