.global-files.file-analysis-wrapper {
  position: static;
  .file-analysis-header .file-analysis-title {
    border-left: 0px;
    padding: 0;
    margin: 0;
  }
  .right-zone .rsa-nav-tab{
    line-height: 10rem;
    height: 105px;
  }
}