.file-header {
  padding: rsa-whitespace(less);
  border-bottom: 1px solid text-color(primary, dark);
  .title-bar {
    line-height: 3px;

    &__file-title {
      padding-right: rsa-whitespace();
      @include rsa-font(header, larger);
      text-transform: capitalize;
      border-bottom-width: 3px;
      line-height: 2.25rem;
      .divider {
        height: 1.75rem;
      }
    }

  }

  .file-summary {
    margin: rsa-whitespace(less) 0;
    svg {
      padding-right: rsa-whitespace(more);
    }
    .rsa-content-definition {
      padding-right: rsa-whitespace(more);
      padding-top: rsa-whitespace();
      height: 3rem;
      .label {
        @include rsa-font(header, small);
        color: text-color(primary, light);;
        margin-bottom: rsa-whitespace(less);
      }
      .value {
        color: text-color(primary, lightest);
        font-weight: bold;
      }
    }
  }

  .divider {
    @include border-left(1px, solid, primary);
    height: 1.5rem;
    margin: rsa-whitespace(least);
    margin-left: rsa-whitespace();
  }
}