<header>
  <h2>{{title}}</h2>
  <button class="js-clipboard-trigger">{{svg-clipboard}}Copy To Clipboard</button>
</header>
<section>
  {{hbs-preview code=code}}
  {{#unless noSnippet}}
    {{hbs-snippet code=code}}
  {{/unless}}
</section>
