@import "text-filter";
@import "number-filter";
@import "list-filter";

.files-content-filter {
  @include border-bottom(1px, solid, primary, dark);

  padding: rsa-whitespace(less);
  color: text-color(primary, lightest);

  .filter-control-extended {
    padding: rsa-whitespace() 0 0;
  }
  .save-button {
    padding-right: rsa-whitespace(less);
  }
  .moreOptions {
    padding-right: rsa-whitespace();
  }

  .rsa-form-button-wrapper {
    .rsa-form-button {
      padding: rsa-whitespace(less) rsa-whitespace(less);
      color: text-color(primary, light);
      &:hover {
        cursor: pointer;
        color: text-color(primary, lightest);
      }
      .rsa-icon-remove-circle-2 {
        font-size: .9rem;
        margin: 0 calc(#{rsa-whitespace(least)} * -1) 0 rsa-whitespace(least);
      }
    }
    &:not(.is-icon-only) {
      .rsa-form-button {
        i:not(.rsa-icon-arrow-down-12) {
          margin: 0 calc(#{rsa-whitespace(least)} * -1) 0 rsa-whitespace(least);
        }
      }
    }
    &.is-standard:not(.is-disabled):not(.is-icon-only) {
      .rsa-form-button {
        border-color: transparent;
      }
      &:hover, &.is-active {
        .rsa-form-button {
          @include border(1px, solid, primary, lightest);
        }
      }
      &:active, &.is-active {
        background-color: transparent;
      }
    }

  }
}

#list-filter-content .rsa-form-checkbox-label::before {
  top: 8px;
}

.is-hovering .delete-filter {
  display: inline-block;
  .rsa-icon-bin-1-filled {
    font-size: 100%;
    top: -2px;
  }
}

.delete-filter {
  position: absolute;
  right: 0.5rem;
  display: none;
  .rsa-icon-bin-1-filled {
    font-size: 1.25rem;
  }
}

.modal-content.save-search {
  .rsa-form-label {
    margin-top: 10px;
    display: inline-block;
    text-transform: none;
    font-weight: normal;
    font-size: 1rem;
  }
  input {
    width:90%
  }
}
