<h2 class="title-header">
  {{#link-to 'hosts.details.tab' machineId 'DOWNLOADS' (query-params subTabName=null )}}
    {{#rsa-form-button class='back-to-downloads padding-right'}}
      {{rsa-icon name='arrow-left-12'}}
      {{t 'investigateHosts.downloads.backToDownloads'}}
    {{/rsa-form-button}}
  {{/link-to}}
  {{#unless isOpenFilter}}
    {{#rsa-form-button
       class='close-zone open-filter-panel'
       click=(action 'filterAction')
       isDisabled=disableFilter
       title=(if disableFilter (t 'investigateHosts.downloads.filterActionBar.filterPanelDisabled'))
    }}
      {{rsa-icon name='filter-2' size='small'}}
      <span>{{t 'investigateFiles.filter.filter'}}</span>
    {{/rsa-form-button}}
  {{/unless}}
</h2>