.usm-policy-wizard {
  .define-policy-step {
    max-height: calc(100vh - #{$wizardStepMaxHeight});
    min-height: calc(100vh - #{$wizardStepMaxHeight});
    .all-settings {
      color: text-color(primary, lighter);
      .rsa-icon {
        font-size: 16px;
      }
      .label {
        @include rsa-font(default, larger);
        padding-bottom: rsa-whitespace(more);
        letter-spacing: .05rem;
      }
      .heading {
        @include rsa-font(default, large);
        &:not(:nth-child(2)) {
          padding-top: rsa-whitespace();
          &::before {
            content: '';
            display: block;
            height: 1px;
            width: 85%;
            margin: rsa-whitespace() 0 rsa-whitespace() 0;
            background: background-color(primary);
          }
        }
      }

      .available-settings {
        margin-right: rsa-whitespace(most);
        .rsa-icon {
          float: right;
          margin-right: rsa-whitespace(most);
          margin-left: rsa-whitespace();
        }
        .is-greyed-out {
          color: text-color(primary);
          pointer-events: none;
        }
      }
      .available-settings .title {
        @include rsa-font();
        padding: rsa-whitespace() rsa-whitespace() 0 rsa-whitespace();
      }
      .selected-settings {
        .remove-setting .rsa-icon {
          color: text-color(primary, lightest);
        }
        .is-greyed-out .rsa-icon {
          color: text-color(primary, dark);
          pointer-events: none;
        }
      }
      .selected-settings, .available-settings {
        max-height: calc(90vh - #{$wizardStepMaxHeight});
        overflow-y: auto;
      }
      .selected-settings .scan-options {
        @include rsa-font(light,small);
        text-transform: uppercase;
        padding: rsa-whitespace() rsa-whitespace() 0 0;
        .rsa-icon {
          margin-right: rsa-whitespace();
        }
      }
      .selected-settings .sub-heading {
        font-weight: 600;
        padding: rsa-whitespace(more) rsa-whitespace() 0 0;
      }
    }
  }
}