.usm-policy-wizard {
  
  .identify-policy-step {
    max-height: calc(100vh - #{$wizardStepMaxHeight});
    min-height: calc(100vh - #{$wizardStepMaxHeight});

    .control {
      flex: none;
      padding-bottom: rsa-whitespace(more);
      > label {
        width: 45%;
        margin-bottom: rsa-whitespace(least);
      }
    }

    .control-with-error {
      flex: none;
      > label {
        width: 45%;
        margin-bottom: rsa-whitespace(least);
      }
    }

    .control-input-error {
      @include rsa-font(paragraph, small);
      color: text-color(primary, lightest);
      padding-left: rsa-whitespace(less);
      padding-bottom: rsa-whitespace(more);
    }
    
  }
  
}
