{{#rsa-events-sheet items=items totalCount=totalCount throttleInterval=0 as |sheet|}}
  {{#sheet.tableHeader as |tableHeader|}}
    <span class="event-count-and-label">
      <span class="event-count">
        {{items.length}}
      </span>
      <span class="event-label">
        {{t 'respond.eventDetails.events'}}
      </span>
    </span>
  {{/sheet.tableHeader}}
{{/rsa-events-sheet}}
