<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category}}
      {{#spec-member title="example"}}
        {{#rsa-chart data=model.singleSeries as |params|}}
          {{rsa-chart-grids xScale=params.xScale yScale=params.yScale width=params.graphWidth height=params.graphHeight}}
        {{/rsa-chart}}
        <code>
          <div>
            &#123;{#rsa-chart data=model.singleSeries as |params|}}
            <div>
              &#123;{rsa-chart-grids xScale=params.xScale yScale=params.yScale width=params.graphWidth height=params.graphHeight}}
            </div>
            &#123;{/rsa-chart}}
          </div>
        </code>
      {{/spec-member}}

      {{#spec-member title="hide X grid lines"}}
        {{#rsa-chart data=model.singleSeries as |params|}}
          {{rsa-chart-grids showXGrid=false yScale=params.yScale width=params.graphWidth}}
        {{/rsa-chart}}
        <code>
          <div>
            &#123;{#rsa-chart data=model.singleSeries as |params|}}
            <div>
              &#123;{rsa-chart-grids showXGrid=false yScale=params.yScale width=params.graphWidth}}
            </div>
            &#123;{/rsa-chart}}
          </div>
        </code>
      {{/spec-member}}

      {{#spec-member title="hide Y grid lines"}}
        {{#rsa-chart data=model.singleSeries as |params|}}
          {{rsa-chart-grids showYGrid=false xScale=params.xScale height=params.graphHeight}}
        {{/rsa-chart}}
        <code>
          <div>
            &#123;{#rsa-chart data=model.singleSeries as |params|}}
            <div>
              &#123;{rsa-chart-grids showYGrid=false xScale=params.xScale height=params.graphHeight}}
            </div>
            &#123;{/rsa-chart}}
          </div>
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
