<table class='matchingMapping'>
  <tr>
    <td class='token'>
      {{content/log-parser-rules/token-matching}}
    </td>
    <td class='values'>
      {{content/log-parser-rules/value-matching}}
    </td>
    <td class="meta">
      {{content/log-parser-rules/value-mapping}}
    </td>
  </tr>
</table>