<div class="ueba-loading__inner">
  <vbox class="ueba-container loading">
    <div class="ueba-loader">
      <div class="rsa-loader is-larger">
        <div class="rsa-loader__wheel"></div>
        <div class="rsa-loader__text"></div>
      </div>
    </div>
  </vbox>
</div>
