<div class='footer-buttons'>
  {{#rsa-form-button defaultAction=(action 'detailsDone')}}
    Close
  {{/rsa-form-button}}
  {{#if item}}
    {{#rsa-form-button defaultAction=(action itemSelection item)}}
      Select {{itemType}}
    {{/rsa-form-button}}
  {{else}}
    {{!-- temporarily disabling save from create new item TODO add/edit--}}
    {{#rsa-form-button isDisabled=true defaultAction=(action 'detailsDone')}}
      Save {{itemType}}
    {{/rsa-form-button}}
  {{/if}}
</div>

