<div class='footer-buttons'>
  {{#rsa-form-button class='close' defaultAction=(action 'detailsDone')}}
    Close
  {{/rsa-form-button}}
  {{#if item}}
    {{#rsa-form-button class='select' defaultAction=(action itemSelection item)}}
      Select {{itemType}}
    {{/rsa-form-button}}
  {{else}}
    {{#rsa-form-button isDisabled=(not itemIsValid) class='save' defaultAction=(action 'saveItem')}}
      Save {{itemType}}
    {{/rsa-form-button}}
  {{/if}}
</div>
