.rsa-byte-table-tooltip {
  position: absolute;
  z-index: 10000;
  min-width: 5rem;
  display: none;  /* to be set at run-time by javascript */
  transition: left 100ms, top 100ms;
  padding: 3px 0;

  &.visible {
    display: block;
  }

  div {
    color: rsa-color(gray, light);
    padding: 3px 12px 4px;
    .label{
      @include rsa-font(header, small);
    }
  }
}
