$packet-offsets-width: 70px !default;
$session-list-footer-height: 24px !default;
$tool-size: 24px;

@import "./byte-table";
@import "./byte-table-tooltip";
@import "./offset-table";
@import "./packet";
@import "./recon-event-detail-packets";
