.rsa-packet {
  &__header {
    background-color: rsa-color(gray, dark, 0.5);
    border-color: $dark-border-color-medium;
    color: $dark-fg-color;
    padding: 6px 12px 6px 0px;
    position: relative;
    padding-left: rsa-whitespace();

    box {
      margin-left: rsa-whitespace(less);
    }

    h3 {
      color: #fff;
    }

    &:before {
      border: 1pt solid $dark-border-color-medium;
      background-color: $dark-bg-color;
    }

    .request-response {
      color: rsa-color(blue);
      width: $packet-offsets-width;

      .rsa-icon {
        padding-right: rsa-whitespace(less);
      }

      .text {
        @include rsa-font(header, small);
        font-size: 0.85rem;
        letter-spacing: 1px;
      }
    }

    .packet-details {
      @include rsa-font(body, small);
      padding: rsa-whitespace(less) 0;
      text-transform: capitalize;
      .label {
        @include rsa-font(header, small);
        color: rsa-color(gray, light);
        margin-right: rsa-whitespace(least);
      }
      .rsa-icon {
        font-size: 0.85rem;
        padding-left: 0.1rem;
        padding-right: 0.3rem;
        &:hover {
          cursor: pointer;
        }
      }
      .text {
        @include rsa-font(body);
        margin-left: rsa-whitespace(least);
      }
    }
  }

  &__body {
    @include rsa-row(justify,fill);
    background-color: rsa-color(gray, dark, 0.5);
    color: $dark-fg-hover-color;
    font-size: 0.85rem;
  }

  &__offsets {
    width: $packet-offsets-width;
    @include rsa-vendor-prefix(flex-basis, $packet-offsets-width);
    @include rsa-vendor-prefix(flex-shrink, 0);

    &.hex {
      td {
        padding-left: 2.75rem;
      }
    }

    &.ascii {
      margin-left: rsa-whitespace();
      td {
        text-align: left;
      }
    }
  }

  &__hex {
    @include rsa-vendor-prefix(flex-basis, 66%);
    @include rsa-vendor-prefix(flex-shrink, 1);
    @include rsa-vendor-prefix(flex-grow, 1);
    margin-right: rsa-whitespace();
  }

  &__ascii {
    @include rsa-vendor-prefix(flex-basis, 33%);
    @include rsa-vendor-prefix(flex-shrink, 1);
  }

  &.request {
    background-color: rsa-color(gray, darkest, $rsa-nearly-transparent);
    .rsa-packet {
      &__header {
        &:before {
          transform: rotate(45deg);
        }
      }
    }
  }

  &.response {
    background-color: rsa-color(gray, darkest, $rsa-translucent);
    .rsa-packet {
      &__header {
        &:before {
          transform: rotate(225deg);
        }
      }
    }
  }
}

.buffered {
  .rsa-packet {
    &__ascii {
      display: none;
    }
  }
}
