$base-color: white;

.rsa-packet {

  border-top: 1px border-color(secondary) solid;
  min-width: 56rem;

  &:first-of-type {
    border-top: none;
  }

  &.is-continuation {
    border-top: none;
    .recon-request-response-header {
      display: none;
    }
    .packet-details {
      margin-top: 0;
    }
  }

  &__body {
    @include rsa-row(justify,fill);
    background-color: background-color(primary, dark, transparent);
    color: $dark-fg-hover-color;
    font-size: 0.85rem;
    padding-bottom: 1.25rem;
    min-width: 43.71rem;
  }

  &__offsets {
    width: $packet-offsets-width;
    @include rsa-vendor-prefix(flex-basis, $packet-offsets-width);
    @include rsa-vendor-prefix(flex-shrink, 0);

    &.hex {
      td {
        padding-left: 2.75rem;
      }
    }

    &.ascii {
      margin-left: rsa-whitespace();
      td {
        text-align: left;
      }
    }
  }

  &__hex {
    @include rsa-vendor-prefix(flex-basis, 66%);
    @include rsa-vendor-prefix(flex-shrink, 1);
    @include rsa-vendor-prefix(flex-grow, 1);
    margin-right: rsa-whitespace();
  }

  &__ascii {
    @include rsa-vendor-prefix(flex-basis, 33%);
    @include rsa-vendor-prefix(flex-shrink, 1);
  }

  &.has-styled-bytes {
    .byte-cell {
      .shade-1 {
        color: rgba($base-color, .06 );
      }
      .shade-2 {
        color: rgba($base-color, .13 );
      }
      .shade-3 {
        color: rgba($base-color, .19 );
      }
      .shade-4 {
        color: rgba($base-color, .25 );
      }
      .shade-5 {
        color: rgba($base-color, .31 );
      }
      .shade-6 {
        color: rgba($base-color, .38 );
      }
      .shade-7 {
        color: rgba($base-color, .44 );
      }
      .shade-8 {
        color: rgba($base-color, .50 );
      }
      .shade-9 {
        color: rgba($base-color, .56 );
      }
      .shade-10 {
        color: rgba($base-color, .63 );
      }
      .shade-11 {
        color: rgba($base-color, .69 );
      }
      .shade-12 {
        color: rgba($base-color, .75 );
      }
      .shade-13 {
        color: rgba($base-color, .81 );
      }
      .shade-14 {
        color: rgba($base-color, .88 );
      }
      .shade-15 {
        color: rgba($base-color, .94 );
      }
      .shade-16 {
        color: rgba($base-color, 1 );
      }
    }
  }

  &.has-signatures-highlighted {
    .byte-cell {
      &.is-known {
        // orange @ 20% opacity, but we don't actually want opacity
        background-color: #4b2c24;
        color: text-color(neutral);
        &[data-is-hover="true"] {
          &.packet-field-value {
            span {
              background-color: background-color(accentThree, darkest);
              color: text-color(neutral);
            }
          }
        }
      }
    }
  }
}
