@import "../../mixins";

.recon-event-detail-packets {
  .scroll-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: rsa-whitespace(more);
  }

  .no-packets {
    @include error-center();
  }
}
