<div class='close-action'>
  {{#link-to "hosts.details"  machineId (query-params mftFile='' sid=serverId subTabName='DOWNLOADS' pid=null query=null machineId=machineId tabName='DOWNLOADS')}}
    {{rsa-icon class='close-mft-view-button' title=(t 'investigateHosts.downloads.backToDownloadsTitle') name='close'}}
  {{/link-to}}
</div>
