.rsa-dark {
  .hbs-snippet {
    @include rsa-font-code();
    background-color: rsa-color(black, base, $rsa-nearly-transparent);
    
    color: rsa-color(gray, light);
    -webkit-text-size-adjust: none;

    .hljs-title {
      color: rsa-color(blue, light);
    }
    .hljs-attribute {
      color: rsa-color(green, light);
    }
    .hljs-value {
      color: rsa-color(red, light);
    }
  }
}
