.rsa-dark {
  .hbs-example {
    > header {
      color: rsa-color(white, base, $rsa-translucent);
      font-size: 8.5pt;
      background-color: rsa-color(black, base, $rsa-translucent);
      margin-bottom: 1px;
    }
    
    .js-clipboard-trigger {
      text-indent: -1000px;

      .svg-clipboard {
        svg {
          path {
            fill: rsa-color(gray, lighter);
          }
        }
      }
    }
  }
}

