.#{$ns}dark {
  .spec-nav {
    border-left: 1px solid rgba($rsa-color-gray-l1,.3);
    line-height: 1.35;

    &__category {

      &:not(:last-of-type) {
        &:after {
          border-bottom: 1px solid rgba($rsa-color-gray,.3);
        }
      }

      &-title {
        color: $rsa-color-gray-l1;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    &__link {
      color: $rsa-color-white;
      text-decoration: none;
    }
  }
}
