.rsa-dark {
  .spec-body-member {
    .spec-body-member-header {
      color: rsa-color(white);
    }
    
    p {
      color: rsa-color(gray, light);

      code {
        color: rsa-color(gray, lightest);
      }
    }
  }
}
