.#{$ns}dark {
  .spec-body {
    line-height: 1.35;
    color: $rsa-color-gray-l1;

    &__header {
      code {
        color: $rsa-color-gray-l3;
        font-family: Consolas, Monaco, 'Andale Mono', monospace;
      }
    }
  }
}


