.rsa-create-incident {
  height: 100%;

  .create-incident-form {
    padding: 0 rsa-whitespace();
    overflow-y: auto;
    height: calc(100% - #{$footerHeight});
  }
  p, label {
    padding: rsa-whitespace();
    display: block;
  }

  footer {
    height: $footerHeight;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: rsa-whitespace(less);
    background-color: background-color(primary, dark, nearly-transparent);


    .modal-footer-buttons {
      justify-content: flex-end;
      .rsa-form-button-wrapper {
        margin: 0 0 0 rsa-whitespace();
      }
    }
  }
}
