.rsa-respond-detail-layout-manager{
  .rsa-content-accordion {
    h3 {
      background: none;

      &:hover {
        background: none;
      }
    }
    .content {
      background: none;
    }
  }
}
