.rsa-respond-detail-layout-manager,
.rsa-respond-list {
  .rsa-data-table {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .rsa-data-table-body-row,
  .rsa-data-table-header-row{
    align-items: center;
  }
  .rsa-data-table-body-row:hover {
    background-color: rgba(0,0,0,$rsa-nearly-transparent);
  }
  .rsa-data-table-body-row:active {
    background-color: rgba(0,0,0,$rsa-translucent);
  }
}
.rsa-respond-list {
  .rsa-data-table {
    top: 60px;
  }
}
.rsa-respond-detail-layout-manager {
  .rsa-data-table {
    top: 30px;
  }
}
