.stale-account-monitoring-reports {

    h3 {
        font-family: 'Open Sans', sans-serif;
        color: #002949;
        font-size: 14px;
        font-weight: 400;
    }


    &.disabled-accounts-report,&.inactive-accounts-report {
        button[type="submit"] {
            margin-left: 30px;
        }
    }

    &.disabled-accounts-activity-report {
        .report-content {
            height: calc(100% - 80px);
        }
    }
}
