$void: register-theme('light', (
  /*
  key-value pairs go here, nested pairs are okay, e.g:
  ```
  primary: blue,
  secondary: gray,
  images: (
    logo: url('path/to/light-logo.png'),
    ..
  )
  ```
  */
));
