<figure class="color-swatch__preview {{model.backgroundClass}}"></figure>
<section class="color-swatch__caption">
    <h2 class="color-swatch__title">{{model.title}}</h2>
    <p class="color-swatch__subtitle">{{model.code}}</p>
    <p class="color-swatch__sassvar">{{model.sassVar}}</p>
</section>
