{{#each model.categories as |category|}}
  {{#rsa-nav-link-list header=category.title}}
    {{#each category.members as |member|}}
      <li>
        <a href="{{baseUrl}}#{{member.id}}">{{member.title}}</a>
      </li>
    {{/each}}
  {{/rsa-nav-link-list}}
{{/each}}

