{{#each group.keys as |groupKey groupKeyIndex|}}
  {{rsa-investigate/meta/key-values
    group=group
    groupKey=groupKey
    values=(get (array-lookup metaKeyStatesForGroup groupKeyIndex) 'values')
    options=(get (array-lookup metaKeyStatesForGroup groupKeyIndex) 'options')
    query=query
    language=language
    aliases=aliases
    clickValueAction=clickValueAction
    contextLookupAction=contextLookupAction
    toggleAction=(action "safeCallback" toggleAction groupKey)}}
{{/each}}

<footer class="rsa-investigate-meta-values-panel__empties">
  {{#if emptyMetaKeyStates.length}}
    <h2>The following meta keys have no values: ({{emptyMetaKeyStates.length}})</h2>
  {{/if}}
  <ul>
    {{#each emptyMetaKeyStates as |keyState|}}
      <li>{{keyState.info.displayName}}</li>
    {{/each}}
  </ul>
</footer>
