<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category}}
      {{#spec-member}}
        {{rsa-content-definition label='Data 1' value='A value with a long length'}}

        <code>
          &#123;{rsa-content-definition label='Data 1' value='A value with a long length'}}
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
