<vbox fit class="recon-event-header">
  {{recon-event-titlebar
    closeRecon=closeRecon
    expandRecon=expandRecon
    shrinkRecon=shrinkRecon
    index=index
    total=total
    showHeaderData=showHeaderData
    showMetaDetails=showMetaDetails
    reconstructionType=reconstructionType
    showRequestData=showRequestData
    showResponseData=showResponseData
    toggleHeaderData=(action 'toggleHeaderData')
    toggleMetaDetails=toggleMetaDetails
    toggleRequest=toggleRequest
    toggleResponse=toggleResponse
    updateReconstructionView=updateReconstructionView
  }}

  {{recon-event-dropdowns}}

  {{#if showHeaderData}}
    <div class="header-data">
      <grid responsive>
        {{#each headerItems as |item|}}
          {{recon-event-header-item name=item.name value=item.value}}
        {{/each}}
      </grid>
    </div>
  {{/if}}
</vbox>
