{{#each networkInterfaces as |ip|}}
  <hbox class="host-ip-addresses host-content__ip-details">
    <span class='host-content__ip-details__icon'>
      {{rsa-icon style='lined' size='large' name='globe-3'}}
    </span>
    <hbox xs='11'>
      {{#each ip.ipv4 as |ipv4|}}
        {{#pivot-to-investigate
          serviceList=serviceList
          metaName='machineIpv4'
          metaValue=ipv4
          showAsRightClick=true}}
          {{ipv4}}{{#unless (eq ipv4 ip.ipv4.lastObject)}}, {{/unless}}
        {{/pivot-to-investigate}}
      {{/each}}
      {{#each ip.ipv6 as |ipv6|}}
        {{#if (eq ipv6 ip.ipv6.firstObject)}} <span class="ip-divider">/</span> {{/if}}
        {{#pivot-to-investigate
          serviceList=serviceList
          metaName='machineIpv6'
          metaValue=ipv6
          showAsRightClick=true}}
          {{ipv6}}{{#unless (eq ipv6 ip.ipv6.lastObject)}}, {{/unless}}
        {{/pivot-to-investigate}}
      {{/each}}
      <span class="ip-divider">|</span> MAC Address: {{ip.macAddress}}
    </hbox>
  </hbox>
{{/each}}