{{#each networkInterfaces as |ip|}}
  <hbox class="host-ip-addresses host-content__ip-details">
    <span class='host-content__ip-details__icon'>
      {{rsa-icon style='lined' size='large' name='globe-3'}}
    </span>
    <vbox xs='11'>
      {{ip}}
    </vbox>
  </hbox>
{{/each}}