<div style="display: flex;flex-direction: column;font-family: 'Trebuchet MS', sans-serif; font-size:14px">
    <div style="display: flex; justify-content: center; padding: 30px">
        <img src="assets/images/icons/company_logo.svg" style="width: 312px; height: 84px;">
    </div>

    <div style="display: flex;flex-direction: column">
        <div style="display: flex; justify-content: center; padding-top: 20px; font-size: 24px">
            Change Auditor Threat Detection
        </div>


        <div style="display: flex; justify-content: center; padding: 20px 0 30px 0; font-size: 18px">
            Version 7.0
        </div>
    </div>

    <div style="padding: 0 90px 0 90px; font-size: 11px;display: flex;flex-direction: column;text-align: center">

        <div style="padding-bottom: 20px">This product is protected by U.S patent US 2017/0126710 A1. Additional patents pending.</div>

        <div style="padding-bottom: 20px">
            Quest, and the Quest logo are trademarks of Quest Inc. Other trademarks and trade names may be used in this document to refer to either the
            entities claiming the marks and names or their products. Quest disclaims any proprietary interest in the marks and names of others.
        </div>
        <div style="padding-bottom: 20px">
        Copyright 2018 Quest Inc. All rights reserved.
        This product is protected by U.S. and international copyright and intellectual property laws.
        </div>
    </div>
</div>
