<style>
.legal-cell {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
}

.legal-table {
    width: 100%;
}
</style>

<div style="display: flex; flex-direction: column; padding: 0 25px;font-family: 'Trebuchet MS', sans-serif; font-size:14px">
    <div style="font-size: 18px; padding-bottom: 10px">
        Third Party Components
    </div>

    <div div style="padding-bottom: 10px;">
        This product contains the third party components listed below.
        <br>
        For third-party license information, go to <a href="https://www.quest.com/legal/third-party-licenses.aspx" target="_blank">https://www.quest.com/legal/third-party-licenses.aspx</a>
    </div>
    <div>
        <div style="
        overflow: auto;
        height: 400px;
        width: 100%;">

            <table class="legal-table">
                <tr class="legal-cell">
                    <th class="legal-cell">Component</th>
                    <th class="legal-cell">Legal Notice</th>
                    <th class="legal-cell">License Text</th>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">Mongo DB</td>
                    <td class="legal-cell">The Apache Software License, Version 2.0</td>
                    <td class="legal-cell"></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">Elastic JNA Distribution</td>
                    <td class="legal-cell">The Apache Software License, Version 2.0</td>
                    <td class="legal-cell"></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">Apache AirFlow</td>
                    <td class="legal-cell">The Apache Software License, Version 2.0</td>
                    <td class="legal-cell"><a href="https://airflow.incubator.apache.org/license.html" target="_blank">Third party licenses</a></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">Spring Framework</td>
                    <td class="legal-cell">The Apache Software License, Version 2.0</td>
                    <td class="legal-cell"></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">Red Hat Enterprise Linux</td>
                    <td class="legal-cell"></td>
                    <td class="legal-cell"><a href="https://www.redhat.com/en/about/licenses" target="_blank">Third party licenses</a></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">AngularJS</td>
                    <td class="legal-cell">MIT License</td>
                    <td class="legal-cell"><a href="https://github.com/angular/angular/blob/master/LICENSE" target="_blank">Third party licenses</a></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">Swagger</td>
                    <td class="legal-cell">The Apache Software License, Version 2.0</td>
                    <td class="legal-cell"></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">Tomcat</td>
                    <td class="legal-cell">The Apache Software License, Version 2.0</td>
                    <td class="legal-cell"></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">httpd</td>
                    <td class="legal-cell">The Apache Software License, Version 2.0</td>
                    <td class="legal-cell"><a href="https://httpd.apache.org/docs/2.4/license.html" target="_blank">Third party licenses</a></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">postgresql</td>
                    <td class="legal-cell">The PostgreSQL Licence</td>
                    <td class="legal-cell"><a href="https://opensource.org/licenses/postgresql" target="_blank">Third party licenses</a></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">Kibana</td>
                    <td class="legal-cell">The Apache Software License, Version 2.0</td>
                    <td class="legal-cell"><a href="https://github.com/elastic/kibana/blob/master/LICENSE.md" target="_blank">Third party licenses</a></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">Flume</td>
                    <td class="legal-cell">The Apache Software License, Version 2.0</td>
                    <td class="legal-cell"><a href="https://flume.apache.org/license.html" target="_blank">Third party licenses</a></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">Phyton</td>
                    <td class="legal-cell"></td>
                    <td class="legal-cell"><a href="https://www.python.org/download/releases/2.7/license/" target="_blank">Third party licenses</a></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">Maven Frontend Plugin</td>
                    <td class="legal-cell">The Apache Software License, Version 2.0</td>
                    <td class="legal-cell"></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">AmMaps</td>
                    <td class="legal-cell"></td>
                    <td class="legal-cell"><a href="https://www.amcharts.com/online-store/licenses-explained" target="_blank">Third party licenses</a></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">AmCharts</td>
                    <td class="legal-cell"></td>
                    <td class="legal-cell"><a href="https://www.amcharts.com/online-store/licenses-explained" target="_blank">Third party licenses</a></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">jQuery</td>
                    <td class="legal-cell">MIT License</td>
                    <td class="legal-cell"><a href="https://jquery.org/license/" target="_blank">Third party licenses</a></td>
                </tr>
                <tr class="legal-cell">
                    <td class="legal-cell">Kendo-UI</td>
                    <td class="legal-cell"></td>
                    <td class="legal-cell"><a href="http://www.telerik.com/purchase/license-agreement/kendo-ui-professional" target="_blank">Third party licenses</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
