.rsa-nav-tab-group {
  display: flex;
  flex-flow: row nowrap;
}

.rsa-nav-tab {
  padding: rsa-whitespace();
  flex-grow: 1;
  box-sizing: border-box;
  border-bottom: rsa-whitespace(least) solid transparent;

  .imagery {
    font-size: 2rem;
    text-align: center;
    margin-bottom: rsa-whitespace(less);
    color: $navTabImageryTypeColor;
  }

  a {
    text-decoration: none;
  }

  .label, a {
    @include rsa-font(navigation);
    text-align: center;
    color: $navTabLabelTypeColor;
  }

  &:hover {
    .imagery,
    .label,
    .label a {
      color: $navTabHoverTypeColor;
    }
  }

  &.is-active {
    border-color: $navTabActiveBorderBottomColor;
    align-self: center;
    cursor: default;

    .imagery,
    .label,
    .label a {
      color: $navTabActiveTypeColor;
    }
  }

  &.is-left-aligned-primary {
    flex-grow: 0;

    .imagery {
      font-size: 1rem;
      &::before {
        content:"(";
      }
      &::after {
        content:")";
      }
    }

    .label, a {
      text-transform: capitalize;
      font-weight: 100;
      font-size: 1.28rem;
      letter-spacing: 0.05rem;
    }
  }

  &.is-center-aligned-secondary {
    text-align: center;
    line-height: 3rem;

    .imagery {
      display: none;
    }

    .label, a {
      @include rsa-font(navigation);
      display: inline-block;
      margin: 0;
    }
  }

  &.is-left-aligned-secondary {
    padding: 0 0.3rem;
    flex-grow: 0;
    text-align: center;
    line-height: 3rem;

    .imagery {
      display: none;
    }

    .label, a {
      @include rsa-font(navigation);
      display: inline-block;
      margin: 0;
    }
  }

}
