.rsa-nav-tab-group {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid $navTabBorderBottomColor;
}

.rsa-nav-tab {
  padding: rsa-whitespace();
  flex-grow: 1;
  box-sizing: border-box;

  .imagery {
    font-size: 2rem;
    text-align: center;
    margin-bottom: rsa-whitespace(less);
    color: $navTabImageryTypeColor;
  }

  .label {
    @include rsa-font(navigation);
    text-align: center;
    color: $navTabLabelTypeColor;
  }

  &:hover {
    background-color: $navTabHoverBackgroundColor;
    cursor: pointer;
  }

  &.is-active {
    border-bottom: rsa-whitespace(least) solid $navTabActiveBorderBottomColor;
    background-color: $navTabActiveBackgroundColor;
    align-self: center;
    cursor: default;

    .imagery,
    .label {
      color: $navTabActiveTypeColor;
    }
  }

  &.is-compact {
    padding: 0;
    text-align: center;
    line-height: 3rem;

    .imagery {
      display: none;
    }

    .label {
      @include rsa-font(navigation);
      display: inline-block;
      margin: 0;
    }
  }

}
