$navLinkListHeaderTypeColor: text-color(primary);
$navLinkListAnchorTypeColor: text-color(neutral);
$navLinkListAnchorHoverTypeColor: text-color(primary, base, nearly-transparent);

$navTabBorderBottomColor: border-color(primary);
$navTabActiveBorderBottomColor: border-color(secondary);
$navTabActiveTypeColor: text-color(primary, lightest);
$navTabHoverTypeColor: text-color(primary, lightest);
$navTabImageryTypeColor: text-color(primary, light);
$navTabLabelTypeColor: text-color(primary, light);

@import 'nav-link-list';
@import 'nav-tab';
