$navLinkListHeaderTypeColor: rsa-color(gray);
$navLinkListAnchorTypeColor: rsa-color(white);
$navLinkListAnchorHoverTypeColor: rsa-color(gray, base, $rsa-nearly-transparent);

$navTabBorderBottomColor: rsa-color(gray);
$navTabActiveBorderBottomColor: rsa-color(blue);
$navTabActiveTypeColor: rsa-color(gray, lightest);
$navTabHoverTypeColor: rsa-color(gray, lightest);
$navTabImageryTypeColor: rsa-color(gray, light);
$navTabLabelTypeColor: rsa-color(gray, light);

@import 'nav-link-list';
@import 'nav-tab';
