<svg viewBox="12 8 76 29" width="100%" height="100%" class="rsa-logo__svg">
    <polygon class="rsa-logo__brick"
             data-js-delay-index="0"
             points="0,0 0,48 67.6,48 73.2,35.9 78.9,48 95.8,48 95.8,0 0,0"/>
    <path class="rsa-logo__letter rsa-logo__R"
          data-js-delay-index="1"
          d="M26.3,24.5c3.6-1.4,5.4-4.4,5.3-7.4c-0.1-4.7-3.7-7.9-8.9-7.9h-9.1h-2v26.7h4.1V13h6.9
    c2.3,0,4.8,1.2,4.8,4.1c0,2.6-1.9,4.2-5.1,4.3l-2.5,0L28,35.9l4.8,0L26.3,24.5L26.3,24.5z"/>
    <path class="rsa-logo__letter rsa-logo__S"
          data-js-delay-index="1"
          d="M37.3,16.1c0,5.3,5.3,6.8,9.4,8c4.3,1.2,5.8,2.6,5.8,4.6c0,3.4-3.5,4-5.6,4c-3,0-5.4-0.8-7.8-2.3l-2,3.5
    c3,1.9,6.1,2.7,9.8,2.7c6.2,0,10.3-3.2,10.3-8.1c0-5.5-5-7.1-9.2-8.2c-4.3-1.2-5.9-2.2-5.9-4.3c0-3.1,3.8-3.4,5.2-3.4
    c2.2,0,4.9,0.7,6.5,1.6l1.7-3.4c-2.2-1.1-5.5-1.9-8.3-1.9C41.1,8.7,37.3,11.4,37.3,16.1L37.3,16.1z"/>
    <polygon class="rsa-logo__letter rsa-logo__A"
             data-js-delay-index="1"
             points="87.2,35.9 75.6,9.4 70.9,9.4 59.5,35.9 64.5,35.9 73.2,15.1 82.2,35.9 87.2,35.9"/>
    <path class="rsa-logo__registered"
          data-js-delay-index="2"
          fill-rule="evenodd" clip-rule="evenodd"
          d="M100.4,0.5c0.4,0,0.8,0.1,1.1,0.3c0.4,0.2,0.7,0.5,0.9,0.9
    c0.2,0.4,0.3,0.8,0.3,1.2c0,0.4-0.1,0.8-0.3,1.2c-0.2,0.4-0.5,0.7-0.9,0.9c-0.4,0.2-0.8,0.3-1.2,0.3c-0.4,0-0.8-0.1-1.2-0.3
    c-0.4-0.2-0.7-0.5-0.9-0.9c-0.2-0.4-0.3-0.8-0.3-1.2c0-0.4,0.1-0.8,0.3-1.2c0.2-0.4,0.5-0.7,0.9-0.9C99.7,0.6,100,0.5,100.4,0.5
    L100.4,0.5z M100.4,0.9c-0.3,0-0.6,0.1-1,0.3c-0.3,0.2-0.6,0.4-0.7,0.7c-0.2,0.3-0.3,0.6-0.3,1c0,0.3,0.1,0.7,0.3,1
    c0.2,0.3,0.4,0.5,0.7,0.7c0.3,0.2,0.6,0.3,1,0.3c0.3,0,0.7-0.1,1-0.3c0.3-0.2,0.5-0.4,0.7-0.7c0.2-0.3,0.3-0.6,0.3-1
    c0-0.3-0.1-0.7-0.3-1c-0.2-0.3-0.4-0.6-0.7-0.7C101.1,1,100.8,0.9,100.4,0.9L100.4,0.9z M99.4,4.2V1.7h0.9c0.3,0,0.5,0,0.6,0.1
    c0.1,0,0.2,0.1,0.3,0.2c0.1,0.1,0.1,0.2,0.1,0.4c0,0.2-0.1,0.3-0.2,0.5C101,2.9,100.8,3,100.6,3c0.1,0,0.2,0.1,0.2,0.1
    c0.1,0.1,0.2,0.3,0.4,0.5l0.3,0.5H101l-0.2-0.4c-0.2-0.3-0.3-0.5-0.4-0.6c-0.1-0.1-0.2-0.1-0.3-0.1h-0.2v1.1H99.4L99.4,4.2z
     M99.8,2.7h0.5c0.2,0,0.4,0,0.5-0.1c0.1-0.1,0.1-0.2,0.1-0.3c0-0.1,0-0.1-0.1-0.2c0-0.1-0.1-0.1-0.2-0.1c-0.1,0-0.2,0-0.4,0h-0.5
    V2.7L99.8,2.7z"/>
</svg>
{{#if title}}
    <h2 class="rsa-logo__title x-hmargin-m x-vmargin-m x-nowrap x-text-l" data-js-delay-index="2">{{title}}</h2>
{{/if}}
