/* VARIABLES */

$appHeaderHeight: 0px; // 40px;
$secondaryNavHeight: 0px; // 43px;
$secondaryNavWidthExpanded: 150px;
$secondaryNavWidthCollapsed: 35px;
$animationDuration: 0.5s;

.rsa-live-content {
  height: calc(100vh - (#{$appHeaderHeight} + #{$secondaryNavHeight}));
  color: rsa-color(gray, light);
  width: 100%;
  display: flex;

  // Temporary background icon styling for in progress routes
  .background-icon {
    font-size: 500%;
    display: block;
    margin: auto;
  }

  nav.rsa-live-content-navigation-panel {
    transition: max-width $animationDuration, width $animationDuration, min-width $animationDuration;
    background-color: rsa-color(gray, darker);
    max-width: $secondaryNavWidthExpanded;
    min-width: $secondaryNavWidthExpanded;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid $rsa-nearly-transparent;

    .rsa-nav-secondary {
      background-color: transparent;
      a {
        display: block;
        width: 100%;
        margin-bottom: rsa-whitespace();

        section {
          width: 100%;
          text-align: left;
          white-space: nowrap;
          border-bottom: none;
          overflow: hidden;
        }
        &.active{
          section {
            border-bottom: none;
            background-color: rsa-color(blue, base, $rsa-translucent);
          }
        }
      }
    }
  }

  &.nav-collapsed {
    nav.rsa-live-content-navigation-panel {
      width: $secondaryNavWidthCollapsed;
      min-width: $secondaryNavWidthCollapsed;
    }
  }
}
