<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <fill block class="scroll-box">
  {{#spec-category title="Block Style"}}
    {{#spec-member title="Default"}}
      <div class="form-error-message">
        Error message text goes here.
      </div>
      {{!-- BEGIN-SNIPPET formError1 
      <div class="form-error-message">
        Error message text goes here.
      </div>
      END-SNIPPET --}}
      {{code-snippet name="formError1.hbs"}}
    {{/spec-member}}
  {{/spec-category}}
</fill>
</hbox>
