.rsa-form-radio-label {
  position: relative;
  line-height: 2rem;
  color: rsa-color(gray, lightest);

  input {
    visibility: hidden;
    margin-right: rsa-whitespace(least);

    &:before,
    &:after {
      content: '';
      text-indent: 10rem;
      overflow: hidden;
      visibility: visible;
      display: block;
      position: absolute;
      top: 3px;
      left: 0;
      border-radius: 10rem;
    }

    &:before {
      width: 11px;
      height: 11px;
      border: 1px solid rsa-color(gray);
    }

    &:after {
      background: transparent;
      width: 7px;
      height: 7px;
      margin: 3px;
    }

    &:checked {
      &:after {
        background-color: rsa-color(blue);
      }
    }
  }

  &:hover:not(.disabled) {
    cursor: pointer;

    input:not(.disabled) {
      cursor: pointer;

      &:before {
        border-color: rsa-color(gray, lighter);
      }

      &:checked {
        &:before {
          border-color: rsa-color(blue);
        }
      }
    }
  }

  &.disabled {
    opacity: $rsa-translucent;

    input {
      &:checked {
        &:after {
          background-color: rsa-color(gray);
        }
      }
    }
  }

  &.error {
    color: rsa-color(red);

    input {
      &:before {
        border-color: rsa-color(red);
      }

      &:checked {
        &:after {
          background-color: rsa-color(red);
        }
      }
    }

    &:hover {
      input {
        &:before {

        }

        &:before {
          border-color: rsa-color(red, light)!important;
        }
      }
    }
  }
}

.rsa-form-radio-group {
  .rsa-form-radio-group-label {
    margin-bottom: rsa-whitespace(less);
    color: $formRadioGroupLabelColor;
    @include rsa-font(header, small);
    text-transform: uppercase;
  }

  .rsa-form-radio-label {
    margin-right: 1rem;
  }
}
