.rsa-form-checkbox-label {
  position: relative;

  .rsa-form-checkbox {
    vertical-align: baseline;
    visibility: hidden;
    display: inline-block;
    box-sizing: border-box;
    width: calc(1rem - 1px);
    padding: 1px;
    height: calc(1rem - 1px);
    border: 1px solid transparent;
    margin-right: rsa-whitespace(least);
    position: relative;
  }

  &::before {
    font-family: 'Streamline-2-Filled';
    content: '';
    visibility: visible;
    display: block;
    border: 1px solid $formCheckboxBorderColor;
    display: inline-block;
    box-sizing: border-box;
    font-size: .5rem;
    width: calc(1rem - 2px);
    padding: 0 2px;
    height: calc(1rem - 2px);
    line-height: calc(1rem - 2px);
    position: absolute;
    top: 3px;
    left: 0;
  }

  &.checked {
    &::before {
      content: "\e62f";
      color:rsa-color(blue);
    }
  }

  &:hover:not(.disabled) {
    cursor: pointer;

    &::before {
      border-color: $formCheckboxHoverBorderColor;
    }

    &.checked {
      &::before {
        border-color: rsa-color(blue);
      }
    }
  }

  &.disabled {
    color: $formCheckboxBorderColor;

    ::before {
      opacity: $rsa-translucent;
    }
  }

  &.error {
    color: $formCheckboxErrorColor;

    &::before {
      border-color: $formCheckboxErrorColor;
      color: $formCheckboxErrorColor;
    }
  }

  &.error:hover:not(.disabled) {
    cursor: pointer;

    &::before {
      border-color: rsa-color(red, light);
    }
  }
}

li > .rsa-form-checkbox-label {
  display: block;
}
