$ember-power-select-text-color: rsa-color(gray, lightest);
$ember-power-select-trigger-border-bottom: 1px solid rsa-color(gray, light);
$ember-power-select-default-border-radius: 0;
$ember-power-select-highlighted-background: rsa-color(blue, darker);
$ember-power-select-selected-background: rsa-color(blue, dark);
$ember-power-select-option-padding: rsa-whitespace();
$ember-power-select-line-height: 2rem;

@import "../../../ember-power-select";

.power-select {
  .label-text {
    vertical-align: bottom;
    box-sizing: border-box;
    color: $formSelectLabelColor;
    margin-bottom: rsa-whitespace(less);
    @include rsa-font(header, small);
    text-transform: uppercase;
  }

  &.is-error {
    .label-text {
      color: rsa-color(red);
    }
  }

  span.label-text {
    position: relative;
    top: calc(#{rsa-whitespace(least)} - #{rsa-whitespace()});
    margin-right: rsa-whitespace();
    margin-bottom: 0;
    display: inline-block;
  }
}


.ember-power-select-dropdown {
  border: 1px solid rsa-color(blue)!important;
  background: rsa-color(gray, darkest);

  &.is-error {
    border: 1px solid rsa-color(red)!important;

    .ember-power-select-option {
      &[aria-selected="true"] {
        background-color: rsa-color(red);
      }
      &[aria-current="true"] {
        background-color: rsa-color(red, darker);
      }
    }
  }

  .ember-power-select-search {
    padding: 0 rsa-whitespace(less) rsa-whitespace(least);

    &-input {
      padding: rsa-whitespace(least);
      border-top: none;
      border-left: none;
      border-right: none;
    }
  }

}

.ember-power-select-trigger {
  outline: none;
  background: transparent;
  border-left: none!important;
  border-right: none!important;
  border-top: none!important;
  border-bottom: 1px solid rsa-color(gray, light);

  &.is-error {
    border-bottom: 1px solid rsa-color(red);
    background-color: $formSelectErrorBackgroundColor;

    .ember-power-select-status-icon {
      color: rsa-color(red);
    }

    &:hover {
      border-bottom: 1px solid rsa-color(red);

      .ember-power-select-status-icon {
        color: rsa-color(red);
      }
    }
  }

  &.inline {
    display: inline-block;
  }

  &.is-small {
    @include rsa-font(body, small);
  }

  .ember-power-select-selected-item, .ember-power-select-placeholder {
    color: $ember-power-select-text-color;
    margin-left: rsa-whitespace(least);
    margin-right: rsa-whitespace();
  }

  .ember-power-select-status-icon {
    border-color: transparent;
    width: .6rem;
    right: 0;
    top: 2px;
    bottom: auto;
    display: block;
    line-height: 1.75em;
    color: rsa-color(gray, light);

    &::after {
      font-size: .6rem;
      font-family: 'Streamline-2-Line';
      content: "\f436";
      display: block;
      line-height: 1.75em;
    }
  }

  &[aria-expanded="true"],
  &--active {
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid transparent;
    }

    .ember-power-select-status-icon {
      color: rsa-color(gray, lightest);
      transform: none;
    }

    &.is-error {
      color: rsa-color(red);
      border-bottom: 1px solid rsa-color(red);

      .ember-power-select-status-icon {
        color: rsa-color(red);
      }

    }
  }

  &:hover {
    cursor: pointer;
    border-bottom: 1px solid rsa-color(gray, lightest);

    .ember-power-select-status-icon {
      color: rsa-color(gray, lightest);
    }
  }
}


.rsa-form-select {
  position: relative;
  overflow: visible;

  select {
    @include rsa-font(body);
    @include rsa-layer(controls);
    box-sizing: border-box;
    min-width: 100%;
    position: absolute;
    border: none;
    border-radius: 0;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline:none;
    border-right: 1px solid $formSelectActiveBorderColor;
    border-left: 1px solid $formSelectActiveBorderColor;
    border-bottom: 1px solid $formSelectActiveBorderColor;
    background: $formSelectActiveBackgroundColor;

    option {
      display: block;
      margin:0;
      box-shadow: none;
      border-radius: 0;
      position: relative;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: none;
      border-bottom: 1px solid $formSelectOptionBorderColor;
      padding: rsa-whitespace(less) rsa-whitespace(less);
      color: $formSelectOptionTypeColor;

      &[disabled] {
        background-color: $formSelectDisabledTagBackgroundColor;
        color: $formSelectDisabledTagTypeColor;
      }
      &:not([disabled]) {
        &:hover {
          background: $formSelectOptionHoverBackgroundColor;
          cursor: pointer;
        }

        &:last-child {
          border: none;
        }

        &:checked {
          padding: rsa-whitespace(less) 0;
          height: 1.35rem;

          &:hover {
            background: $formSelectOptionHoverBackgroundColor;
          }

          &:last-child {
            border: none;
          }

          &:checked {
            padding: rsa-whitespace(less) 0;
            height: 1.35rem;
          }

          &:checked::after {
            height: calc(1.35rem + 1px);
            position: relative;
            top: -2rem;
            content: attr(data-text);
            width: 100%;
            border: none;
            display: block;
            padding: rsa-whitespace(less) rsa-whitespace(less);
            background: $formSelectOptionSelectedBackgroundColor;
            color: $formSelectOptionSelectedTypeColor;
          }
        }
      }
    }
  }

  .rsa-form-label {
    display: block;
    vertical-align: bottom;
    box-sizing: border-box;
    color: $formSelectLabelColor;
    @include rsa-font(header, small);
    text-transform: uppercase;
  }

  .prompt {
    @include rsa-font(body);
    box-sizing: border-box;
    line-height: 1.4rem;
    color: $formSelectPromptTypeColor;
    padding: rsa-whitespace(less) rsa-whitespace(more) rsa-whitespace(least) 0;
    border-bottom: 1px solid $formSelectActiveBorderColor;

    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .rsa-icon-arrow-down-12 {
    position: absolute;
    right: rsa-whitespace(less);
    top: 1.85rem;
    color: $formSelectIconColor;

    &:hover {
      cursor: pointer;
    }
  }

  .option-tag {
    @include rsa-font(body, small, true);
    font-size: 0.8em;
    border: thin solid;
    border-radius: rsa-whitespace(least);
    position: relative;
    color: $formSelectTagTypeColor;
    padding: 0 rsa-whitespace(more) 0 rsa-whitespace(less);
    margin-right: rsa-whitespace(least);
    margin-bottom: rsa-whitespace(least);
    display: inline-block;
    top: rsa-whitespace(least);

    i {
      position: absolute;
      right: rsa-whitespace(less);
      top: .45rem;
      font-size: .65rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &.is-small {
    select,
    .prompt,
    .rsa-form-label {
      @include rsa-font(body, small);
    }
  }

  &.options-collapsed {
    select {
      display: none;
    }

    .prompt {
      border-bottom: 1px solid $formSelectBorderColor;
    }
  }

  &.has-single-value {
    .prompt {
      color: $formSelectTypeColor;
    }
  }

  &.has-multiple-values {
    .prompt {
      padding-top: .35rem;
    }
  }

  &:hover:not(.is-disabled):not(.is-read-only) {
    cursor: pointer;

    .rsa-icon-arrow-down-12 {
      color: $formSelectIconHoverColor;
    }

    .prompt {
      border-color: $formSelectHoverBorderColor;
    }

    &:not(.options-collapsed) {
      .prompt {
        border-color: $formSelectActiveHoverBorderColor;
      }
    }

    &.is-error {
      .prompt {
        border-color: $formSelectHoverErrorBorderColor;
      }

      .rsa-icon-arrow-down-12 {
        color: $formSelectHoverErrorIconColor;
      }

      &:not(.options-collapsed) {
        .prompt {
          border-color: $formSelectErrorBorderColor;
        }
      }
    }
  }

  &.is-disabled, &.is-read-only {
    .prompt {
      color: $formSelectDisabledTypeColor;
      border-bottom: 1px solid $formSelectDisabledBorderColor;
    }

    .rsa-icon-arrow-down-12 {
      color: $formSelectDisabledIconColor;
    }

    .option-tag {
      background-color: $formSelectDisabledTagBackgroundColor;
      color: $formSelectDisabledTagTypeColor;
    }
  }

  &.is-read-only {
    .prompt {
      color: $formSelectReadOnlyTypeColor;
    }

    .option-tag {
      background-color: $formSelectReadOnlyTagBackgroundColor;
      color: $formSelectReadOnlyTagTypeColor;
    }
  }

  &.is-error {
    .rsa-form-label {
      color: $formSelectErrorLabelColor;
    }

    .prompt, select {
      border-color: $formSelectErrorBorderColor;
    }

    .prompt {
      color: $formSelectErrorTypeColor;
      background-color: $formSelectErrorBackgroundColor;
    }

    .rsa-icon-arrow-down-12 {
      color: $formSelectErrorIconColor;
    }

    select option:checked::after {
      background: $formSelectErrorOptionSelectedBackgroundColor;
    }

    option {
      &:hover {
        background: $formSelectErrorOptionHoverBackgroundColor;
      }
    }
  }

  &.is-inline {
    &::after {
      content: ".";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
    }

    .rsa-icon-arrow-down-12 {
      top: 1.15rem;
    }

    .prompt {
      width: calc(((100% / 12) * 9) - 2px);
      float: right;
    }

    .rsa-form-label {
      padding: .8rem 0 0;
      float: left;
      vertical-align: baseline;
      width: calc(((100% / 12) * 3) - 2px);
    }

    select {
      top: 2.3rem;
      width: calc(((100% / 12) * 9) - 2px);
      min-width: auto;
      right: 0;
    }
  }
}
