.datetime-picker-icon {
  position: absolute;
  right: rsa-whitespace(less);
  top: 1.75rem;
  color: $formDateTimeIconColor;
}

.flatpickr-day.disabled,
.flatpickr-day.disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
  color: rsa-color(gray);

  &:hover {
    border-color: transparent;
    background-color: rsa-color(gray, dark);
  }
}

.flatpickr-calendar {
  border-radius: 0;
  background-color: rsa-color(gray, darkest);
  box-shadow: 1px 1px rsa-color(black);

  input {
    color: rsa-color(gray, lightest)
  }

  .numInputWrapper {
    span {
      opacity: 1;
      border-color: transparent;
    }
  }
}

.rsa-form-input.is-disabled .datetime-picker-icon {
  color: rsa-color(gray);
}

.flatpickr-current-month {
  @include rsa-font(header);

  .numInputWrapper {
    span {
      &.arrowUp {
        &:after {
          border-bottom-color: rsa-color(gray, lightest);
        }
      }

      &.arrowDown {
        &:after {
          border-top-color: rsa-color(gray, lightest);
        }
      }

      &:after {
        margin-left: rsa-whitespace(less);
      }
    }
  }
}

.flatpickr-month,
.flatpickr-time,
span.flatpickr-weekday,
.flatpickr-day,
.flatpickr-time input,
.flatpickr-time .flatpickr-am-pm {
  color: rsa-color(gray, lightest);
}

.flatpickr-time .flatpickr-time-separator {
  color: rsa-color(gray, light);
}

.flatpickr-day,
.flatpickr-time .flatpickr-am-pm {
  border-radius: 0;

  &:hover {
    border-color: transparent;
    background-color: rsa-color(gray, dark);
  }

  &.today {
    border-color: rsa-color(gray, light);

    &:hover {
      background-color: rsa-color(gray, dark);
    }
  }
}

.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
  border-color: rsa-color(gray, dark);
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background-color: rsa-color(blue);
  color: rsa-color(gray, lightest);
}

.flatpickr-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: rsa-color(gray, lightest);
}

.flatpickr-time .numInputWrapper span.arrowDown,
.flatpickr-time .numInputWrapper span.arrowUp {
  &:hover {
    background-color: rsa-color(gray, dark);
  }
}

.flatpickr-time .numInputWrapper span.arrowDown:after {
  border-top-color: rsa-color(gray, lightest);
}

.flatpickr-calendar.arrowBottom:before,
.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowBottom:after,
.flatpickr-calendar.arrowTop:after {
  border-bottom-color: transparent;
  border-top-color: transparent;
}
