.rsa-form-checkbox-label {
  overflow: hidden;
  color: $formCheckboxLabelColor;

  .rsa-form-checkbox {
    visibility: hidden;
    position: absolute;
  }

  &::before {
    @include rsa-font(body);
    font-family: 'nw-icon-library-all-1';
    content: $rsa-icon-check-box-unchecked-1-filled;
    margin-right: rsa-whitespace(least);
  }

  &.checked {
    &::before {
      color: $formCheckboxActiveColor;
      content: $rsa-icon-check-box-1-filled;
    }
  }

  &:hover:not(.disabled) {
    cursor: pointer;
    color: $formCheckboxActiveColor;

    &::before {
      color: $formCheckboxActiveColor;
    }
  }

  &.disabled {
    color: $formCheckboxBorderColor;

    &::before {
      color: $formCheckboxBorderColor;
    }
  }

  &.error {
    color: $formCheckboxErrorColor;

    &::before {
      color: $formCheckboxErrorColor;
    }
  }
}

li > .rsa-form-checkbox-label {
  display: flex;
}
