.x-toggle-component {
  @include rsa-font(header, small);
  align-items: center;
  color: text-color(primary, lighter);
  cursor: pointer;
  display: inline-flex;
  text-transform: uppercase;
  display: inline-flex;

  label.toggle-text {
    font-size: 10px;
    padding: 0;
    &.on-label,
    &.off-label {
      padding-left: 10px;
    }
  }
  .x-toggle-container {
    padding: 0;

    &.medium, &.medium label > .x-toggle-default {
      padding: 0;
      width: 2rem;
    }

    label > .x-toggle-btn.x-toggle-default {
      background-color: transparent;
      @include border(1px, solid, primary);
      border-radius: 16px;
      flex-basis: 4.5rem;
      height: 16px;
      padding: 0;
      transition: background-color .3s;

      &::after {
        position: absolute;
        top: -1px;
        left: -1px;
        background-color: background-color(primary, lighter);
        border-radius: 16px;
        width: 16px;
        height: 16px;
      }

      &:hover:not(.x-toggle-disabled) {
        border-color: border-color(primary, light);

        &::after {
          background-color: background-color(primary, lightest);
        }
      }

      &.x-toggle-disabled {
        @include border(1px, solid, primary, dark);
        &::after {
          background-color: background-color(primary, dark);
        }
      }
    }

    &-checked {
      .x-toggle:checked + label > .x-toggle-default.x-toggle-btn {
        transition: background-color .3s;
        background-color: background-color(secondary);
        &::after {
          left: 1rem;
        }
      }
    }

    &-disabled {
      .x-toggle:checked + label > .x-toggle-default.x-toggle-btn {
        background-color: background-color(primary, dark, somewhat-opaque);
      }
      + label.on-label {
        color: text-color(primary, dark);
      }
    }
  }
}
