$formCheckboxLabelColor: rsa-color(gray, lighter);
$formCheckboxBorderColor: rsa-color(gray);
$formCheckboxHoverBorderColor: rsa-color(gray, lighter);
$formCheckboxActiveColor: rsa-color(blue);
$formCheckboxSelectedColor: rsa-color(blue);
$formCheckboxErrorColor: rsa-color(red);
$formCheckboxDisabledColor: rsa-color(gray);
$formCheckboxReadOnlyColor: rsa-color(gray);

$formRadioLabelColor: rsa-color(gray, lighter);
$formRadioGroupLabelColor: rsa-color(gray, light);
$formRadioBorderColor: rsa-color(gray);
$formRadioHoverBorderColor: rsa-color(gray, lighter);
$formRadioActiveColor: rsa-color(blue);
$formRadioSelectedColor: rsa-color(blue);
$formRadioErrorColor: rsa-color(red);
$formRadioDisabledColor: rsa-color(gray);
$formRadioReadOnlyColor: rsa-color(gray);

$formInputPlaceholderColor: rsa-color(gray, light);
$formInputLabelColor: rsa-color(gray, light);
$formInputTypeColor: rsa-color(gray, lightest);
$formInputBorderColor: rsa-color(gray, light);
$formInputFocusBorderColor: rsa-color(blue);
$formInputSuccessTypeColor: rsa-color(gray, lightest);
$formInputSuccessBorderColor: rsa-color(green);
$formInputReadOnlyTypeColor: rsa-color(gray, lightest);
$formInputReadOnlyBorderColor: rsa-color(gray);
$formInputDisabledTypeColor: rsa-color(gray);
$formInputDisabledBorderColor: rsa-color(gray);
$formInputDisabledPlaceholderColor: rsa-color(gray);
$formInputErrorTypeColor: rsa-color(gray, lightest);
$formInputErrorBorderColor: rsa-color(red);
$formInputErrorPlaceholderColor: rsa-color(red, light);
$formInputErrorBackgroundColor: rsa-color(red, base, $rsa-nearly-transparent);
$formInputErrorIconColor: rsa-color(red);

$formSelectLabelColor: rsa-color(gray, light);
$formSelectBorderColor: rsa-color(gray, light);
$formSelectTypeColor: rsa-color(gray, lightest);
$formSelectActiveBorderColor: rsa-color(blue);
$formSelectHoverBorderColor: rsa-color(gray, lightest);
$formSelectActiveHoverBorderColor: rsa-color(blue);
$formSelectActiveBackgroundColor: rsa-color(gray, darkest);
$formSelectOptionBorderColor: rsa-color(black);
$formSelectOptionTypeColor: rsa-color(gray, lighter);
$formSelectOptionHoverBackgroundColor: rsa-color(blue, darker);
$formSelectOptionSelectedBackgroundColor: rsa-color(blue);
$formSelectOptionSelectedTypeColor: rsa-color(gray, lightest);
$formSelectPromptTypeColor: rsa-color(gray, light);
$formSelectIconColor: rsa-color(gray, light);
$formSelectIconHoverColor: rsa-color(gray, lightest);
$formSelectTagBackgroundColor: rsa-color(gray);
$formSelectTagTypeColor: rsa-color(white);
$formSelectErrorLabelColor: rsa-color(red);
$formSelectErrorBorderColor: rsa-color(red);
$formSelectErrorBackgroundColor: rsa-color(red, base, $rsa-nearly-transparent);
$formSelectErrorTypeColor: rsa-color(gray, lightest);
$formSelectHoverErrorBorderColor: rsa-color(red, light);
$formSelectErrorIconColor: rsa-color(red);
$formSelectHoverErrorIconColor: rsa-color(red, light);
$formSelectErrorOptionSelectedBackgroundColor: rsa-color(red);
$formSelectErrorOptionHoverBackgroundColor: rsa-color(red, darkest);
$formSelectDisabledBorderColor: rsa-color(gray);
$formSelectDisabledTypeColor: rsa-color(gray);
$formSelectDisabledIconColor: rsa-color(gray);
$formSelectDisabledTagBackgroundColor: rsa-color(gray, dark);
$formSelectDisabledTagTypeColor: rsa-color(gray);
$formSelectReadOnlyTypeColor: rsa-color(gray, light);
$formSelectReadOnlyTagBackgroundColor: rsa-color(gray);
$formSelectReadOnlyTagTypeColor: rsa-color(gray, lightest);

$formButtonTypeColor: rsa-color(gray, lighter);
$formButtonIconHoverColor: rsa-color(gray, lightest);
$formButtonHoverTypeColor: rsa-color(gray, lightest);
$formButtonDropdownOptionHoverTypeColor: rsa-color(gray, lightest);
$formButtonDropdownBackgroundColor: rsa-color(gray, darkest);
$formButtonDropdownBorderColor: rsa-color(gray, lightest);
$formButtonDropdownOptionBorderColor: rsa-color(gray, dark);
$formButtonDropdownOptionHoverBackgroundColor: rsa-color(blue, darker);
$formButtonBorderColor: rsa-color(gray, light);
$formButtonHoverBorderColor: rsa-color(gray, lightest);
$formButtonActiveBackgroundColor: rsa-color(gray, darkest, $rsa-nearly-transparent);

$formButtonPrimaryBorderColor: rsa-color(blue);
$formButtonPrimaryBackgroundColor: rsa-color(blue);
$formButtonPrimaryDropdownBorderColor: rsa-color(blue);
$formButtonPrimaryDropdownOptionHoverBackgroundColor: rsa-color(blue, darker);
$formButtonPrimaryTypeColor: rsa-color(gray, lightest);
$formButtonPrimaryHoverBackgroundColor: linear-gradient(180deg, rsa-color(blue), rsa-color(blue, dark));
$formButtonPrimaryActiveBackgroundColor: linear-gradient(180deg, rsa-color(blue, dark), rsa-color(blue));

$formButtonDangerTypeColor: rsa-color(gray, lightest);
$formButtonDangerBorderColor: rsa-color(red);
$formButtonDangerBackgroundColor: rsa-color(red);
$formButtonDangerDropdownBorderColor: rsa-color(red);
$formButtonDangerDropdownOptionHoverBackgroundColor: rsa-color(red, darker);
$formButtonDangerTypeColor: rsa-color(gray, lightest);
$formButtonDangerHoverBackgroundColor: linear-gradient(180deg, rsa-color(red), rsa-color(red, dark));
$formButtonDangerActiveBackgroundColor: linear-gradient(180deg, rsa-color(red, dark), rsa-color(red));
$formButtonDangerIconHoverColor: rsa-color(red, darker);

$formButtonDisabledTypeColor: rsa-color(gray);
$formButtonDisabledBorderColor: rsa-color(gray);

@import 'form-input';
@import 'form-radio';
@import 'form-checkbox';
@import 'form-select';
@import 'form-button';
