$formCheckboxLabelColor: text-color(primary, lighter);
$formCheckboxBorderColor: border-color(primary);
$formCheckboxHoverBorderColor: border-color(primary, lighter);
$formCheckboxActiveColor: border-color(secondary);
$formCheckboxSelectedColor: border-color(secondary);
$formCheckboxErrorColor: border-color(accentOne);
$formCheckboxDisabledColor: border-color(primary);
$formCheckboxReadOnlyColor: border-color(primary);

$formRadioLabelColor: text-color(primary, lighter);
$formRadioGroupLabelColor: text-color(primary, light);
$formRadioBorderColor: border-color(primary);
$formRadioHoverBorderColor: border-color(primary, lighter);
$formRadioActiveColor: border-color(secondary);
$formRadioSelectedColor: border-color(secondary);
$formRadioErrorColor: border-color(accentOne);
$formRadioDisabledColor: border-color(primary);
$formRadioReadOnlyColor: border-color(primary);

$formSliderBackgroundColor: background-color(primary);
$formSliderHandleColor: border-color(primary, light);
$formSliderConnectColor: border-color(secondary, dark);
$formSliderHoverBackgroundColor: background-color(primary, light);
$formSliderHoverHandleColor: border-color(primary, lightest);
$formSliderHoverConnectColor: border-color(secondary);
$formSliderReadOnlyBackgroundColor: linear-gradient(180deg, background-color(primary), background-color(primary, darker));
$formSliderReadOnlyHandleColor: border-color(primary, light);
$formSliderReadOnlyConnectColor: border-color(primary, dark);
$formSliderDisabledBackgroundColor: linear-gradient(180deg, background-color(primary), background-color(primary, darker));
$formSliderDisabledHandleColor: border-color(primary, dark);
$formSliderDisabledConnectColor: border-color(primary, dark);
$formSliderActiveColor: border-color(secondary);
$formSliderErrorActiveColor: border-color(accentOne);
$formSliderErrorBackgroundColor: background-color(accentOne, light);
$formSliderErrorHandleColor: border-color(primary, light);
$formSliderErrorConnectColor: border-color(accentOne);
$formSliderToolTipTextColor: text-color(primary, lightest);
$formSliderToolTipBoxBorderColor: border-color(primary);
$formSliderToolTipBoxBackgroundColor: background-color(neutral, dark);

$formInputPlaceholderColor: text-color(primary, light);
$formInputLabelColor: text-color(primary, light);
$formInputTypeColor: text-color(primary, lightest);
$formInputBorderColor: border-color(primary, light);
$formInputFocusBorderColor: border-color(secondary);
$formInputSuccessTypeColor: text-color(primary, lightest);
$formInputSuccessBorderColor: border-color(accentTwo);
$formInputReadOnlyTypeColor: text-color(primary, lightest);
$formInputReadOnlyBorderColor: border-color(primary);
$formInputDisabledTypeColor: text-color(primary);
$formInputDisabledBorderColor: border-color(primary);
$formInputDisabledPlaceholderColor: text-color(primary);
$formInputErrorTypeColor: text-color(primary, lightest);
$formInputErrorLabelColor: text-color(accentOne);
$formInputErrorBorderColor: border-color(accentOne);
$formInputErrorPlaceholderColor: text-color(accentOne, light);
$formInputErrorBackgroundColor: background-color(accentOne, base, nearly-transparent);
$formInputErrorIconColor: background-color(accentOne);

$formSelectLabelColor: text-color(primary, light);
$formSelectBorderColor: border-color(primary, light);
$formSelectTypeColor: text-color(primary, lightest);
$formSelectActiveBorderColor: border-color(secondary);
$formSelectHoverBorderColor: border-color(primary, lightest);
$formSelectActiveHoverBorderColor: border-color(secondary);
$formSelectActiveBackgroundColor: background-color(primary, darkest);
$formSelectOptionBorderColor: border-color(neutral, dark);
$formSelectOptionTypeColor: text-color(primary, lighter);
$formSelectOptionHoverBackgroundColor: background-color(secondary, darker);
$formSelectOptionSelectedBackgroundColor: background-color(secondary);
$formSelectOptionSelectedTypeColor: type-color(primary, lightest);
$formSelectPromptTypeColor: text-color(primary, light);
$formSelectIconColor: background-color(primary, light);
$formSelectIconHoverColor: border-color(primary, lightest);
$formSelectTagBackgroundColor: background-color(primary);
$formSelectTagTypeColor: text-color(neutral);
$formSelectErrorLabelColor: text-color(accentOne);
$formSelectErrorBorderColor: border-color(accentOne);
$formSelectErrorBackgroundColor: background-color(accentOne, base, nearly-transparent);
$formSelectErrorTypeColor: text-color(primary, lightest);
$formSelectHoverErrorBorderColor: border-color(accentOne, light);
$formSelectErrorIconColor: background-color(accentOne);
$formSelectHoverErrorIconColor: background-color(accentOne, light);
$formSelectErrorOptionSelectedBackgroundColor: background-color(accentOne);
$formSelectErrorOptionHoverBackgroundColor: background-color(accentOne, darkest);
$formSelectDisabledBorderColor: text-color(primary);
$formSelectDisabledTypeColor: text-color(primary);
$formSelectDisabledIconColor: background-color(primary);
$formSelectDisabledTagBackgroundColor: background-color(primary, dark);
$formSelectDisabledTagTypeColor: text-color(primary);
$formSelectReadOnlyTypeColor: text-color(primary, light);
$formSelectReadOnlyTagBackgroundColor: background-color(primary);
$formSelectReadOnlyTagTypeColor: text-color(primary, lightest);

$formButtonTypeColor: text-color(primary, lightest);
$formButtonIconHoverColor: border-color(primary, lightest);
$formButtonHoverTypeColor: text-color(primary, lightest);
$formButtonDropdownOptionHoverTypeColor: text-color(primary, lightest);
$formButtonDropdownBackgroundColor: background-color(primary, darkest);
$formButtonDropdownBorderColor: border-color(primary, lightest);
$formButtonDropdownOptionBorderColor: border-color(primary, dark);
$formButtonDropdownOptionHoverBackgroundColor: background-color(secondary, darker);
$formButtonBorderColor: border-color(primary, lighter);
$formButtonHoverBorderColor: border-color(primary, lightest);
$formButtonActiveBackgroundColor: background-color(primary, darkest, nearly-transparent);

$formButtonPrimaryBorderColor: border-color(secondary);
$formButtonPrimaryBackgroundColor: background-color(secondary);
$formButtonPrimaryDropdownBorderColor: border-color(secondary);
$formButtonPrimaryDropdownOptionHoverBackgroundColor: background-color(secondary, darker);
$formButtonPrimaryTypeColor: text-color(primary, lightest);
$formButtonPrimaryHoverBackgroundColor: linear-gradient(180deg, background-color(secondary), background-color(secondary, dark));
$formButtonPrimaryActiveBackgroundColor: linear-gradient(180deg, background-color(secondary, dark), background-color(secondary));

$formButtonDangerTypeColor: text-color(primary, lightest);
$formButtonDangerBorderColor: border-color(accentOne);
$formButtonDangerBackgroundColor: background-color(accentOne);
$formButtonDangerDropdownBorderColor: border-color(accentOne);
$formButtonDangerDropdownOptionHoverBackgroundColor: background-color(accentOne, darker);
$formButtonDangerTypeColor: text-color(primary, lightest);
$formButtonDangerHoverBackgroundColor: linear-gradient(180deg, background-color(accentOne), background-color(accentOne, dark));
$formButtonDangerActiveBackgroundColor: linear-gradient(180deg, background-color(accentOne, dark), background-color(accentOne));
$formButtonDangerIconHoverColor: background-color(accentOne, light);

$formButtonDisabledTypeColor: border-color(primary);
$formButtonDisabledBorderColor: border-color(primary);

$formDateTimeIconColor: background-color(neutral);
$formDateTimeBg: background-color(primary, dark, opaque);
$formDateTimeBorderColor: border-color(primary, dark);
$formDateTimeBottomBorderColor: border-color(primary, dark);
$formDateTimeToday: border-color(secondary, light);
$formDateTimeHoverBg: border-color(primary, darker, nearly-opaque);
$formDateTimeHover: border-color(neutral);
$formDateTimeSelected: border-color(neutral);
$formDateTimeSelectedBg: background-color(primary, dark, opaque);
$formDateTimeSelectedBorderColor: border-color(secondary, light);
$formDateTimeButtonBg: background-color(primary, dark, opaque);
$formDateTimeButton: border-color(neutral);
$formDateTimeDaysOfWeekColor: text-color(primary, light);
$formDateTimeYearMonthTextColor: text-color(neutral);
$formDateTimeDisabledDayTextColor: text-color(primary, light, nearly-transparent);

@import 'form-input';
@import 'form-radio';
@import 'form-checkbox';
@import 'form-slider';
@import 'form-select';
@import 'form-button';
@import 'form-datetime-picker';
@import 'form-errors';
@import 'form-switches';
@import "confirmation-modal";
@import "query-builder";
