.ember-power-select-typeahead-dropdown {
  margin-top: 4px;
  border-color: border-color(primary, lighter)!important;
  @include rsa-font(body, small);
}

.rsa-query-fragment-dropdown {
  max-width: 17.5rem;
  min-width: 27.5rem;

  li {
    position: relative;
  }

  &.without-options {
    border: none;
  }
}

.rsa-query-meta {
  display: flex;
  align-items: flex-start;
  position: relative;
  flex-wrap: wrap;
  background-color: background-color(primary, darkest, translucent);
  @include border(1px, solid, primary, lighter);
  min-width: 350px;

  flex: 1 1 auto;
  max-height: 12rem;
  overflow-x: hidden;
  overflow-y: auto;

  p {
    @include rsa-font(body);
    color: text-color(primary, light);
    position: absolute;
    right: rsa-whitespace(less);
    bottom: calc(0px - #{rsa-whitespace()} - #{rsa-whitespace(least)});

    strong {
      color: text-color(primary, lightest);
      font-weight: 700;
    }
  }

  > .controls {
    white-space: nowrap;
    display: flex;
    justify-content: flex-end;
    align-content: center;

    i {
      padding: rsa-whitespace(less) rsa-whitespace();
      color: text-color(primary, lightest);

      &:hover {
        cursor: pointer;
        color: text-color(secondary);
      }
    }
  }

  input {
    width: 100
  }

  input,
  .ember-power-select-trigger {
    border: none!important;
    @include rsa-font(body, small);
  }

  .rsa-query-fragment {
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
    align-self: center;
    margin: calc(#{rsa-whitespace(least)} - 1px);
    border-radius: rsa-whitespace(least);
    @include border(1px, solid, primary, lighter);
    color: text-color(primary, lightest);

    &.empty {
      max-width: 1.5rem;
      margin-right: 0;

      .meta {
        padding-right: 0;
      }

      &.typing {
        max-width: 100%;
      }
    }

    &.query-fragment-invalid {
      border-color: border-color(accentOne);
    }

    &:last-of-type {
      max-width: inherit;

      input {
        display: block;
      }

      .invisible-edit-trigger {
        display: none;
      }
    }

    &.highlighted {
      border-color: border-color(secondary);
    }

    &.selected:not(.edit-active) {
      background: background-color(secondary);
      border-color: border-color(secondary, dark);

      .delete-filter-fragment {
        color: text-color(primary, lightest);

        &:hover {
          cursor: pointer;
          color: text-color(primary, dark);
        }
      }
    }

    .ember-power-select-trigger {
      width: 100%;
      padding-right: 0;
    }

    .invisible-edit-trigger {
      width: 1.85rem;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1.15rem;
      @include rsa-layer(controls);
      background-color: opacity-value(transparent);
      border-radius: rsa-whitespace(most);

      &:hover {
        cursor: text;
        background-color: background-color(accentTwo, base, translucent)
      }
    }

    .meta,
    .delete-filter-fragment {
      display: inline-flex;
      align-self: center;
    }

    .delete-filter-fragment {
      margin-right: rsa-whitespace(less);
      margin-left: rsa-whitespace(less);
      margin-top: 1px;
      color: text-color(primary, lighter);

      &:hover {
        cursor: pointer;
        color: text-color(primary, lightest);
      }
    }

    .meta {
      @include rsa-font(body);
      display: block;
      text-align: center;
      padding: rsa-whitespace(less) rsa-whitespace(least) rsa-whitespace(less) rsa-whitespace(less);
    }

    &.edit-active {
      border: none;
      margin: rsa-whitespace(least);

      &:not(:last-of-type) {
        flex: 0 0 auto;
      }

      &:last-of-type {
        flex: 1 1 auto;
      }

      .invisible-edit-trigger {
        display: none;
      }
    }

    &.prev-is-editing {
      .invisible-edit-trigger {
        display: none;
      }
    }
  }
}
