{{#error-page
  back=(route-action "back")
  errorDescription=(t 'errorPages.error.errorDescription')
  subtitle=(t 'errorPages.error.subtitle')}}

  <ul>
    <li>{{t 'errorPages.error.bulletA'}}</li>
    <li>{{t 'errorPages.error.bulletB'}}</li>
  </ul>

{{/error-page}}
