.process-filter-popup {
  width: 510px;
  height: 400px;
  &__search {
    float: right;
  }
  &__header {
    height: 46px;
    background-color: text-color(primary, darker);
    @include border-bottom(1px, solid, secondary);
    .rsa-nav-tab-group {
      padding: 0 rsa-whitespace();
    }
  }
  &__content {
    padding: 0 rsa-whitespace(less);
    overflow-y: auto;
    height: 314px;
  }
  &__footer {
    background-color: text-color(primary, darker);
    bottom: 0;
    height: 40px;
    position: absolute;
    width: 100%;
    @include border-top(1px, solid, secondary);
    box {
      padding: rsa-whitespace(least) rsa-whitespace();
      span {
        width: 181px;
        margin: rsa-whitespace(less) 0;
      }
    }
    .buttons {
      padding-top: rsa-whitespace(least);
      div {
        padding-right: rsa-whitespace(less);
      }
      .cancel-popup {
        margin-right: rsa-whitespace(less)
      }
    }
  }
}
