@import "process-analysis-container";
@import "process-tree";
@import "process-tree-legend";
@import "process-property-panel";
@import "process-details";

.process-analysis {
  .rsa-application-header{
    display: none;
  }
}
.process-analysis-container {
  .content-section__section-name {
    cursor: pointer;
  }
}
.rsa-nav-tab {
  .label {
    cursor: pointer;
    .icon {
      display: none;
    }
  }
  &.is-active {
    .label {
      .icon {
        display: inline;
      }
    }
  }
}

