.process-analysis-container {
  height: 100vh;
  .query-container {
    position: absolute;
    z-index: 2;
    top: 0;
    margin: .5rem 1rem;
    .rsa-form-button {
      height: 40px;
      white-space: nowrap;
    }
  }

}
.rsa-loader {
  height: 0.9rem;
  margin-right: rsa-whitespace(less);
  margin-left: -(rsa-whitespace(least));
}

.disclaimer {
  color:text-color(accentThree);
}

.processTreeBox, .processDetailsBox {
  display: block;
  transition: width .5s;
  &.collapse {
    width: 25%
  }
  &.expand {
    width: 74%
  }
}

.ember-tether .panel-content {
  max-height: 30rem;
  overflow: unset;
}

.property-container {
  .rsa-content-accordion h3 {
    color: text-color(secondary, light);
  }
  .process-property-panel {
    height: calc(64vh);
    overflow-y: auto;
    margin: 0 0 0 22px;
  }
}

.execution-details.process-property-panel {
  height: 210px;
}
.execution-details {
  padding-top: 10px;
}
