.process-analysis-container {

  .process-details-container {
    @include border(1px, solid, primary, dark);
  }


  .process-details-buttons {
    @include border-bottom(1px, solid, primary, dark);
    padding: rsa-whitespace(less);
    justify-content: flex-end;
  }

  .process-details {
    transition: width .5s;
    width: 0;
    opacity: 0;
  }

  .resize-button {
    display: none;
  }

  &.show-process-details {
    .process-details {
      @include border-left(1px, solid, primary, dark);
      transition: width .5s;
      opacity: 1;
      width: 400px;

      &.expand {
        width: 1000px;
        .resize-button {
          display: block;
        }
      }

      &.collapse {
        width: 700px;
        .resize-button {
          display: block;
        }
      }
    }
  }
  .process-events-details, .host-list-container, .process-details-container {
    height: calc(100vh - 138px);
  }

  .rsa-nav-tab {
    .label {
      cursor: pointer;
      .icon {
        display: none;
      }
    }
  }
}

.rsa-loader {
  height: 0.9rem;
  margin-right: rsa-whitespace(less);
  margin-left: -(rsa-whitespace(least));
}

.disclaimer {
  color:text-color(accentThree);
}
