.process-events-table {
  padding-top: 1rem;
  .panel {
    height: 100vh;
  }

  .rsa-data-table-body {
    .rsa-data-table-body-rows {
      min-height: 83vh!important;
    }
    min-height: 85vh!important;
    overflow-y: auto;
  }

  .label {
    color: text-color(primary, lighter);
    font-weight: 100;
    font-size: 1.28rem;
    letter-spacing: 0.05rem;
  }
  .events-count {
    margin: -7px 21px 7px 31px;
  }
}

.process-events-details {
  .filter-panel {
    height: 90vh;
    max-width: 358px;

  }
}

.header-button {
  color: text-color(primary, light);
  cursor: pointer;
  margin: 0 rsa-whitespace(least);
  padding: rsa-whitespace(less) rsa-whitespace(least);
  &:hover {
    color: text-color(primary, lightest);
  }
}

