.process-node-list {
  .rsa-data-table-body-row.is-row-checked {
    background-color: background-color(primary, darker);
  }
  .rsa-data-table {
    .rsa-data-table-body {
      overflow-x: hidden;
    }
    height: 100%;
    .rsa-data-table-body-cell {
      padding: 3px 7px 0 7px;
    }
    .rsa-data-table-body-row {
      left: 0;
      right: 0;
    }
    .rsa-data-table-header-cell:first-child {
      padding-left: 0.5rem;
    }
  }

  svg {
    width: inherit;
    height: inherit;
    position: inherit;
    top: 0 !important;
    right: 0 !important;
    transform: none !important;
  }
}
