.process-events-table {
  padding-top: 1rem;
  .panel {
    height: 100vh;
  }

  .rsa-data-table-body {
    .rsa-data-table-body-rows {
      min-height: 83vh!important;
    }
    min-height: 85vh!important;
    overflow-y: auto;
  }
}
.label {
  color: text-color(primary, lighter);
  font-weight: 100;
  font-size: 1.28rem;
  letter-spacing: 0.05rem;
}
.events-sort-field {
  width: 267px;
  margin: -7px 21px 7px 31px;
  .power-select {
    width: 126px;
  } 
  .ember-power-select-trigger {
    width: 9rem;
  }
}