$name-height: 26px;

.process-item-container {
  padding-top: rsa-whitespace(less);
  color: text-color(neutral);
  width: 390px;
  .process-icon {
    padding: 4.5px 5px;
    font-size: 18px;
  }
  .process-name {
    cursor: pointer;
    background-color: background-color(primary, darker);
    width: 170px;
    height: $name-height;
    @include border(1px, solid, primary, dark);
    border-radius: 20px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
      padding: 0 10px;
      line-height: $name-height;
    }
    &:hover {
      background-color: background-color(primary, dark);
      @include border(1px, solid, primary, dark);
    }
    &.selected {
      background-color: background-color(secondary, dark);
      @include border(1px, solid, secondary, dark);
    }
  }
  .machine-count {
    width: 80px;
    padding: 8px 5px;
    height: 12px;
    font-size: 12px;
    line-height: 0.9;
    display: inline-flex;
    .bracket-open {
      padding-right: 2px;
      line-height: 0.67;
    }
    .bracket-close {
      line-height: 0.67;
    }
    .machine-count-number {
      padding-left: 3px;
      max-width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .events {
    padding-top: 5px;
    .rsa-icon {
      font-size: 12px;
    }
    .disabled {
      color: text-color(primary, dark);
    }
  }

  svg {
    width: inherit;
    height: inherit;
    position: inherit;
  }
}