.process-properties-container {
  height: 280px;
  border-right: 1px solid border-color(primary);
  grid-auto-flow: column;
  display: grid;
  overflow: auto;
  .title {
    text-transform: uppercase;
    padding: 0.5rem;
    color: text-color(secondary);
    font-weight: bold;
  }
}
.property-container {
  grid-template-columns: repeat(auto-fill, 200px);

}

.list_items {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, 40px);
  grid-gap: 7px;
  border-right: 1px solid border-color(primary);
  padding: 0 7px;
  .tooltip-text {
    line-height: 1.2rem;
    margin-top: 0px;
  }
  li {
    padding: 7px;
    width: fit-content;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    .item-title {
      text-transform: uppercase;
      color: text-color(primary, light);
      font-size: 0.7rem;
      font-weight: bold;
      line-height: 1.2rem;
    }
    .item-value {
      color: text-color(primary, lightest);
      line-height: 1.2rem;
      div {
        outline: none;
      }
    }
  }
}