{{#rsa-content-tethered-panel-trigger panel='stylizePanel'}}
  {{#x-toggle
    onLabel=(t 'recon.packetView.stylizeBytesLabel')
    onToggle=(action 'toggleByteStyling')
    showLabels=true
    value=(readonly hasStyledBytes) as |toggle|}}
    {{toggle.switch}}
    {{toggle.onLabel value=(readonly (not hasStyledBytes))}}
  {{/x-toggle}}
{{/rsa-content-tethered-panel-trigger}}
{{#rsa-content-tethered-panel
  displayCloseButton=false
  panelId='stylizePanel'
  position='top' }}
  <p>{{t 'recon.packetView.stylizeBytesTitle'}}</p>
{{/rsa-content-tethered-panel}}