- cssWidthPadding = cssWidthPadding ? cssWidthPadding : "6%"
td(bgcolor="#ffffff" style="height: 50px; font-family: 'Verdana', verdana, sans-serif; font-size: 10px; font-weight: 700; letter-spacing: 0.16px; line-height: 20px; text-align: left;" )
    table(width="100%" border="0" cellpadding="0" cellspacing="0")
        tr(style="color: #666666;")
            td#fortscale-name(style="padding-left: #{cssWidthPadding}; padding-right:2%;") FORTSCALE SECURITY LTD. | 2015 #[strong(style="color: #888888;padding-left: 10px;") Our mailing address is:] Fortscale 951 Mariners Island Boulevard, Suite 300 San Mateo California 94404 United States of America
