%define __jar_repack 0
Name: rsa-nw-ui
Version: NETWITNESS_VERSION
Release: DATE.STABILITY.GIT_COMMIT.el7.centos
Summary: RSA NetWitness UI :: Client
License: (c) null
Group: Applications/Internet
Obsoletes: sa-ui-client
autoprov: yes
autoreq: yes
BuildArch: noarch
BuildRoot: RPM_BUILD_ROOT

%description

%install
if [ -d RPM_BUILD_ROOT ];
then
  mv TMP_RPM_BUILD_ROOT/* RPM_BUILD_ROOT
else
  mv TMP_RPM_BUILD_ROOT RPM_BUILD_ROOT
fi

%files

 "/opt/rsa/nw-ui/html"

%post
#!/bin/bash
