<user-indicator-header alert-model="$ctrl.alert"></user-indicator-header>
<user-indicator-description indicator="$ctrl.indicator"></user-indicator-description>
<div class="user-indicator-main-content">
    <div class="user-indicator-main-content-inner-wrapper">
        <div class="user-indicator-charts-container">
            <user-indicator-charts indicator="$ctrl.indicator" indicator-type="$ctrl.indicatorType" user-model="$ctrl.user"></user-indicator-charts>
        </div>
        <div class="user-indicator-events-container">
            <user-indicator-events indicator="$ctrl.indicator"></user-indicator-events>
        </div>
    </div>
</div>
