<section class="rsa-explorer-toolbar__filters">
  <hbox>
    <div class="toolbar-button more-filters-button" {{action toggleFilterPanel}}>
      {{rsa-icon name='filter-22'}}
    </div>
  </hbox>
</section>

<section class="rsa-explorer-toolbar__btns">
  {{yield}}
  {{#if (not hasNoSelections)}}
    <section class="rsa-explorer-toolbar__selections-counter">
      <span class="selection-count">{{ t 'respond.incidents.selectionCount' selectionCount=selectionCount}} </span>
    </section>
  {{/if}}
</section>