<section class="rsa-explorer-toolbar__filters">
  <hbox>
    <div class="toolbar-button more-filters-button" {{action toggleFilterPanel}}>
      {{rsa-icon name='filter-22' title=(t 'respond.filters')}}
    </div>
  </hbox>
</section>

<section class="rsa-explorer-toolbar__btns">
  {{yield (hash toolbarControls=(component toolbarControlsComponent
    isFilterPanelOpen=isFilterPanelOpen
    itemsSelected=itemsSelected
    hasNoSelections=hasNoSelections
    selectionCount=selectionCount
    toggleFilterPanel=toggleFilterPanel
    deleteItem=deleteItem
    confirm=confirm
    updateItem=updateItem))}}
  <section class="rsa-explorer-toolbar__selections-counter">
    <span class="selection-count">{{ t 'respond.incidents.selectionCount' selectionCount=selectionCount}} </span>
  </section>
</section>

