{{#rsa-application-modal label=(t 'context.addToList.title') eventId='addToList' contextualHelpRequired=true module=helpId.moduleId topic=helpId.topicId}}
  <div class='modal-content'>
    {{#if isListView}}
      {{context-panel/add-to-list/list-view}}
    {{else}}
      {{context-panel/add-to-list/create-list-view}}
    {{/if}}
  </div>
{{/rsa-application-modal}}
