{{#rsa-application-modal label=(t 'context.addToList.title') eventId='addToList' contextualHelpRequired=true module=helpId.moduleId topic=helpId.topicId}}
  <div class='modal-content'>
    {{#if createList}}
      {{context-panel/add-to-list/list-view createList=createList model=model entityId=entity.id}}
    {{else}}
      {{context-panel/add-to-list/create-list-view createList=createList model=model}}
    {{/if}}
  </div>
{{/rsa-application-modal}}
